@charset "utf-8";
/* CSS Document */
body {
    font-family: 'Source Sans Pro',sans-serif;
}

h1 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #929292;

}
.center{
    text-align: -webkit-center;
    color: transparent;
}
.inner-head {
    margin: -15px;
    margin-bottom: 20px;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2;
    padding: 20px;
}

h2 {
    color: #009edf;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding-left: 10px;
    margin-right: 20px;
}
h3 {
font-family: 'Source Sans Pro',sans-serif;
margin-bottom: 20px;
font-size: 18px;
    color: #929292;
}
.add {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
}
#form {
	padding-bottom: 10px;

}
#dates {
    padding: 5px;

}
.modal {
    margin-top: 100px;
}
.btn-sm:hover {
}

#update{
    margin-top: 15px;
}
.table {
    table-layout: fixed;
}
td.email {
    overflow: hidden;
}

@media (min-width: 769px) {


}

@media (max-width: 700px) {

	
}

@media (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

}

@media (max-width: 768px) { /* target iPad portrait */

}