/* 
version 5.1.0
package JotCache
category Joomla 3.4
copyright (C) 2010-2015 Vladimir Kanich
license http://www.gnu.org/copyleft/gpl.html GNU/GPL
*/
div.jotcache_top{text-align:center;background-color:navy;color:white;}
p.jotcache_fix{position:fixed;top:0px;margin:1px; right:15px;z-index:10;color:white;background-color:navy;border-radius: 10px;border-color: white;border-width: 5px;border-style: double;}
p.jotcache_fix a{color:#FFFFFF !important;padding:0px 20px;background-color:navy;text-decoration: none;}
p.jotcache_fix a:hover{color:yellow;}
