@charset "utf-8";
/* CSS Document */

/* general styles */

h1 {
    color: #009DDF !important;
    font-family: 'Tauri',sans-serif;
    font-size: 30px !important;
	line-height: 1.4em !important;
    font-weight: normal;
    margin: 20px 0;
    padding-bottom: 10px;
}

h2 {
    color: #009edf;
    font-family: 'Tauri',sans-serif;
    font-size: 20px;
    font-weight: normal;	
}

h3 {
	font-family: 'Tauri',sans-serif;
	margin-bottom: 20px;
	font-size: 18px;
}

a {
	color: #009edf;	
}

a:hover {
	text-decoration: none;
	color: #D4145A;	
}

li {
	margin-left:-25px;
}

img.img-centered {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/* header met logo en link naar website */

header {
	margin-top:20px;
	margin-bottom:40px;
}

header section:last-child {
	padding-top: 30px; 
	text-align: right; 
}

/* jumbotron */

.jumbotron {
	margin-bottom:40px;
}

.jumbotron .btn {
	margin-top:20px;
}

/* styles for bordered sections */

.border {
	border-radius:4px;
	border: 1px solid #dddddd;
	padding:15px;
}

.gray {
	color:#666666;
}

/* footer */

footer {
    color: #999999;
    font-size: 85%;
    margin-top: 40px;
}

footer .border {
	border:none;
	border-top:1px solid #eeeeee;
	padding-bottom:35px;
}

footer p {
	margin-bottom:0px;
}

footer a {
	color:#999999;
}

/* button styles */

.btn-primary {
	font-family: 'Tauri', sans-serif;
	background-color: #d4145a;
	border-color: #d4145a;	
	color: #fff;	
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #009edf;
	border-color: #009edf;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: #009edf;
}

.dropdown-menu li {
	text-align:left;
	margin-left:0px;
}

.dropdown-menu li i {
	color:#009edf;
	padding-right:8px;
}

.dropdown-menu li:first-child i {
	padding-right:11px;
}

.dropdown-menu li:hover i {
	color:#ffffff;
}

.dropup .btn-primary .caret {
	margin-left:10px;
}


@media (max-width: 992px) { /* target iPad portrait */

.blocks section {
	margin-bottom:30px;
}

.blocks section:last-child {
	margin-bottom:0px;
}

footer p {
	text-align:center;
	margin-bottom:10px;
}

footer .border {
	padding-bottom:5px;
}