
@media (min-width: 481px) {

body {
	line-height:1.7em;
}

#header {
	height:78px;
	padding-top:12px;
}

h1 {
	font-family: 'Tauri',sans-serif;
	font-weight: normal;
	color: #009ddf;
	margin: 20px 0 20px 0;
	font-size: 30px;
	border-bottom:1px solid #dddddd;
	padding-bottom:10px;
}

h2 {
	font-family: 'Tauri',sans-serif;
	font-weight: normal;
	color: #D4145A;
	margin: 18 0 20px 0;
	font-size: 20px;
}

#content {
	border-bottom:1px solid #dddddd;
	padding-bottom:30px;
}

#content .span4 {
	margin-top:30px;
}

#content li {
	line-height:1.7em;
}

#content #links {
	margin-top:20px;
}

#content #links a {
	margin-right:10px;
}

#content #links img {
	border:1px solid #dddddd;
}

#form h2, #form p {
	margin-left:35px;
}

form {
	margin-bottom:15px;
	margin-top:15px;
}

#form {
	background:#eeeeee;
}

.form-horizontal .control-label {
	width:80px;
}

.form-horizontal .controls {
	margin-left: 110px;
}

.form-horizontal .control-group {
	margin-bottom: 0px;
}

p.icons {
	margin-top:25px;
	margin-left:35px;
}

a {
	color:#009edf;
	text-decoration:none;
}

a:hover {
	color:#333333;
	text-decoration:none;
}

#quote {
	margin-top:30px;
}

#quote p {
	font-size:14px;
	line-height:1.5em;
}

#footer {
	margin-top:30px;
	padding-top:20px;
	border-top:1px solid #dddddd;
	font-size:85%;
	color:#666666;
}

}

@media (max-width: 480px) {

body {
	line-height:1.7em;
}

#header {
	height:78px;
	padding-top:12px;
}

h1 {
	font-family: 'Tauri',sans-serif;
	font-weight: normal;
	color: #009ddf;
	margin: 20px 0 20px 0;
	font-size: 30px;
	border-bottom:1px solid #dddddd;
	padding-bottom:10px;
}

h2 {
	font-family: 'Tauri',sans-serif;
	font-weight: normal;
	color: #D4145A;
	margin: 18 0 20px 0;
	font-size: 20px;
}

#content {
	border-bottom:1px solid #dddddd;
	padding-bottom:30px;
}

#content .span4 {
	margin-top:30px;
}

#content li {
	line-height:1.7em;
}

#content #links {
	margin-top:20px;
}

#content #links a {
	margin-right:10px;
}

#content #links img {
	border:1px solid #dddddd;
}

#form h2, #form p {
	margin-left:0px;
}

form {
	margin-bottom:15px;
	margin-top:15px;
}

.form-horizontal .control-label {
	width:50px;
}

.form-horizontal .controls {
	margin-left: 0px;
}

.form-horizontal .control-group {
	margin-bottom: 0px;
	margin-top:15px;
}

p.icons {
	margin-top:25px;
	margin-left:0px;
}

a {
	color:#009edf;
	text-decoration:none;
}

a:hover {
	color:#333333;
	text-decoration:none;
}

#quote {
	margin-top:30px;
}

#quote p {
	font-size:14px;
	line-height:1.5em;
}

#footer {
	margin-top:30px;
	padding-top:20px;
	border-top:1px solid #dddddd;
	font-size:85%;
	color:#666666;
}
	

}