@charset "utf-8";
/* CSS Document */
body {
	background-color:#fff;
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
}

#header {
	padding-bottom: 15px;
}

#footer {
	border-top: 1px solid #DDDDDD;
    color: #666666;
    font-size: 85%;
    margin-top: 30px;
    padding-top: 20px;
}

h1 {
    border-bottom: 1px solid #DDDDDD;
    color: #009DDF;
    font-family: 'Tauri',sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0;
    padding-bottom: 10px;
}

h2 {
    color: #009edf;
    font-family: 'Tauri',sans-serif;
    font-size: 20px;
    font-weight: normal;	
}

h3 {
font-family: 'Tauri',sans-serif;
margin-bottom: 20px;
font-size: 18px;
}

#form {
    /*background: none repeat scroll 0 0 #EEEEEE;*/
	/*border-left: 1px solid #ddd;*/
	padding-bottom: 10px;
	/*min-height: 400px;*/
}

#promo {
/*border: 1px solid #999;
background-color: #009edf;	
color: #fff;*/
/*border-left: 1px solid #ddd;*/
/*-moz-border-radius: 4px;
 border-radius: 4px;
 background-color: #ddd;*/
 padding-bottom: 20px;
}

#form h2, #form p, #form #db, button {
/*margin-left: 20px;
margin-right: 20px;*/
}

#promo h2, #promo p, #promo #db, button {
/*margin-left: 20px;
margin-right: 20px;*/
}

.form-horizontal {
margin-right: 20px;	
}

.form-group {
margin-left: 5px !important;	
}

a {
color: #009edf;	
}

a:hover {
text-decoration: none;
color: #D4145A;	
}

a.btn-default {
background-color: #666;
color: #fff;	
}

a.btn-default:hover {
background-color: #fff;
color: #009edf;
border-color: #666;	
}

#buy {
font-family: 'Tauri', sans-serif; 
background-color: #009edf; 
color:#fff;font-size: 17px; 
padding-top: 5px;
padding-bottom: 5px;
padding-right: 17px;
padding-left: 15px;
}

button.btn-default:hover {
border-color: #009edf;
color: #009edf !important;	
background-color: #fff !important;
}

.btn-sm:hover {
	color: #fff !important;
	background-color: #fff !important;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.controls .btn {
    background-color: #d4145a;
    color: #fff;
    margin-top: 15px;
    font-family: 'Tauri', sans-serif;
}

#promo form {
padding-left: 48px;	
}

.control-group .text {
display: block;
width: 100%;
height: 30px;
padding: 3px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
vertical-align: middle;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.control-group .select {
    display: block;
    width: 100%;
    height: 30px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


@media (min-width: 769px) {




}

@media (max-width: 700px) {
	
#questions {
	padding-top: 30px;
	margin-top: 30px;
	color: red;
}

	
}

@media (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {



}

@media (max-width: 768px) { /* target iPad portrait */

  
}