<?php
/* @var $this Storefront_VendorLoader_Block_Adminhtml_Modules */
$modules = $this->getModules();
?>
<div class="content-header">
	<table cellspacing="0">
		<tbody>
			<tr>
				<td><h3 class="icon-head head-cache">Installed Modules</h3></td>
			</tr>
		</tbody>
	</table>
</div>
<div>

	<div id="cache_grid">

		<div class="grid">
			<div class="hor-scroll">
				<table class="data" cellspacing="0">
					<colgroup>
						<col width="180">
						<col>
						<col width="180">
						<col width="200">
						<col width="130">
					</colgroup>
					<thead>
						<tr class="headings">
							<th class=" no-link"><span class="nobr">Module</span></th>
							<th class=" no-link"><span class="nobr">Beschrijving</span></th>
							<th class=" no-link"><span class="nobr">Copyright holder</span></th>
							<th class=" no-link"><span class="nobr">License</span></th>
							<th class=" no-link"><span class="nobr">Status</span></th>
						</tr>
					</thead>

					<tbody>
					
						<?php foreach($modules as $module){ ?>
						<tr class="even" title="">
							<td class="a-left "><?php echo $this->escapeHtml($module)?></td>
							<td class="a-left "></td>
							<td class="a-left "><a href="http://www.storefront.be" target="_blank">Storefront BVBA</a></td>
							<td class="a-left ">Single Magento installation</td>
							<td class="a-left last"><span class="grid-severity-notice"><span>Installed</span></span></td>
						</tr>
						<?php } ?>

					</tbody>

				</table>
			</div>
		</div>
	</div>

</div>
