/*simple reset styling for module*/
.ezb-mod .ezul, .ezb-mod .ezul li {
	border:none;
	clear:none;
	list-style:none;
	list-style-image:none;
	margin:0;
	overflow:visible;
	padding:0;
	position:relative;
	min-height:15px;
}
.archive-container {
	list-style:none;
	padding:0px !important;
	margin:0px !important;
}
li.archive-item {
	background: #E7F4FC;
	border-top: 1px solid #DDDDDD;
	padding: 0 !important;
	margin:0px !important;
}
li.archive-item:first-child {
	border-top: 0px solid #e6f4fd;
}
.archive-item a {
	color: #23383D !important;
	display: block;
	font-size: 12px;
	padding: 5px 10px 5px 14px !important;
	margin: 0 !important;
	font-weight: normal;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	height:15px;
}
.archive-item:hover, .archive-item.active {
	font-weight: bold !important;
	background: #67c5e9;
}
.archive-item:hover a, .active a span {
	font-weight: bold !important;
}
.archive-item a span.archive-date {
	float: left;
}
.archive-item a span.archive-postcounter {
	float: right;
}
/*.ezb-mod .ezul li .archive-container .active a, .ezb-mod .ezul li .archive-container .archive-item:hover a{
	background: #67C5E9;
	font-weight: bold !important;
	}
.ezb-mod .ezul li .archive-container .archive-item a{
	 color: #23383D;
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 10px 5px 14px;
    text-decoration: none;
    width: auto;
}
.ezb-mod .ezul li .archive-container .archive-item  a span.archive-postcounter{
	float: right;
}*/
.ezb-mod .ezclr {
	clear:both;
	font-size:0;
	height:0;
	line-height:0
}
.ezb-mod .ezcf:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden
}
.ezb-mod .ezcf {
	display:block;
	zoom:1;
}
.ezb-mod .ezfli, .ezb-mod .ezfl {
	float:left
}
.ezb-mod .ezfr {
	float:right
}
.ezb-mod .ezfl, .ezb-mod .ezfr {
	display:inline-block
}
.ezb-mod .ezbli li+li {/*padding-top:10px;margin-top:10px;*/
	border-top:1px solid #DDDDDD
}
.ezb-mod .eztc {/*display:table-cell; vertical-align:top; */
	width:auto;
}
/*IE7*/*:first-child+html .ezb-mod .eztc {
	display:table-cell;
	vertical-align:top;
	zoom:1;
	width:auto
}
.ezb-mod .ezpts {
	padding-top:5px
}
.ezb-mod .ezmts {
	margin-top:5px
}
.ezb-mod .ezmrs {
	margin-right:5px
}
.ezb-mod .ezmrm {
	margin-right:10px
}
.ezb-mod .ezsp {
	border-top:1px dotted #ccc
}
/*MODULE : LATEST POST*/
.ezb-mod .avatar {
	border:1px solid #aaa
}
.ezb-mod a:hover .avatar {
	border-color:#fc0
}
.ezb-mod .post-head a {
	color: #23383D !important;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	padding: 0 10px 0 14px;
	text-decoration: none;
	width: auto;
}
.ezb-mod .post-image img {
	width:45px;
	height:45px;
	border:1px solid #aaa
}
.ezb-mod .post-avatar img {
	width:25px;
	height:25px
}
.ezb-mod .post-author-info {
	line-height:15px;
	font-size:11px
}
/*MODULE : SHOWCASE*/
div.mod-showcase-blogs .slider-holder {
	height:270px;
	overflow:hidden;
	position:relative
}
div.mod-showcase-blogs .showcase-slider {
	margin:10px 0;
	overflow:hidden;
	padding:10px;
	border:1px solid #ccc;
	position: relative;
}
div.mod-showcase-blogs ul.mod-showcase-entries {
	padding:0 !important;
	display:inlline-block;
	position:absolute;
}
div.mod-showcase-blogs ul.mod-showcase-entries {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	clear: none;
	list-style: none outside none;
	margin: 0;
	overflow: visible;
}
div.mod-showcase-blogs ul.mod-showcase-entries li {
	float: left;
	display:inline-block;
	background: none;
	list-style: none;
	padding: 0 !important;
	margin-left: 0 !important;
}
div.mod-showcase-blogs ul.mod-showcase-entries .showcase-image {
	border:1px solid #aaa;
	float:right;
	max-height:300px;
	width:300px;
	margin:3px 3px 0 0;
	position: relative;
}
div.mod-showcase-blogs ul.mod-showcase-entries .showcase-image img {
	max-width:100%;
	height:auto
}
div.mod-showcase-blogs ul.mod-showcase-entries .showcase-meta {
	margin-right:330px;
	text-align: left;
}
div.mod-showcase-blogs ul.mod-showcase-entries .showcase-title {
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
}
div.mod-showcase-blogs ul.mod-showcase-entries .showcase-title, div.mod-showcase-blogs ul.mod-showcase-entries .showcase-title a {
	font-size:18px;
	line-height:1.4;
	font-weight:700
}
div.mod-showcase-blogs ul.mod-showcase-entries .showcase-title {
	border-bottom:1px solid #ddd
}
div.mod-showcase-blogs ul.mod-showcase-entries .showcase-content {
	line-height:20px;
	max-height:80px;
	overflow:hidden
}
div.mod-showcase-blogs ul.mod-showcase-entries .blog-rating {
	border-top:1px dotted #ddd;
	padding-top: 10px;
	margin-top: 10px;
}
div.mod-showcase-blogs a.showcase-more {
	background:#555;
	color:#fff;
	display:inline-block;
	height:16px;
	line-height:16px;
	padding:0 10px;
	font-size:11px;
	text-decoration:none;
	position:absolute;
	bottom:10px;
	right:10px
}
div.mod-showcase-blogs .featured-navi {
	background:#f5f5f5;
	border-top:1px solid #bbb;
	height:16px;
	padding:10px;
	margin:10px -10px -10px
}
div.mod-showcase-blogs .showcase-a {
	text-align:center
}
div.mod-showcase-blogs .featured-navi a {
	background:#555;
	color:#fff;
	display:inline-block !important;
	font-size:11px;
	height:16px;
	line-height:16px !important;
	text-align:center;
	text-decoration:none;
	width:16px
}
div.mod-showcase-blogs .featured-navi a:hover {
	background:#333;
	cursor:pointer;
	text-decoration:none
}
div.mod-showcase-blogs .featured-navi a+a {
	margin-left:2px
}
div.mod-showcase-blogs .showcase-image .featured-tag {
	display:block;
	width:77px;
	height:77px;
	right:-3px;
	top:-3px;
	position: absolute
}
div.mod-showcase-blogs .blog-more {
	font-weight:700
}
/* Tag cloud's module css */
#mod-easyblog-tagcloud.eblog-module-tagcloud ul {
	background: none;
	list-style: none;
	margin: 0;
	padding: 0
}
#mod-easyblog-tagcloud.eblog-module-tagcloud ul li {
	background: none;
	list-style: none;
	margin: 0 0 0 5px;
	padding: 0;
}
/* Overall calendar table properties */
.mod_easyblogcalendar {
	min-height:180px
}
.mod_easyblogcalendar table {
	border:0;
	border-collapse:collapse;
	border-spacing:0;
	margin:0;
	padding:0;
	width:100%!important
}
.mod_easyblogcalendar td, .mod_easyblogcalendar th {
	margin:0;
	padding:0
}
.mod_easyblogcalendar td, .mod_easyblogcalendar .calendar_day {
	background-color:#F0F8FF;
	border:1px solid #A2ADBC;
	border-top:0;
	font:bold 11px/20px "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	height:20px;
	margin:0;
	padding:0;
	text-align:center
}
.mod_easyblogcalendar td + td, .mod_easyblogcalendar .calendar_day + .calendar_day {
	border-left:0
}
.mod_easyblogcalendar td.blank {
	background-color:#EFEFEF
}
.mod_easyblogcalendar td.withpost {
	background-color:#DF9496;
	color:#F6F4DA
}
.mod_easyblogcalendar th.calendar_month {
	background-color:#D9E2E1;
	border:1px solid #A2ADBC;
	color:#555;
	font:700 12px/20px Arial, Verdana, Helvetica, sans-serif;
	text-align:center
}
.mod_easyblogcalendar th.calendar_day {
	background:#D9E2E1;
	color:#616B76;
	font:700 11px/20px Arial, Verdana, Helvetica, sans-serif;
	padding:0;
	text-align:center;
	width:14%
}
.mod_easyblogcalendar th.calendar_month a {
	color:#555;
	font-weight:700;
	text-decoration:none
}
.mod_easyblogcalendar th.calendar_month a.prevMonth, .mod_easyblogcalendar th.calendar_month a.nextMonth {
	height:22px;
	width:15px
}
.mod_easyblogcalendar th.calendar_month a.prevMonth {
	border-right:1px solid #A2ADBC;
	float:left
}
.mod_easyblogcalendar th.calendar_month a.nextMonth {
	border-left:1px solid #A2ADBC;
	float:right
}
/* mod_easyblogarchive */
#eblog-module-archive ul li+li {
	padding-top:5px
}
#eblog-module-archive ul li div.year-container {
	display: none;
	margin-left: 16px
}
#eblog-module-archive ul li div.year-container a {
	font-size:11px
}
#eblog-module-archive a.archive-title {
	background: url(../images/modules/plus.png) no-repeat 0 center;
	padding-left: 16px;
	font-weight:700
}
#eblog-module-archive a.archive-title.active-year {
	background: url(../images/modules/minus.png) no-repeat 0 center
}
/* mod_easyblogcategories */
#ezblog-categories .ezitem + .ezitem {/*padding-top:5px;margin-top:5px;*/
	border-top:1px solid #ddd;
}
#ezblog-categories .ezitem {
	background: #E7F4FC;
}
#ezblog-categories .ezitem a {
	font-weight:normal;
	padding: 5px 10px 5px 14px;
	display: block;
	text-decoration: none;
	color: #23383d;
	width: auto;
	font-size: 12px;
	overflow: hidden;
	cursor: pointer;
	height:15px;
}
.ezitem .active a, .ezitem a:hover {
	background: #67c5e9;
	font-weight: bold !important;
}
#ezblog-categories .ezitem a span.eztc-catname {
	float: left;
}
#ezblog-categories .ezitem a span.eztc-postcounter {
	float: right;
}
/* mod_easybloglatestblogger */
#ezblog-latestblogger .avatar {
	margin-top:3px
}
#ezblog-latestblogger .ezauthor-name a {
	font-weight:700
}
#ezblog-latestblogger .ezitem+.ezitem {
	padding-top:5px;
	margin-top:5px;
	border-top:1px solid #ddd
}
#ezblog-latestblogger .ezauthor-bio {
	margin-top:5px
}
/* mod_easybloglatestcomment */
#ezblog-latestcomment .ezitem+.ezitem {
	padding-top:5px;
	margin-top:5px;
	border-top:1px solid #ddd
}
/* mod_latestpostbyblogger */
#ezblog-latestpostbyblogger .ezitem+.ezitem {
	padding-top:7px;
	margin-top:7px;
	border-top:3px double #ccc
}
#ezblog-latestpostbyblogger .ezpostitem {
	border-top:1px dashed #ccc;
	padding-top:5px;
	margin-top:5px
}
#ezblog-latestpostbyblogger .ezpostitem h3 {
	font-size:14px;
	margin:0;
	padding:0;
	border:0
}
#ezblog-latestpostbyblogger .ezpostitem h3 a {
	font-weight:700
}
/* mod_latestpostbycategory */
#ezblog-latestpostbycategory .ezcategorytitle a {
	font-weight:700
}
#ezblog-latestpostbycategory .ezitem+.ezitem {
	padding-top:7px;
	margin-top:7px;
	border-top:3px double #ccc
}
#ezblog-latestpostbycategory .ezpostitem {
	border-top:1px dashed #ccc;
	padding-top:5px;
	margin-top:5px
}
#ezblog-latestpostbycategory .ezpostitem h3 {
	font-size:14px;
	margin:0;
	padding:0;
	border:0
}
#ezblog-latestpostbycategory .ezpostitem h3 a {
	font-weight:700
}
/* mod_latestpostbycategory */
#ezblog-mostcommentedpost .ezitem+.ezitem {
	padding-top:9px;
	margin-top:9px;
	border-top:1px solid #ccc
}
#ezblog-mostcommentedpost h3, #ezblog-mostcommentedpost h3 a {
	font-size:100%;
	font-weight:700;
padding;
0;
	margin:0
}
/* mod_latestpostbycategory */
#ezblog-mostpopularpost .ezitem+.ezitem {
	padding-top:9px;
	margin-top:9px;
	border-top:1px solid #ccc
}
#ezblog-mostpopularpost h3, #ezblog-mostpopularpost h3 a {
	font-size:100%;
	font-weight:700;
padding;
0;
	margin:0
}
/* mod_easyblograndompost */
#ezblog-randompost .ezitem+.ezitem {
	padding-top:9px;
	margin-top:9px;
	border-top:1px solid #ccc
}
/* mod_easyblogwelcome */
#ezblog-welcome .ezprofilehead {
	padding-bottom:10px;
	border-bottom:1px solid #ccc
}
#ezblog-welcome a {
	display:inline-block
}
#ezblog-welcome .ezusername a {
	font-weight:700
}
#ezblog-welcome .ezuseravatar img {
	border:1px solid #ccc;
	padding:1px
}
#ezblog-welcome .hasicon+.hasicon {
	border-top:1px dotted #ccc
}
#ezblog-welcome .hasicon a {
	display:block;
	padding-left:24px;
	height:26px;
	line-height:26px;
	font-size:11px;
	text-decoration:none
}
#ezblog-welcome .hasicon a:hover {
	background-color:#eee
}
#ezblog-welcome .ezwrite a {
	background:url(../images/modules/pencil.png) 0 center no-repeat
}
#ezblog-welcome .ezmyblog a {
	background:url(../images/modules/document.png) 0 center no-repeat
}
#ezblog-welcome .ezmycomment a {
	background:url(../images/modules/comment.png) 0 center no-repeat
}
#ezblog-welcome .ezmydrafts a {
	background:url(../images/modules/drafts.png) 0 center no-repeat
}
#ezblog-welcome .ezmysubscription a {
	background:url(../images/modules/magnet.png) 0 center no-repeat
}
#ezblog-welcome .ezlogout a {
	background:url(../images/modules/status-offline.png) 0 center no-repeat
}
/* mod_easyblogteamblog */
#ezblog-teamblog .ezitem+.ezitem {
	padding-top:9px;
	margin-top:9px;
	border-top:1px solid #ccc
}
#ezblog-teamblog .team-title a {
	font-weight:700
}
/* mod_easyblogtopblog */
#ezblog-topblog .ezitem+.ezitem {
	padding-top:9px;
	margin-top:9px;
	border-top:1px solid #ccc
}
#ezblog-topblog .ezitem h3, #ezblog-topblog .ezitem h3 a {
	font-size:100%;
	font-weight:700;
padding;
0;
	margin:0
}
/* mod_latestblogs */
#ezblog-latestpost .ezavatar {
	width:32px;
	height:32px;
}
#ezblog-latestpost li {
	padding:5px 0 5px 10px !important;
	background:#E7F4FC url(../images/message-icon.gif) 4px 6px no-repeat;
}
#ezblog-latestpost li:hover {
	background: #67c5e9 url(../images/message-icon-hover.gif) 4px 6px no-repeat;
}
#ezblog-latestpost div.post-image img {
	width:auto !important;
	height:auto !important;
	max-width:200px;
}
/*modified module suffix ' blog-normal-style' with space before */

.blog-normal-style .ezb-mod .post-head a {
	font-size: 100% !important;
	font-weight: bold !important;
}
.blog-normal-style #ezblog-latestpost li {
	background:none !important;
}
.blog-normal-style .ezb-mod .post-head a {
	padding: 0px !important;
}
.blog-normal-style #ezblog-latestpost div.post-image img {
	height: auto !important;
	max-width: 200px !important;
	width: auto !important;
}
.blog-normal-style .ezb-mod .post-image img {
	border: 1px solid #AAAAAA !important;
	height: 45px !important;
	width: 45px !important;
}
