/*
Theme Name: iDea - Clean & Powerful Bootstrap Theme
Author: HtmlCoder
Author URI: http://www.htmlcoder.me
Author e-mail: htmlcoder.me@gmail.com
Version: 1.2.1
Created: August 2014
License URI: http://support.wrapbootstrap.com/
File Description: Place here your custom CSS styles
*/
.navbar-nav li.highlight a {background-color:#D4145A !important;color:#FFF !important;border-radius:7px;}
.call-to-action .btn {width:auto;}

span.red  {color:#D4145A !important;}

.logo img {height:65px;}
.animated .logo {margin-top:0;}
.animated .logo img {height:50px;}

.btn {border-radius:7px;}

.slider-banner-container .btn-pink, .slider-banner-container .btn-default {
	padding: 14px 16px;
	font-size: 16px;
}

#tammy-popper {margin-bottom:10px;}
.sample_modal_image {}
.sample_modal_image a:hover {cursor:pointer;}
.sample_modal_image a img {margin:0 auto;padding:10px;}

.parallax-bg-3, .parallax-bg-3 h1 {color:#FFF;}
.parallax-bg-3 .btn {background-color:#FFF;color:#D4145A!important;border-color:#D4145A}


#myModal .modal-dialog {width:75%;}

/************ pricing table ************/
.white .plan .header, .plan ul li {background:#DEEAF6;}
.white .plan .header h3 {color:#009edf;text-shadow:none;padding:5px;font-size: 22px;}
.white .plan ul {box-shadow: none;}

.white .noplan {border:none;box-shadow:none;text-align:right;}
.white .noplan ul {margin-top:85px;border:none;box-shadow:none;}
.white .noplan ul li {background:#FFF;border:none;height:52px;padding:13px 20px 0 0;border:0;font-size:15px;}

.plan {margin-bottom:25px !important;}
.plan ul li {text-shadow:none;}
.plan li i.fa-check {font-size:16px;color:#57B230;text-shadow:none;}
.plan li i.fa-close {font-size:28px;color:#DEEAF6;text-shadow:none;}
.header .most_popular {
	position:absolute;
	top:-65px;
	left:25%;
}


.row .standard_plan .header {
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}
.row .standard_plan ul li:last-child {	
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}
.row .premium_plan .header {
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}
.row .premium_plan ul li:last-child {	
	-webkit-border-bottom-right-radius: 10px;	
	-moz-border-radius-bottomright: 10px;	
	border-bottom-right-radius: 10px;
}


.custom_plan .customwrap, .custom_plan .customwrap .header {
    margin-left:0px;
    margin-right:0px;
    background:#DEEAF6;
    color:#D4145A;
    border-radius:10px;
}

.customwrap p {
    padding-top:20px;
    padding-left:30px;
}

.custom_plan .header {padding:25px 25px 0 25px;border:none;}
.custom_plan .header h3 {color:#009edf;text-transform:uppercase;margin-top:0;margin-bottom:15px;}
.blue_badge img {max-height:105px;position:absolute;right:-20px;z-index:9;}

.buynow_price {color:#D4145A!important;text-transform:uppercase;font-weight:bold;}
span.strike_pricing { font-size:20px;text-decoration: line-through;}
span.pricing { font-size:20px;line-height:34px;}
span.larger {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}
.nosoftware {
    font-size:16px;
    margin-top:10px;
}

.nosoftware a {
    color:#009edf;
}

.description_link {color:#FFF;text-decoration:underline;}
i.fa-info-circle {color:#009EDF;padding-left:5px;font-size:18px;}
.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:15px;
    opacity:0;
    filter:alpha(opacity=0)
}
.tooltip.in{
    /*opacity:.8;
    filter:alpha(opacity=80)*/
}
.tooltip.top{
    margin-top:-2px
}
.tooltip.right{
    margin-left:2px
}
.tooltip.bottom{
    margin-top:2px
}
.tooltip.left{
    margin-left:-2px
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #009edf
}
.tooltip.left .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #009edf
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #009edf
}
.tooltip.right .tooltip-arrow{
    top:50%;
    left:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-right:5px solid #009edf
}
.tooltip-inner{
    width:250px;
    padding:3px 8px;
    color:#FFF;
    text-decoration:none;
    background-color:#009edf;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0
}


/************ pricing table ************/


.social-links  li {padding:10px;}

.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front, .rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0,0,1px);
  -moz-transform: translate3d(0,0,1px);
  -ms-transform: translate3d(0,0,1px);
  -o-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}



.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;
  
  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
  -moz-transform: rotateY(180deg) translate3d(0,0,0);
  -ms-transform: rotateY(180deg) translate3d(0,0,0);
  -o-transform: rotateY(180deg) translate3d(0,0,0);
  transform: rotateY(180deg) translate3d(0,0,0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,0);
  -moz-transform: rotateX(180deg) translate3d(0,0,0);
  -ms-transform: rotateX(180deg) translate3d(0,0,0);
  -o-transform: rotateX(180deg) translate3d(0,0,0);
  transform: rotateX(180deg) translate3d(0,0,0);
}

.rotating.flip.cube .front {
  -webkit-transform: translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: translate3d(0,0,100px) scale(0.85,0.85);
  transform: translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}

@media (min-device-width:768px) and (max-device-width:1024px) and (orientation: landscape) {
    .customwrap p {
        padding-top:20px;
        padding-left:5px;
    }
}

@media (min-device-width:768px) and (max-device-width:1024px) and (orientation: portrait) {
    .customwrap p {
        padding-top:25px;
    }
}

@media (max-width:768px) {
    .bottommargin {
        margin-bottom:20px;
    }
}