body { 
/*padding: 0px; 
margin:0px 0px 20px 0px;*/
font-family: Arial, Helvetica, sans-serif;
font-size:10pt;
/*text-align:center;
color:#333333;
background:#ffffff;*/
}

body#popup {
margin:20px;
background:#ffffff;
padding: 0px; 
font-family: Arial, Helvetica, sans-serif;
font-size:10pt;
color:#333333;
}

/* general */

a {
	color:#009EDF;
}

a img {
	border:none;
}

#wrapper {
margin:0px auto;
width:960px;
}

#header {
height:119px;
text-align:left;
position:relative;
}

#logo {
height:85px;
}

#nav {
height:34px;
background:url(images/bg_nav.jpg) top left no-repeat;
}

#nav ul {
	margin:0px 0px 0px 20px;
	padding:0px;
	color:#7F868D;
}

#nav ul li {
	margin:0px;
	padding:0px;
	float:left;
	display:inline;
	list-style:none;
	padding-top:8px;
}

#nav ul li a {
	color:#7F868D;
	text-decoration:none;
}

#nav ul li a.currentnav {
	color:#0089C6;
	text-decoration:none;
}

#nav ul li a:hover {
	color:#0089C6;
}

/*h3 {
	color: #5E8435;
}*/

/* errors */

span.error {
	color:#ff0000;
}

input.error, select.error {
	border:1px solid #ff0000;
}

/* login */

#status {
width:360px;
margin:75px auto 0px auto;
}

#welcome {
position:absolute;
width:400px;
height:50px;
right:5px;
top:10px;
text-align:right;
font-size:10pt;
}

/* report */

#report {
text-align:left;
}

table.report {
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
	margin-bottom:15px;
}

table.report table {
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
}

table.report td, table.report th {
	padding:5px 5px;
	vertical-align:top;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
}

table.report th {
	background:#009EDF;
	color:#ffffff;
}

table.report th a {
	background:#009EDF;
	color:#ffffff;
}

table.report th.detail {
	background:#DCEDF4;
	color:#666666;
}

td.small {
	color:#666666;
	font-size:9pt;
}

/* admin */

#adminok {
margin-top:15px;
background:#EFF5EA url(images/success.gif) center left no-repeat;
border:1px solid #95A486;
padding:10px 50px;
color:#3D6611;
text-align:left;
}

#adminok_detail {
margin-bottom:15px;
background:#EFF5EA url(images/success.gif) center left no-repeat;
border:1px solid #95A486;
padding:10px 50px;
color:#3D6611;
text-align:left;
}

#admin {
text-align:left;
}

/* Stylish FieldSet */
fieldset { 
-moz-border-radius: 7px; 
border: 1px #dddddd solid; 
padding: 10px; 
width: 330px; 
margin-top: 10px; 
}

legend { 
-moz-border-radius: 3px; 
border: 1px #dddddd solid; 
padding: 2px 5px; 
}

/* Input text */
#status input { 
margin: 5px; 
padding: 2px; 
float:left;
border: 1px solid #cdcdcd; 
background-color: white; 
-moz-border-radius: 2px; 
}

/* 'Login' Button */
#submit { 
margin: 5px; 
padding: 2px; 
float: left; 
width: 50px; 
background-color: white; 
}

#error_notification { 
border: 1px #aa0000 solid; 
height: auto; 
padding: 4px; 
background: #cc0000; 
color:#ffffff;
text-align: center; 
-moz-border-radius: 3px; 
}

#login_response { 
overflow: auto; 
}
 
#ajax_loading { 
display: none; 
}

#logged_in { 
border: 1px solid #dddddd; 
-moz-border-radius: 3px; 
padding: 5px; 
width: 360px; 
margin:50px auto;
}

/* alternate table rows */
.odd{background: #eeeeee;}
table.report th.filter{background:#DCEDF4;}

/* buttons */

p.buttons {
text-align:right;
}

p.buttons a {
border:1px solid #5E8435;
border-top:1px solid #D5E4C9;
border-left:1px solid #D5E4C9;
padding:5px 10px 5px 30px;
color:#5E8435;
text-decoration:none;
}

p.buttons a.add {
background:#EFF5EA url(images/add.png) center left no-repeat;
}

p.buttons a.print {
background:#EFF5EA url(images/print.png) center left no-repeat;
}

p.buttons a.back {
background:#EFF5EA url(images/back.png) center left no-repeat;
}

input.edit {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url(images/edit.png) no-repeat center center;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

input.save {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url(images/save.png) no-repeat center center;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}
