.wallfactory-comment-header { background-color: #eeeeee; padding: 5px 5px; }
.wallfactory-comment-content { padding: 10px 10px; }
.wallfactory-comment { margin-bottom: 3px; border: 1px solid #dddddd; float: left; clear: both; width: 99%; }
.wallfactory-comment-user { padding-right: 5px; }

.report { text-transform: lowercase; font-weight: normal; }
.wallfactory-comment-avatar { float: right; clear: both; }
.wallfactory-comment-avatar img { padding: 1px; margin: 5px; border: 1px solid #999999; }
.wallfactory-comment-form { display: none; padding: 5px; }