.wallfactory-table { border-collapse: collapse; margin: 0px; padding: 0px; width: 100%; cellpading: 0; cellspacing: 0; }
.wallfactory-table th { background-color: #cc0000; color: #ffffff; padding: 5px 5px; }
.wallfactory-table td { padding: 1px 1px; }
td .even{ background-color: #f0f0f0; }

.wallfactory-calendar { border-right: 1px dotted #999999; padding-right: 10px; margin-right: 10px; }
.wallfactory-calendar div { text-align: center !important; font-family: Verdana; }
.wallfactory-month { font-weight: bold; line-height: 10px; }
.wallfactory-day { font-weight: bold; font-size: 25px; padding: 5px 0px; }
.wallfactory-year, .wallfactory-day-name { font-size: 10px; color: #666666; }
.wallfactory-day-name { line-height: 5px; letter-spacing: 2px; }
.wallfactory-actions { margin-top: 15px; margin-bottom: 5px; border-top: 0px dotted #dddddd; padding: 5px 5px; }
.wallfactory-actions a { margin-right: 10px; }