.wallfactory-title { font-size: 14px; font-weight: bold; margin-top: 10px; }
.wallfactory-year, .wallfactory-day-name { font-size: 10px; color: #666666; }
.wallfactory-table { border-collapse: collapse; margin: 0px; padding: 0px; width: 100%; }

.main_message {
	clear: left;
	display: block;
	position: relative !important;
	background-color: #E8E8E8;
	border:1px solid #898787;
	width:650px;
	margin: 2px;
	padding: 3px;
}

.avatar {
	text-align: center;
	padding: 3px;
	float: left;
	width: 100px;
	border-right: 1px dotted #898787;
}

.round_post {
position:relative !important;
padding: 3px 2px;
float: right;
width: 82%;
background-color:#e8e8e8;
border:1px solid #ddd;
color:black;
}

.post_message {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
position:relative !important;
padding: 1px;
margin: 0;
width: 99%;
background-color:#dbdbdb;
border:1px solid #898787;
color:black;
font-size: 13px !important; 
float:left;
overflow: hidden;
}

div.action-bar { 
position:relative !important;
float: left;
padding: 2px 1px;
width: 100%;
}

a.cancel-comment {
	background-image: url(../../images/cancel_blue.png);
	background-repeat: no-repeat;
	float: right;
	color: #3B5998;
	cursor: pointer;
	text-decoration: none;
	padding-right: 14px;
}

/*.wallfactory-comment-header { background-color: #eeeeee; padding: 5px 5px; }*/
.wallfactory-comment-content { padding: 5px 5px; }
.wallfactory-comment { padding: 3px; margin-bottom: 5px; border: 1px solid #dddddd; float: left; clear: both; width: 99%; }
