#results .title { padding-top: 0px; }
#results .title a { font-size: 14px; }
#results .content { margin-bottom: 5px; margin-top: 2px; }
#results .tags { margin-bottom: 5px; }
#results .info a { color: #999999; }
#results .spacer { margin-bottom: 15px; }
#results .wallfactory-highlight, #results .wallfactory-highlight a{ font-weight: bold; }