div.right-menu { 
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background-color:#f9f9f9;
border:1px solid #CCCCCC;
float: right; 
width: 220px; 
margin-left: 8px; 
border: 1px solid #999999;
}

.wallfactory-info { 
 font-size: 11px;
 color: #666666; 
 padding: 3px; word-wrap: break-word;
}

div.right-menu ul { list-style-type: none; padding: 0px; margin: 0px 0px 0px 10px; }
div.right-menu ul li { margin: 2px 0px; }
div.right-menu ul a { background-repeat: no-repeat; background-position: left center; padding: 0px 0px 0px 20px; }

div.right-menu div { margin-bottom: 7px; }
div.right-menu div.content { padding-top: 5px; margin-left: 2px; position: relative;}

ul.feeds a { background-image: url(../../images/bullet_feed.png); }

.column table { border-collapse: collapse; margin: 0px; padding: 0px; width: 100%; }
.column tr.even td { background-color: #f2f2f2; }
.column tr.unapproved td { background-color: #ffffdd !important; }
.column tr.reported td { background-color: #ffcccc !important; }
.column td, .column th { padding: 7px 10px; vertical-align: top; }
.column td { border-bottom: 1px dotted #999999; }
.column tfoot td { border: 0px; padding-top: 15px; padding-bottom: 12px; }
.column td.row-icon { width: 20px; padding-right: 0px; background-repeat: no-repeat; background-position: center 10px; }
.column td.row-content { padding-left: 5px; }
.column tr.last td { border: 0px; }

.column tfoot td.menu { background-color: #f6f6f6; }

.column tfoot td a { color: #999999; text-decoration: none; }
.column tfoot td a:hover { color: #000000; }

.row-content small { display: block; padding-top: 5px; }

.column { float: left; padding-bottom: 100px; width: 50%; }
.portlet { margin: 0 1em 1em 0; }
.portlet-header { padding: 5px 10px; cursor: move; }
.portlet-header .ui-icon { float: right; cursor: pointer; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dashed #999999; visibility: visible !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.ui-sortable-helper { filter: alpha(opacity=75); -khtml-opacity: 0.75; -moz-opacity: 0.75;opacity: 0.75; }

div#main_post {
  width: 500px;
  float: left;
}
