.wallfactory-table { border-collapse: collapse; margin: 0px; padding: 0px; width: 100%; }
.wallfactory-table th { background-color: #cc0000; color: #ffffff; padding: 5px 10px; }
.wallfactory-table td { padding: 5px 10px; }
.wallfactory-table tr.even td { background-color: #eeeeee; }
.wallfactory-table tbody td, .wallfactory-table th { border-bottom: 1px solid #dddddd; }
.table tr.followed td, .followed { background-color: #ffffdd !important; }
.wall-avatar img { float: left; margin: 0px 10px 5px 0px; border: 1px solid #444444; padding: 1px; }

.portlet { margin: 5px; float: left; width: 330px; }
.portlet-header { padding: 5px 10px; }
.portlet-header a { font-weight: bold; color: #444444; }
.portlet-header .ui-icon { float: right; cursor: pointer; }
.portlet-content { padding: 10px; overflow: auto; height: 120px; }
.ui-sortable-placeholder { border: 1px dashed #999999; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

.ui-sortable-helper { filter: alpha(opacity=75); -khtml-opacity: 0.75; -moz-opacity: 0.75;opacity: 0.75; }
.portlet .action-bar { width: 100%; position: absolute; left: 0px; bottom: 0px; background-color: #666666; color: #999999; filter: alpha(opacity=90); -khtml-opacity: 0.9; -moz-opacity: 0.9;opacity: 0.9; }

.portlet .action-bar a { color: #eeeeee !important; }
.portlet-header a.configure { float: right; margin-right: 10px; font-weight: normal; font-size: 10px; }