/**
 * @package  EasyBlog
 * @copyright Copyright (C) 2010 Stack Ideas Private Limited. All rights reserved.
 * @license  GNU/GPL, see LICENSE.php
 * EasyBlog is free software. This version may have been modified pursuant
 * to the GNU General Public License, and as distributed it includes or
 * is derivative of works licensed under the GNU General Public License or
 * other free or open source software licenses.
 * See COPYRIGHT.php for copyright notices and details.
 */

/* Dashboard : Toolbar */
#ezblog-dashboard .ui-toolbar,
#ezblog-dashboard .ui-toolbar li{border-color:#003a57;background:#3B7BC7}
#ezblog-dashboard .ui-toolbar li:hover {background:#54A3EE}
#ezblog-dashboard .ui-toolbar li.active{background:#00557f}

#ezblog-dashboard .ui-modbox{border-color:}
#ezblog-dashboard .ui-modhead {
    border-top:1px solid #fff;
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f0f0f0));
}
    #ezblog-dashboard .ui-modhead .ui-modtitle{
        font-weight:700;
        color:#555;
        border-bottom:1px solid #fff;
        border-top:1px solid #fff;
        color:;
        text-shadow:
    }
#ezblog-dashboard .ui-modbody{background:#fcfcfc}
#eblog-wrapper .ui-inputbutton{background:#f5f5f5}