div#fd.eb .eb-post-admin {
  z-index: 10;
}
div#fd.eb .eb-post-admin > a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #D4CA89;
  position: relative;
  border-radius: 100%;
  background: #FEF6C2 !important;
  display: inline-block;
  text-align: center;
}
div#fd.eb .eb-post-admin > a > i {
  color: #A89526 !important;
  line-height: inherit;
}
div#fd.eb .eb-post-admin.open > a {
  border-radius: 2px 2px 0 0;
  border-bottom: 0;
  z-index: 9999;
}
div#fd.eb .eb-post-admin .dropdown-menu {
  background: #FEF6C2;
  border: 1px solid #D4CA89;
  border-radius: 2px 0 2px 2px;
  margin-top: -1px;
  padding: 5px 0;
  box-shadow: none;
  z-index: 9990;
}
div#fd.eb .eb-post-admin .dropdown-menu > li > a {
  font-size: 12px;
  color: #A89526 !important;
  padding: 5px 15px;
}
div#fd.eb .eb-post-admin .dropdown-menu > li > a:hover {
  background: rgba(255,255,255,0.75);
}
div#fd.eb .ui-stars-star,
div#fd.eb .ui-stars-cancel {
  margin: 0 !important;
  padding: 0 !important;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  top: 1px;
}
div#fd.eb .ui-stars-star a,
div#fd.eb .ui-stars-cancel a {
  background: url(../../wireframe/images/ratings/stars.png) no-repeat 0 0 transparent !important;
  display: block;
  height: 16px;
  width: 16px;
  font-size: 0;
}
div#fd.eb .ui-stars-star a {
  background: url(../../wireframe/images/ratings/stars.png) no-repeat transparent 0 -32px !important;
  margin-top: -1px;
}
div#fd.eb .ui-stars-star-on a {
  background: url(../../wireframe/images/ratings/stars.png) no-repeat transparent 0 -48px !important;
}
div#fd.eb .ui-stars-star-hover a,
div#fd.eb .ui-stars-star-hover a:hover {
  background: url(../../wireframe/images/ratings/stars.png) no-repeat transparent 0 -64px !important;
  text-decoration: none !important;
}
div#fd.eb .ui-stars-cancel-hover a {
  background: url(../../wireframe/images/ratings/stars.png) no-repeat transparent 0 -16px !important;
}
div#fd.eb .ui-stars-star-disabled,
div#fd.eb .ui-stars-star-disabled a,
div#fd.eb .ui-stars-cancel-disabled a {
  cursor: default !important;
}
