div#fd.eb .eb-author-filter {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
div#fd.eb .eb-author-filter .col-cell + .col-cell {
  padding-left: 10px;
}
div#fd.eb .eb-authors-finder {
  position: relative;
}
div#fd.eb .eb-authors-finder .form-control {
  padding-left: 40px;
  box-shadow: none;
}
div#fd.eb .eb-authors-finder .fa-user {
  color: #999;
  width: 40px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  z-index: 10;
  text-align: center;
}
div#fd.eb .eb-author {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
div#fd.eb .eb-authors-head {
  background: #fafafa;
  border-bottom: 1px solid #e2e2e2;
  border-radius: 2px 2px 0 0;
  padding: 20px;
}
div#fd.eb .eb-authors-head .col-cell + .col-cell {
  padding: 0 0 0 20px;
}
div#fd.eb .eb-authors-name {
  font-size: 20px;
}
div#fd.eb .eb-authors-meta {
  margin: 5px 0 0;
}
div#fd.eb .eb-authors-meta a {
  color: inherit;
}
div#fd.eb .eb-authors-meta .col-cell + .col-cell {
  padding: 0 0 0 5px;
}
div#fd.eb .eb-authors-bio {
  margin: 20px;
}
div#fd.eb .eb-authors-subscribe {
  margin-top: 15px;
  overflow: hidden;
}
div#fd.eb .eb-authors-subscribe > span {
  float: left;
  display: inline-block;
}
div#fd.eb .eb-authors-subscribe > span + span {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #e2e2e2;
}
div#fd.eb .eb-authors-stats {
  margin: 20px;
  clear: both;
}
div#fd.eb .eb-authors-team .eb-authors-head h2 {
  margin: 0;
}
div#fd.eb .eb-authors-filter {
  border-top: 1px solid #ddd;
  padding: 20px;
}
div#fd.eb .eb-authors-filter .dropdown-menu {
  min-width: 320px;
}
div#fd.eb .eb-authors-filter .dropdown-menu > li + li {
  border-top: 1px solid #ddd;
}
div#fd.eb .eb-authors-filter .dropdown-menu > li a {
  display: block;
  white-space: nowrap;
  padding: 15px;
}
div#fd.eb .eb-authors-filter .dropdown-menu > li a b {
  display: block;
  white-space: nowrap;
}
div#fd.eb .eb-stats-nav {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
div#fd.eb .eb-stats-nav > li {
  display: table-cell;
  width: 1%;
}
div#fd.eb .eb-stats-nav > li b {
  font-weight: inherit;
  color: inherit;
}
div#fd.eb .eb-stats-nav > li b:before {
  content: "(";
}
div#fd.eb .eb-stats-nav > li b:after {
  content: ")";
}
div#fd.eb .eb-stats-nav > li .btn {
  border-color: #ddd !important;
  box-shadow: none !important;
}
div#fd.eb .eb-stats-nav > li .btn:hover,
div#fd.eb .eb-stats-nav > li .btn:focus {
  background-color: #fafafa !important;
  outline: 0;
}
div#fd.eb .eb-stats-nav > li.active > .btn {
  background: #f5f5f5 !important;
}
div#fd.eb .eb-stats-nav > li + li > .btn {
  border-left: 0;
}
div#fd.eb .eb-stats-nav > li:not(:first-child):not(:last-child):not(.dropdown-toggle_) > .btn {
  border-radius: 0;
}
div#fd.eb .eb-stats-nav > li:first-child:not(:last-child):not(.dropdown-toggle_) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
div#fd.eb .eb-stats-nav > li:last-child:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
div#fd.eb .eb-stats-content {
  margin-top: 20px;
}
div#fd.eb .eb-stats-content .tab-pane {
  display: none;
}
div#fd.eb .eb-stats-content .tab-pane.active {
  display: block;
}
div#fd.eb .eb-stats-categories,
div#fd.eb .eb-stats-tags {
  font-size: 0;
}
div#fd.eb .eb-stats-categories .btn,
div#fd.eb .eb-stats-tags .btn {
  margin: 0 5px 5px 0;
}
div#fd.eb .eb-stats-categories .btn i,
div#fd.eb .eb-stats-tags .btn i {
  opacity: .5;
  filter: alpha(opacity=50);
}
div#fd.eb .eb-stats-categories .eb-empty,
div#fd.eb .eb-stats-tags .eb-empty {
  font-size: 12px;
}
div#fd.eb .eb-stats-posts > div {
  overflow: hidden;
}
div#fd.eb .eb-stats-posts > div + div {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e2e2e2;
}
div#fd.eb .eb-stats-posts > div time {
  color: #999;
  float: right;
  line-height: 20px;
}
div#fd.eb .eb-stats-posts > div i {
  color: #999;
  font-size: 14px;
  float: left;
  line-height: 20px;
  width: 20px;
  text-align: center;
  margin-right: 15px;
}
div#fd.eb .eb-stats-posts > div a {
  display: block;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div#fd.eb .eb-stats-posts > .btn-block {
  margin-top: 20px;
}
div#fd.eb .eb-stats-author + .eb-stats-author {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
div#fd.eb .eb-stats-author > a {
  width: 10px;
  padding: 0 10px 0 0;
}
div#fd.eb .eb-stats-authors > .btn-block {
  margin-top: 20px;
}
div#fd.eb .eb-author.w480 .eb-authors-head {
  display: block;
}
div#fd.eb .eb-author.w480 .eb-authors-head .col-cell {
  display: block;
  width: 100%;
}
div#fd.eb .eb-author.w480 .eb-authors-head .col-cell + .col-cell {
  padding: 15px 0 0;
  text-align: inherit;
}
div#fd.eb .eb-author.w480 .eb-authors-bio {
  margin: 20px;
}
div#fd.eb .eb-author.w480 .eb-authors-subscribe {
  margin-top: 15px;
  overflow: hidden;
}
div#fd.eb .eb-author.w480 .eb-authors-subscribe > span {
  float: none;
  display: block;
}
div#fd.eb .eb-author.w480 .eb-authors-subscribe > span + span {
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  border-left: 0px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
}
div#fd.eb .eb-author.w480 .eb-stats-nav > li {
  display: block;
  float: none;
  width: 100%;
}
div#fd.eb .eb-author.w480 .eb-stats-nav > li + li {
  margin-top: 15px;
}
div#fd.eb .eb-author.w480 .eb-stats-nav > li + li > .btn {
  border-left: 1px solid #ddd;
}
div#fd.eb .eb-author.w480 .eb-stats-nav > li:not(:first-child):not(:last-child):not(.dropdown-toggle_) > .btn {
  border-radius: 3px;
}
div#fd.eb .eb-author.w480 .eb-stats-nav > li:first-child:not(:last-child):not(.dropdown-toggle_) > .btn {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
div#fd.eb .eb-author.w480 .eb-stats-nav > li:last-child:not(:first-child) > .btn {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
div#fd.eb .eb-stats-posts.w480 > div {
  overflow: visible;
  position: relative;
  padding-top: 10px;
}
div#fd.eb .eb-stats-posts.w480 > div i {
  position: absolute;
  top: 14px;
  left: 0;
}
div#fd.eb .eb-stats-posts.w480 > div time {
  width: 100%;
  float: none;
  line-height: 24px;
  padding-left: 26px;
}
div#fd.eb .eb-stats-posts.w480 > div a {
  overflow: visible;
  white-space: pre-line;
  margin-left: 25px;
}
