div#fd.eb .eb-brand {
  margin: 0 0 10px;
}
div#fd.eb .eb-brand .fa {
  font-size: 14px;
}
div#fd.eb .eb-brand-name {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 6.6666666666667px;
}
div#fd.eb .eb-brand-subscriber {
  margin-top: 10px;
}
div#fd.eb .eb-brand-subscriber > span + span {
  margin: 0 0 0 15px;
}
div#fd.eb .eb-brand-subscriber a {
  display: inline-block;
  text-decoration: none;
}
div#fd.eb .eb-brand-subscriber a:hover {
  text-decoration: underline;
}
div#fd.eb .eb-brand-subscriber a i {
  color: #999;
}
