div#fd.eb .eb-category {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
div#fd.eb .eb-category-profile {
  padding: 20px;
}
div#fd.eb .eb-category-profile .col-cell + .col-cell {
  padding-left: 20px;
}
div#fd.eb .eb-category-name {
  font-size: 20px;
}
div#fd.eb .eb-category-bio,
div#fd.eb .eb-category-subs {
  border-top: 1px solid #e2e2e2;
  padding: 20px 0;
  margin: 0 20px;
}
div#fd.eb .eb-category-subscribe {
  margin-top: 10px;
  overflow: hidden;
}
div#fd.eb .eb-category-subscribe > span + span {
  border-left: 1px solid #e2e2e2;
}
div#fd.eb .eb-category-stats {
  margin: 0 20px 20px;
}
div#fd.eb .eb-category-sm {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 6.6666666666667px;
}
div#fd.eb .eb-category-sm + .eb-category-sm {
  margin-top: 6.6666666666667px;
}
div#fd.eb .eb-category-sm > a,
div#fd.eb .eb-category-sm > div {
  display: table-cell;
  vertical-align: middle;
}
div#fd.eb .eb-category-sm-thumb img {
  width: 60px;
  height: 60px;
}
div#fd.eb .eb-category-sm-body {
  padding: 0 0 0 10px;
}
div#fd.eb .eb-category-sm-name {
  font-size: 16px;
}
div#fd.eb .eb-category-sm-subscribe {
  font-size: 90%;
  margin-top: 10px;
  overflow: hidden;
}
div#fd.eb .eb-category-sm-subscribe > span {
  float: left;
  display: inline-block;
}
div#fd.eb .eb-category-sm-subscribe > span + span {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #e2e2e2;
}
div#fd.eb .eb-category-sm-subscribe > span a {
  color: inherit;
}
div#fd.eb .eb-category-sm-subscribe .fa {
  font-size: 14px;
}
div#fd.eb.w320 .eb-category-thumb,
div#fd.eb.w320 .eb-category-details {
  display: block;
}
div#fd.eb.w320 .eb-category-profile .col-cell + .col-cell {
  padding-top: 15px;
  padding-left: 0;
}
div#fd.eb.w320 .eb-category-subscribe {
  margin-top: 20px;
}
div#fd.eb.w320 .eb-category-subscribe > span {
  display: block;
  width: 100%;
}
div#fd.eb.w320 .eb-category-subscribe > span + span {
  border-left: 0;
  border-top: 1px solid #e2e2e2;
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
}
