div#fd.eb .eb-comments-tab {
  border: 1px solid #ddd;
  border-radius: 3px;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  margin: 20px 0;
}
div#fd.eb .eb-comments-tab > li {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
}
div#fd.eb .eb-comments-tab > li + li {
  border-left: 1px solid #e2e2e2;
}
div#fd.eb .eb-comments-tab > li.active a {
  font-weight: bold;
  background: #fafafa;
}
div#fd.eb .eb-comments-tab > li.active a:hover,
div#fd.eb .eb-comments-tab > li.active a:focus {
  border: 0;
  outline: none;
}
div#fd.eb .eb-comments-tab > li a {
  display: block;
  text-align: center;
  white-space: nowrap;
  color: inherit;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
div#fd.eb .eb-comments-tab > li a:hover {
  background: #fafafa;
}
div#fd.eb .eb-comments-tab-content .eb-comments {
  margin-top: 0;
}
div#fd.eb .eb-comments,
div#fd.eb .eb-comments-reply {
  margin-top: 20px;
  position: relative;
}
div#fd.eb .eb-comments-empty {
  background: #fafafa;
  border: 1px dashed #ddd;
  border-radius: 3px;
  text-align: center;
  color: #666;
  padding: 20px 10px;
}
div#fd.eb .eb-comments-empty .fa {
  display: block;
  font-size: 50px;
  margin: 0 0 20px;
}
div#fd.eb .eb-comment + .eb-comment {
  margin-top: 30px;
}
div#fd.eb .eb-comment.is-moderated {
  border: 1px dashed #ccc;
  color: #666;
}
div#fd.eb .eb-comment.is-moderated .under-moderation {
  border-bottom: 1px dashed #ccc;
  border-radius: 0;
  margin-bottom: 5px;
  padding: 10px 5px;
}
div#fd.eb .eb-comment.is-child .eb-avatar img {
  width: 35px;
  height: 35px;
}
div#fd.eb .eb-comment:hover .eb-comment-admin {
  visibility: visible;
}
div#fd.eb .eb-comment .under-moderation {
  padding: 5px;
  border-radius: 0;
}
div#fd.eb .eb-comment .eb-comment-form {
  margin: 15px 0;
}
div#fd.eb .eb-comment .eb-comment-editor {
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 3px;
  padding: 0 15px 15px;
  margin: 15px 0 0;
  overflow: hidden;
  clear: both;
}
div#fd.eb .eb-comment .eb-comment-editor .markItUpHeader {
  border-radius: 2px 2px 0 0;
}
div#fd.eb .eb-comment .eb-comment-editor-actions {
  padding-top: 15px;
}
div#fd.eb .eb-comment .cell-avatar {
  padding-right: 15px;
}
div#fd.eb .eb-comment .fa-heart {
  width: 18px;
  text-align: center;
  opacity: .5;
  filter: alpha(opacity=50);
}
div#fd.eb .eb-comment-admin {
  visibility: hidden;
}
div#fd.eb .eb-comment-admin .dropdown-toggle_ {
  cursor: pointer;
}
div#fd.eb .eb-comment-admin .dropdown-toggle_ i {
  vertical-align: middle;
}
div#fd.eb .eb-comment-admin .dropdown-toggle_ i + i {
  font-size: 70%;
  opacity: .5;
  filter: alpha(opacity=50);
}
div#fd.eb .eb-comment-admin .dropdown-menu {
  border-radius: 2px;
  left: auto;
  right: 0;
}
div#fd.eb .eb-comment-admin .dropdown-menu a {
  padding: 5px 15px;
}
div#fd.eb .eb-comment-admin .dropdown-menu a:hover {
  background: #e5e5e5;
}
div#fd.eb .eb-comment-admin .dropdown-menu a i {
  font-size: 14px;
  opacity: .5;
  filter: alpha(opacity=50);
  width: 20px;
}
div#fd.eb .eb-comment-head {
  line-height: 1;
}
div#fd.eb .eb-comment-head a {
  font-weight: bold;
}
div#fd.eb .eb-composer-author {
  margin: 0 0 15px;
}
div#fd.eb .eb-composer-author .eb-avatar img {
  margin-right: 7.5px;
}
div#fd.eb .eb-comment-body {
  margin: 5px 0;
}
div#fd.eb .eb-comment-foot {
  line-height: 1;
  margin-top: 10px;
  overflow: hidden;
}
div#fd.eb .eb-comment-foot span {
  float: left;
  position: relative;
}
div#fd.eb .eb-comment-foot span + span {
  padding: 0 0 0 10px;
  margin: 0 0 0 7px;
}
div#fd.eb .eb-comment-foot span + span:before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: #e2e2e2;
  margin-top: -1.5px;
  top: 50%;
  left: 0;
  border-radius: 50%;
}
div#fd.eb .eb-comment-foot span > a {
  color: inherit;
}
div#fd.eb .is-like .eb-comment-heart .fa-heart {
  color: #e91e63;
  opacity: 1;
  filter: alpha(opacity=100);
}
div#fd.eb .is-like .unlike-comment {
  display: inline-block;
}
div#fd.eb .is-like .like-comment {
  display: none;
}
div#fd.eb .unlike-comment {
  display: none;
}
div#fd.eb .eb-comment-form {
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 20px;
  border-radius: 3px;
}
div#fd.eb .eb-comment-form + .eb-comment {
  margin-top: 40px;
}
div#fd.eb .eb-comment-form .form-composer {
  margin: 0 -15px;
}
div#fd.eb .eb-comment-form .form-group {
  display: table;
  width: 100%;
  margin: 7.5px 0;
}
div#fd.eb .eb-comment-form .form-control {
  margin: 0;
}
div#fd.eb .eb-comment-form .cell-half {
  width: 50%;
  padding: 0 3.75px 0 0;
}
div#fd.eb .eb-comment-form .cell-half + .cell-half {
  padding: 0 0 0 3.75px;
}
div#fd.eb .eb-comment-editor .markItUpContainer {
  background: none;
  border: 0;
  padding: 0;
  margin: 0 -15px;
}
div#fd.eb .eb-comment-editor .markItUpContainer .markItUpExpanding .markItUpEditor {
  border-radius: 0;
  border: 0;
  border-top: 1px solid #ddd;
  padding: 10px 15px;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
div#fd.eb .eb-comment-editor .markItUpHeader {
  background: #fafafa;
  border-top: 1px solid #ddd;
  padding: 2px 15px 6px !important;
}
div#fd.eb .eb-comment-editor .markItUpHeader ul > li >a {
  background-color: #fafafa !important;
}
div#fd.eb .eb-comment-editor .markItUpHeader ul > li >a:hover {
  background-color: #fff !important;
}
div#fd.eb .eb-comment-editor .markItUpHeader ul > li.markItUpSeparator {
  background: #ddd !important;
  color: #ddd !important;
}
div#fd.eb .eb-comment-editor .markItUpFooter {
  background: #f2f2f2;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 20px;
}
div#fd.eb .eb-comment-editor .markItUpFooter .markItUpResizeHandle {
  cursor: n-resize;
  color: #aaa;
  display: block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#fd.eb .eb-comment-editor .markItUpFooter .markItUpResizeHandle:before {
  content: "\f0c9";
}
div#fd.eb .eb-comment-avatar {
  display: inline-block;
  margin-bottom: 10px;
}
div#fd.eb .eb-comment-notice.alert {
  border: 0;
  border-radius: 0;
  border-left: 0;
  border-top: 0;
  margin: 0 -15px;
  padding: 15px 20px;
  text-shadow: none;
}
div#fd.eb .eb-comment-captcha,
div#fd.eb .eb-comment-recaptcha {
  background: #fafafa;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 7.5px 15px;
  margin: 7.5px -15px;
}
div#fd.eb .eb-comment-captcha-form {
  display: table;
  float: left;
  width: 1%;
  margin: 0 5px 0 0;
}
div#fd.eb .eb-comment-captcha-form > div {
  display: table-cell;
  vertical-align: middle;
}
div#fd.eb .eb-comment-captcha-form > div + div a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
div#fd.eb .eb-comment-captcha-form img {
  max-width: none !important;
  width: auto !important;
}
div#fd.eb .eb-comment-captcha-img {
  background: #ddd;
  border-radius: 3px 0 0 3px;
  padding: 0 10px;
  width: 1%;
}
div#fd.eb .eb-comment-captcha-input {
  width: 100px;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}
div#fd.eb .eb-comment-recaptcha .table-responsive {
  margin: 0;
}
div#fd.eb.w480 .eb-comment-editor .form-group > [class*="col-"] + [class*="col-"] {
  margin-top: 10px;
}
div#fd.eb.w480 .eb-comment-editor .form-control,
div#fd.eb.w480 .eb-comment-editor .form-control.textarea {
  font-size: 16px;
}
div#fd.eb.w480 .eb-composer-author .pull-right {
  float: none !important;
}
