div#fd.eb .eb-checkbox,
div#fd.eb .eb-radio {
  padding-left: 20px;
}
div#fd.eb .eb-checkbox label,
div#fd.eb .eb-radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  vertical-align: top;
  line-height: 16px;
  font-weight: normal;
  font-family: inherit;
}
div#fd.eb .eb-checkbox label:before,
div#fd.eb .eb-checkbox label:after,
div#fd.eb .eb-radio label:before,
div#fd.eb .eb-radio label:after {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  color: #555;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-left: -20px;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: -1px;
  text-align: center;
}
div#fd.eb .eb-checkbox label:after,
div#fd.eb .eb-radio label:after {
  background: none;
  border: 0;
}
div#fd.eb .eb-checkbox > input,
div#fd.eb .eb-radio > input {
  display: none !important;
}
div#fd.eb .eb-checkbox input[type="checkbox"]:checked + label:before {
  border-color: #bfbfbf;
}
div#fd.eb .eb-checkbox input[type="checkbox"]:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
div#fd.eb .eb-checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
div#fd.eb .eb-checkbox input[type="checkbox"]:disabled + label:before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
div#fd.eb .eb-checkbox.checkbox-inline {
  margin-top: 0;
}
div#fd.eb .eb-checkbox.checkbox-only {
  margin: 0;
  padding-left: 0;
  width: 16px;
  height: 16px;
  min-height: 0;
}
div#fd.eb .eb-checkbox.checkbox-only label {
  padding-left: 0;
}
div#fd.eb .eb-checkbox.checkbox-only label:before,
div#fd.eb .eb-checkbox.checkbox-only label:after {
  margin-left: 0;
}
div#fd.eb .eb-radio label:before {
  border-radius: 50%;
  -webkit-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
div#fd.eb .eb-radio label:after {
  border: 0;
  width: 8px;
  height: 8px;
  left: 4px;
  top: 3px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0,0);
  -ms-transform: scale(0,0);
  transform: scale(0,0);
  -webkit-transition: -webkit-transform .1s cubic-bezier(.8,-0.33,.2,1.33);
  -moz-transition: -moz-transform .1s cubic-bezier(.8,-0.33,.2,1.33);
  -o-transition: -o-transform .1s cubic-bezier(.8,-0.33,.2,1.33);
  transition: transform .1s cubic-bezier(.8,-0.33,.2,1.33);
}
div#fd.eb .eb-radio input[type="radio"]:checked + label:before {
  border-color: #bfbfbf;
}
div#fd.eb .eb-radio input[type="radio"]:checked + label:after {
  -webkit-transform: scale(1,1);
  -ms-transform: scale(1,1);
  transform: scale(1,1);
}
div#fd.eb .eb-radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
div#fd.eb .eb-radio input[type="radio"]:disabled + label:before {
  cursor: not-allowed;
}
div#fd.eb .eb-radio.radio-inline {
  margin-top: 0;
}
div#fd.eb .markItUp {
  width: 100%;
  margin: 0;
  border: 0px solid transparent;
}
div#fd.eb .markItUp .markItUpContainer {
  background: #f4f4f4;
  padding: 3px 10px 5px 10px;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  min-height: 180px;
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader {
  display: inline-block;
  width: 100%;
  padding: 2px 4px 6px;
  border-bottom: 0;
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-bold a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/bold.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-italic a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/italic.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-underline a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/underline.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-code a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/code.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-files a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/folder.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-url a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/link.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-picture a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/picture.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-video a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/video.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-bullet a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/list-bullet.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-numeric a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/list-numeric.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-list a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/list-item.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-quote a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/quotes.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-clean a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/clean.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-happy a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/emoticon-happy.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-smile a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/emoticon-smile.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-surprised a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/emoticon-surprised.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-tongue a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/emoticon-tongue.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-unhappy a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/emoticon-unhappy.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader .markitup-wink a {
  background-image: url('../../../../../media/foundry/5.0/styles/markitup/images/emoticon-wink.png');
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader ul {
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader ul >li {
  display: inline-block;
  margin-right: 4px;
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader ul >li >a {
  background-repeat: no-repeat;
  display: block;
  height: 24px;
  margin: 0;
  padding: 3px;
  text-indent: -10000px;
  width: 24px;
  background-position: center;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 0;
  background-color: #f4f4f4;
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader ul >li >a:hover {
  border: 1px solid #d7d7d7;
  background-color: #fff;
}
div#fd.eb .markItUp .markItUpContainer .markItUpHeader ul .markItUpSeparator {
  position: relative;
  top: 8px;
  background-color: #e5e5e5;
  color: #ebebeb;
  width: 1px;
  height: 16px;
  overflow: hidden;
}
div#fd.eb .markItUp .markItUpContainer .markItUpExpanding .markItUpEditor {
  padding: 5px;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  font-size: 12px;
  width: 100%;
  min-height: 120px;
}
div#fd.eb .eb-template {
  display: none;
}
div#fd.eb .dropdown_ {
  position: relative;
}
div#fd.eb .eb-hint {
  display: table;
  text-align: center;
}
div#fd.eb .eb-hint.layout-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
div#fd.eb .eb-hint > div {
  display: table-cell;
  vertical-align: middle;
}
div#fd.eb .eb-hint-icon {
  display: block;
  font-size: 36px;
  margin-bottom: 6.6666666666667px;
}
div#fd.eb .eb-hint-text {
  display: block;
  padding: 0 20px;
  word-wrap: break-word;
}
div#fd.eb .eb-hint.style-gray .eb-hint-icon {
  color: #888;
  text-shadow: 1px 1px 0px #fff;
}
div#fd.eb .eb-hint.style-gray .eb-hint-text {
  color: #888;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 0px #fff;
}
div#fd.eb .eb-hint.size-sm .eb-hint-icon {
  font-size: 16px;
  margin-bottom: 5px;
}
div#fd.eb .eb-hint.size-sm .eb-hint-text {
  font-size: 12px;
}
div#fd.eb.eb-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 99999;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0;
  background: transparent;
}
div#fd.eb.eb-dialog.active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
div#fd.eb.eb-dialog.is-loading {
  -webkit-transition: none;
  transition: none;
}
div#fd.eb.eb-dialog.is-loading .hint-loading {
  display: table;
}
div#fd.eb.eb-dialog.is-failed .hint-failed {
  display: table;
}
div#fd.eb.eb-dialog .eb-hint {
  display: none;
  background: #fff;
}
div#fd.eb .eb-dialog-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  max-width: 100%;
  max-height: 100%;
  min-width: 320px;
  min-height: 170px;
}
div#fd.eb.eb-dialog.has-footer .eb-dialog-modal {
  min-height: 220px;
}
div#fd.eb .eb-dialog-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  background: #fafafa;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 6.6666666666667px;
  border-radius: 3px 3px 0 0;
}
div#fd.eb .eb-dialog-header > .row-table {
  height: 100%;
}
div#fd.eb .eb-dialog-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  display: none;
  background: #fafafa;
  border: 1px solid #ccc;
  border-top: none;
  padding: 6.6666666666667px;
  border-radius: 0 0 3px 3px;
}
div#fd.eb .eb-dialog-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-top: 50px solid transparent;
  border-bottom: 0;
}
div#fd.eb .eb-dialog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
}
div#fd.eb.is-loading .eb-dialog-container {
  overflow: hidden;
}
div#fd.eb.eb-dialog.has-footer .eb-dialog-body {
  border-bottom: 50px solid transparent;
}
div#fd.eb.eb-dialog.has-footer .eb-dialog-container {
  border-radius: 0;
}
div#fd.eb.eb-dialog.has-footer .eb-dialog-footer {
  display: block;
}
div#fd.eb .eb-dialog-title {
  font-size: 14px;
  font-weight: bold;
}
div#fd.eb .eb-dialog-close-button {
  color: #bbb;
  font-size: 14px;
  cursor: pointer;
}
div#fd.eb .eb-dialog-close-button:hover {
  color: #888;
}
div#fd.eb .eb-dialog-close-button i {
  padding: 0 3.3333333333333px 0 6.6666666666667px;
}
div#fd.eb .eb-dialog-content {
  position: relative;
  padding: 6.6666666666667px;
}
div#fd.eb .eb-dialog-content * {
  font-size: 12px;
}
div#fd.eb .eb-dialog-content .checkbox,
div#fd.eb .eb-dialog-content .radio {
  margin: 0;
}
div#fd.eb .eb-dialog-content .control-label {
  width: 125px;
  text-align: right;
  padding: 0 5px;
}
div#fd.eb .eb-dialog-content .form-control {
  margin: 0;
}
div#fd.eb .eb-dialog-content .form-group {
  display: table;
  width: 100%;
  margin: 0;
}
div#fd.eb .eb-dialog-content .form-group + .form-group {
  margin-top: 10px;
}
div#fd.eb .eb-dialog-content .form-group > label:after {
  color: #999;
  content: ':';
  margin: 0 0 0 5px;
}
div#fd.eb .eb-dialog-footer-content {
  text-align: right;
}
div#fd.eb .eb-dialog-error-message {
  display: block;
  font-weight: normal;
}
div#fd.eb.eb-dialog.type-iframe .eb-dialog-container {
  overflow: hidden;
}
div#fd.eb.eb-dialog.type-iframe .eb-dialog-content {
  width: 100%;
  height: 100%;
  padding: 0;
}
div#fd.eb.eb-dialog.type-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
div#fd.eb .eb-loader-o {
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
div#fd.eb .eb-loader-o.size-md {
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
}
div#fd.eb .eb-loader-o.size-md:before,
div#fd.eb .eb-loader-o.size-md:after {
  border-width: 6px;
}
div#fd.eb .eb-loader-o.size-lg {
  width: 30px;
  height: 30px;
  top: 15px;
  left: 15px;
}
div#fd.eb .eb-loader-o.size-lg:before,
div#fd.eb .eb-loader-o.size-lg:after {
  border-width: 8px;
}
div#fd.eb .eb-loader-o:before,
div#fd.eb .eb-loader-o:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 500rem;
  border: 5px solid rgba(0,0,0,0.1);
}
div#fd.eb .eb-loader-o:after {
  -webkit-animation: loader 0.6s linear;
  animation: loader 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-color: rgba(0,0,0,0.1) transparent transparent;
  box-shadow: 0px 0px 0px 1px transparent;
}
div#fd.eb .eb-loader-o.indeterminate:after {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
div#fd.eb .eb-loader-o.active,
div#fd.eb .eb-loader-o.visible {
  display: block;
}
div#fd.eb .eb-loader-o.disabled,
div#fd.eb .eb-loader-o.hidden {
  display: none;
}
@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
div#fd.eb.eb-composer-launcher {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 99991;
}
div#fd.eb.eb-composer-launcher .eb-loader-o {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  margin-left: -15px;
  margin-right: -15px;
  display: none;
  z-index: 3;
}
div#fd.eb.eb-composer-launcher.is-loading .eb-loader-o {
  display: block;
}
div#fd.eb.eb-composer-launcher.active .eb-composer-launcher-container {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
div#fd.eb .eb-composer-launcher-header {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  z-index: 2;
}
div#fd.eb .eb-composer-launcher-close-button {
  cursor: pointer;
  display: inline-block;
}
div#fd.eb .eb-composer-launcher-close-button i {
  background: #c00;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin: 5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
div#fd.eb .eb-composer-launcher-close-button i:before,
div#fd.eb .eb-composer-launcher-close-button i:after {
  background: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
}
div#fd.eb .eb-composer-launcher-close-button i:before {
  width: 16px;
  height: 2px;
  margin: -1px 0 0 -8px;
}
div#fd.eb .eb-composer-launcher-close-button i:after {
  height: 16px;
  width: 2px;
  margin: -8px 0 0 -1px;
}
div#fd.eb .eb-composer-launcher-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 20px solid transparent;
  z-index: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
@media (max-width: 640px) {
  div#fd.eb .eb-composer-launcher-container {
    border-width: 0;
  }
}
div#fd.eb .eb-composer-launcher-instance {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  background: #fff;
  -webkit-box-shadow: 0 0 24px rgba(0,0,0,0.5);
  box-shadow: 0 0 24px rgba(0,0,0,0.5);
}
div#fd.eb.eb-image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 99992;
}
div#fd.eb.eb-image-popup .eb-loader-o {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  margin-left: -15px;
  margin-right: -15px;
  display: none;
  z-index: 3;
}
div#fd.eb.eb-image-popup.is-loading .eb-loader-o {
  display: block;
}
div#fd.eb.eb-image-popup.is-loading .eb-image {
  -webkit-transition: none;
  transition: none;
  opacity: 0;
}
div#fd.eb.eb-image-popup.active .eb-image-popup-container {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
div#fd.eb.eb-image-popup.is-preparing .eb-image {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0;
}
div#fd.eb.eb-image-popup .eb-image {
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
div#fd.eb.eb-image-popup .eb-image-caption > span {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px #000;
}
div#fd.eb .eb-image-popup-header {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  z-index: 2;
}
div#fd.eb .eb-image-popup-close-button {
  padding: 16px;
  cursor: pointer;
}
div#fd.eb .eb-image-popup-close-button i {
  font-size: 0;
}
div#fd.eb .eb-image-popup-close-button i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
div#fd.eb .eb-image-popup-close-button i:before,
div#fd.eb .eb-image-popup-close-button i:after {
  background: #fff;
  border-radius: 2px;
  content: '';
  display: block;
  position: absolute;
}
div#fd.eb .eb-image-popup-close-button i:before {
  width: 2px;
  height: 20px;
  left: 50%;
  margin-left: -1px;
}
div#fd.eb .eb-image-popup-close-button i:after {
  width: 20px;
  height: 2px;
  top: 50%;
  margin-top: -1px;
}
div#fd.eb .eb-image-popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: left;
}
div#fd.eb .eb-image-popup-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 2;
  display: none;
  direction: ltr;
}
div#fd.eb .eb-image-popup-thumbs {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
div#fd.eb .eb-image-popup-thumbs:before,
div#fd.eb .eb-image-popup-thumbs:after {
  content: " ";
  display: table;
}
div#fd.eb .eb-image-popup-thumbs:after {
  clear: both;
}
div#fd.eb .eb-image-popup-thumb {
  width: 120px;
  height: 100px;
  display: table;
  float: left;
  cursor: pointer;
}
div#fd.eb .eb-image-popup-thumb div {
  display: table-cell;
  vertical-align: middle;
}
div#fd.eb .eb-image-popup-thumb img {
  max-width: 120px;
  max-height: 100px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
div#fd.eb .eb-image-popup-thumb.active img,
div#fd.eb .eb-image-popup-thumb:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
div#fd.eb .eb-image-popup-thumb.active img {
  border: 7.5px solid #fff;
}
div#fd.eb .eb-pager {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #666;
  margin-top: 30px;
  overflow: hidden;
}
div#fd.eb .eb-pager a {
  cursor: pointer;
}
div#fd.eb .eb-pager .fa-chevron-left {
  margin-right: 3px;
}
div#fd.eb .eb-pager .fa-chevron-right {
  margin-left: 3px;
}
div#fd.eb .eb-pager > a {
  float: left;
  min-width: 100px;
}
div#fd.eb .eb-pager > a + a {
  float: right;
}
div#fd.eb .eb-pager > a,
div#fd.eb .eb-pager > div {
  border: 0;
  color: inherit;
  font-weight: bold;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
}
div#fd.eb .eb-pager > a.disabled,
div#fd.eb .eb-pager > div.disabled {
  color: #999;
}
div#fd.eb .eb-pager > div {
  text-align: center;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  white-space: nowrap;
}
div#fd.eb .eb-pager > div a {
  color: #999;
  margin: 0 3px;
}
div#fd.eb .eb-pager > div a.active {
  color: inherit;
}
div#fd.eb .eb-pager.w320 > a {
  width: 50%;
  border-bottom: 1px solid #e7e7e7;
}
div#fd.eb .eb-pager.w320 > div {
  border-left: 0;
  border-right: 0;
}
div#fd.eb.tooltip {
  background: none;
  border: 0;
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
div#fd.eb.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
div#fd.eb.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
div#fd.eb.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
div#fd.eb.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
div#fd.eb.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
div#fd.eb.tooltip .tooltip-inner {
  max-width: 200px;
  padding: 4px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
div#fd.eb.tooltip .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
div#fd.eb.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
div#fd.eb.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
div#fd.eb.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
div#fd.eb.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
