div#fd.eb.is-rtl {
  direction: rtl;
  text-align: right;
}
div#fd.eb.is-rtl .input-group .form-control:first-child,
div#fd.eb.is-rtl .input-group-addon:first-child,
div#fd.eb.is-rtl .input-group-btn:first-child > .btn,
div#fd.eb.is-rtl .input-group-btn:first-child > .dropdown-toggle_,
div#fd.eb.is-rtl .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle_) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
}
div#fd.eb.is-rtl .input-group .form-control:last-child,
div#fd.eb.is-rtl .input-group-addon:last-child,
div#fd.eb.is-rtl .input-group-btn:last-child > .btn,
div#fd.eb.is-rtl .input-group-btn:last-child > .dropdown-toggle_,
div#fd.eb.is-rtl .input-group-btn:first-child > .btn:not(:first-child) {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
}
div#fd.eb.is-rtl .eb-pill-group {
  border-left: 5px solid transparent;
  border-right: 0;
}
div#fd.eb.is-rtl .eb-pill-group:last-child {
  border-left: 0;
}
div#fd.eb.is-rtl .pl-10 {
  padding-left: 0 !important;
  padding-right: 10px !important;
}
div#fd.eb.is-rtl .pull-left {
  float: right !important;
}
div#fd.eb.is-rtl .pull-right {
  float: left !important;
}
@media (min-width: 1200px) {
  div#fd.eb.is-rtl .col-lg-1,
  div#fd.eb.is-rtl .col-lg-2,
  div#fd.eb.is-rtl .col-lg-3,
  div#fd.eb.is-rtl .col-lg-4,
  div#fd.eb.is-rtl .col-lg-5,
  div#fd.eb.is-rtl .col-lg-6,
  div#fd.eb.is-rtl .col-lg-7,
  div#fd.eb.is-rtl .col-lg-8,
  div#fd.eb.is-rtl .col-lg-9,
  div#fd.eb.is-rtl .col-lg-10,
  div#fd.eb.is-rtl .col-lg-11,
  div#fd.eb.is-rtl .col-lg-12 {
    float: right;
  }
}
@media (min-width: 992px) {
  div#fd.eb.is-rtl .col-md-1,
  div#fd.eb.is-rtl .col-md-2,
  div#fd.eb.is-rtl .col-md-3,
  div#fd.eb.is-rtl .col-md-4,
  div#fd.eb.is-rtl .col-md-5,
  div#fd.eb.is-rtl .col-md-6,
  div#fd.eb.is-rtl .col-md-7,
  div#fd.eb.is-rtl .col-md-8,
  div#fd.eb.is-rtl .col-md-9,
  div#fd.eb.is-rtl .col-md-10,
  div#fd.eb.is-rtl .col-md-11,
  div#fd.eb.is-rtl .col-md-12 {
    float: right;
  }
}
@media (min-width: 768px) {
  div#fd.eb.is-rtl .col-sm-1,
  div#fd.eb.is-rtl .col-sm-2,
  div#fd.eb.is-rtl .col-sm-3,
  div#fd.eb.is-rtl .col-sm-4,
  div#fd.eb.is-rtl .col-sm-5,
  div#fd.eb.is-rtl .col-sm-6,
  div#fd.eb.is-rtl .col-sm-7,
  div#fd.eb.is-rtl .col-sm-8,
  div#fd.eb.is-rtl .col-sm-9,
  div#fd.eb.is-rtl .col-sm-10,
  div#fd.eb.is-rtl .col-sm-11,
  div#fd.eb.is-rtl .col-sm-12 {
    float: right;
  }
}
div#fd.eb.is-rtl .col-xs-1,
div#fd.eb.is-rtl .col-xs-2,
div#fd.eb.is-rtl .col-xs-3,
div#fd.eb.is-rtl .col-xs-4,
div#fd.eb.is-rtl .col-xs-5,
div#fd.eb.is-rtl .col-xs-6,
div#fd.eb.is-rtl .col-xs-7,
div#fd.eb.is-rtl .col-xs-8,
div#fd.eb.is-rtl .col-xs-9,
div#fd.eb.is-rtl .col-xs-10,
div#fd.eb.is-rtl .col-xs-11,
div#fd.eb.is-rtl .col-xs-12 {
  float: right;
}
div#fd.eb.is-rtl .fa-angle-left:before {
  content: "\f105";
}
div#fd.eb.is-rtl .fa-angle-right:before {
  content: "\f104";
}
div#fd.eb.is-rtl .fa-chevron-right:before {
  content: "\f053";
}
div#fd.eb.is-rtl .fa-chevron-left:before {
  content: "\f054";
}
div#fd.eb.is-rtl .eb-composer-frame {
  direction: rtl;
  text-align: right;
}
div#fd.eb.is-rtl .template {
  float: right;
}
div#fd.eb.is-rtl .eb-composer-panel-tab {
  border-left: 1px solid #ccc;
  border-right: 0;
}
div#fd.eb.is-rtl .eb-composer-panel-tab:last-child {
  border-left: 0;
}
div#fd.eb.is-rtl .eb-composer-panel-tab span {
  margin-left: 0;
  margin-right: 5px;
}
div#fd.eb.is-rtl .eb-composer-fieldset-header > small {
  right: auto;
  left: 0;
}
div#fd.eb.is-rtl .eb-composer-field-label {
  text-align: right;
}
div#fd.eb.is-rtl .eb-composer-field .btn-group-yesno {
  float: right;
}
div#fd.eb.is-rtl .eb-composer-fieldset-toggle {
  left: auto;
  right: -22px;
}
div#fd.eb.is-rtl .ebd-workarea {
  direction: rtl;
}
div#fd.eb.is-rtl .eb-sub-author-details {
  margin-left: 50px;
  margin-right: 0;
}
div#fd.eb.is-rtl .eb-sub-author .cell-avatar {
  padding-right: 0;
  padding-left: 10px;
}
div#fd.eb.is-rtl ul.eb-action-pick-tabs > li + li {
  border-left: 0;
  border-right: 1px solid #ccc;
}
div#fd.eb.is-rtl .eb-composer-pick-item .avatar {
  margin: 0 0 0 10px;
}
div#fd.eb.is-rtl .eb-composer-pick-item .radio {
  padding: 0;
  margin: 0;
}
div#fd.eb.is-rtl .eb-composer-pick-item .radio label {
  padding: 10px 40px 10px 10px;
}
div#fd.eb.is-rtl .eb-composer-pick-item .radio label:before,
div#fd.eb.is-rtl .eb-composer-pick-item .radio label:after {
  margin-right: 15px;
  margin-left: auto;
}
div#fd.eb.is-rtl .eb-composer-pick-form > div + div {
  padding-left: 0;
  padding-right: 10px;
}
div#fd.eb.is-rtl .eb-composer-category-item > b {
  left: auto;
  right: 0;
  padding-left: 0;
  padding-right: 10px;
}
div#fd.eb.is-rtl .eb-composer-category-item {
  padding: 6px 40px 6px 60px;
}
div#fd.eb.is-rtl .eb-composer-category-item-count {
  left: 10px;
  right: auto;
}
div#fd.eb.is-rtl .eb-composer-category-item-count i {
  margin-left: 0;
  margin-right: 5px;
}
div#fd.eb.is-rtl .eb-composer-category-item-group-header i {
  left: auto;
  right: 0;
}
div#fd.eb.is-rtl .eb-composer-category-search-textfield {
  padding-right: 24px;
  padding-left: 0;
}
div#fd.eb.is-rtl .eb-composer-category-search i {
  left: auto;
  right: 12px;
}
div#fd.eb.is-rtl .eb-composer-textboxlist .textboxlist-textField {
  float: right;
}
div#fd.eb.is-rtl .eb-composer-tags-toggle {
  right: 0;
  left: auto;
}
div#fd.eb.is-rtl .eb-list-item:before {
  left: 15px;
  right: auto;
}
div#fd.eb.is-rtl .eb-font .eb-tabs-menu-item {
  text-align: right;
}
div#fd.eb.is-rtl .eb-pill-item + .eb-pill-item {
  border-left: 0;
  border-right: 1px solid #ddd;
}
div#fd.eb.is-rtl .eb-composer-fieldrow-label {
  padding-right: 0;
  padding-left: 8px;
}
div#fd.eb.is-rtl .eb-mm-variation-item i {
  float: right;
  margin-left: 0;
  margin-right: -15px;
}
div#fd.eb.is-rtl .eb-mm-variation-item span {
  padding-right: 0;
  padding-left: 72px;
  margin-left: 0;
  margin-right: 7.5px;
}
div#fd.eb.is-rtl .eb-mm-variation-item small {
  right: auto;
  left: 0;
}
div#fd.eb.is-rtl .eb-composer-toolbar > div,
div#fd.eb.is-rtl .eb-composer-pilot {
  left: 45px;
  right: 30px;
}
div#fd.eb.is-rtl .eb-composer-toolbar-item i + span {
  margin-left: 0;
  margin-right: 5px;
}
div#fd.eb.is-rtl .toolbar-left .eb-composer-toolbar-item.is-button {
  border-left: 1px solid rgba(0,0,0,0.15);
  border-right: 0;
}
div#fd.eb.is-rtl .toolbar-right .eb-composer-toolbar-item.is-button {
  border-right: 1px solid rgba(0,0,0,0.15);
  border-left: 0;
}
div#fd.eb.is-rtl .eb-composer-location-form > i {
  left: auto;
  right: 0;
}
div#fd.eb.is-rtl .eb-composer-location-textfield {
  padding-left: 15px;
  padding-right: 32px;
}
div#fd.eb.is-rtl .eb-mm-place i {
  float: right;
}
div#fd.eb.is-rtl .eb-mm-place b {
  float: left;
}
div#fd.eb.is-rtl .eb-mm-filegroup .fa-angle-up {
  right: auto;
  left: 15px;
}
div#fd.eb.is-rtl .eb-mm-filelist.view-tile .eb-mm-file {
  float: right;
}
div#fd.eb.is-rtl .ebd-block-content {
  direction: rtl;
}
