div#fd.eb.is-rtl {
  direction: rtl;
  text-align: right;
}
div#fd.eb.is-rtl .ml-5 {
  margin-left: 0 !important;
  margin-right: 5px;
}
div#fd.eb.is-rtl .mr-15 {
  margin-right: 0 !important;
  margin-left: 15px;
}
div#fd.eb.is-rtl .pull-left,
div#fd.eb.is-rtl .btn-toolbar .btn-group {
  float: right !important;
}
div#fd.eb.is-rtl .pull-right {
  float: left !important;
}
div#fd.eb.is-rtl .row-table-form .col-cell + .col-cell {
  padding: 0 5px 0 0;
}
@media (min-width: 1200px) {
  div#fd.eb.is-rtl .col-lg-1,
  div#fd.eb.is-rtl .col-lg-2,
  div#fd.eb.is-rtl .col-lg-3,
  div#fd.eb.is-rtl .col-lg-4,
  div#fd.eb.is-rtl .col-lg-5,
  div#fd.eb.is-rtl .col-lg-6,
  div#fd.eb.is-rtl .col-lg-7,
  div#fd.eb.is-rtl .col-lg-8,
  div#fd.eb.is-rtl .col-lg-9,
  div#fd.eb.is-rtl .col-lg-10,
  div#fd.eb.is-rtl .col-lg-11,
  div#fd.eb.is-rtl .col-lg-12 {
    float: right;
  }
}
@media (min-width: 992px) {
  div#fd.eb.is-rtl .col-md-1,
  div#fd.eb.is-rtl .col-md-2,
  div#fd.eb.is-rtl .col-md-3,
  div#fd.eb.is-rtl .col-md-4,
  div#fd.eb.is-rtl .col-md-5,
  div#fd.eb.is-rtl .col-md-6,
  div#fd.eb.is-rtl .col-md-7,
  div#fd.eb.is-rtl .col-md-8,
  div#fd.eb.is-rtl .col-md-9,
  div#fd.eb.is-rtl .col-md-10,
  div#fd.eb.is-rtl .col-md-11,
  div#fd.eb.is-rtl .col-md-12 {
    float: right;
  }
}
@media (min-width: 768px) {
  div#fd.eb.is-rtl .col-sm-1,
  div#fd.eb.is-rtl .col-sm-2,
  div#fd.eb.is-rtl .col-sm-3,
  div#fd.eb.is-rtl .col-sm-4,
  div#fd.eb.is-rtl .col-sm-5,
  div#fd.eb.is-rtl .col-sm-6,
  div#fd.eb.is-rtl .col-sm-7,
  div#fd.eb.is-rtl .col-sm-8,
  div#fd.eb.is-rtl .col-sm-9,
  div#fd.eb.is-rtl .col-sm-10,
  div#fd.eb.is-rtl .col-sm-11,
  div#fd.eb.is-rtl .col-sm-12 {
    float: right;
  }
}
div#fd.eb.is-rtl .eb-table-meta > span,
div#fd.eb.is-rtl .eb-table-relations > span {
  margin: 0;
}
div#fd.eb.is-rtl .eb-toolbar-dropdown {
  left: auto;
  right: -1px;
}
div#fd.eb.is-rtl .eb-toolbar-dropdown > li > a {
  text-align: right;
}
div#fd.eb.is-rtl .eb-toolbar > .col-cell:last-child .eb-toolbar-dropdown {
  left: -1px;
  right: auto;
}
div#fd.eb.is-rtl .eb-toolbar > .col-cell:last-child .eb-toolbar-dropdown > li > a {
  text-align: right;
}
div#fd.eb.is-rtl .eb-head-title {
  float: right !important;
  white-space: nowrap;
}
div#fd.eb.is-rtl .eb-quick-post .eb-quick-tabs > li + li {
  border-left: 0;
  border-right: 1px solid #ddd;
}
div#fd.eb.is-rtl.eb-view-dashboard  .input-group > .form-control {
  border-radius: 0 3px 3px 0;
}
div#fd.eb.is-rtl.eb-view-dashboard  .input-group .input-group-btn .btn {
  border-radius: 3px 0 0 3px;
}
div#fd.eb.is-rtl .eb-quick-actions {
  text-align: left;
}
div#fd.eb.is-rtl .eb-table-head .cell-check {
  padding: 0 0 0 20px;
}
div#fd.eb.is-rtl .eb-table-body .cell-check {
  border-right: 0;
  border-left: 1px solid #eee;
}
div#fd.eb.is-rtl .eb-table-body .cell-clear-right {
  padding-right: 20px !important;
  padding-left: 0;
}
div#fd.eb.is-rtl .eb-table-body > div > .cell-option .dropdown-menu {
  right: auto;
  left: 20px;
}
div#fd.eb.is-rtl .media > .pull-left {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
div#fd.eb.is-rtl .form-horizontal .form-actions {
  padding-left: 20px;
  padding-right: 180px;
}
@media (min-width: 768px) {
  div#fd.eb.is-rtl .form-horizontal .control-label {
    text-align: left;
  }
}
