div#fd.eb .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
}
div#fd.eb .text-small {
  font-size: 11px !important;
}
div#fd.eb .control-label {
  font-weight: normal;
}
div#fd.eb .control-label:after {
  content: " :";
}
div#fd.eb .form-action {
  margin-top: 25px;
}
div#fd.eb .input-group.pull-left + .btn {
  margin-left: 5px;
}
div#fd.eb .alert .close {
  position: relative;
  right: 0;
  line-height: 14px;
  padding: 3px 0;
}
div#fd.eb .eb-toolbar {
  background: #282828;
  border: 1px solid #1b1b1b;
  border-radius: 3px 3px 0 0;
}
div#fd.eb .eb-toolbar + .eb-alert {
  margin: 0;
  border-radius: 0;
}
div#fd.eb .eb-toolbar > .col-cell {
  text-align: center;
  position: relative;
}
div#fd.eb .eb-toolbar > .col-cell:first-child,
div#fd.eb .eb-toolbar > .col-cell:last-child {
  width: 40px;
}
div#fd.eb .eb-toolbar > .col-cell:last-child .eb-toolbar-dropdown {
  right: -1px;
  left: auto;
}
div#fd.eb .eb-toolbar > .col-cell > a,
div#fd.eb .eb-toolbar > .col-cell > div,
div#fd.eb .eb-toolbar > .col-cell > div > a {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  min-width: 40px;
  text-align: center;
  color: #fff;
  position: relative;
}
div#fd.eb .eb-toolbar > .col-cell > .dropdown-backdrop {
  position: fixed;
}
div#fd.eb .eb-toolbar .fa {
  font-size: 14px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
div#fd.eb .eb-toolbar .fa-pencil {
  position: relative;
  text-indent: 3px;
}
div#fd.eb .eb-toolbar .fa-pencil:after {
  font-size: 8px;
  content: "\f067";
  position: absolute;
  left: -5px;
  top: -5px;
  color: #d9534f;
}
div#fd.eb .eb-toolbar-master > a {
  background: #3a3a3a;
  line-height: 32px !important;
  margin: 4px;
  border-radius: 3px;
}
div#fd.eb .eb-toolbar-dropdown {
  background: #282828;
  border: 1px solid #1b1b1b;
  border-radius: 3px;
  min-width: 200px;
  left: -1px;
  margin-top: 3px;
}
div#fd.eb .eb-toolbar-dropdown > li > a {
  color: #c1c1c1;
  padding: 0 15px;
  line-height: 32px;
  position: relative;
}
div#fd.eb .eb-toolbar-dropdown > li > a .fa {
  display: none;
}
div#fd.eb .eb-toolbar-dropdown > li > a:hover,
div#fd.eb .eb-toolbar-dropdown > li > a:focus {
  background: #353535;
  color: #fff;
}
div#fd.eb .eb-toolbar-dropdown > li > a b {
  background: #c00;
  border-radius: 2px;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
  line-height: 20px;
  height: 20px;
  display: inline-block;
  padding: 0 7px;
  font-size: 10px;
}
div#fd.eb .eb-toolbar-dropdown > .active > a {
  background: #3b3b3b !important;
  color: #fff !important;
}
div#fd.eb .eb-toolbar-dropdown > .divider {
  background: #1b1b1b;
  border: 0 !important;
}
div#fd.eb .eb-head {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-top: 0;
  padding: 25px 15px;
  margin-bottom: 25px;
  border-radius: 0 0 2px 2px;
}
div#fd.eb .eb-head:before,
div#fd.eb .eb-head:after {
  content: " ";
  display: table;
}
div#fd.eb .eb-head:after {
  clear: both;
}
div#fd.eb .eb-head-title {
  font-size: 18px;
  line-height: 30px;
  height: 30px;
  margin: 0;
}
div#fd.eb .eb-head-title > .fa {
  font-size: 14px;
  border: 2px solid #ddd;
  width: 30px;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  height: 30px;
  color: #888;
}
div#fd.eb .eb-head-popover {
  color: #bbb;
  text-decoration: none;
}
div#fd.eb .eb-head-popover:hover {
  color: #999;
}
div#fd.eb .eb-head-popover i {
  font-size: 14px;
  vertical-align: text-top;
}
div#fd.eb .fd-popover-content {
  font: 11px/1.35 'Lucida Grande', Tahoma, Arial, sans-serif;
  padding: 10px 15px;
}
div#fd.eb .eb-box {
  background: #fff;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  margin-top: 25px;
  border-radius: 2px;
  font-size: 12px;
}
div#fd.eb .eb-box.is-empty {
  display: block !important;
}
div#fd.eb .eb-box.empty {
  display: none;
  padding: 100px 0;
  font-size: 16px;
}
div#fd.eb .eb-box.empty >i {
  font-size: 64px;
  display: block;
  color: #666;
  margin-bottom: 30px;
}
div#fd.eb .eb-box-head {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
}
div#fd.eb .eb-box-body {
  padding: 20px;
}
div#fd.eb .eb-box-body.no-padding {
  padding: 0;
}
div#fd.eb .eb-box-body .form-group {
  margin: 0 -5px;
}
div#fd.eb .eb-box-body .form-group + .form-group {
  margin-top: 10px;
}
div#fd.eb .eb-box-body .form-group .control-label,
div#fd.eb .eb-box-body .form-group .control-label + div {
  padding-left: 5px;
  padding-right: 5px;
}
div#fd.eb .eb-box-lead {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  color: #999;
  display: block;
  padding: 10px 20px;
  margin: -20px -20px 20px;
}
div#fd.eb .eb-box-lead.notice {
  background: #ffd;
  color: #aaaa00;
}
div#fd.eb .eb-box-lead.notice .fa {
  color: #c4c400;
  font-size: 14px;
  margin-right: 5px;
}
div#fd.eb .eb-box-help {
  margin-top: 5px;
  font-size: 11px;
}
div#fd.eb .eb-box-tags:before,
div#fd.eb .eb-box-tags:after {
  content: " ";
  display: table;
}
div#fd.eb .eb-box-tags:after {
  clear: both;
}
div#fd.eb .eb-box-tag-remove {
  display: none;
  background: #fff;
  color: #f2765b;
  position: absolute;
  line-height: 32px;
  height: 32px;
  width: 32px;
  left: 0;
  top: 0;
  text-align: center;
}
div#fd.eb .eb-box-tag-link {
  color: inherit;
  text-decoration: none;
}
div#fd.eb .eb-box-tag-link:hover {
  text-decoration: underline;
}
div#fd.eb .eb-box-tag {
  background: #fff;
  color: #555;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 32px;
  padding: 0 10px 0 32px;
  margin: 3px 0;
  position: relative;
  overflow: hidden;
}
div#fd.eb .eb-box-tag > i {
  color: #aaa;
  position: absolute;
  line-height: 32px;
  height: 32px;
  width: 32px;
  left: 0;
  top: 0;
  text-align: center;
}
div#fd.eb .eb-box-tag > b {
  color: #bbb;
  font-weight: normal;
}
div#fd.eb .eb-box-tag:hover .eb-box-tag-remove {
  display: block;
}
div#fd.eb .eb-box-carousel-comments {
  line-height: 1.3;
}
div#fd.eb .eb-box-carousel-comments .carousel-indicators {
  width: auto;
  margin: 0;
  right: 0;
  bottom: auto;
  top: -30px;
  left: auto;
  text-align: right;
}
div#fd.eb .eb-box-carousel-comments .carousel-indicators > li {
  border: 1px solid #ddd;
  width: 10px !important;
  height: 10px !important;
  margin: 0;
  float: none;
}
div#fd.eb .eb-box-carousel-comments .carousel-indicators > li.active {
  background: #ddd;
}
div#fd.eb .eb-box-carousel-comments .media-content {
  line-height: 16px;
  height: 48px;
  overflow: hidden;
}
div#fd.eb .eb-box-pagination {
  width: 100%;
}
div#fd.eb .eb-stats-listing > div {
  overflow: hidden;
}
div#fd.eb .eb-stats-listing > div + div {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
div#fd.eb .eb-stats-listing > div > b {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
}
div#fd.eb .eb-stats-listing > div > b i {
  font-size: 14px;
}
div#fd.eb .eb-stats-listing > div > b a {
  color: inherit;
}
div#fd.eb .eb-stats-listing > div > span {
  margin: 0 0 0 10px;
  height: 20px;
  line-height: 20px;
}
div#fd.eb .eb-pager {
  margin-top: 25px;
}
div#fd.eb .eb-pager:before,
div#fd.eb .eb-pager:after {
  content: " ";
  display: table;
}
div#fd.eb .eb-pager:after {
  clear: both;
}
div#fd.eb .diff-html-added {
  background-color: #ccffcc;
}
div#fd.eb .diff-html-removed {
  background-color: #ffcccc;
  text-decoration: line-through;
}
div#fd.eb.w600 .eb-head-form {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  margin-top: 15px;
}
div#fd.eb.w600 .eb-head-form .input-group {
  width: auto !important;
}
@media (max-width: 990px) {
  div#fd.eb .eb-box-body .control-label {
    float: none !important;
    display: block;
    margin-bottom: 5px;
    width: auto;
    text-align: inherit;
  }
}
div#fd.eb .eb-quick-post {
  margin-top: 30px;
}
div#fd.eb .eb-quick-post .eb-quick-tabs {
  background: #fff;
  display: table;
  width: 100%;
  border: 1px solid #ddd;
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
}
div#fd.eb .eb-quick-post .eb-quick-tabs > li {
  display: table-cell;
  width: 1%;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
div#fd.eb .eb-quick-post .eb-quick-tabs > li + li {
  border-left: 1px solid #ddd;
}
div#fd.eb .eb-quick-post .eb-quick-tabs > li a {
  background: #f9f9f9;
  border-bottom: 4px solid #f0f0f0;
  display: block;
  color: #999;
  text-decoration: none !important;
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 11px;
}
div#fd.eb .eb-quick-post .eb-quick-tabs > li a:hover {
  background: #f5f5f5;
  border-color: #eaeaea;
}
div#fd.eb .eb-quick-post .eb-quick-tabs > li i {
  color: #777;
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
}
div#fd.eb .eb-quick-post .eb-quick-tabs > li.active {
  border-bottom: 0;
}
div#fd.eb .eb-quick-post .eb-quick-tabs > li.active a {
  background: #fff;
  border-bottom: 0;
}
div#fd.eb .eb-quick-post .eb-quick-tabs > li.active i {
  color: #444;
}
div#fd.eb .eb-quick-content {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 0;
  padding: 15px;
  border-radius: 0 0 2px 2px;
}
div#fd.eb .eb-quick-content .tab-pane {
  display: none;
}
div#fd.eb .eb-quick-content .tab-pane.active {
  display: block;
}
div#fd.eb .eb-quick-content .btn .eb-loader,
div#fd.eb .eb-quick-content .btn .eb-loader-font {
  margin: 0 0 0 5px;
}
div#fd.eb ul.eb-quick-photo-tab {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  margin: -15px -15px 20px;
  padding: 5px 0 0;
}
div#fd.eb ul.eb-quick-photo-tab li {
  float: left;
  width: 50%;
}
div#fd.eb ul.eb-quick-photo-tab li + li {
  border-left: 1px solid #ddd;
}
div#fd.eb ul.eb-quick-photo-tab li > a {
  border-bottom: 5px solid transparent;
  display: block;
  text-align: center;
  padding: 20px 0;
  color: #999;
  font-weight: bold;
  font-size: 12px;
}
div#fd.eb ul.eb-quick-photo-tab li.active > a {
  color: #555;
  border-bottom-color: #eaeaea;
}
div#fd.eb .eb-quick-photo-uploader {
  background: #f5f5f5;
  border: 2px dashed #ddd;
  text-align: center;
  color: #888;
}
div#fd.eb .eb-quick-photo-uploader .fa-photo {
  font-size: 60px;
  line-height: 60px;
  height: 60px;
  color: #ddd;
}
div#fd.eb .eb-quick-photo-uploader .fa-photo + div {
  margin-top: 10px;
}
div#fd.eb #input-drop-container {
  padding: 140px 0;
  cursor: pointer;
}
div#fd.eb .eb-quick-photo-uploader-preview {
  background: #f5f5f5;
  border: 2px dashed #ddd;
  text-align: center;
  padding: 15px;
}
div#fd.eb .eb-quick-photo-uploader-preview img {
  display: block;
  max-width: 100%;
}
div#fd.eb .eb-quick-photo-tab-content #dropzone div.plupload.html5 {
  position: absolute;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}
div#fd.eb .eb-quick-photo-camera {
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}
div#fd.eb #camera {
  text-align: center;
}
div#fd.eb .eb-quick-photo-camera-preview {
  text-align: center;
}
div#fd.eb .eb-quick-photo-uploader-reupload,
div#fd.eb .eb-quick-photo-camera-capture,
div#fd.eb .eb-quick-photo-camera-recapture {
  padding: 15px 0;
  font-size: 14px;
  font-weight: bold;
}
div#fd.eb .eb-quick-photo-uploader-reupload .fa,
div#fd.eb .eb-quick-photo-camera-capture .fa,
div#fd.eb .eb-quick-photo-camera-recapture .fa {
  margin: 0 5px 0 0;
  opacity: .7;
}
div#fd.eb .eb-quick-video .eb-quick-video-preview {
  display: none;
  text-align: center;
  background: none repeat scroll 0 0 #f5f5f5;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding: 40px 0;
}
div#fd.eb .eb-quick-video .eb-quick-video-preview.has-preview {
  display: block;
}
div#fd.eb .eb-quick-actions {
  text-align: right;
}
div#fd.eb .eb-quick-actions * {
  display: inline-block;
  vertical-align: middle;
}
div#fd.eb .eb-quick-autopost {
  border-right: 1px dotted #ccc;
  margin-right: 10px;
}
div#fd.eb .eb-quick-autopost label {
  margin: 0 10px 0 0;
  vertical-align: middle;
}
div#fd.eb .eb-quick-autopost label input {
  margin: 5px 5px 0 0;
  float: left;
}
div#fd.eb .eb-quick-autopost label .fa {
  font-size: 18px;
  color: #aaa;
}
div#fd.eb .eb-quick-autopost label.checked .fa-facebook-square {
  color: #4862a3;
}
div#fd.eb .eb-quick-autopost label.checked .fa-twitter-square {
  color: #3196E2;
}
div#fd.eb .eb-quick-autopost label.checked .fa-linkedin-square {
  color: #147dbd;
}
div#fd.eb .eb-table {
  color: #666;
}
div#fd.eb .eb-table .cell-check {
  width: 1px;
  padding: 0 20px 0 0;
}
div#fd.eb .eb-table .cell-check b {
  display: block;
  margin-top: 5px;
}
div#fd.eb .eb-table .cell-check .checkbox {
  width: 0;
}
div#fd.eb .eb-table .check-clear {
  padding: 0 !important;
  margin: 0 !important;
  float: none !important;
  display: inline-block;
}
div#fd.eb .eb-table .check-post-type {
  display: inline-block;
}
div#fd.eb .eb-table .check-post-type > i {
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
  font-size: 14px;
}
div#fd.eb .eb-table-head {
  background: #f9f9f9;
  padding: 10px 20px;
}
div#fd.eb .eb-table-head + .eb-table-body {
  border-top: 1px solid #ddd;
}
div#fd.eb .eb-table-body .cell-check {
  border-right: 1px solid #eee;
}
div#fd.eb .eb-table-body > div + div {
  border-top: 1px solid #e5e5e5;
}
div#fd.eb .eb-table-body > div > .col-cell {
  padding: 20px;
}
div#fd.eb .eb-table-body > div > .cell-check {
  width: 52px;
}
div#fd.eb .eb-table-body > div > .cell-avatar {
  width: 68px;
}
div#fd.eb .eb-table-body > div > .cell-bio b {
  font-size: 14px;
}
div#fd.eb .eb-table-body > div > .cell-bio div {
  font-size: 12px;
}
div#fd.eb .eb-table-body > div > .cell-action {
  width: 1%;
  white-space: nowrap;
  vertical-align: top;
}
div#fd.eb .eb-table-body > div > .cell-action .btn {
  font-weight: bold;
}
div#fd.eb .eb-table-body > div > .cell-thumb {
  width: 140px;
  padding-right: 0;
}
div#fd.eb .eb-table-body > div > .cell-thumb:last-child {
  padding-right: 20px;
}
div#fd.eb .eb-table-body > div > .cell-thumb img {
  border: 1px solid #ddd;
}
div#fd.eb .eb-table-body > div > .cell-option {
  width: 43px;
  font-size: 21px;
  color: #999;
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
}
div#fd.eb .eb-table-body > div > .cell-option .dropdown-toggle_ {
  color: #999;
  cursor: pointer;
  padding: 0 20px;
}
div#fd.eb .eb-table-body > div > .cell-option .dropdown-toggle_:hover {
  color: #428bca;
}
div#fd.eb .eb-table-body > div > .cell-option .dropdown-menu {
  right: 20px;
  left: auto;
  border-radius: 2px;
}
div#fd.eb .eb-table-body > div > .cell-option .dropdown-menu > li > a {
  border: 0;
  border-radius: 0;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
  text-align: inherit;
}
div#fd.eb .eb-table-body > div > .cell-option .dropdown-menu > li > a:hover {
  background: #f5f5f5;
}
div#fd.eb .eb-table-body > div > .cell-option .fa-bars {
  width: 3px;
  overflow: hidden;
}
div#fd.eb .eb-table-title {
  font-size: 16px;
  font-family: Arial;
}
div#fd.eb .eb-table-title a {
  color: inherit;
}
div#fd.eb .eb-table-preview {
  font-size: 12px;
}
div#fd.eb .eb-table-categories,
div#fd.eb .eb-table-tags {
  margin: 5px 0 7px;
}
div#fd.eb .eb-table-categories.type-1 span:after,
div#fd.eb .eb-table-tags.type-1 span:after {
  content: ", ";
}
div#fd.eb .eb-table-categories.type-1 span:last-child:after,
div#fd.eb .eb-table-tags.type-1 span:last-child:after {
  content: "";
}
div#fd.eb .eb-table-categories.type-2 span:after,
div#fd.eb .eb-table-tags.type-2 span:after {
  content: ", ";
}
div#fd.eb .eb-table-categories.type-2 span:last-child:after,
div#fd.eb .eb-table-tags.type-2 span:last-child:after {
  content: "";
}
div#fd.eb .eb-table-categories.type-2 a:before,
div#fd.eb .eb-table-tags.type-2 a:before {
  content: "#";
}
div#fd.eb .eb-table-categories.type-3 label,
div#fd.eb .eb-table-tags.type-3 label {
  display: none;
}
div#fd.eb .eb-table-categories.type-3 a,
div#fd.eb .eb-table-tags.type-3 a {
  background: #999;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 3px 7px;
  text-decoration: none !important;
}
div#fd.eb .eb-table-categories.type-3 a:hover,
div#fd.eb .eb-table-tags.type-3 a:hover {
  background: #444;
}
div#fd.eb .eb-table-meta > span,
div#fd.eb .eb-table-relations > span {
  display: inline-block;
  margin: 0 8px 0 0;
}
div#fd.eb .eb-table-content {
  border-bottom: 1px solid #ddd;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  word-wrap: break-word;
}
div#fd.eb .eb-table-stats {
  margin-top: 30px;
  font-size: 12px;
}
div#fd.eb .eb-table-stats > span + span {
  margin: 0 0 0 10px;
}
div#fd.eb .eb-table-headlines > small {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}
div#fd.eb .eb-table-comment {
  margin: 10px 0 0;
  padding: 0 0 0 10px;
  border-left: 2px solid #ddd;
  word-wrap: break-word;
}
div#fd.eb .eb-table-toolbar {
  margin: 10px 0 0;
}
div#fd.eb .eb-table-toolbar .btn {
  font-size: 11px;
}
div#fd.eb .eb-table-img {
  background: #000;
  background: #fff;
  display: inline-block;
  padding: 4px;
  border: 1px solid #ddd;
  border: 1px solid rgba(0,0,0,0.15);
}
div#fd.eb .eb-table-img img {
  max-height: 120px;
  max-width: 120px;
}
div#fd.eb .eb-draft-reject {
  border-bottom: 1px dashed #ddd;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}
div#fd.eb .eb-draft-reject .reject-note {
  line-height: 28px;
}
div#fd.eb .dropdown-autopost a {
  position: relative;
  line-height: 16px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  text-transform: capitalize;
}
div#fd.eb .dropdown-autopost .fa-check {
  border: 2px solid #ddd;
  border-radius: 2px;
  color: transparent;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 12px;
  font-size: 10px;
  margin-right: 5px;
}
div#fd.eb .dropdown-autopost .fa-check:before {
  display: block;
  line-height: 12px;
}
div#fd.eb .dropdown-autopost .active .fa-check {
  background: #2196f3;
  border-color: #2196f3;
  color: #fff;
}
