div#fd.eb .ebd-block:before,
div#fd.eb .ebd-block:after {
  content: " ";
  display: table;
}
div#fd.eb .ebd-block:after {
  clear: both;
}
div#fd.eb .ebd-block.is-nested.nest-left {
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
  width: 30%;
}
div#fd.eb .ebd-block.is-nested.nest-right {
  float: right;
  margin-left: 12px;
  margin-bottom: 12px;
  width: 30%;
}
div#fd.eb .w400 .col {
  width: 100%;
}
div#fd.eb .media-table {
  display: table;
  width: 100%;
}
div#fd.eb .media-thumb,
div#fd.eb .media-content {
  display: table-cell;
  vertical-align: top;
}
div#fd.eb .post-block {
  border: 1px solid #ddd;
  margin: 10px 0;
}
div#fd.eb .post-block .media-thumb {
  background: #f5f5f5;
  width: 160px;
  padding: 15px;
  border-right: 1px solid #ddd;
}
div#fd.eb .post-block .media-thumb img {
  width: 100%;
  height: auto;
  display: block;
}
div#fd.eb .post-block .media-content {
  padding: 15px;
  position: relative;
}
div#fd.eb .post-block .media-content > h3 {
  margin: 0 0 5px;
  font-size: 16px;
}
div#fd.eb .post-block .media-content > div {
  line-height: 16px;
  max-height: 48px;
  overflow: hidden;
  padding-bottom: 30px;
}
div#fd.eb .post-block .media-content > span {
  display: block;
  position: absolute;
  left: 15px;
  bottom: 15px;
  right: 15px;
}
div#fd.eb .post-block .media-content > span a {
  color: #aaa;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}
div#fd.eb .eb-blocks-link {
  border: 1px dashed #d7d7d7;
  background: #f4f4f4;
  border-radius: 0;
  padding: 10px;
  overflow: hidden;
}
div#fd.eb .eb-blocks-link .media-table {
  display: table;
  width: 100%;
}
div#fd.eb .eb-blocks-link .media-thumb,
div#fd.eb .eb-blocks-link .media-body {
  display: table-cell;
  position: relative;
  vertical-align: top;
}
div#fd.eb .eb-blocks-link .media-thumb {
  width: 160px;
}
div#fd.eb .eb-blocks-link .media-object {
  width: 140px;
  height: 140px;
  background: #eee;
  border: 1px solid #ccc;
}
div#fd.eb .eb-blocks-link .media-heading {
  font-size: 14px;
  max-height: 40px;
}
div#fd.eb .eb-blocks-link .media-heading a {
  color: inherit !important;
  text-decoration: none !important;
}
div#fd.eb .eb-blocks-link .media-content {
  font-size: 12px;
  max-height: 60px;
}
div#fd.eb .eb-blocks-link .media-heading,
div#fd.eb .eb-blocks-link .media-content {
  line-height: 20px;
  overflow: hidden;
}
div#fd.eb .eb-blocks-link .media-link {
  color: #999;
  position: absolute;
  bottom: 0;
  left: 0;
}
div#fd.eb .eb-composer-link-placeholder-preview {
  padding: 20px;
}
div#fd.eb .eb-composer-link-placeholder-preview .media-table {
  display: table;
  width: 100%;
}
div#fd.eb .eb-composer-link-placeholder-preview .media-thumb,
div#fd.eb .eb-composer-link-placeholder-preview .media-body {
  display: table-cell;
  position: relative;
  vertical-align: top;
}
div#fd.eb .eb-composer-link-placeholder-preview .media-thumb {
  width: 160px;
  height: 140px;
  vertical-align: top;
  background: #eee;
  border: 1px solid #ccc;
  text-align: center;
}
div#fd.eb .eb-composer-link-placeholder-preview .media-body {
  padding: 0 0 0 20px;
}
div#fd.eb .eb-composer-link-placeholder-preview .media-object {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
div#fd.eb .eb-composer-link-placeholder-preview .media-heading {
  font-size: 14px;
  max-height: 40px;
}
div#fd.eb .eb-composer-link-placeholder-preview .media-heading a {
  color: inherit !important;
  text-decoration: none !important;
}
div#fd.eb .eb-composer-link-placeholder-preview .media-content {
  font-size: 12px;
  max-height: 60px;
  padding-bottom: 30px;
}
div#fd.eb .eb-composer-link-placeholder-preview .media-heading,
div#fd.eb .eb-composer-link-placeholder-preview .media-content {
  line-height: 20px;
  overflow: hidden;
}
div#fd.eb .eb-composer-link-placeholder-preview .media-heading:hover,
div#fd.eb .eb-composer-link-placeholder-preview .media-content:hover {
  background: #ffc;
}
div#fd.eb .eb-composer-link-placeholder-preview .media-link {
  color: #999;
  position: absolute;
  bottom: 0;
  left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
}
div#fd.eb .ebd-block[data-type=links] .media-table {
  display: table;
  width: 100%;
}
div#fd.eb .ebd-block[data-type=links] .media-thumb,
div#fd.eb .ebd-block[data-type=links] .media-body {
  display: table-cell;
  position: relative;
  vertical-align: top;
}
div#fd.eb .ebd-block[data-type=links] .media-thumb {
  width: 160px;
  height: 140px;
  vertical-align: middle;
  background: #eee;
  border: 1px solid #ccc;
  text-align: center;
}
div#fd.eb .ebd-block[data-type=links] .media-body {
  padding: 0 0 0 20px;
}
div#fd.eb .ebd-block[data-type=links] .media-object {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
div#fd.eb .ebd-block[data-type=links] .media-heading {
  font-size: 14px;
  max-height: 40px;
}
div#fd.eb .ebd-block[data-type=links] .media-heading a {
  color: inherit !important;
  text-decoration: none !important;
}
div#fd.eb .ebd-block[data-type=links] .media-content {
  font-size: 12px;
  max-height: 60px;
  padding-bottom: 30px;
}
div#fd.eb .ebd-block[data-type=links] .media-heading,
div#fd.eb .ebd-block[data-type=links] .media-content {
  line-height: 20px;
  overflow: hidden;
}
div#fd.eb .ebd-block[data-type=links] .media-link {
  color: #999;
  position: absolute;
  bottom: 0;
  left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
}
div#fd.eb hr.eb-block-rule-style2 {
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
div#fd.eb hr.eb-block-rule-style2:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
div#fd.eb hr.eb-block-rule-style3 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
}
div#fd.eb hr.eb-block-rule-style4 {
  border-top: 1px dotted;
}
div#fd.eb .instagram-block {
  border: 1px solid #eee;
  height: 350px;
  min-width: 400px;
}
div#fd.eb .ebd-block .nav-tabs > li {
  min-width: 20px;
}
div#fd.eb .ebd-block .nav-tabs > li a {
  cursor: pointer;
  font-weight: bold;
}
div#fd.eb .ebd-block .tab-content {
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-top: none;
  padding-bottom: 20px;
}
div#fd.eb .ebd-block .tab-pane {
  min-height: 50px;
  z-index: -100;
}
div#fd.eb .ebd-block[data-type="image"]:not(.eb-composer-block-menu) {
  clear: both;
  margin-bottom: 10px;
}
div#fd.eb .ebd-block[data-type="image"]:not(.eb-composer-block-menu):before,
div#fd.eb .ebd-block[data-type="image"]:not(.eb-composer-block-menu):after {
  content: " ";
  display: table;
}
div#fd.eb .ebd-block[data-type="image"]:not(.eb-composer-block-menu):after {
  clear: both;
}
div#fd.eb .eb-image {
  display: block;
}
div#fd.eb .eb-image-figure {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
div#fd.eb .eb-image-viewport {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px;
  position: relative;
  text-align: center;
  display: inline-block;
  font-size: 0;
  max-width: 100%;
}
div#fd.eb .eb-image-viewport:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
div#fd.eb .eb-image.is-fluid {
  display: block;
  margin: 0 auto;
}
div#fd.eb .eb-image.is-fluid .eb-image-figure {
  padding-top: 0;
}
div#fd.eb .eb-image.is-fluid .eb-image-viewport {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
div#fd.eb .eb-image.is-fluid .eb-image-figure img {
  position: absolute;
  max-width: none;
  top: 0;
  left: 0;
  width: 100%;
}
div#fd.eb .eb-image-caption {
  display: block;
  text-align: inherit;
  margin-left: auto;
  margin-right: auto;
}
div#fd.eb.w480 .eb-image-caption {
  width: auto !important;
}
div#fd.eb .eb-image-caption > span {
  display: block;
  padding-top: 10px;
}
div#fd.eb .eb-image .eb-image-figure img {
  display: inline-block;
  position: relative;
  max-width: 100%;
  max-height: none;
}
div#fd.eb .eb-image.align-right {
  text-align: right;
}
div#fd.eb .eb-image.align-left {
  text-align: left;
}
div#fd.eb .eb-image.style-gray {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #f0f0f0;
}
div#fd.eb .eb-image.style-polaroid {
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-box-shadow: 0px 3px 3px #ccc;
  box-shadow: 0px 3px 3px #ccc;
}
div#fd.eb .eb-image.style-popup {
  padding: 10px;
}
div#fd.eb .eb-image.style-solid {
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
}
div#fd.eb .eb-image.style-dashed {
  padding: 10px;
  background: #fff;
  border: 1px dashed #ccc;
}
div#fd.eb .eb-image.style-dotted {
  padding: 10px;
  background: #fff;
  border: 1px dotted #ccc;
}
div#fd.eb .eb-image-popup-button {
  position: relative;
}
div#fd.eb .eb-image-popup-button:before {
  position: absolute;
  background: rgba(0,0,0,0.3);
  color: #fff;
  z-index: 2;
  content: '\f002';
  font-family: FontAwesome;
  text-align: center;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  font-size: 20px;
  line-height: 36px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  border-radius: 100%;
  margin: -20px 0 0 -20px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
div#fd.eb .eb-image-popup-button:hover:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
div#fd.eb .eb-image:hover .eb-image-popup-button {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
div#fd.eb.w600 .eb-image:not(.is-fluid) .eb-image-figure,
div#fd.eb.w600 .eb-image:not(.is-fluid) .eb-image-figure img {
  width: 100% !important;
  height: auto !important;
}
div#fd.eb blockquote.eb-quote {
  color: #888;
  padding: 10px 20px;
  margin: 0 0 20px;
}
div#fd.eb blockquote.eb-quote p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 1em;
}
div#fd.eb blockquote.eb-quote p + cite {
  display: block;
  margin-top: -8px;
}
div#fd.eb blockquote.eb-quote.style-minimallight {
  border-left: 1px solid #ddd;
}
div#fd.eb blockquote.eb-quote.style-minimalbox {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
div#fd.eb .vjs-default-skin {
  color: #cccccc;
}
@font-face {
  font-family: 'VideoJS';
  src: url('../../../../../media/foundry/5.0/styles/videojs/vjs.eot');
  src: url('../../../../../media/foundry/5.0/styles/videojs/vjs.eot?#iefix') format('embedded-opentype'), url('../../../../../media/foundry/5.0/styles/videojs/vjs.woff') format('woff'), url('../../../../../media/foundry/5.0/styles/videojs/vjs.ttf') format('truetype'), url('../../../../../media/foundry/5.0/styles/videojs/vjs.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
div#fd.eb .vjs-default-skin .vjs-slider {
  outline: 0;
  position: relative;
  cursor: pointer;
  padding: 0;
  background-color: #333333;
  background-color: rgba(51,51,51,0.9);
}
div#fd.eb .vjs-default-skin .vjs-slider:focus {
  -webkit-box-shadow: 0 0 2em #ffffff;
  -moz-box-shadow: 0 0 2em #ffffff;
  box-shadow: 0 0 2em #ffffff;
}
div#fd.eb .vjs-default-skin .vjs-slider-handle {
  position: absolute;
  left: 0;
  top: 0;
}
div#fd.eb .vjs-default-skin .vjs-slider-handle:before {
  content: "\e009";
  font-family: VideoJS;
  font-size: 1em;
  line-height: 1;
  text-align: center;
  text-shadow: 0em 0em 1em #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
div#fd.eb .vjs-default-skin .vjs-control-bar {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.0em;
  background-color: #07141e;
  background-color: rgba(7,20,30,0.7);
}
div#fd.eb .vjs-default-skin.vjs-has-started .vjs-control-bar {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.1s, opacity 0.1s;
  -moz-transition: visibility 0.1s, opacity 0.1s;
  -o-transition: visibility 0.1s, opacity 0.1s;
  transition: visibility 0.1s, opacity 0.1s;
}
div#fd.eb .vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 1s, opacity 1s;
  -moz-transition: visibility 1s, opacity 1s;
  -o-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
}
div#fd.eb .vjs-default-skin.vjs-controls-disabled .vjs-control-bar {
  display: none;
}
div#fd.eb .vjs-default-skin.vjs-using-native-controls .vjs-control-bar {
  display: none;
}
div#fd.eb .vjs-default-skin.vjs-error .vjs-control-bar {
  display: none;
}
div#fd.eb .vjs-audio.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  opacity: 1;
  visibility: visible;
}
div#fd.eb .vjs-default-skin .vjs-control {
  outline: none;
  position: relative;
  float: left;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 3.0em;
  width: 4em;
}
div#fd.eb .vjs-default-skin .vjs-control:before {
  font-family: VideoJS;
  font-size: 1.5em;
  line-height: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
div#fd.eb .vjs-default-skin .vjs-control:focus:before,
div#fd.eb .vjs-default-skin .vjs-control:hover:before {
  text-shadow: 0em 0em 1em #ffffff;
}
div#fd.eb .vjs-default-skin .vjs-control-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
div#fd.eb .vjs-default-skin .vjs-play-control {
  width: 5em;
  cursor: pointer;
}
div#fd.eb .vjs-default-skin .vjs-play-control:before {
  content: "\e001";
}
div#fd.eb .vjs-default-skin.vjs-playing .vjs-play-control:before {
  content: "\e002";
}
div#fd.eb .vjs-default-skin .vjs-playback-rate .vjs-playback-rate-value {
  font-size: 1.5em;
  line-height: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
div#fd.eb .vjs-default-skin .vjs-playback-rate.vjs-menu-button .vjs-menu .vjs-menu-content {
  width: 4em;
  left: -2em;
  list-style: none;
}
div#fd.eb .vjs-default-skin .vjs-mute-control,
div#fd.eb .vjs-default-skin .vjs-volume-menu-button {
  cursor: pointer;
  float: right;
}
div#fd.eb .vjs-default-skin .vjs-mute-control:before,
div#fd.eb .vjs-default-skin .vjs-volume-menu-button:before {
  content: "\e006";
}
div#fd.eb .vjs-default-skin .vjs-mute-control.vjs-vol-0:before,
div#fd.eb .vjs-default-skin .vjs-volume-menu-button.vjs-vol-0:before {
  content: "\e003";
}
div#fd.eb .vjs-default-skin .vjs-mute-control.vjs-vol-1:before,
div#fd.eb .vjs-default-skin .vjs-volume-menu-button.vjs-vol-1:before {
  content: "\e004";
}
div#fd.eb .vjs-default-skin .vjs-mute-control.vjs-vol-2:before,
div#fd.eb .vjs-default-skin .vjs-volume-menu-button.vjs-vol-2:before {
  content: "\e005";
}
div#fd.eb .vjs-default-skin .vjs-volume-control {
  width: 5em;
  float: right;
}
div#fd.eb .vjs-default-skin .vjs-volume-bar {
  width: 5em;
  height: 0.6em;
  margin: 1.1em auto 0;
}
div#fd.eb .vjs-default-skin .vjs-volume-level {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5em;
  width: 100%;
  background: #66a8cc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat;
}
div#fd.eb .vjs-default-skin .vjs-volume-bar .vjs-volume-handle {
  width: 0.5em;
  height: 0.5em;
  left: 4.5em;
}
div#fd.eb .vjs-default-skin .vjs-volume-handle:before {
  font-size: 0.9em;
  top: -0.2em;
  left: -0.2em;
  width: 1em;
  height: 1em;
}
div#fd.eb .vjs-default-skin .vjs-volume-menu-button .vjs-menu {
  display: block;
  width: 0;
  height: 0;
  border-top-color: transparent;
}
div#fd.eb .vjs-default-skin .vjs-volume-menu-button .vjs-menu .vjs-menu-content {
  height: 0;
  width: 0;
}
div#fd.eb .vjs-default-skin .vjs-volume-menu-button:hover .vjs-menu,
div#fd.eb .vjs-default-skin .vjs-volume-menu-button .vjs-menu.vjs-lock-showing {
  border-top-color: rgba(7,40,50,0.5);
}
div#fd.eb .vjs-default-skin .vjs-volume-menu-button:hover .vjs-menu .vjs-menu-content,
div#fd.eb .vjs-default-skin .vjs-volume-menu-button .vjs-menu.vjs-lock-showing .vjs-menu-content {
  height: 2.9em;
  width: 10em;
}
div#fd.eb .vjs-default-skin .vjs-progress-control {
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  font-size: 0.3em;
  height: 1em;
  top: -1em;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
div#fd.eb .vjs-default-skin:hover .vjs-progress-control {
  font-size: .9em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
div#fd.eb .vjs-default-skin .vjs-progress-holder {
  height: 100%;
}
div#fd.eb .vjs-default-skin .vjs-progress-holder .vjs-play-progress,
div#fd.eb .vjs-default-skin .vjs-progress-holder .vjs-load-progress,
div#fd.eb .vjs-default-skin .vjs-progress-holder .vjs-load-progress div {
  position: absolute;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 0;
  left: 0;
  top: 0;
}
div#fd.eb .vjs-default-skin .vjs-play-progress {
  background: #66a8cc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat;
}
div#fd.eb .vjs-default-skin .vjs-load-progress {
  background: #646464;
  background: rgba(255,255,255,0.2);
}
div#fd.eb .vjs-default-skin .vjs-load-progress div {
  background: #787878;
  background: rgba(255,255,255,0.1);
}
div#fd.eb .vjs-default-skin .vjs-seek-handle {
  width: 1.5em;
  height: 100%;
}
div#fd.eb .vjs-default-skin .vjs-seek-handle:before {
  padding-top: 0.1em;
}
div#fd.eb .vjs-default-skin.vjs-live .vjs-time-controls,
div#fd.eb .vjs-default-skin.vjs-live .vjs-time-divider,
div#fd.eb .vjs-default-skin.vjs-live .vjs-progress-control {
  display: none;
}
div#fd.eb .vjs-default-skin.vjs-live .vjs-live-display {
  display: block;
}
div#fd.eb .vjs-default-skin .vjs-live-display {
  display: none;
  font-size: 1em;
  line-height: 3em;
}
div#fd.eb .vjs-default-skin .vjs-time-controls {
  font-size: 1em;
  line-height: 3em;
}
div#fd.eb .vjs-default-skin .vjs-current-time {
  float: left;
}
div#fd.eb .vjs-default-skin .vjs-duration {
  float: left;
}
div#fd.eb .vjs-default-skin .vjs-remaining-time {
  display: none;
  float: left;
}
div#fd.eb .vjs-time-divider {
  float: left;
  line-height: 3em;
}
div#fd.eb .vjs-default-skin .vjs-fullscreen-control {
  width: 3.8em;
  cursor: pointer;
  float: right;
}
div#fd.eb .vjs-default-skin .vjs-fullscreen-control:before {
  content: "\e000";
}
div#fd.eb .vjs-default-skin.vjs-fullscreen .vjs-fullscreen-control:before {
  content: "\e00b";
}
div#fd.eb .vjs-default-skin .vjs-big-play-button {
  left: 0.5em;
  top: 0.5em;
  font-size: 3em;
  display: block;
  z-index: 2;
  position: absolute;
  width: 4em;
  height: 2.6em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  opacity: 1;
  background-color: #07141e;
  background-color: rgba(7,20,30,0.7);
  border: 0.1em solid #3b4249;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
  -webkit-box-shadow: 0px 0px 1em rgba(255,255,255,0.25);
  -moz-box-shadow: 0px 0px 1em rgba(255,255,255,0.25);
  box-shadow: 0px 0px 1em rgba(255,255,255,0.25);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
div#fd.eb .vjs-default-skin.vjs-big-play-centered .vjs-big-play-button {
  left: 50%;
  margin-left: -2.1em;
  top: 50%;
  margin-top: -1.4em;
}
div#fd.eb .vjs-default-skin.vjs-controls-disabled .vjs-big-play-button {
  display: none;
}
div#fd.eb .vjs-default-skin.vjs-has-started .vjs-big-play-button {
  display: none;
}
div#fd.eb .vjs-default-skin.vjs-using-native-controls .vjs-big-play-button {
  display: none;
}
div#fd.eb .vjs-default-skin:hover .vjs-big-play-button,
div#fd.eb .vjs-default-skin .vjs-big-play-button:focus {
  outline: 0;
  border-color: #fff;
  background-color: #505050;
  background-color: rgba(50,50,50,0.75);
  -webkit-box-shadow: 0 0 3em #ffffff;
  -moz-box-shadow: 0 0 3em #ffffff;
  box-shadow: 0 0 3em #ffffff;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
div#fd.eb .vjs-default-skin .vjs-big-play-button:before {
  content: "\e001";
  font-family: VideoJS;
  line-height: 2.6em;
  text-shadow: 0.05em 0.05em 0.1em #000;
  text-align: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
div#fd.eb .vjs-error .vjs-big-play-button {
  display: none;
}
div#fd.eb .vjs-error-display {
  display: none;
}
div#fd.eb .vjs-error .vjs-error-display {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
div#fd.eb .vjs-error .vjs-error-display:before {
  content: 'X';
  font-family: Arial;
  font-size: 4em;
  color: #666666;
  line-height: 1;
  text-shadow: 0.05em 0.05em 0.1em #000;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.5em;
  width: 100%;
}
div#fd.eb .vjs-error-display div {
  position: absolute;
  bottom: 1em;
  right: 0;
  left: 0;
  font-size: 1.4em;
  text-align: center;
  padding: 3px;
  background: #000000;
  background: rgba(0,0,0,0.5);
}
div#fd.eb .vjs-error-display a,
div#fd.eb .vjs-error-display a:visited {
  color: #F4A460;
}
div#fd.eb .vjs-loading-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4em;
  line-height: 1;
  width: 1em;
  height: 1em;
  margin-left: -0.5em;
  margin-top: -0.5em;
  opacity: 0.75;
}
div#fd.eb .vjs-waiting .vjs-loading-spinner,
div#fd.eb .vjs-seeking .vjs-loading-spinner {
  display: block;
  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear;
}
div#fd.eb .vjs-error .vjs-loading-spinner {
  display: none;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
div#fd.eb .vjs-default-skin .vjs-loading-spinner:before {
  content: "\e01e";
  font-family: VideoJS;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  text-shadow: 0em 0em 0.1em #000;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
div#fd.eb .vjs-default-skin .vjs-menu-button {
  float: right;
  cursor: pointer;
}
div#fd.eb .vjs-default-skin .vjs-menu {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0em;
  width: 0em;
  height: 0em;
  margin-bottom: 3em;
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-top: 1.55em solid #000000;
  border-top-color: rgba(7,40,50,0.5);
}
div#fd.eb .vjs-default-skin .vjs-menu-button .vjs-menu .vjs-menu-content {
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 10em;
  bottom: 1.5em;
  max-height: 15em;
  overflow: auto;
  left: -5em;
  background-color: #07141e;
  background-color: rgba(7,20,30,0.7);
  -webkit-box-shadow: -0.2em -0.2em 0.3em rgba(255,255,255,0.2);
  -moz-box-shadow: -0.2em -0.2em 0.3em rgba(255,255,255,0.2);
  box-shadow: -0.2em -0.2em 0.3em rgba(255,255,255,0.2);
}
div#fd.eb .vjs-default-skin .vjs-menu-button:hover .vjs-control-content .vjs-menu,
div#fd.eb .vjs-default-skin .vjs-control-content .vjs-menu.vjs-lock-showing {
  display: block;
}
div#fd.eb .vjs-default-skin.vjs-scrubbing .vjs-menu-button:hover .vjs-control-content .vjs-menu {
  display: none;
}
div#fd.eb .vjs-default-skin .vjs-menu-button ul li {
  list-style: none;
  margin: 0;
  padding: 0.3em 0 0.3em 0;
  line-height: 1.4em;
  font-size: 1.2em;
  text-align: center;
  text-transform: lowercase;
}
div#fd.eb .vjs-default-skin .vjs-menu-button ul li.vjs-selected {
  background-color: #000;
}
div#fd.eb .vjs-default-skin .vjs-menu-button ul li:focus,
div#fd.eb .vjs-default-skin .vjs-menu-button ul li:hover,
div#fd.eb .vjs-default-skin .vjs-menu-button ul li.vjs-selected:focus,
div#fd.eb .vjs-default-skin .vjs-menu-button ul li.vjs-selected:hover {
  outline: 0;
  color: #111;
  background-color: #ffffff;
  background-color: rgba(255,255,255,0.75);
  -webkit-box-shadow: 0 0 1em #ffffff;
  -moz-box-shadow: 0 0 1em #ffffff;
  box-shadow: 0 0 1em #ffffff;
}
div#fd.eb .vjs-default-skin .vjs-menu-button ul li.vjs-menu-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 2em;
  padding: 0;
  margin: 0 0 0.3em 0;
  font-weight: bold;
  cursor: default;
}
div#fd.eb .vjs-default-skin .vjs-subtitles-button:before {
  content: "\e00c";
}
div#fd.eb .vjs-default-skin .vjs-captions-button:before {
  content: "\e008";
}
div#fd.eb .vjs-default-skin .vjs-chapters-button:before {
  content: "\e00c";
}
div#fd.eb .vjs-default-skin .vjs-chapters-button.vjs-menu-button .vjs-menu .vjs-menu-content {
  width: 24em;
  left: -12em;
}
div#fd.eb .vjs-default-skin .vjs-captions-button:focus .vjs-control-content:before,
div#fd.eb .vjs-default-skin .vjs-captions-button:hover .vjs-control-content:before {
  -webkit-box-shadow: 0 0 1em #ffffff;
  -moz-box-shadow: 0 0 1em #ffffff;
  box-shadow: 0 0 1em #ffffff;
}
div#fd.eb .video-js {
  background-color: #000;
  position: relative;
  padding: 0;
  font-size: 10px;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  font-family: Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div#fd.eb .video-js .vjs-tech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#fd.eb .video-js:-moz-full-screen {
  position: absolute;
}
div#fd.eb body.vjs-full-window {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
}
div#fd.eb .video-js.vjs-fullscreen {
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  _position: absolute;
}
div#fd.eb .video-js:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
}
div#fd.eb .video-js.vjs-fullscreen.vjs-user-inactive {
  cursor: none;
}
div#fd.eb .vjs-poster {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
div#fd.eb .vjs-poster img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  padding: 0;
  width: 100%;
}
div#fd.eb .video-js.vjs-has-started .vjs-poster {
  display: none;
}
div#fd.eb .video-js.vjs-audio.vjs-has-started .vjs-poster {
  display: block;
}
div#fd.eb .video-js.vjs-controls-disabled .vjs-poster {
  display: none;
}
div#fd.eb .video-js.vjs-using-native-controls .vjs-poster {
  display: none;
}
div#fd.eb .video-js .vjs-text-track-display {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 3em;
  right: 0;
  pointer-events: none;
}
div#fd.eb .vjs-caption-settings {
  position: relative;
  top: 1em;
  background-color: #000;
  opacity: 0.75;
  color: #FFF;
  margin: 0 auto;
  padding: 0.5em;
  height: 15em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 40em;
}
div#fd.eb .vjs-caption-settings .vjs-tracksettings {
  top: 0;
  bottom: 2em;
  left: 0;
  right: 0;
  position: absolute;
  overflow: auto;
}
div#fd.eb .vjs-caption-settings .vjs-tracksettings-colors,
div#fd.eb .vjs-caption-settings .vjs-tracksettings-font {
  float: left;
}
div#fd.eb .vjs-caption-settings .vjs-tracksettings-colors:after,
div#fd.eb .vjs-caption-settings .vjs-tracksettings-font:after,
div#fd.eb .vjs-caption-settings .vjs-tracksettings-controls:after {
  clear: both;
}
div#fd.eb .vjs-caption-settings .vjs-tracksettings-controls {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
div#fd.eb .vjs-caption-settings .vjs-tracksetting {
  margin: 5px;
  padding: 3px;
  min-height: 40px;
}
div#fd.eb .vjs-caption-settings .vjs-tracksetting label {
  display: block;
  width: 100px;
  margin-bottom: 5px;
}
div#fd.eb .vjs-caption-settings .vjs-tracksetting span {
  display: inline;
  margin-left: 5px;
}
div#fd.eb .vjs-caption-settings .vjs-tracksetting > div {
  margin-bottom: 5px;
  min-height: 20px;
}
div#fd.eb .vjs-caption-settings .vjs-tracksetting > div:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  min-height: 0;
}
div#fd.eb .vjs-caption-settings label > input {
  margin-right: 10px;
}
div#fd.eb .vjs-caption-settings input[type="button"] {
  width: 40px;
  height: 40px;
}
div#fd.eb .vjs-hidden {
  display: none !important;
}
div#fd.eb .vjs-lock-showing {
  display: block !important;
  opacity: 1;
  visibility: visible;
}
div#fd.eb .vjs-no-js {
  padding: 2em;
  color: #ccc;
  background-color: #333;
  font-size: 1.8em;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 30em;
  height: 15em;
  margin: 0 auto;
}
div#fd.eb .vjs-no-js a,
div#fd.eb .vjs-no-js a:visited {
  color: #F4A460;
}
div#fd.eb .ebd .ebd-block[data-type=video] {
  line-height: 0;
}
div#fd.eb .eb-video {
  position: relative;
  display: inline-block;
  width: 100%;
}
div#fd.eb .eb-video.is-responsive .eb-video-viewport {
  height: auto;
  padding-top: 56.25%;
}
div#fd.eb .eb-video-viewport {
  position: relative;
  height: 100%;
  overflow: hidden;
}
div#fd.eb .eb-video-viewport > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#fd.eb .audiojs-track,
div#fd.eb .audiojs {
  background: #252525;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
div#fd.eb .audiojs {
  border-radius: 0 0 3px 3px;
  height: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: table;
}
div#fd.eb .audiojs p {
  background: none;
  color: #fff;
  width: 40px;
  height: 30px;
  margin: 0;
  text-align: center;
  font: normal 10px/30px FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0,0);
}
div#fd.eb .audiojs p.play:before {
  content: "\f04b";
}
div#fd.eb .audiojs p.pause:before {
  content: "\f04c";
}
div#fd.eb .audiojs p.loading:before {
  content: "\f017";
}
div#fd.eb .audiojs p.error:before {
  content: "\f071";
}
div#fd.eb .audiojs .play-pause,
div#fd.eb .audiojs .scrubber,
div#fd.eb .audiojs .time {
  background: none;
  border: 0;
  display: table-cell;
  width: auto;
  height: auto;
  float: none;
  vertical-align: middle;
  padding: 0;
  position: relative;
}
div#fd.eb .audiojs .play-pause {
  width: 40px;
  white-space: nowrap;
}
div#fd.eb .audiojs .time {
  width: 1px;
  white-space: nowrap;
}
div#fd.eb .audiojs .time {
  line-height: 1;
  color: #888;
  padding: 0 15px;
}
div#fd.eb .audiojs .time em,
div#fd.eb .audiojs .time strong {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  color: #fff;
}
div#fd.eb .audiojs .loaded,
div#fd.eb .audiojs .progress {
  border-radius: 2px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 10px;
  height: auto;
}
div#fd.eb .audiojs .progress {
  background: #ca1c26;
}
div#fd.eb .audiojs .loaded {
  background: #494949;
}
div#fd.eb .audiojs-track {
  border: 0;
  border-bottom: 1px solid #323232;
  border-radius: 3px 3px 0 0;
  color: #eee;
  padding: 15px;
  position: relative;
}
div#fd.eb .audiojs-track .fa-music {
  margin: 0 5px 0 0;
}
div#fd.eb .audiojs-track a {
  float: right;
}
div#fd.eb .audiojs-track.disabled {
  display: none;
}
div#fd.eb .audiojs-track.disabled + .audiojs {
  border-radius: 3px;
}
div#fd.eb .audiojs-track .pull-right {
  margin-left: 10px;
}
div#fd.eb .audiojs-track .overflow-no {
  white-space: nowrap;
  text-overflow: ellipsis;
}
div#fd.eb .w400 .audiojs-track .overflow-no {
  margin-bottom: 20px;
}
div#fd.eb .w400 .pull-right {
  float: none;
  position: absolute;
  margin-left: 0;
  bottom: 15px;
  left: 15px;
  font-size: 10px;
  line-height: 1;
}
div#fd.eb .eb-block-file {
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  border-radius: 3px;
  margin-bottom: 1em;
  overflow: hidden;
}
div#fd.eb .eb-file-thumb {
  background: #fafafa;
  border-right: 1px solid #ddd;
  padding: 20px;
}
div#fd.eb .eb-file-thumb i {
  color: #333;
  font-size: 80px;
  position: relative;
  display: inline-block;
  line-height: 80px;
}
div#fd.eb .eb-file-thumb i b {
  color: #fff;
  font-size: 12px;
  opacity: .75;
  filter: alpha(opacity=75);
  position: absolute;
  left: 10px;
  bottom: 10px;
}
div#fd.eb .eb-file-details {
  padding: 15px 15px 55px;
  position: relative;
  vertical-align: top;
}
div#fd.eb .eb-file-details .btn {
  font-size: 12px;
  font-weight: bold;
  line-height: 26px;
  padding: 0 15px;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
div#fd.eb .eb-file-details > div + div {
  margin-top: .5em;
}
div#fd.eb .eb-block-file.w300 {
  display: block;
}
div#fd.eb .w300 .eb-file-thumb,
div#fd.eb .w300 .eb-file-details {
  display: block;
  width: auto;
}
div#fd.eb .w300 .eb-file-thumb {
  border-right: 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 20px 0;
}
div#fd.eb .w300 .eb-file-details {
  padding: 15px;
}
div#fd.eb .w300 .eb-file-details .btn {
  position: static;
  margin-top: 10px;
  word-break: break-word;
  display: block;
  white-space: inherit;
}
div#fd.eb .video-embed-wrapper {
  position: relative;
}
div#fd.eb .video-embed-wrapper.is-responsive {
  padding-bottom: 56.25%;
  padding-top: 25px;
  width: 100%;
  height: 0;
}
div#fd.eb .video-embed-wrapper.is-responsive iframe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
div#fd.eb .eb-thumbs {
  width: 100%;
  display: table;
  table-layout: fixed;
}
div#fd.eb .eb-thumbs.col-1 .eb-thumbs-col {
  width: 100%;
}
div#fd.eb .eb-thumbs.col-2 .eb-thumbs-col {
  width: 50%;
}
div#fd.eb .eb-thumbs.col-3 .eb-thumbs-col {
  width: 33.333333333333%;
}
div#fd.eb .eb-thumbs.col-4 .eb-thumbs-col {
  width: 25%;
}
div#fd.eb .eb-thumbs.col-5 .eb-thumbs-col {
  width: 20%;
}
div#fd.eb .eb-thumbs.col-6 .eb-thumbs-col {
  width: 16.666666666667%;
}
div#fd.eb .eb-thumbs.col-7 .eb-thumbs-col {
  width: 14.285714285714%;
}
div#fd.eb .eb-thumbs.col-8 .eb-thumbs-col {
  width: 12.5%;
}
div#fd.eb .eb-thumbs .eb-image {
  width: 100%;
}
div#fd.eb .eb-thumbs .eb-image img {
  width: 100%;
}
div#fd.eb .eb-thumbs-col {
  display: table-cell;
  height: 100%;
  position: relative;
  vertical-align: top;
}
div#fd.eb.w480 .eb-thumbs .eb-thumbs-col {
  display: block;
  width: 100% !important;
}
div#fd.eb .eb-thumb {
  position: relative;
}
div#fd.eb .eb-thumb > div {
  position: relative;
  border: 5px solid transparent;
  border-top: 0;
  border-bottom: 10px solid transparent;
}
div#fd.eb .eb-thumb > div > div.eb-thumb-placeholder,
div#fd.eb .eb-thumb > div > div.ebd-block {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#fd.eb .eb-thumb > div > div.ebd-block {
  border: none;
}
div#fd.eb .eb-gallery-stage {
  position: relative;
  padding-top: 56.25%;
  background: #aaa;
  overflow: hidden;
  z-index: 2;
}
div#fd.eb .eb-gallery-button {
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  z-index: 4;
  cursor: pointer;
}
div#fd.eb .eb-gallery-button:before {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  opacity: 0.5;
  z-index: 1;
}
div#fd.eb .eb-gallery-button:hover:before {
  opacity: 1;
}
div#fd.eb .eb-gallery-button i {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  font-size: 36px;
  margin-top: -18px;
  margin-left: -18px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  color: #fff;
  z-index: 2;
}
div#fd.eb .eb-gallery-next-button {
  right: 0;
}
div#fd.eb .eb-gallery-next-button:before {
  background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0) 0%),color-stop(rgba(0,0,0,0.5) 100%));
  background-image: linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#7f000000', GradientType=1);
}
div#fd.eb .eb-gallery-prev-button {
  left: 0;
}
div#fd.eb .eb-gallery-prev-button:before {
  background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.5) 0%),color-stop(rgba(0,0,0,0) 100%));
  background-image: linear-gradient(to right,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f000000', endColorstr='#00000000', GradientType=1);
}
div#fd.eb .eb-gallery-viewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
div#fd.eb .eb-gallery-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
div#fd.eb .eb-gallery-item > div.eb-gallery-placeholder,
div#fd.eb .eb-gallery-item > div.ebd-block {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#fd.eb .eb-gallery-item > div.ebd-block {
  border: none;
}
div#fd.eb .eb-gallery-menu {
  position: relative;
  text-align: center;
  margin-top: 6.6666666666667px;
  z-index: 5;
}
div#fd.eb .eb-gallery-menu-item {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
div#fd.eb .eb-gallery-menu-item:before {
  position: absolute;
  content: " ";
  top: 12px;
  left: 12px;
  margin-left: -6px;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 100%;
  border: 1px solid #ccc;
  background: transparent;
}
div#fd.eb .eb-gallery-menu-item:hover:before {
  background: #ccc;
}
div#fd.eb .eb-gallery-menu-item.active:before {
  background: #ccc;
}
