div#fd .editor {
  overflow: visible;
  padding-bottom: 20px;
}
div#fd .editor:before,
div#fd .editor:after {
  content: " ";
  display: table;
}
div#fd .editor:after {
  clear: both;
}
div#fd .mce-tinymce {
  border-color: #d5d5d5;
  border-radius: 3px;
  margin-bottom: 10px;
}
div#fd .mce-menubar {
  padding: 5px 10px !important;
  font-size: 12px;
  border-color: #d5d5d5;
}
div#fd .mce-menubar .mce-menubtn {
  border-radius: 20px;
}
div#fd .mce-menubar button span {
  font-size: 12px;
}
div#fd .mce-btn button {
  padding: 4px 10px !important;
  text-transform: none;
}
div#fd .mce-flow-layout-item {
  margin: 0 5px 0 0;
}
div#fd .mce-caret {
  vertical-align: middle;
  margin: 0;
  opacity: .8;
  filter: alpha(opacity=80);
}
div#fd .mce-toolbar-grp {
  background: #f0f0f0;
  padding: 0 0 5px 5px;
  white-space: normal;
}
div#fd .mce-toolbar-grp .mce-toolbar {
  background: #fdfdfd;
  background-image: -moz-linear-gradient(top,#fdfdfd,#ddd);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fdfdfd),to(#ddd));
  background-image: -webkit-linear-gradient(top,#fdfdfd,#ddd);
  background-image: -o-linear-gradient(top,#fdfdfd,#ddd);
  background-image: linear-gradient(to bottom,#fdfdfd,#ddd);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  border-radius: 2px;
  display: inline-block;
  margin: 5px 5px 0 0;
}
div#fd .mce-toolbar-grp .mce-btn {
  background: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
div#fd .mce-toolbar-grp .mce-btn + .mce-btn {
  border-left: 1px solid #ddd;
}
div#fd .mce-toolbar-grp .mce-btn button {
  line-height: 32px;
  height: 32px;
  padding: 0 8px !important;
  position: relative;
}
div#fd .mce-toolbar-grp .mce-btn button .mce-ico,
div#fd .mce-toolbar-grp .mce-btn button span {
  line-height: 32px;
  height: 32px;
  vertical-align: top;
  text-transform: none;
}
div#fd .mce-toolbar-grp .mce-btn button .mce-ico:before,
div#fd .mce-toolbar-grp .mce-btn button span:before {
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
}
div#fd .mce-toolbar-grp .mce-btn button .mce-preview {
  height: 2px;
  position: absolute;
  left: 8px;
  bottom: 0;
  margin: 7px 0 0;
}
div#fd .mce-toolbar-grp .mce-btn button .mce-i-forecolor,
div#fd .mce-toolbar-grp .mce-btn button .mce-i-backcolor {
  line-height: 18px;
  height: 18px;
  margin-top: 7px;
}
div#fd .mce-toolbar-grp .mce-btn button .mce-i-forecolor:before,
div#fd .mce-toolbar-grp .mce-btn button .mce-i-backcolor:before {
  position: relative;
  top: -4px;
}
div#fd .mce-toolbar-grp .mce-btn.mce-active button {
  background: #ddd;
  background-image: -moz-linear-gradient(top,#ccc,#fdfdfd);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ccc),to(#fdfdfd));
  background-image: -webkit-linear-gradient(top,#ccc,#fdfdfd);
  background-image: -o-linear-gradient(top,#ccc,#fdfdfd);
  background-image: linear-gradient(to bottom,#ccc,#fdfdfd);
}
div#fd .mce-container-body {
  white-space: normal;
}
div#fd .mce-container-body .mce-btn-group {
  white-space: normal;
  float: left;
  margin: 0;
}
div#fd .mce-container-body .mce-btn-group + .mce-btn-group {
  border-left: 1px solid #ccc;
}
div#fd .mce-container-body .mce-btn-group > div {
  white-space: normal;
}
div#fd .mce-edit-area {
  border-top-color: #ccc;
}
div#fd .mce-statusbar {
  border-color: #ddd;
}
div#fd .mce-statusbar * {
  font-size: 12px;
}
div#fd .mce-resizehandle {
  display: none !important;
  width: 0;
  height: 0;
}
div#fd .mceLayout {
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: hidden;
}
div#fd .mceLayout * {
  box-sizing: content-box;
}
div#fd .mceToolbar,
div#fd .mceStatusbar {
  border: 0;
}
div#fd td.mceToolbar {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
div#fd table.mceToolbar {
  border-spacing: 0;
}
div#fd table.mceToolbar td {
  border: 0;
  border-spacing: 0;
}
div#fd .mceStatusbar {
  border-top: 1px solid #ddd;
}
div#fd .cke_wrapper {
  border: 1px solid #ddd;
  padding: 0;
}
div#fd .cke_focus {
  outline: none !important;
}
div#fd .cke_editor tr,
div#fd .cke_editor td {
  border: 0 !important;
}
div#fd .cke_editor td.cke_top {
  background: #fafafa !important;
  border-bottom: 1px solid #ddd !important;
  padding: 5px !important;
}
div#fd .cke_editor td.cke_bottom {
  background: #fafafa !important;
  border-top: 1px solid #ddd !important;
  padding: 5px !important;
}
div#fd .cke_toolbox {
  border: 0;
  display: inline-block;
  width: 100%;
  margin: 0;
}
div#fd .cke_toolbox_collapser {
  display: none;
}
div#fd .cke_toolbar {
  background: none !important;
  border: 1px solid #ddd;
  border-radius: 0;
  display: table;
  margin: 2px;
}
div#fd .cke_toolbar > span {
  background: none;
  display: table-cell;
  float: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  position: static;
}
div#fd .cke_toolgroup {
  height: auto;
}
div#fd .cke_toolbar_start,
div#fd .cke_toolbar_end {
  display: none !important;
}
div#fd .cke_button {
  background: none;
  height: auto;
}
div#fd .cke_button a {
  border-radius: 0;
  margin: 3px;
  height: 24px;
}
div#fd .cke_button a:hover,
div#fd .cke_button a:focus,
div#fd .cke_button a:active,
div#fd .cke_button a.cke_on {
  background: #ddd;
  border-color: #ddd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div#fd .cke_button a.cke_on {
  background: #d0d0d0;
  border-color: #d0d0d0;
}
div#fd .cke_rcombo {
  padding: 0 5px !important;
}
div#fd .cke_rcombo .cke_label {
  padding-left: 0;
}
div#fd .cke_rcombo,
div#fd .cke_rcombo a,
div#fd .cke_rcombo span,
div#fd .cke_rcombo .cke_label,
div#fd .cke_rcombo .cke_text,
div#fd .cke_rcombo .cke_openbutton,
div#fd .cke_rcombo .cke_label,
div#fd .cke_rcombo .cke_text,
div#fd .cke_rcombo .cke_openbutton {
  display: table-cell;
  vertical-align: middle;
  float: none;
  white-space: nowrap;
}
div#fd .cke_rcombo + .cke_rcombo,
div#fd .cke_rcombo + .cke_button,
div#fd .cke_button + .cke_rcombo,
div#fd .cke_button + .cke_button,
div#fd .cke_button + .cke_toolgroup,
div#fd .cke_rcombo + .cke_toolgroup {
  border-left: 1px solid #eaeaea;
}
div#fd .cke_contents {
  border: 0 !important;
  padding: 10px;
}
div#fd .CodeMirror-code pre {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 11px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: transparent;
  border: 0;
}
div.mce-menu {
  border-radius: 3px;
  z-index: 999999 !important;
}
div.mce-menu .mce-text {
  font-size: 12px;
}
div.mce-menu-item {
  display: table;
  width: 100%;
  padding: 5px 0;
  font-size: 0;
}
div.mce-menu-item > .mce-ico,
div.mce-menu-item > .mce-text,
div.mce-menu-item > .mce-menu-shortcut {
  position: static;
  display: table-cell;
  vertical-align: middle;
}
div.mce-menu-item > .mce-ico,
div.mce-menu-item > .mce-menu-shortcut {
  font-size: 14px;
  width: 20px;
  text-align: center;
}
div.mce-menu-item > .mce-ico {
  padding: 0 0 0 10px;
}
div.mce-menu-item > .mce-menu-shortcut {
  padding: 0 15px 0 0;
}
div.mce-menu-item > .mce-i-none {
  display: none;
}
body div.cke_panel {
  border: 1px solid #bbb !important;
  border-radius: 0 !important;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
