div#fd.eb .eb-entry-title {
  font-size: 28px;
}
div#fd.eb .eb-entry-meta {
  margin: 15px 0 20px;
}
div#fd.eb .eb-entry-meta > div {
  display: inline-block;
  line-height: 16px;
  vertical-align: middle;
  margin: 0 10px 0 0;
}
div#fd.eb .eb-entry-meta .fa {
  color: #999;
}
div#fd.eb .eb-entry-article img {
  max-width: 100%;
  height: auto;
}
div#fd.eb .eb-entry-nav {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 20px 0;
  overflow: hidden;
}
div#fd.eb .eb-entry-nav * {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}
div#fd.eb .eb-entry-nav > div {
  width: 50%;
}
div#fd.eb .eb-entry-nav > div > a {
  color: inherit;
  display: block;
  padding: 15px 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div#fd.eb .eb-entry-nav > div > a:hover {
  background: #fafafa;
}
div#fd.eb .eb-entry-nav > div > a .fa {
  color: #999;
  font-size: 25px;
}
div#fd.eb .eb-entry-nav-prev {
  float: left;
}
div#fd.eb .eb-entry-nav-prev .fa {
  margin: 0 10px 0 0;
}
div#fd.eb .eb-entry-nav-next {
  float: right;
  text-align: right;
  border-left: 1px solid #ddd;
}
div#fd.eb .eb-entry-nav-next .fa {
  margin: 0 0 0 10px;
}
div#fd.eb .eb-entry-tools {
  margin: 0 0 20px;
}
div#fd.eb .eb-entry-helper .fa {
  font-size: 14px;
  margin: 0 5px 0 0;
  color: #999;
}
div#fd.eb .eb-entry-helper > div {
  display: inline-block;
  line-height: 1.2;
  vertical-align: middle;
  white-space: nowrap;
}
div#fd.eb .eb-entry-helper > div + div {
  border-left: 1px solid #e5e5e5;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
}
div#fd.eb .eb-entry-helper .at4-icon.aticon-compact {
  margin: 0 5px 0 0;
  float: left;
}
div#fd.eb .eb-help-resize span,
div#fd.eb .eb-help-resize a {
  color: inherit;
  display: inline-block;
  vertical-align: middle;
}
div#fd.eb .eb-help-resize a {
  display: inline-block;
  font-size: 14px;
  width: 17px;
  height: 17px;
  line-height: 14px;
  background: #999;
  color: #fff;
  text-align: center;
  text-decoration: none !important;
  border-radius: 100%;
}
div#fd.eb .eb-entry-author-avatar {
  padding: 0 10px 0 0;
}
div#fd.eb .eb-entry-author-bio h3 {
  font-size: 16px;
}
div#fd.eb .eb-entry-author-bio h3 a {
  color: inherit;
}
div#fd.eb .eb-entry-author-meta span {
  margin-top: 5px !important;
}
div#fd.eb .eb-entry-author-meta span + span {
  border-left: 1px solid #e2e2e2;
}
div#fd.eb .eb-entry-author-meta span a {
  color: inherit;
}
div#fd.eb .eb-entry-author-details {
  margin-top: 20px;
}
div#fd.eb .eb-entry-author-recents {
  background: #fafafa;
  border-top: 1px solid #e2e2e2;
  border-radius: 0 0 2px 2px;
  padding: 13.333333333333px;
  margin: 20px 0 0;
}
div#fd.eb .eb-entry-author-recents > h5 {
  margin: 0 0 10px;
}
div#fd.eb .eb-entry-author-recents > div + div {
  border-top: 1px solid #efefef;
  margin-top: 10px;
  padding-top: 10px;
}
div#fd.eb .eb-entry-author-recents a {
  display: block;
  overflow: hidden;
}
div#fd.eb .eb-entry-author-recents time,
div#fd.eb .eb-entry-author-recents i {
  color: #999;
  display: inline-block;
  line-height: 20px;
}
div#fd.eb .eb-entry-author-recents span {
  display: block;
  line-height: 20px;
  margin-left: 20px;
  padding-right: 20%;
}
div#fd.eb .eb-entry-fields,
div#fd.eb .eb-entry-location {
  margin: 0 0 20px;
}
div#fd.eb .eb-fields-list > li {
  overflow: hidden;
}
div#fd.eb .eb-fields-list > li + li {
  border-top: 1px solid #e2e2e2;
  padding-top: 8px;
  margin-top: 8px;
}
div#fd.eb .eb-fields-list > li > label {
  float: left;
  display: block;
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 10px 0 0;
}
div#fd.eb .eb-fields-list > li > div {
  overflow: hidden;
}
div#fd.eb .eb-fields-list.w600 > li > label {
  float: none;
  display: block;
  width: auto;
  margin: 0 0 5px;
}
div#fd.eb .eb-fields-items-inline > li {
  display: inline;
}
div#fd.eb .eb-fields-items-inline > li:after {
  content: ", ";
  display: inline-block;
}
div#fd.eb .eb-fields-items-inline > li:last-child:after {
  content: "";
}
div#fd.eb .eb-entry-location-map {
  background-size: cover;
  background-position: center;
  display: block;
  border: 1px solid #ddd;
  height: 200px;
  margin: 0;
}
div#fd.eb .eb-entry-location-map img {
  display: block;
  max-width: 100%;
  height: auto;
}
div#fd.eb .eb-entry-location-address {
  border: 1px solid #ddd;
  border-top: 0;
  background: #fafafa;
  color: #555;
  text-decoration: none !important;
  font-weight: bold;
}
div#fd.eb .eb-entry-location-address > div {
  width: 1px;
}
div#fd.eb .eb-entry-location-address > div + div {
  width: auto;
  vertical-align: middle;
  padding: 0 15px;
}
div#fd.eb .eb-entry-location-address i {
  border-right: 1px solid #ddd;
  width: 46px;
  line-height: 46px;
  float: left;
  text-align: center;
  font-size: 20px;
}
div#fd.eb .eb-entry-toc {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  float: right;
  padding: 5px 10px;
  max-width: 250px;
  min-width: 200px;
  margin: 0 0 5px 15px;
}
div#fd.eb .eb-entry-toc > div + div {
  border-top: 1px solid #e1e1e1;
}
div#fd.eb .eb-entry-toc > div > a {
  display: block;
  padding: 8px 0;
}
div#fd.eb .eb-entry-toc > div > a b {
  font-weight: inherit;
}
div#fd.eb .eb-entry-toc > div.active > a {
  color: #5e5e5e;
  font-weight: bold;
}
div#fd.eb .eb-entry-toc-pager {
  margin-top: 10px;
}
div#fd.eb .eb-entry-toc-pager > b,
div#fd.eb .eb-entry-toc-pager > div {
  display: inline-block;
  vertical-align: middle;
}
div#fd.eb .eb-entry-toc-pager > div > span {
  float: left;
}
div#fd.eb .eb-entry-toc-pager > div > span + span {
  padding: 0 0 0 3px;
}
div#fd.eb .eb-entry-toc-pager > div > span a {
  background: #fff;
  color: #888;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: block;
  line-height: 28px;
  height: 28px;
  width: 30px;
  text-align: center;
}
div#fd.eb .eb-entry-toc-pager > div > span.active a {
  background: #fafafa;
  font-weight: bold;
  color: #555;
}
div#fd.eb .eb-entry-moderate {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-right: 0;
  border-radius: 2px 0 0 2px;
  padding: 15px 0 15px 15px;
  margin: 0 15px 30px 0;
  position: relative;
}
div#fd.eb .eb-entry-moderate:before,
div#fd.eb .eb-entry-moderate:after {
  content: '';
  display: block;
  position: absolute;
}
div#fd.eb .eb-entry-moderate:after {
  border-bottom: solid 8px #bbb;
  border-left: solid 8px #bbb;
  border-right: solid 8px transparent;
  border-top: solid 8px transparent;
  border-radius: 0 0 0 2px;
  top: -1px;
  right: -15px;
}
div#fd.eb .eb-entry-moderate:before {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-top: 0;
  border-left: 0;
  border-radius: 0 0 3px 0;
  right: -15px;
  bottom: -1px;
  top: 15px;
  width: 15px;
}
div#fd.eb .eb-entry-moderate > h4 {
  font-size: 16px;
}
div#fd.eb .eb-entry-moderate .btn {
  font-weight: bold;
}
div#fd.eb .eb-entry-moderate .btn .fa {
  opacity: .65;
  filter: alpha(opacity=65);
}
div#fd.eb .eb-entry-related {
  margin: 0 -15px;
}
div#fd.eb .eb-entry-related > div {
  float: left;
  padding: 0 15px;
  width: 33.33333%;
  margin-bottom: 20px;
}
div#fd.eb .eb-entry-related > div:nth-child(3n + 1) {
  clear: left;
}
div#fd.eb .eb-entry-related.w480 {
  margin: 0;
}
div#fd.eb .eb-entry-related.w480 > div {
  padding: 0;
  width: 100%;
}
div#fd.eb .eb-entry-related.w480 > div + div {
  margin-top: 20px;
}
div#fd.eb .eb-related-thumb {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fafafa;
  display: block;
  padding: 0 0 55%;
  margin: 0 0 10px;
}
div#fd.eb .eb-related-thumb img {
  display: block;
  width: 100%;
  height: auto;
}
div#fd.eb .eb-related-title {
  font-size: 16px;
  margin: 0 0 5px;
}
div#fd.eb .eb-related-title a {
  color: inherit;
}
div#fd.eb .es-badges-list > li {
  margin: 5px 5px 5px 0;
}
div#fd.eb .es-badges-list > li a,
div#fd.eb .es-badges-list > li img {
  display: inline-block;
  vertical-align: top;
}
