div#fd.eb .eb-showcases {
  background: #fff;
  margin: 0 0 50px;
  border: 1px solid #ddd;
  line-height: 20px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
div#fd.eb .eb-showcases .carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}
div#fd.eb .eb-showcases .carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: .6s ease-in-out left;
  -moz-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
}
div#fd.eb .eb-showcases .carousel-inner > .active,
div#fd.eb .eb-showcases .carousel-inner > .next,
div#fd.eb .eb-showcases .carousel-inner > .prev {
  display: block;
}
div#fd.eb .eb-showcases .carousel-inner > .active {
  left: 0;
}
div#fd.eb .eb-showcases .carousel-inner > .next,
div#fd.eb .eb-showcases .carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
div#fd.eb .eb-showcases .carousel-inner > .next {
  left: 100%;
}
div#fd.eb .eb-showcases .carousel-inner > .prev {
  left: -100%;
}
div#fd.eb .eb-showcases .carousel-inner > .next.left,
div#fd.eb .eb-showcases .carousel-inner > .prev.right {
  left: 0;
}
div#fd.eb .eb-showcases .carousel-inner > .active.left {
  left: -100%;
}
div#fd.eb .eb-showcases .carousel-inner > .active.right {
  left: 100%;
}
div#fd.eb .eb-showcase {
  overflow: hidden;
  padding: 20px;
}
div#fd.eb .eb-showcase > .col-cell {
  vertical-align: top;
}
div#fd.eb .eb-showcase-thumb {
  margin-bottom: 0;
}
div#fd.eb .eb-showcase-thumb.is-left {
  margin-right: 20px;
}
div#fd.eb .eb-showcase-thumb.is-right {
  margin-left: 20px;
}
div#fd.eb .eb-showcase-content {
  position: relative;
  overflow: hidden;
}
div#fd.eb .eb-showcase-meta {
  margin-bottom: 10px;
}
div#fd.eb .eb-showcase-meta > div {
  vertical-align: middle;
  margin: 0 10px 0 0;
  display: inline-block;
}
div#fd.eb .eb-showcase-category {
  line-height: 1.25;
  margin: 0 0 10px;
}
div#fd.eb .eb-showcase-title {
  font-size: 18px;
  margin: 0 0 10px;
  line-height: 22px;
}
div#fd.eb .eb-showcase-title a {
  color: inherit;
}
div#fd.eb .eb-showcase-publish {
  line-height: 15px;
  margin-bottom: 15px;
}
div#fd.eb .eb-showcase-publish a {
  color: inherit;
  font-weight: bold;
}
div#fd.eb .eb-showcase-publish .col-cell + .col-cell {
  padding-left: 10px;
}
div#fd.eb .eb-showcase-article {
  word-break: break-word;
}
div#fd.eb .eb-showcase-more {
  height: 50px;
  position: relative;
}
div#fd.eb .eb-showcase-more .btn {
  position: absolute;
  left: 0;
  bottom: 0;
}
div#fd.eb .eb-showcase-control {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
div#fd.eb .eb-showcase-control > .btn {
  border-radius: 0;
}
div#fd.eb .eb-showcase-control > .btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
div#fd.eb .eb-showcase-control > .btn:last-child {
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
div#fd.eb .eb-showcase-indicators {
  position: absolute;
  width: 100%;
  bottom: -30px;
  left: 0;
  font-size: 0;
  right: auto;
  top: auto;
  display: none;
}
div#fd.eb .eb-showcase-indicators > li,
div#fd.eb .eb-showcase-indicators > li.active {
  display: inline-block;
  height: 4px;
  width: 30px;
  background: #ddd;
  margin: 20px 5px 0;
  border-radius: 0;
  cursor: pointer;
  position: static;
}
div#fd.eb .eb-showcase-indicators > li.active {
  background: #d9534f;
}
div#fd.eb.w480 .eb-showcase-thumbs,
div#fd.eb.w480 .eb-showcase-content {
  width: auto;
  display: block;
  padding: 0;
  overflow: hidden;
}
div#fd.eb.w480 .eb-showcase-thumbs {
  margin: 25px 0 15px;
}
div#fd.eb.w480 .eb-showcase-thumb {
  width: 100%;
  padding-bottom: 20px;
}
