div#fd {
  text-align: left;
}
div#fd *,
div#fd *:before,
div#fd *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div#fd img,
div#fd input {
  min-width: 0;
  min-height: 0;
}
div#fd blockquote,
div#fd header,
div#fd nav,
div#fd figure,
div#fd article,
div#fd aside,
div#fd footer,
div#fd form {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  border: 0;
  outline: 0;
  float: none;
  position: static;
  display: block;
  background: none;
  text-align: inherit;
  font-size: inherit;
  font-family: inherit;
  text-shadow: none;
}
div#fd .fd-reset-list,
div#fd .fd-reset-list > li {
  width: auto;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  clear: none;
  float: none;
  list-style: none;
  list-style-image: none;
  overflow: visible;
}
div#fd .fd-reset-list:before,
div#fd .fd-reset-list:after,
div#fd .fd-reset-list > li:before,
div#fd .fd-reset-list > li:after {
  display: none;
}
div#fd tr,
div#fd td {
  border: 1px solid transparent;
}
div#fd a {
  background: transparent;
}
div#fd a:link {
  text-decoration: none;
}
div#fd a:hover {
  color: #2a6496;
}
div#fd a:hover,
div#fd a:focus,
div#fd a:active {
  color: #428bca;
  background-color: transparent;
}
div#fd input,
div#fd button,
div#fd select,
div#fd textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
div#fd img {
  vertical-align: middle;
}
div#fd .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
div#fd .img-rounded {
  border-radius: 6px;
}
div#fd .img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
div#fd .img-circle {
  border-radius: 50%;
}
div#fd hr {
  margin-top: 17px;
  margin-bottom: 17px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
div#fd .divider {
  border-left: none;
  border-right: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
div#fd .fd-small {
  font-size: 11px;
  margin: auto;
  padding: auto;
  font-weight: normal;
}
div#fd .fd-small > a {
  font-size: 11px;
}
div#fd .row {
  display: block;
  margin: auto;
}
div#fd .fd-nav,
div#fd .fd-nav > li {
  width: auto;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  clear: none;
  float: none;
  list-style: none;
  list-style-image: none;
  overflow: visible;
}
div#fd .fd-nav:before,
div#fd .fd-nav:after,
div#fd .fd-nav > li:before,
div#fd .fd-nav > li:after {
  display: none;
}
div#fd .fd-nav > li,
div#fd .fd-nav > li > a {
  display: inline-block;
}
div#fd .fd-nav.fd-nav-stacked > li {
  display: list-item;
}
div#fd .fd-nav.fd-nav-stacked > li:before,
div#fd .fd-nav.fd-nav-stacked > li:after {
  content: " ";
  display: table;
}
div#fd .fd-nav.fd-nav-stacked > li:after {
  clear: both;
}
div#fd .fd-nav.fd-nav-stacked > li > a {
  display: block;
}
div#fd .fd-nav > li > .dropdown-menu.pull-right {
  left: auto;
  right: 0;
}
div#fd .fd-nav > li > .dropdown-menu.pull-right:before {
  left: auto;
  right: 12px;
}
div#fd .fd-nav > li > .dropdown-menu.pull-right:after {
  left: auto;
  right: 13px;
}
div#fd .fd-nav > li > .dropdown-menu.pull-right .dropdown-menu {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: -1px;
  border-radius: 6px 0 6px 6px;
}
div#fd .fd-nav-filter {
  position: relative;
}
div#fd .fd-nav-filter > li a {
  text-decoration: none;
  display: block;
  padding: 3px 10px;
  font-weight: bold;
}
div#fd .fd-nav-filter > li a:hover {
  background: none;
  color: inherit;
  text-decoration: underline;
}
div#fd .fd-nav-filter > li.active a {
  color: #555555;
}
div#fd .fd-nav-filter > li.divider-vertical {
  border-left: 1px solid #a3a3a3;
  border-right: 1px solid white;
  height: 16px;
  position: relative;
  top: 4px;
}
div#fd .mv-5 {
  margin: 5px 0 !important;
}
div#fd .mv-10 {
  margin: 10px 0 !important;
}
div#fd .mv-15 {
  margin: 15px 0 !important;
}
div#fd .mt-0 {
  margin-top: 0px !important;
}
div#fd .mt-5 {
  margin-top: 5px !important;
}
div#fd .mt-10 {
  margin-top: 10px !important;
}
div#fd .mt-15 {
  margin-top: 15px !important;
}
div#fd .mt-20 {
  margin-top: 20px !important;
}
div#fd .mb-0 {
  margin-bottom: 0px !important;
}
div#fd .mb-5 {
  margin-bottom: 5px !important;
}
div#fd .mb-10 {
  margin-bottom: 10px !important;
}
div#fd .mb-15 {
  margin-bottom: 15px !important;
}
div#fd .mb-20 {
  margin-bottom: 20px !important;
}
div#fd .mr-0 {
  margin-right: 0px !important;
}
div#fd .mr-5 {
  margin-right: 5px !important;
}
div#fd .mr-10 {
  margin-right: 10px !important;
}
div#fd .mr-15 {
  margin-right: 15px !important;
}
div#fd .mr-20 {
  margin-right: 20px !important;
}
div#fd .ml-0 {
  margin-left: 0px !important;
}
div#fd .ml-5 {
  margin-left: 5px !important;
}
div#fd .ml-10 {
  margin-left: 10px !important;
}
div#fd .ml-15 {
  margin-left: 15px !important;
}
div#fd .ml-20 {
  margin-left: 20px !important;
}
div#fd .pv-5 {
  padding: 5px 0 !important;
}
div#fd .pv-10 {
  padding: 10px 0 !important;
}
div#fd .pv-15 {
  padding: 15px 0 !important;
}
div#fd .ph-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
div#fd .ph-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
div#fd .ph-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
div#fd .ph-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
div#fd .pa-5 {
  padding: 5px !important;
}
div#fd .pa-10 {
  padding: 10px !important;
}
div#fd .pa-15 {
  padding: 15px !important;
}
div#fd .pt-0 {
  padding-top: 0px !important;
}
div#fd .pt-5 {
  padding-top: 5px !important;
}
div#fd .pt-10 {
  padding-top: 10px !important;
}
div#fd .pt-15 {
  padding-top: 15px !important;
}
div#fd .pt-20 {
  padding-top: 20px !important;
}
div#fd .pb-0 {
  padding-bottom: 0px !important;
}
div#fd .pb-5 {
  padding-bottom: 5px !important;
}
div#fd .pb-10 {
  padding-bottom: 10px !important;
}
div#fd .pb-15 {
  padding-bottom: 15px !important;
}
div#fd .pb-20 {
  padding-bottom: 20px !important;
}
div#fd .pr-0 {
  padding-right: 0px !important;
}
div#fd .pr-5 {
  padding-right: 5px !important;
}
div#fd .pr-10 {
  padding-right: 10px !important;
}
div#fd .pr-15 {
  padding-right: 15px !important;
}
div#fd .pr-20 {
  padding-right: 20px !important;
}
div#fd .pl-0 {
  padding-left: 0px !important;
}
div#fd .pl-5 {
  padding-left: 5px !important;
}
div#fd .pl-10 {
  padding-left: 10px !important;
}
div#fd .pl-15 {
  padding-left: 15px !important;
}
div#fd .pl-20 {
  padding-left: 20px !important;
}
div#fd .fs-24 {
  font-size: 24px !important;
}
div#fd .fs-16 {
  font-size: 16px !important;
}
div#fd .fs-14 {
  font-size: 14px !important;
}
div#fd .fs-12 {
  font-size: 12px !important;
}
div#fd .fs-11 {
  font-size: 11px !important;
}
div#fd .fs-10 {
  font-size: 10px !important;
}
div#fd .fs-9 {
  font-size: 9px !important;
}
div#fd .half-width {
  width: 50% !important;
}
div#fd .full-width {
  width: 100% !important;
}
div#fd .center,
div#fd .table td.center,
div#fd .table th.center {
  text-align: center !important;
}
div#fd .vertical-line {
  position: relative;
}
div#fd .vertical-line:before {
  content: '';
  display: block;
  width: 1px;
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  top: 0px;
  bottom: 0;
}
div#fd.w480 .vertical-line:before {
  display: none;
}
div#fd .vertical-line-50:before {
  left: 50%;
}
div#fd .fd-cf:before,
div#fd .fd-cf:after {
  content: " ";
  display: table;
}
div#fd .fd-cf:after {
  clear: both;
}
div#fd .fd-loading {
  background: url("../../../../../media/foundry/5.0/styles/images/loading.gif") left center no-repeat;
  min-height: 16px;
  min-width: 16px;
  vertical-align: bottom;
  display: inline-block;
  padding: 0 0 0 16px;
  text-indent: 8px;
}
div#fd i.fd-loading {
  display: inline;
}
div#fd div.fd-loading {
  background: none;
  min-width: none;
  min-height: none;
  display: block;
  padding: 0;
  text-align: center;
  text-indent: -8px;
}
div#fd div.fd-loading span {
  background: url("../../../../../media/foundry/5.0/styles/images/loading.gif") left center no-repeat;
  min-height: 16px;
  min-width: 16px;
  margin-left: -16px;
  vertical-align: bottom;
  display: inline-block;
  padding: 0 0 0 16px;
  text-indent: 8px;
}
div#fd.ui .ui-helper-hidden {
  display: none;
}
div#fd.ui .ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
div#fd.ui .ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
div#fd.ui .ui-helper-clearfix:before,
div#fd.ui .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
div#fd.ui .ui-helper-clearfix:after {
  clear: both;
}
div#fd.ui .ui-helper-clearfix {
  min-height: 0;
}
div#fd.ui .ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}
div#fd.ui .ui-front {
  z-index: 100;
}
div#fd.ui .ui-state-disabled {
  cursor: default !important;
}
div#fd.ui .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
div#fd.ui .ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#fd.ui .ui-widget {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em;
}
div#fd.ui .ui-widget .ui-widget {
  font-size: 1em;
}
div#fd.ui .ui-widget input,
div#fd.ui .ui-widget select,
div#fd.ui .ui-widget textarea,
div#fd.ui .ui-widget button {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
}
div#fd.ui .ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff url(../../../../../media/foundry/5.0/styles/ui/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
  color: #222222;
}
div#fd.ui .ui-widget-content a {
  color: #222222;
}
div#fd.ui .ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc url(../../../../../media/foundry/5.0/styles/ui/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
  color: #222222;
  font-weight: bold;
}
div#fd.ui .ui-widget-header a {
  color: #222222;
}
div#fd.ui .ui-state-default,
div#fd.ui .ui-widget-content .ui-state-default,
div#fd.ui .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 url(../../../../../media/foundry/5.0/styles/ui/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #555555;
}
div#fd.ui .ui-state-default a,
div#fd.ui .ui-state-default a:link,
div#fd.ui .ui-state-default a:visited {
  color: #555555;
  text-decoration: none;
}
div#fd.ui .ui-state-hover,
div#fd.ui .ui-widget-content .ui-state-hover,
div#fd.ui .ui-widget-header .ui-state-hover,
div#fd.ui .ui-state-focus,
div#fd.ui .ui-widget-content .ui-state-focus,
div#fd.ui .ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
  background: #dadada url(../../../../../media/foundry/5.0/styles/ui/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #212121;
}
div#fd.ui .ui-state-hover a,
div#fd.ui .ui-state-hover a:hover,
div#fd.ui .ui-state-hover a:link,
div#fd.ui .ui-state-hover a:visited {
  color: #212121;
  text-decoration: none;
}
div#fd.ui .ui-state-active,
div#fd.ui .ui-widget-content .ui-state-active,
div#fd.ui .ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa;
  background: #ffffff url(../../../../../media/foundry/5.0/styles/ui/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #212121;
}
div#fd.ui .ui-state-active a,
div#fd.ui .ui-state-active a:link,
div#fd.ui .ui-state-active a:visited {
  color: #212121;
  text-decoration: none;
}
div#fd.ui .ui-state-highlight,
div#fd.ui .ui-widget-content .ui-state-highlight,
div#fd.ui .ui-widget-header .ui-state-highlight {
  border: 1px solid #fcefa1;
  background: #fbf9ee url(../../../../../media/foundry/5.0/styles/ui/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
  color: #363636;
}
div#fd.ui .ui-state-highlight a,
div#fd.ui .ui-widget-content .ui-state-highlight a,
div#fd.ui .ui-widget-header .ui-state-highlight a {
  color: #363636;
}
div#fd.ui .ui-state-error,
div#fd.ui .ui-widget-content .ui-state-error,
div#fd.ui .ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec url(../../../../../media/foundry/5.0/styles/ui/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
  color: #cd0a0a;
}
div#fd.ui .ui-state-error a,
div#fd.ui .ui-widget-content .ui-state-error a,
div#fd.ui .ui-widget-header .ui-state-error a {
  color: #cd0a0a;
}
div#fd.ui .ui-state-error-text,
div#fd.ui .ui-widget-content .ui-state-error-text,
div#fd.ui .ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}
div#fd.ui .ui-priority-primary,
div#fd.ui .ui-widget-content .ui-priority-primary,
div#fd.ui .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
div#fd.ui .ui-priority-secondary,
div#fd.ui .ui-widget-content .ui-priority-secondary,
div#fd.ui .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}
div#fd.ui .ui-state-disabled,
div#fd.ui .ui-widget-content .ui-state-disabled,
div#fd.ui .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}
div#fd.ui .ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
}
div#fd.ui .ui-icon {
  width: 16px;
  height: 16px;
}
div#fd.ui .ui-icon,
div#fd.ui .ui-widget-content .ui-icon {
  background-image: url(../../../../../media/foundry/5.0/styles/ui/images/ui-icons_222222_256x240.png);
}
div#fd.ui .ui-widget-header .ui-icon {
  background-image: url(../../../../../media/foundry/5.0/styles/ui/images/ui-icons_222222_256x240.png);
}
div#fd.ui .ui-state-default .ui-icon {
  background-image: url(../../../../../media/foundry/5.0/styles/ui/images/ui-icons_888888_256x240.png);
}
div#fd.ui .ui-state-hover .ui-icon,
div#fd.ui .ui-state-focus .ui-icon {
  background-image: url(../../../../../media/foundry/5.0/styles/ui/images/ui-icons_454545_256x240.png);
}
div#fd.ui .ui-state-active .ui-icon {
  background-image: url(../../../../../media/foundry/5.0/styles/ui/images/ui-icons_454545_256x240.png);
}
div#fd.ui .ui-state-highlight .ui-icon {
  background-image: url(../../../../../media/foundry/5.0/styles/ui/images/ui-icons_2e83ff_256x240.png);
}
div#fd.ui .ui-state-error .ui-icon,
div#fd.ui .ui-state-error-text .ui-icon {
  background-image: url(../../../../../media/foundry/5.0/styles/ui/images/ui-icons_cd0a0a_256x240.png);
}
div#fd.ui .ui-icon-blank {
  background-position: 16px 16px;
}
div#fd.ui .ui-icon-carat-1-n {
  background-position: 0 0;
}
div#fd.ui .ui-icon-carat-1-ne {
  background-position: -16px 0;
}
div#fd.ui .ui-icon-carat-1-e {
  background-position: -32px 0;
}
div#fd.ui .ui-icon-carat-1-se {
  background-position: -48px 0;
}
div#fd.ui .ui-icon-carat-1-s {
  background-position: -64px 0;
}
div#fd.ui .ui-icon-carat-1-sw {
  background-position: -80px 0;
}
div#fd.ui .ui-icon-carat-1-w {
  background-position: -96px 0;
}
div#fd.ui .ui-icon-carat-1-nw {
  background-position: -112px 0;
}
div#fd.ui .ui-icon-carat-2-n-s {
  background-position: -128px 0;
}
div#fd.ui .ui-icon-carat-2-e-w {
  background-position: -144px 0;
}
div#fd.ui .ui-icon-triangle-1-n {
  background-position: 0 -16px;
}
div#fd.ui .ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}
div#fd.ui .ui-icon-triangle-1-e {
  background-position: -32px -16px;
}
div#fd.ui .ui-icon-triangle-1-se {
  background-position: -48px -16px;
}
div#fd.ui .ui-icon-triangle-1-s {
  background-position: -64px -16px;
}
div#fd.ui .ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}
div#fd.ui .ui-icon-triangle-1-w {
  background-position: -96px -16px;
}
div#fd.ui .ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}
div#fd.ui .ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}
div#fd.ui .ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}
div#fd.ui .ui-icon-arrow-1-n {
  background-position: 0 -32px;
}
div#fd.ui .ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}
div#fd.ui .ui-icon-arrow-1-e {
  background-position: -32px -32px;
}
div#fd.ui .ui-icon-arrow-1-se {
  background-position: -48px -32px;
}
div#fd.ui .ui-icon-arrow-1-s {
  background-position: -64px -32px;
}
div#fd.ui .ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}
div#fd.ui .ui-icon-arrow-1-w {
  background-position: -96px -32px;
}
div#fd.ui .ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}
div#fd.ui .ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}
div#fd.ui .ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}
div#fd.ui .ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}
div#fd.ui .ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}
div#fd.ui .ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}
div#fd.ui .ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}
div#fd.ui .ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}
div#fd.ui .ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}
div#fd.ui .ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}
div#fd.ui .ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}
div#fd.ui .ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}
div#fd.ui .ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}
div#fd.ui .ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}
div#fd.ui .ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}
div#fd.ui .ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}
div#fd.ui .ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}
div#fd.ui .ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}
div#fd.ui .ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}
div#fd.ui .ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}
div#fd.ui .ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}
div#fd.ui .ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}
div#fd.ui .ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}
div#fd.ui .ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}
div#fd.ui .ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}
div#fd.ui .ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}
div#fd.ui .ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}
div#fd.ui .ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}
div#fd.ui .ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}
div#fd.ui .ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}
div#fd.ui .ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}
div#fd.ui .ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}
div#fd.ui .ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}
div#fd.ui .ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}
div#fd.ui .ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}
div#fd.ui .ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}
div#fd.ui .ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}
div#fd.ui .ui-icon-arrow-4 {
  background-position: 0 -80px;
}
div#fd.ui .ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}
div#fd.ui .ui-icon-extlink {
  background-position: -32px -80px;
}
div#fd.ui .ui-icon-newwin {
  background-position: -48px -80px;
}
div#fd.ui .ui-icon-refresh {
  background-position: -64px -80px;
}
div#fd.ui .ui-icon-shuffle {
  background-position: -80px -80px;
}
div#fd.ui .ui-icon-transfer-e-w {
  background-position: -96px -80px;
}
div#fd.ui .ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}
div#fd.ui .ui-icon-folder-collapsed {
  background-position: 0 -96px;
}
div#fd.ui .ui-icon-folder-open {
  background-position: -16px -96px;
}
div#fd.ui .ui-icon-document {
  background-position: -32px -96px;
}
div#fd.ui .ui-icon-document-b {
  background-position: -48px -96px;
}
div#fd.ui .ui-icon-note {
  background-position: -64px -96px;
}
div#fd.ui .ui-icon-mail-closed {
  background-position: -80px -96px;
}
div#fd.ui .ui-icon-mail-open {
  background-position: -96px -96px;
}
div#fd.ui .ui-icon-suitcase {
  background-position: -112px -96px;
}
div#fd.ui .ui-icon-comment {
  background-position: -128px -96px;
}
div#fd.ui .ui-icon-person {
  background-position: -144px -96px;
}
div#fd.ui .ui-icon-print {
  background-position: -160px -96px;
}
div#fd.ui .ui-icon-trash {
  background-position: -176px -96px;
}
div#fd.ui .ui-icon-locked {
  background-position: -192px -96px;
}
div#fd.ui .ui-icon-unlocked {
  background-position: -208px -96px;
}
div#fd.ui .ui-icon-bookmark {
  background-position: -224px -96px;
}
div#fd.ui .ui-icon-tag {
  background-position: -240px -96px;
}
div#fd.ui .ui-icon-home {
  background-position: 0 -112px;
}
div#fd.ui .ui-icon-flag {
  background-position: -16px -112px;
}
div#fd.ui .ui-icon-calendar {
  background-position: -32px -112px;
}
div#fd.ui .ui-icon-cart {
  background-position: -48px -112px;
}
div#fd.ui .ui-icon-pencil {
  background-position: -64px -112px;
}
div#fd.ui .ui-icon-clock {
  background-position: -80px -112px;
}
div#fd.ui .ui-icon-disk {
  background-position: -96px -112px;
}
div#fd.ui .ui-icon-calculator {
  background-position: -112px -112px;
}
div#fd.ui .ui-icon-zoomin {
  background-position: -128px -112px;
}
div#fd.ui .ui-icon-zoomout {
  background-position: -144px -112px;
}
div#fd.ui .ui-icon-search {
  background-position: -160px -112px;
}
div#fd.ui .ui-icon-wrench {
  background-position: -176px -112px;
}
div#fd.ui .ui-icon-gear {
  background-position: -192px -112px;
}
div#fd.ui .ui-icon-heart {
  background-position: -208px -112px;
}
div#fd.ui .ui-icon-star {
  background-position: -224px -112px;
}
div#fd.ui .ui-icon-link {
  background-position: -240px -112px;
}
div#fd.ui .ui-icon-cancel {
  background-position: 0 -128px;
}
div#fd.ui .ui-icon-plus {
  background-position: -16px -128px;
}
div#fd.ui .ui-icon-plusthick {
  background-position: -32px -128px;
}
div#fd.ui .ui-icon-minus {
  background-position: -48px -128px;
}
div#fd.ui .ui-icon-minusthick {
  background-position: -64px -128px;
}
div#fd.ui .ui-icon-close {
  background-position: -80px -128px;
}
div#fd.ui .ui-icon-closethick {
  background-position: -96px -128px;
}
div#fd.ui .ui-icon-key {
  background-position: -112px -128px;
}
div#fd.ui .ui-icon-lightbulb {
  background-position: -128px -128px;
}
div#fd.ui .ui-icon-scissors {
  background-position: -144px -128px;
}
div#fd.ui .ui-icon-clipboard {
  background-position: -160px -128px;
}
div#fd.ui .ui-icon-copy {
  background-position: -176px -128px;
}
div#fd.ui .ui-icon-contact {
  background-position: -192px -128px;
}
div#fd.ui .ui-icon-image {
  background-position: -208px -128px;
}
div#fd.ui .ui-icon-video {
  background-position: -224px -128px;
}
div#fd.ui .ui-icon-script {
  background-position: -240px -128px;
}
div#fd.ui .ui-icon-alert {
  background-position: 0 -144px;
}
div#fd.ui .ui-icon-info {
  background-position: -16px -144px;
}
div#fd.ui .ui-icon-notice {
  background-position: -32px -144px;
}
div#fd.ui .ui-icon-help {
  background-position: -48px -144px;
}
div#fd.ui .ui-icon-check {
  background-position: -64px -144px;
}
div#fd.ui .ui-icon-bullet {
  background-position: -80px -144px;
}
div#fd.ui .ui-icon-radio-on {
  background-position: -96px -144px;
}
div#fd.ui .ui-icon-radio-off {
  background-position: -112px -144px;
}
div#fd.ui .ui-icon-pin-w {
  background-position: -128px -144px;
}
div#fd.ui .ui-icon-pin-s {
  background-position: -144px -144px;
}
div#fd.ui .ui-icon-play {
  background-position: 0 -160px;
}
div#fd.ui .ui-icon-pause {
  background-position: -16px -160px;
}
div#fd.ui .ui-icon-seek-next {
  background-position: -32px -160px;
}
div#fd.ui .ui-icon-seek-prev {
  background-position: -48px -160px;
}
div#fd.ui .ui-icon-seek-end {
  background-position: -64px -160px;
}
div#fd.ui .ui-icon-seek-start {
  background-position: -80px -160px;
}
div#fd.ui .ui-icon-seek-first {
  background-position: -80px -160px;
}
div#fd.ui .ui-icon-stop {
  background-position: -96px -160px;
}
div#fd.ui .ui-icon-eject {
  background-position: -112px -160px;
}
div#fd.ui .ui-icon-volume-off {
  background-position: -128px -160px;
}
div#fd.ui .ui-icon-volume-on {
  background-position: -144px -160px;
}
div#fd.ui .ui-icon-power {
  background-position: 0 -176px;
}
div#fd.ui .ui-icon-signal-diag {
  background-position: -16px -176px;
}
div#fd.ui .ui-icon-signal {
  background-position: -32px -176px;
}
div#fd.ui .ui-icon-battery-0 {
  background-position: -48px -176px;
}
div#fd.ui .ui-icon-battery-1 {
  background-position: -64px -176px;
}
div#fd.ui .ui-icon-battery-2 {
  background-position: -80px -176px;
}
div#fd.ui .ui-icon-battery-3 {
  background-position: -96px -176px;
}
div#fd.ui .ui-icon-circle-plus {
  background-position: 0 -192px;
}
div#fd.ui .ui-icon-circle-minus {
  background-position: -16px -192px;
}
div#fd.ui .ui-icon-circle-close {
  background-position: -32px -192px;
}
div#fd.ui .ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}
div#fd.ui .ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}
div#fd.ui .ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}
div#fd.ui .ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}
div#fd.ui .ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}
div#fd.ui .ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}
div#fd.ui .ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}
div#fd.ui .ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}
div#fd.ui .ui-icon-circle-zoomin {
  background-position: -176px -192px;
}
div#fd.ui .ui-icon-circle-zoomout {
  background-position: -192px -192px;
}
div#fd.ui .ui-icon-circle-check {
  background-position: -208px -192px;
}
div#fd.ui .ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}
div#fd.ui .ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}
div#fd.ui .ui-icon-circlesmall-close {
  background-position: -32px -208px;
}
div#fd.ui .ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}
div#fd.ui .ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}
div#fd.ui .ui-icon-squaresmall-close {
  background-position: -80px -208px;
}
div#fd.ui .ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}
div#fd.ui .ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}
div#fd.ui .ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}
div#fd.ui .ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}
div#fd.ui .ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}
div#fd.ui .ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}
div#fd.ui .ui-corner-all,
div#fd.ui .ui-corner-top,
div#fd.ui .ui-corner-left,
div#fd.ui .ui-corner-tl {
  border-top-left-radius: 4px;
}
div#fd.ui .ui-corner-all,
div#fd.ui .ui-corner-top,
div#fd.ui .ui-corner-right,
div#fd.ui .ui-corner-tr {
  border-top-right-radius: 4px;
}
div#fd.ui .ui-corner-all,
div#fd.ui .ui-corner-bottom,
div#fd.ui .ui-corner-left,
div#fd.ui .ui-corner-bl {
  border-bottom-left-radius: 4px;
}
div#fd.ui .ui-corner-all,
div#fd.ui .ui-corner-bottom,
div#fd.ui .ui-corner-right,
div#fd.ui .ui-corner-br {
  border-bottom-right-radius: 4px;
}
div#fd.ui .ui-widget-overlay {
  background: #aaaaaa url(../../../../../media/foundry/5.0/styles/ui/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: .3;
  filter: Alpha(Opacity=30);
}
div#fd.ui .ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #aaaaaa url(../../../../../media/foundry/5.0/styles/ui/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: .3;
  filter: Alpha(Opacity=30);
  border-radius: 8px;
}
div#fd.ui .ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}
div#fd.ui .ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
div#fd.ui .ui-datepicker .ui-datepicker-prev,
div#fd.ui .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
div#fd.ui .ui-datepicker .ui-datepicker-prev-hover,
div#fd.ui .ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
div#fd.ui .ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
div#fd.ui .ui-datepicker .ui-datepicker-next {
  right: 2px;
}
div#fd.ui .ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
div#fd.ui .ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
div#fd.ui .ui-datepicker .ui-datepicker-prev span,
div#fd.ui .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
div#fd.ui .ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
div#fd.ui .ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
div#fd.ui .ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
div#fd.ui .ui-datepicker select.ui-datepicker-month,
div#fd.ui .ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
div#fd.ui .ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
div#fd.ui .ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
div#fd.ui .ui-datepicker td {
  border: 0;
  padding: 1px;
}
div#fd.ui .ui-datepicker td span,
div#fd.ui .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
div#fd.ui .ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
div#fd.ui .ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
div#fd.ui .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
div#fd.ui .ui-datepicker.ui-datepicker-multi {
  width: auto;
}
div#fd.ui .ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
div#fd.ui .ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
div#fd.ui .ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
div#fd.ui .ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
div#fd.ui .ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
div#fd.ui .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
div#fd.ui .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
div#fd.ui .ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
div#fd.ui .ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}
div#fd.ui .ui-datepicker-rtl {
  direction: rtl;
}
div#fd.ui .ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
div#fd.ui .ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
div#fd.ui .ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
div#fd.ui .ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
div#fd.ui .ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
div#fd.ui .ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
div#fd.ui .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
div#fd.ui .ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
div#fd.ui .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
div#fd.ui .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
div#fd.ui .ui-slider {
  position: relative;
  text-align: left;
}
div#fd.ui .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}
div#fd.ui .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
div#fd.ui .ui-slider.ui-state-disabled .ui-slider-handle,
div#fd.ui .ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}
div#fd.ui .ui-slider-horizontal {
  height: .8em;
}
div#fd.ui .ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}
div#fd.ui .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
div#fd.ui .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
div#fd.ui .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
div#fd.ui .ui-slider-vertical {
  width: .8em;
  height: 100px;
}
div#fd.ui .ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
div#fd.ui .ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
div#fd.ui .ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
div#fd.ui .ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
div#fd .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
div#fd .container:before,
div#fd .container:after {
  content: " ";
  display: table;
}
div#fd .container:after {
  clear: both;
}
@media (min-width: 768px) {
  div#fd .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  div#fd .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  div#fd .container {
    width: 1170px;
  }
}
div#fd .row {
  margin-left: -15px;
  margin-right: -15px;
}
div#fd .row:before,
div#fd .row:after {
  content: " ";
  display: table;
}
div#fd .row:after {
  clear: both;
}
div#fd .col-xs-1,
div#fd .col-sm-1,
div#fd .col-md-1,
div#fd .col-lg-1,
div#fd .col-xs-2,
div#fd .col-sm-2,
div#fd .col-md-2,
div#fd .col-lg-2,
div#fd .col-xs-3,
div#fd .col-sm-3,
div#fd .col-md-3,
div#fd .col-lg-3,
div#fd .col-xs-4,
div#fd .col-sm-4,
div#fd .col-md-4,
div#fd .col-lg-4,
div#fd .col-xs-5,
div#fd .col-sm-5,
div#fd .col-md-5,
div#fd .col-lg-5,
div#fd .col-xs-6,
div#fd .col-sm-6,
div#fd .col-md-6,
div#fd .col-lg-6,
div#fd .col-xs-7,
div#fd .col-sm-7,
div#fd .col-md-7,
div#fd .col-lg-7,
div#fd .col-xs-8,
div#fd .col-sm-8,
div#fd .col-md-8,
div#fd .col-lg-8,
div#fd .col-xs-9,
div#fd .col-sm-9,
div#fd .col-md-9,
div#fd .col-lg-9,
div#fd .col-xs-10,
div#fd .col-sm-10,
div#fd .col-md-10,
div#fd .col-lg-10,
div#fd .col-xs-11,
div#fd .col-sm-11,
div#fd .col-md-11,
div#fd .col-lg-11,
div#fd .col-xs-12,
div#fd .col-sm-12,
div#fd .col-md-12,
div#fd .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
div#fd .col-xs-1,
div#fd .col-xs-2,
div#fd .col-xs-3,
div#fd .col-xs-4,
div#fd .col-xs-5,
div#fd .col-xs-6,
div#fd .col-xs-7,
div#fd .col-xs-8,
div#fd .col-xs-9,
div#fd .col-xs-10,
div#fd .col-xs-11,
div#fd .col-xs-12 {
  float: left;
}
div#fd .col-xs-12 {
  width: 100%;
}
div#fd .col-xs-11 {
  width: 91.666666666667%;
}
div#fd .col-xs-10 {
  width: 83.333333333333%;
}
div#fd .col-xs-9 {
  width: 75%;
}
div#fd .col-xs-8 {
  width: 66.666666666667%;
}
div#fd .col-xs-7 {
  width: 58.333333333333%;
}
div#fd .col-xs-6 {
  width: 50%;
}
div#fd .col-xs-5 {
  width: 41.666666666667%;
}
div#fd .col-xs-4 {
  width: 33.333333333333%;
}
div#fd .col-xs-3 {
  width: 25%;
}
div#fd .col-xs-2 {
  width: 16.666666666667%;
}
div#fd .col-xs-1 {
  width: 8.3333333333333%;
}
div#fd .col-xs-pull-12 {
  right: 100%;
}
div#fd .col-xs-pull-11 {
  right: 91.666666666667%;
}
div#fd .col-xs-pull-10 {
  right: 83.333333333333%;
}
div#fd .col-xs-pull-9 {
  right: 75%;
}
div#fd .col-xs-pull-8 {
  right: 66.666666666667%;
}
div#fd .col-xs-pull-7 {
  right: 58.333333333333%;
}
div#fd .col-xs-pull-6 {
  right: 50%;
}
div#fd .col-xs-pull-5 {
  right: 41.666666666667%;
}
div#fd .col-xs-pull-4 {
  right: 33.333333333333%;
}
div#fd .col-xs-pull-3 {
  right: 25%;
}
div#fd .col-xs-pull-2 {
  right: 16.666666666667%;
}
div#fd .col-xs-pull-1 {
  right: 8.3333333333333%;
}
div#fd .col-xs-pull-0 {
  right: 0%;
}
div#fd .col-xs-push-12 {
  left: 100%;
}
div#fd .col-xs-push-11 {
  left: 91.666666666667%;
}
div#fd .col-xs-push-10 {
  left: 83.333333333333%;
}
div#fd .col-xs-push-9 {
  left: 75%;
}
div#fd .col-xs-push-8 {
  left: 66.666666666667%;
}
div#fd .col-xs-push-7 {
  left: 58.333333333333%;
}
div#fd .col-xs-push-6 {
  left: 50%;
}
div#fd .col-xs-push-5 {
  left: 41.666666666667%;
}
div#fd .col-xs-push-4 {
  left: 33.333333333333%;
}
div#fd .col-xs-push-3 {
  left: 25%;
}
div#fd .col-xs-push-2 {
  left: 16.666666666667%;
}
div#fd .col-xs-push-1 {
  left: 8.3333333333333%;
}
div#fd .col-xs-push-0 {
  left: 0%;
}
div#fd .col-xs-offset-12 {
  margin-left: 100%;
}
div#fd .col-xs-offset-11 {
  margin-left: 91.666666666667%;
}
div#fd .col-xs-offset-10 {
  margin-left: 83.333333333333%;
}
div#fd .col-xs-offset-9 {
  margin-left: 75%;
}
div#fd .col-xs-offset-8 {
  margin-left: 66.666666666667%;
}
div#fd .col-xs-offset-7 {
  margin-left: 58.333333333333%;
}
div#fd .col-xs-offset-6 {
  margin-left: 50%;
}
div#fd .col-xs-offset-5 {
  margin-left: 41.666666666667%;
}
div#fd .col-xs-offset-4 {
  margin-left: 33.333333333333%;
}
div#fd .col-xs-offset-3 {
  margin-left: 25%;
}
div#fd .col-xs-offset-2 {
  margin-left: 16.666666666667%;
}
div#fd .col-xs-offset-1 {
  margin-left: 8.3333333333333%;
}
div#fd .col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  div#fd .col-sm-1,
  div#fd .col-sm-2,
  div#fd .col-sm-3,
  div#fd .col-sm-4,
  div#fd .col-sm-5,
  div#fd .col-sm-6,
  div#fd .col-sm-7,
  div#fd .col-sm-8,
  div#fd .col-sm-9,
  div#fd .col-sm-10,
  div#fd .col-sm-11,
  div#fd .col-sm-12 {
    float: left;
  }
  div#fd .col-sm-12 {
    width: 100%;
  }
  div#fd .col-sm-11 {
    width: 91.666666666667%;
  }
  div#fd .col-sm-10 {
    width: 83.333333333333%;
  }
  div#fd .col-sm-9 {
    width: 75%;
  }
  div#fd .col-sm-8 {
    width: 66.666666666667%;
  }
  div#fd .col-sm-7 {
    width: 58.333333333333%;
  }
  div#fd .col-sm-6 {
    width: 50%;
  }
  div#fd .col-sm-5 {
    width: 41.666666666667%;
  }
  div#fd .col-sm-4 {
    width: 33.333333333333%;
  }
  div#fd .col-sm-3 {
    width: 25%;
  }
  div#fd .col-sm-2 {
    width: 16.666666666667%;
  }
  div#fd .col-sm-1 {
    width: 8.3333333333333%;
  }
  div#fd .col-sm-pull-12 {
    right: 100%;
  }
  div#fd .col-sm-pull-11 {
    right: 91.666666666667%;
  }
  div#fd .col-sm-pull-10 {
    right: 83.333333333333%;
  }
  div#fd .col-sm-pull-9 {
    right: 75%;
  }
  div#fd .col-sm-pull-8 {
    right: 66.666666666667%;
  }
  div#fd .col-sm-pull-7 {
    right: 58.333333333333%;
  }
  div#fd .col-sm-pull-6 {
    right: 50%;
  }
  div#fd .col-sm-pull-5 {
    right: 41.666666666667%;
  }
  div#fd .col-sm-pull-4 {
    right: 33.333333333333%;
  }
  div#fd .col-sm-pull-3 {
    right: 25%;
  }
  div#fd .col-sm-pull-2 {
    right: 16.666666666667%;
  }
  div#fd .col-sm-pull-1 {
    right: 8.3333333333333%;
  }
  div#fd .col-sm-pull-0 {
    right: 0%;
  }
  div#fd .col-sm-push-12 {
    left: 100%;
  }
  div#fd .col-sm-push-11 {
    left: 91.666666666667%;
  }
  div#fd .col-sm-push-10 {
    left: 83.333333333333%;
  }
  div#fd .col-sm-push-9 {
    left: 75%;
  }
  div#fd .col-sm-push-8 {
    left: 66.666666666667%;
  }
  div#fd .col-sm-push-7 {
    left: 58.333333333333%;
  }
  div#fd .col-sm-push-6 {
    left: 50%;
  }
  div#fd .col-sm-push-5 {
    left: 41.666666666667%;
  }
  div#fd .col-sm-push-4 {
    left: 33.333333333333%;
  }
  div#fd .col-sm-push-3 {
    left: 25%;
  }
  div#fd .col-sm-push-2 {
    left: 16.666666666667%;
  }
  div#fd .col-sm-push-1 {
    left: 8.3333333333333%;
  }
  div#fd .col-sm-push-0 {
    left: 0%;
  }
  div#fd .col-sm-offset-12 {
    margin-left: 100%;
  }
  div#fd .col-sm-offset-11 {
    margin-left: 91.666666666667%;
  }
  div#fd .col-sm-offset-10 {
    margin-left: 83.333333333333%;
  }
  div#fd .col-sm-offset-9 {
    margin-left: 75%;
  }
  div#fd .col-sm-offset-8 {
    margin-left: 66.666666666667%;
  }
  div#fd .col-sm-offset-7 {
    margin-left: 58.333333333333%;
  }
  div#fd .col-sm-offset-6 {
    margin-left: 50%;
  }
  div#fd .col-sm-offset-5 {
    margin-left: 41.666666666667%;
  }
  div#fd .col-sm-offset-4 {
    margin-left: 33.333333333333%;
  }
  div#fd .col-sm-offset-3 {
    margin-left: 25%;
  }
  div#fd .col-sm-offset-2 {
    margin-left: 16.666666666667%;
  }
  div#fd .col-sm-offset-1 {
    margin-left: 8.3333333333333%;
  }
  div#fd .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  div#fd .col-md-1,
  div#fd .col-md-2,
  div#fd .col-md-3,
  div#fd .col-md-4,
  div#fd .col-md-5,
  div#fd .col-md-6,
  div#fd .col-md-7,
  div#fd .col-md-8,
  div#fd .col-md-9,
  div#fd .col-md-10,
  div#fd .col-md-11,
  div#fd .col-md-12 {
    float: left;
  }
  div#fd .col-md-12 {
    width: 100%;
  }
  div#fd .col-md-11 {
    width: 91.666666666667%;
  }
  div#fd .col-md-10 {
    width: 83.333333333333%;
  }
  div#fd .col-md-9 {
    width: 75%;
  }
  div#fd .col-md-8 {
    width: 66.666666666667%;
  }
  div#fd .col-md-7 {
    width: 58.333333333333%;
  }
  div#fd .col-md-6 {
    width: 50%;
  }
  div#fd .col-md-5 {
    width: 41.666666666667%;
  }
  div#fd .col-md-4 {
    width: 33.333333333333%;
  }
  div#fd .col-md-3 {
    width: 25%;
  }
  div#fd .col-md-2 {
    width: 16.666666666667%;
  }
  div#fd .col-md-1 {
    width: 8.3333333333333%;
  }
  div#fd .col-md-pull-12 {
    right: 100%;
  }
  div#fd .col-md-pull-11 {
    right: 91.666666666667%;
  }
  div#fd .col-md-pull-10 {
    right: 83.333333333333%;
  }
  div#fd .col-md-pull-9 {
    right: 75%;
  }
  div#fd .col-md-pull-8 {
    right: 66.666666666667%;
  }
  div#fd .col-md-pull-7 {
    right: 58.333333333333%;
  }
  div#fd .col-md-pull-6 {
    right: 50%;
  }
  div#fd .col-md-pull-5 {
    right: 41.666666666667%;
  }
  div#fd .col-md-pull-4 {
    right: 33.333333333333%;
  }
  div#fd .col-md-pull-3 {
    right: 25%;
  }
  div#fd .col-md-pull-2 {
    right: 16.666666666667%;
  }
  div#fd .col-md-pull-1 {
    right: 8.3333333333333%;
  }
  div#fd .col-md-pull-0 {
    right: 0%;
  }
  div#fd .col-md-push-12 {
    left: 100%;
  }
  div#fd .col-md-push-11 {
    left: 91.666666666667%;
  }
  div#fd .col-md-push-10 {
    left: 83.333333333333%;
  }
  div#fd .col-md-push-9 {
    left: 75%;
  }
  div#fd .col-md-push-8 {
    left: 66.666666666667%;
  }
  div#fd .col-md-push-7 {
    left: 58.333333333333%;
  }
  div#fd .col-md-push-6 {
    left: 50%;
  }
  div#fd .col-md-push-5 {
    left: 41.666666666667%;
  }
  div#fd .col-md-push-4 {
    left: 33.333333333333%;
  }
  div#fd .col-md-push-3 {
    left: 25%;
  }
  div#fd .col-md-push-2 {
    left: 16.666666666667%;
  }
  div#fd .col-md-push-1 {
    left: 8.3333333333333%;
  }
  div#fd .col-md-push-0 {
    left: 0%;
  }
  div#fd .col-md-offset-12 {
    margin-left: 100%;
  }
  div#fd .col-md-offset-11 {
    margin-left: 91.666666666667%;
  }
  div#fd .col-md-offset-10 {
    margin-left: 83.333333333333%;
  }
  div#fd .col-md-offset-9 {
    margin-left: 75%;
  }
  div#fd .col-md-offset-8 {
    margin-left: 66.666666666667%;
  }
  div#fd .col-md-offset-7 {
    margin-left: 58.333333333333%;
  }
  div#fd .col-md-offset-6 {
    margin-left: 50%;
  }
  div#fd .col-md-offset-5 {
    margin-left: 41.666666666667%;
  }
  div#fd .col-md-offset-4 {
    margin-left: 33.333333333333%;
  }
  div#fd .col-md-offset-3 {
    margin-left: 25%;
  }
  div#fd .col-md-offset-2 {
    margin-left: 16.666666666667%;
  }
  div#fd .col-md-offset-1 {
    margin-left: 8.3333333333333%;
  }
  div#fd .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  div#fd .col-lg-1,
  div#fd .col-lg-2,
  div#fd .col-lg-3,
  div#fd .col-lg-4,
  div#fd .col-lg-5,
  div#fd .col-lg-6,
  div#fd .col-lg-7,
  div#fd .col-lg-8,
  div#fd .col-lg-9,
  div#fd .col-lg-10,
  div#fd .col-lg-11,
  div#fd .col-lg-12 {
    float: left;
  }
  div#fd .col-lg-12 {
    width: 100%;
  }
  div#fd .col-lg-11 {
    width: 91.666666666667%;
  }
  div#fd .col-lg-10 {
    width: 83.333333333333%;
  }
  div#fd .col-lg-9 {
    width: 75%;
  }
  div#fd .col-lg-8 {
    width: 66.666666666667%;
  }
  div#fd .col-lg-7 {
    width: 58.333333333333%;
  }
  div#fd .col-lg-6 {
    width: 50%;
  }
  div#fd .col-lg-5 {
    width: 41.666666666667%;
  }
  div#fd .col-lg-4 {
    width: 33.333333333333%;
  }
  div#fd .col-lg-3 {
    width: 25%;
  }
  div#fd .col-lg-2 {
    width: 16.666666666667%;
  }
  div#fd .col-lg-1 {
    width: 8.3333333333333%;
  }
  div#fd .col-lg-pull-12 {
    right: 100%;
  }
  div#fd .col-lg-pull-11 {
    right: 91.666666666667%;
  }
  div#fd .col-lg-pull-10 {
    right: 83.333333333333%;
  }
  div#fd .col-lg-pull-9 {
    right: 75%;
  }
  div#fd .col-lg-pull-8 {
    right: 66.666666666667%;
  }
  div#fd .col-lg-pull-7 {
    right: 58.333333333333%;
  }
  div#fd .col-lg-pull-6 {
    right: 50%;
  }
  div#fd .col-lg-pull-5 {
    right: 41.666666666667%;
  }
  div#fd .col-lg-pull-4 {
    right: 33.333333333333%;
  }
  div#fd .col-lg-pull-3 {
    right: 25%;
  }
  div#fd .col-lg-pull-2 {
    right: 16.666666666667%;
  }
  div#fd .col-lg-pull-1 {
    right: 8.3333333333333%;
  }
  div#fd .col-lg-pull-0 {
    right: 0%;
  }
  div#fd .col-lg-push-12 {
    left: 100%;
  }
  div#fd .col-lg-push-11 {
    left: 91.666666666667%;
  }
  div#fd .col-lg-push-10 {
    left: 83.333333333333%;
  }
  div#fd .col-lg-push-9 {
    left: 75%;
  }
  div#fd .col-lg-push-8 {
    left: 66.666666666667%;
  }
  div#fd .col-lg-push-7 {
    left: 58.333333333333%;
  }
  div#fd .col-lg-push-6 {
    left: 50%;
  }
  div#fd .col-lg-push-5 {
    left: 41.666666666667%;
  }
  div#fd .col-lg-push-4 {
    left: 33.333333333333%;
  }
  div#fd .col-lg-push-3 {
    left: 25%;
  }
  div#fd .col-lg-push-2 {
    left: 16.666666666667%;
  }
  div#fd .col-lg-push-1 {
    left: 8.3333333333333%;
  }
  div#fd .col-lg-push-0 {
    left: 0%;
  }
  div#fd .col-lg-offset-12 {
    margin-left: 100%;
  }
  div#fd .col-lg-offset-11 {
    margin-left: 91.666666666667%;
  }
  div#fd .col-lg-offset-10 {
    margin-left: 83.333333333333%;
  }
  div#fd .col-lg-offset-9 {
    margin-left: 75%;
  }
  div#fd .col-lg-offset-8 {
    margin-left: 66.666666666667%;
  }
  div#fd .col-lg-offset-7 {
    margin-left: 58.333333333333%;
  }
  div#fd .col-lg-offset-6 {
    margin-left: 50%;
  }
  div#fd .col-lg-offset-5 {
    margin-left: 41.666666666667%;
  }
  div#fd .col-lg-offset-4 {
    margin-left: 33.333333333333%;
  }
  div#fd .col-lg-offset-3 {
    margin-left: 25%;
  }
  div#fd .col-lg-offset-2 {
    margin-left: 16.666666666667%;
  }
  div#fd .col-lg-offset-1 {
    margin-left: 8.3333333333333%;
  }
  div#fd .col-lg-offset-0 {
    margin-left: 0%;
  }
}
div#fd table {
  max-width: 100%;
  background-color: transparent;
}
div#fd th {
  text-align: left;
}
div#fd .table {
  width: 100%;
  margin-bottom: 17px;
}
div#fd .table > thead > tr > th,
div#fd .table > thead > tr > td,
div#fd .table > tbody > tr > th,
div#fd .table > tbody > tr > td,
div#fd .table > tfoot > tr > th,
div#fd .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
div#fd .table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
div#fd .table > caption + thead > tr:first-child > th,
div#fd .table > caption + thead > tr:first-child > td,
div#fd .table > colgroup + thead > tr:first-child > th,
div#fd .table > colgroup + thead > tr:first-child > td,
div#fd .table > thead:first-child > tr:first-child > th,
div#fd .table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
div#fd .table > tbody + tbody {
  border-top: 2px solid #ddd;
}
div#fd .table .table {
  background-color: #fff;
}
div#fd .table-condensed > thead > tr > th,
div#fd .table-condensed > thead > tr > td,
div#fd .table-condensed > tbody > tr > th,
div#fd .table-condensed > tbody > tr > td,
div#fd .table-condensed > tfoot > tr > th,
div#fd .table-condensed > tfoot > tr > td {
  padding: 5px;
}
div#fd .table-bordered {
  border: 1px solid #ddd;
}
div#fd .table-bordered > thead > tr > th,
div#fd .table-bordered > thead > tr > td,
div#fd .table-bordered > tbody > tr > th,
div#fd .table-bordered > tbody > tr > td,
div#fd .table-bordered > tfoot > tr > th,
div#fd .table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
div#fd .table-bordered > thead > tr > th,
div#fd .table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
div#fd .table-striped > tbody > tr:nth-child(odd) > td,
div#fd .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
div#fd .table-hover > tbody > tr:hover > td,
div#fd .table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
div#fd table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
div#fd table td[class*="col-"],
div#fd table th[class*="col-"] {
  float: none;
  display: table-cell;
}
div#fd .table > thead > tr > .active,
div#fd .table > thead > .active > td,
div#fd .table > thead > .active > th,
div#fd .table > tbody > tr > .active,
div#fd .table > tbody > .active > td,
div#fd .table > tbody > .active > th,
div#fd .table > tfoot > tr > .active,
div#fd .table > tfoot > .active > td,
div#fd .table > tfoot > .active > th {
  background-color: #f5f5f5;
}
div#fd .table-hover > tbody > tr > .active:hover,
div#fd .table-hover > tbody > .active:hover > td,
div#fd .table-hover > tbody > .active:hover > th {
  background-color: #e8e8e8;
}
div#fd .table > thead > tr > .success,
div#fd .table > thead > .success > td,
div#fd .table > thead > .success > th,
div#fd .table > tbody > tr > .success,
div#fd .table > tbody > .success > td,
div#fd .table > tbody > .success > th,
div#fd .table > tfoot > tr > .success,
div#fd .table > tfoot > .success > td,
div#fd .table > tfoot > .success > th {
  background-color: #dff0d8;
}
div#fd .table-hover > tbody > tr > .success:hover,
div#fd .table-hover > tbody > .success:hover > td,
div#fd .table-hover > tbody > .success:hover > th {
  background-color: #d0e9c6;
}
div#fd .table > thead > tr > .danger,
div#fd .table > thead > .danger > td,
div#fd .table > thead > .danger > th,
div#fd .table > tbody > tr > .danger,
div#fd .table > tbody > .danger > td,
div#fd .table > tbody > .danger > th,
div#fd .table > tfoot > tr > .danger,
div#fd .table > tfoot > .danger > td,
div#fd .table > tfoot > .danger > th {
  background-color: #f2dede;
}
div#fd .table-hover > tbody > tr > .danger:hover,
div#fd .table-hover > tbody > .danger:hover > td,
div#fd .table-hover > tbody > .danger:hover > th {
  background-color: #ebcccc;
}
div#fd .table > thead > tr > .warning,
div#fd .table > thead > .warning > td,
div#fd .table > thead > .warning > th,
div#fd .table > tbody > tr > .warning,
div#fd .table > tbody > .warning > td,
div#fd .table > tbody > .warning > th,
div#fd .table > tfoot > tr > .warning,
div#fd .table > tfoot > .warning > td,
div#fd .table > tfoot > .warning > th {
  background-color: #fcf8e3;
}
div#fd .table-hover > tbody > tr > .warning:hover,
div#fd .table-hover > tbody > .warning:hover > td,
div#fd .table-hover > tbody > .warning:hover > th {
  background-color: #faf2cc;
}
@media (max-width: 767px) {
  div#fd .table-responsive {
    width: 100%;
    margin-bottom: 12.75px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
  }
  div#fd .table-responsive > .table {
    margin-bottom: 0;
  }
  div#fd .table-responsive > .table > thead > tr > th,
  div#fd .table-responsive > .table > thead > tr > td,
  div#fd .table-responsive > .table > tbody > tr > th,
  div#fd .table-responsive > .table > tbody > tr > td,
  div#fd .table-responsive > .table > tfoot > tr > th,
  div#fd .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  div#fd .table-responsive > .table-bordered {
    border: 0;
  }
  div#fd .table-responsive > .table-bordered > thead > tr > th:first-child,
  div#fd .table-responsive > .table-bordered > thead > tr > td:first-child,
  div#fd .table-responsive > .table-bordered > tbody > tr > th:first-child,
  div#fd .table-responsive > .table-bordered > tbody > tr > td:first-child,
  div#fd .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  div#fd .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  div#fd .table-responsive > .table-bordered > thead > tr > th:last-child,
  div#fd .table-responsive > .table-bordered > thead > tr > td:last-child,
  div#fd .table-responsive > .table-bordered > tbody > tr > th:last-child,
  div#fd .table-responsive > .table-bordered > tbody > tr > td:last-child,
  div#fd .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  div#fd .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  div#fd .table-responsive > .table-bordered > tbody > tr:last-child > th,
  div#fd .table-responsive > .table-bordered > tbody > tr:last-child > td,
  div#fd .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  div#fd .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
div#fd fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
div#fd legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 17px;
  font-size: 18px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
div#fd label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
div#fd input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div#fd input[type="radio"],
div#fd input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
div#fd input[type="file"] {
  display: block;
}
div#fd select[multiple],
div#fd select[size] {
  height: auto;
}
div#fd select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}
div#fd input[type="file"]:focus,
div#fd input[type="radio"]:focus,
div#fd input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
div#fd input[type="number"]::-webkit-outer-spin-button,
div#fd input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
div#fd output {
  display: block;
  padding-top: 7px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
}
div#fd .form-control {
  display: block;
  width: 100%;
  height: 31px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
div#fd .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
}
div#fd .form-control:-moz-placeholder {
  color: #999999;
}
div#fd .form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
div#fd .form-control:-ms-input-placeholder {
  color: #999999;
}
div#fd .form-control::-webkit-input-placeholder {
  color: #999999;
}
div#fd .form-control[disabled],
div#fd .form-control[readonly],
fieldset[disabled] div#fd .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}
div#fd textarea.form-control {
  height: auto;
}
div#fd .form-group {
  margin-bottom: 15px;
}
div#fd .radio,
div#fd .checkbox {
  display: block;
  min-height: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
}
div#fd .radio label,
div#fd .checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  font-size: inherit;
  line-height: 17px;
}
div#fd .radio input[type="radio"],
div#fd .radio-inline input[type="radio"],
div#fd .checkbox input[type="checkbox"],
div#fd .checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
div#fd .radio + .radio,
div#fd .checkbox + .checkbox {
  margin-top: -5px;
}
div#fd .radio-inline,
div#fd .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
div#fd .radio-inline + .radio-inline,
div#fd .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
div#fd input[type="radio"][disabled],
fieldset[disabled] div#fd input[type="radio"],
div#fd input[type="checkbox"][disabled],
fieldset[disabled] div#fd input[type="checkbox"],
div#fd .radio[disabled],
fieldset[disabled] div#fd .radio,
div#fd .radio-inline[disabled],
fieldset[disabled] div#fd .radio-inline,
div#fd .checkbox[disabled],
fieldset[disabled] div#fd .checkbox,
div#fd .checkbox-inline[disabled],
fieldset[disabled] div#fd .checkbox-inline {
  cursor: not-allowed;
}
div#fd .input-sm {
  height: 28px;
  padding: 5px 10px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}
selectdiv#fd .input-sm {
  height: 28px;
  line-height: 28px;
}
textareadiv#fd .input-sm {
  height: auto;
}
div#fd .input-lg {
  height: 42px;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.33;
  border-radius: 6px;
}
selectdiv#fd .input-lg {
  height: 42px;
  line-height: 42px;
}
textareadiv#fd .input-lg {
  height: auto;
}
div#fd .has-warning .help-block,
div#fd .has-warning .control-label,
div#fd .has-warning .radio,
div#fd .has-warning .checkbox,
div#fd .has-warning .radio-inline,
div#fd .has-warning .checkbox-inline {
  color: #8a6d3b;
}
div#fd .has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
div#fd .has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #c0a16b;
}
div#fd .has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
div#fd .has-error .help-block,
div#fd .has-error .control-label,
div#fd .has-error .radio,
div#fd .has-error .checkbox,
div#fd .has-error .radio-inline,
div#fd .has-error .checkbox-inline {
  color: #a94442;
}
div#fd .has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
div#fd .has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #ce8483;
}
div#fd .has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
div#fd .has-success .help-block,
div#fd .has-success .control-label,
div#fd .has-success .radio,
div#fd .has-success .checkbox,
div#fd .has-success .radio-inline,
div#fd .has-success .checkbox-inline {
  color: #3c763d;
}
div#fd .has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
div#fd .has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #67b168;
}
div#fd .has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
div#fd .form-control-static {
  margin-bottom: 0;
}
div#fd .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  div#fd .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  div#fd .form-inline .form-control {
    display: inline-block;
  }
  div#fd .form-inline select.form-control {
    width: auto;
  }
  div#fd .form-inline .radio,
  div#fd .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  div#fd .form-inline .radio input[type="radio"],
  div#fd .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
}
div#fd .form-horizontal .control-label,
div#fd .form-horizontal .radio,
div#fd .form-horizontal .checkbox,
div#fd .form-horizontal .radio-inline,
div#fd .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  line-height: 17px;
}
div#fd .form-horizontal .radio,
div#fd .form-horizontal .checkbox {
  min-height: 24px;
}
div#fd .form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
div#fd .form-horizontal .form-group:before,
div#fd .form-horizontal .form-group:after {
  content: " ";
  display: table;
}
div#fd .form-horizontal .form-group:after {
  clear: both;
}
div#fd .form-horizontal .form-control-static {
  padding-top: 7px;
}
@media (min-width: 768px) {
  div#fd .form-horizontal .control-label {
    text-align: right;
  }
}
div#fd .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
div#fd .btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
div#fd .btn:hover,
div#fd .btn:focus {
  color: #333;
  text-decoration: none;
}
div#fd .btn:active,
div#fd .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
div#fd .btn.disabled,
div#fd .btn[disabled],
fieldset[disabled] div#fd .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
div#fd .btn-default {
  color: #333 !important;
  background-color: #fff !important;
  border-color: #ccc !important;
}
div#fd .btn-default:hover,
div#fd .btn-default:focus,
div#fd .btn-default:active,
div#fd .btn-default.active,
.open .dropdown-toggle_div#fd .btn-default {
  color: #333 !important;
  background-color: #ebebeb !important;
  border-color: #adadad !important;
}
div#fd .btn-default:active,
div#fd .btn-default.active,
.open .dropdown-toggle_div#fd .btn-default {
  background-image: none;
}
div#fd .btn-default.disabled,
div#fd .btn-default.disabled:hover,
div#fd .btn-default.disabled:focus,
div#fd .btn-default.disabled:active,
div#fd .btn-default.disabled.active,
div#fd .btn-default[disabled],
div#fd .btn-default[disabled]:hover,
div#fd .btn-default[disabled]:focus,
div#fd .btn-default[disabled]:active,
div#fd .btn-default[disabled].active,
fieldset[disabled] div#fd .btn-default,
fieldset[disabled] div#fd .btn-default:hover,
fieldset[disabled] div#fd .btn-default:focus,
fieldset[disabled] div#fd .btn-default:active,
fieldset[disabled] div#fd .btn-default.active {
  background-color: #fff !important;
  border-color: #ccc !important;
}
div#fd .btn-default .badge {
  color: #fff;
  background-color: #fff;
}
div#fd .btn-primary {
  color: #fff !important;
  background-color: #428bca !important;
  border-color: #357ebd !important;
}
div#fd .btn-primary:hover,
div#fd .btn-primary:focus,
div#fd .btn-primary:active,
div#fd .btn-primary.active,
.open .dropdown-toggle_div#fd .btn-primary {
  color: #fff !important;
  background-color: #3276b1 !important;
  border-color: #285e8e !important;
}
div#fd .btn-primary:active,
div#fd .btn-primary.active,
.open .dropdown-toggle_div#fd .btn-primary {
  background-image: none;
}
div#fd .btn-primary.disabled,
div#fd .btn-primary.disabled:hover,
div#fd .btn-primary.disabled:focus,
div#fd .btn-primary.disabled:active,
div#fd .btn-primary.disabled.active,
div#fd .btn-primary[disabled],
div#fd .btn-primary[disabled]:hover,
div#fd .btn-primary[disabled]:focus,
div#fd .btn-primary[disabled]:active,
div#fd .btn-primary[disabled].active,
fieldset[disabled] div#fd .btn-primary,
fieldset[disabled] div#fd .btn-primary:hover,
fieldset[disabled] div#fd .btn-primary:focus,
fieldset[disabled] div#fd .btn-primary:active,
fieldset[disabled] div#fd .btn-primary.active {
  background-color: #428bca !important;
  border-color: #357ebd !important;
}
div#fd .btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}
div#fd .btn-warning {
  color: #fff !important;
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
}
div#fd .btn-warning:hover,
div#fd .btn-warning:focus,
div#fd .btn-warning:active,
div#fd .btn-warning.active,
.open .dropdown-toggle_div#fd .btn-warning {
  color: #fff !important;
  background-color: #ed9c28 !important;
  border-color: #d58512 !important;
}
div#fd .btn-warning:active,
div#fd .btn-warning.active,
.open .dropdown-toggle_div#fd .btn-warning {
  background-image: none;
}
div#fd .btn-warning.disabled,
div#fd .btn-warning.disabled:hover,
div#fd .btn-warning.disabled:focus,
div#fd .btn-warning.disabled:active,
div#fd .btn-warning.disabled.active,
div#fd .btn-warning[disabled],
div#fd .btn-warning[disabled]:hover,
div#fd .btn-warning[disabled]:focus,
div#fd .btn-warning[disabled]:active,
div#fd .btn-warning[disabled].active,
fieldset[disabled] div#fd .btn-warning,
fieldset[disabled] div#fd .btn-warning:hover,
fieldset[disabled] div#fd .btn-warning:focus,
fieldset[disabled] div#fd .btn-warning:active,
fieldset[disabled] div#fd .btn-warning.active {
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
}
div#fd .btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
div#fd .btn-danger {
  color: #fff !important;
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
}
div#fd .btn-danger:hover,
div#fd .btn-danger:focus,
div#fd .btn-danger:active,
div#fd .btn-danger.active,
.open .dropdown-toggle_div#fd .btn-danger {
  color: #fff !important;
  background-color: #d2322d !important;
  border-color: #ac2925 !important;
}
div#fd .btn-danger:active,
div#fd .btn-danger.active,
.open .dropdown-toggle_div#fd .btn-danger {
  background-image: none;
}
div#fd .btn-danger.disabled,
div#fd .btn-danger.disabled:hover,
div#fd .btn-danger.disabled:focus,
div#fd .btn-danger.disabled:active,
div#fd .btn-danger.disabled.active,
div#fd .btn-danger[disabled],
div#fd .btn-danger[disabled]:hover,
div#fd .btn-danger[disabled]:focus,
div#fd .btn-danger[disabled]:active,
div#fd .btn-danger[disabled].active,
fieldset[disabled] div#fd .btn-danger,
fieldset[disabled] div#fd .btn-danger:hover,
fieldset[disabled] div#fd .btn-danger:focus,
fieldset[disabled] div#fd .btn-danger:active,
fieldset[disabled] div#fd .btn-danger.active {
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
}
div#fd .btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
div#fd .btn-success {
  color: #fff !important;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}
div#fd .btn-success:hover,
div#fd .btn-success:focus,
div#fd .btn-success:active,
div#fd .btn-success.active,
.open .dropdown-toggle_div#fd .btn-success {
  color: #fff !important;
  background-color: #47a447 !important;
  border-color: #398439 !important;
}
div#fd .btn-success:active,
div#fd .btn-success.active,
.open .dropdown-toggle_div#fd .btn-success {
  background-image: none;
}
div#fd .btn-success.disabled,
div#fd .btn-success.disabled:hover,
div#fd .btn-success.disabled:focus,
div#fd .btn-success.disabled:active,
div#fd .btn-success.disabled.active,
div#fd .btn-success[disabled],
div#fd .btn-success[disabled]:hover,
div#fd .btn-success[disabled]:focus,
div#fd .btn-success[disabled]:active,
div#fd .btn-success[disabled].active,
fieldset[disabled] div#fd .btn-success,
fieldset[disabled] div#fd .btn-success:hover,
fieldset[disabled] div#fd .btn-success:focus,
fieldset[disabled] div#fd .btn-success:active,
fieldset[disabled] div#fd .btn-success.active {
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}
div#fd .btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
div#fd .btn-info {
  color: #fff !important;
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
}
div#fd .btn-info:hover,
div#fd .btn-info:focus,
div#fd .btn-info:active,
div#fd .btn-info.active,
.open .dropdown-toggle_div#fd .btn-info {
  color: #fff !important;
  background-color: #39b3d7 !important;
  border-color: #269abc !important;
}
div#fd .btn-info:active,
div#fd .btn-info.active,
.open .dropdown-toggle_div#fd .btn-info {
  background-image: none;
}
div#fd .btn-info.disabled,
div#fd .btn-info.disabled:hover,
div#fd .btn-info.disabled:focus,
div#fd .btn-info.disabled:active,
div#fd .btn-info.disabled.active,
div#fd .btn-info[disabled],
div#fd .btn-info[disabled]:hover,
div#fd .btn-info[disabled]:focus,
div#fd .btn-info[disabled]:active,
div#fd .btn-info[disabled].active,
fieldset[disabled] div#fd .btn-info,
fieldset[disabled] div#fd .btn-info:hover,
fieldset[disabled] div#fd .btn-info:focus,
fieldset[disabled] div#fd .btn-info:active,
fieldset[disabled] div#fd .btn-info.active {
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
}
div#fd .btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
div#fd .btn-link {
  color: #428bca;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
div#fd .btn-link,
div#fd .btn-link:active,
div#fd .btn-link[disabled],
fieldset[disabled] div#fd .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
div#fd .btn-link,
div#fd .btn-link:hover,
div#fd .btn-link:focus,
div#fd .btn-link:active {
  border-color: transparent;
}
div#fd .btn-link:hover,
div#fd .btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
div#fd .btn-link[disabled]:hover,
div#fd .btn-link[disabled]:focus,
fieldset[disabled] div#fd .btn-link:hover,
fieldset[disabled] div#fd .btn-link:focus {
  color: #999999;
  text-decoration: none;
}
div#fd .btn-lg {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.33;
  border-radius: 6px;
}
div#fd .btn-sm {
  padding: 5px 10px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}
div#fd .btn-xs {
  padding: 1px 5px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}
div#fd .btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
div#fd .btn-block + .btn-block {
  margin-top: 5px;
}
div#fd input[type="submit"].btn-block,
div#fd input[type="reset"].btn-block,
div#fd input[type="button"].btn-block {
  width: 100%;
}
div#fd .fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
div#fd .fade.in {
  opacity: 1;
}
div#fd .collapse {
  display: none;
}
div#fd .collapse.in {
  display: block;
}
div#fd .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
  transition: height .35s ease;
}
div#fd .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin: 0;
}
div#fd .dropdown {
  position: relative;
}
div#fd .dropdown-toggle_:focus {
  outline: 0;
}
div#fd .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
}
div#fd .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
div#fd .dropdown-menu .divider {
  height: 1px;
  margin: 7.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
div#fd .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
div#fd .dropdown-menu > li > a:hover,
div#fd .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
div#fd .dropdown-menu > .active > a,
div#fd .dropdown-menu > .active > a:hover,
div#fd .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
div#fd .dropdown-menu > .disabled > a,
div#fd .dropdown-menu > .disabled > a:hover,
div#fd .dropdown-menu > .disabled > a:focus {
  color: #999999;
}
div#fd .dropdown-menu > .disabled > a:hover,
div#fd .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
div#fd .open > .dropdown-menu {
  display: block;
}
div#fd .open > a {
  outline: 0;
}
div#fd .dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 11px;
  line-height: 1.428571429;
  color: #999999;
}
div#fd .dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
div#fd .pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
div#fd .dropup .caret,
div#fd .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}
div#fd .dropup .dropdown-menu,
div#fd .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  div#fd .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}
div#fd .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
div#fd .input-group[class*="col-"] {
  float: none;
  padding-left: 0;
  padding-right: 0;
}
div#fd .input-group .form-control {
  width: 100%;
  margin-bottom: 0;
}
div#fd .input-group-lg > .form-control,
div#fd .input-group-lg > .input-group-addon,
div#fd .input-group-lg > .input-group-btn > .btn {
  height: 42px;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.33;
  border-radius: 6px;
}
selectdiv#fd .input-group-lg > .form-control,
selectdiv#fd .input-group-lg > .input-group-addon,
selectdiv#fd .input-group-lg > .input-group-btn > .btn {
  height: 42px;
  line-height: 42px;
}
textareadiv#fd .input-group-lg > .form-control,
textareadiv#fd .input-group-lg > .input-group-addon,
textareadiv#fd .input-group-lg > .input-group-btn > .btn {
  height: auto;
}
div#fd .input-group-sm > .form-control,
div#fd .input-group-sm > .input-group-addon,
div#fd .input-group-sm > .input-group-btn > .btn {
  height: 28px;
  padding: 5px 10px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}
selectdiv#fd .input-group-sm > .form-control,
selectdiv#fd .input-group-sm > .input-group-addon,
selectdiv#fd .input-group-sm > .input-group-btn > .btn {
  height: 28px;
  line-height: 28px;
}
textareadiv#fd .input-group-sm > .form-control,
textareadiv#fd .input-group-sm > .input-group-addon,
textareadiv#fd .input-group-sm > .input-group-btn > .btn {
  height: auto;
}
div#fd .input-group-addon,
div#fd .input-group-btn,
div#fd .input-group .form-control {
  display: table-cell;
}
div#fd .input-group-addon:not(:first-child):not(:last-child),
div#fd .input-group-btn:not(:first-child):not(:last-child),
div#fd .input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
div#fd .input-group-addon,
div#fd .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
div#fd .input-group-addon {
  padding: 6px 12px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
div#fd .input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 11px;
  border-radius: 3px;
}
div#fd .input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 15px;
  border-radius: 6px;
}
div#fd .input-group-addon input[type="radio"],
div#fd .input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
div#fd .input-group .form-control:first-child,
div#fd .input-group-addon:first-child,
div#fd .input-group-btn:first-child > .btn,
div#fd .input-group-btn:first-child > .dropdown-toggle_,
div#fd .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle_) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
div#fd .input-group-addon:first-child {
  border-right: 0;
}
div#fd .input-group .form-control:last-child,
div#fd .input-group-addon:last-child,
div#fd .input-group-btn:last-child > .btn,
div#fd .input-group-btn:last-child > .dropdown-toggle_,
div#fd .input-group-btn:first-child > .btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
div#fd .input-group-addon:last-child {
  border-left: 0;
}
div#fd .input-group-btn {
  position: relative;
  white-space: nowrap;
}
div#fd .input-group-btn:first-child > .btn {
  margin-right: -1px;
}
div#fd .input-group-btn:last-child > .btn {
  margin-left: -1px;
}
div#fd .input-group-btn > .btn {
  position: relative;
}
div#fd .input-group-btn > .btn + .btn {
  margin-left: -4px;
}
div#fd .input-group-btn > .btn:hover,
div#fd .input-group-btn > .btn:active {
  z-index: 2;
}
div#fd .nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
div#fd .nav:before,
div#fd .nav:after {
  content: " ";
  display: table;
}
div#fd .nav:after {
  clear: both;
}
div#fd .nav > li {
  position: relative;
  display: block;
}
div#fd .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
div#fd .nav > li > a:hover,
div#fd .nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
div#fd .nav > li.disabled > a {
  color: #999999;
}
div#fd .nav > li.disabled > a:hover,
div#fd .nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
div#fd .nav .open > a,
div#fd .nav .open > a:hover,
div#fd .nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}
div#fd .nav .nav-divider {
  height: 1px;
  margin: 7.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
div#fd .nav > li > a > img {
  max-width: none;
}
div#fd .nav-tabs {
  border-bottom: 1px solid #ddd;
}
div#fd .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
div#fd .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
div#fd .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #ddd;
}
div#fd .nav-tabs > li.active > a,
div#fd .nav-tabs > li.active > a:hover,
div#fd .nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
div#fd .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
div#fd .nav-tabs.nav-justified > li {
  float: none;
}
div#fd .nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
div#fd .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  div#fd .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  div#fd .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
div#fd .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
div#fd .nav-tabs.nav-justified > .active > a,
div#fd .nav-tabs.nav-justified > .active > a:hover,
div#fd .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  div#fd .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  div#fd .nav-tabs.nav-justified > .active > a,
  div#fd .nav-tabs.nav-justified > .active > a:hover,
  div#fd .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
div#fd .nav-pills > li {
  float: left;
}
div#fd .nav-pills > li > a {
  border-radius: 4px;
}
div#fd .nav-pills > li + li {
  margin-left: 2px;
}
div#fd .nav-pills > li.active > a,
div#fd .nav-pills > li.active > a:hover,
div#fd .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #428bca;
}
div#fd .nav-stacked > li {
  float: none;
}
div#fd .nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
div#fd .nav-justified {
  width: 100%;
}
div#fd .nav-justified > li {
  float: none;
}
div#fd .nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
div#fd .nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  div#fd .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  div#fd .nav-justified > li > a {
    margin-bottom: 0;
  }
}
div#fd .nav-tabs-justified {
  border-bottom: 0;
}
div#fd .nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
div#fd .nav-tabs-justified > .active > a,
div#fd .nav-tabs-justified > .active > a:hover,
div#fd .nav-tabs-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  div#fd .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  div#fd .nav-tabs-justified > .active > a,
  div#fd .nav-tabs-justified > .active > a:hover,
  div#fd .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
div#fd .tab-content > .tab-pane {
  display: none;
}
div#fd .tab-content > .active {
  display: block;
}
div#fd .nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
div#fd .alert {
  padding: 15px;
  margin-bottom: 17px;
  border: 1px solid transparent;
  border-radius: 4px;
}
div#fd .alert h4 {
  margin-top: 0;
  color: inherit;
}
div#fd .alert .alert-link {
  font-weight: bold;
}
div#fd .alert > p,
div#fd .alert > ul {
  margin-bottom: 0;
}
div#fd .alert > p + p {
  margin-top: 5px;
}
div#fd .alert .close {
  border: none;
}
div#fd .alert-dismissable {
  padding-right: 35px;
}
div#fd .alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
div#fd .alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
div#fd .alert-success hr {
  border-top-color: #c9e2b3;
}
div#fd .alert-success .alert-link {
  color: #2b542c;
}
div#fd .alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
div#fd .alert-info hr {
  border-top-color: #a6e1ec;
}
div#fd .alert-info .alert-link {
  color: #245269;
}
div#fd .alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
div#fd .alert-warning hr {
  border-top-color: #f7e1b5;
}
div#fd .alert-warning .alert-link {
  color: #66512c;
}
div#fd .alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
div#fd .alert-danger hr {
  border-top-color: #e4b9c0;
}
div#fd .alert-danger .alert-link {
  color: #843534;
}
