div#fd.eb .fa:before {
  padding: 0;
  margin: 0;
}
div#fd.eb h1,
div#fd.eb h2,
div#fd.eb h3,
div#fd.eb h4,
div#fd.eb h5,
div#fd.eb h6 {
  font-weight: bold;
  margin-top: 0;
}
div#fd.eb img {
  max-width: none;
}
div#fd.eb .eb-avatar img {
  border-radius: 3px;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
}
div#fd.eb .eb-avatar-sm img {
  width: 30px;
  height: 30px;
}
div#fd.eb .btn {
  text-decoration: none !important;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  font-weight: bold;
}
div#fd.eb .btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}
div#fd.eb .eb-responsive-video,
div#fd.eb .video-container,
div#fd.eb.w480 .legacy-video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
div#fd.eb .eb-responsive-video > .video-container {
  position: static;
  padding: 0 !important;
  height: auto;
}
div#fd.eb .eb-responsive-video object,
div#fd.eb .eb-responsive-video embed,
div#fd.eb .eb-responsive-video iframe,
div#fd.eb .video-container object,
div#fd.eb .video-container embed,
div#fd.eb .video-container iframe,
div#fd.eb.w480 .legacy-video-container object,
div#fd.eb.w480 .legacy-video-container embed,
div#fd.eb.w480 .legacy-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#fd.eb .text-small {
  font-size: 90%;
}
div#fd.eb .text-italic {
  font-style: italic;
}
div#fd.eb .text-normal {
  font-weight: normal;
}
div#fd.eb .text-muted {
  color: #888;
}
div#fd.eb .search-highlight {
  background: #ffb;
  color: #5e5e00;
}
div#fd.eb .eb-star-featured {
  color: #f39c12;
  font-size: 14px;
}
div#fd.eb .eb-empty {
  background: #fafafa;
  border: 1px dashed #ddd;
  border-radius: 3px;
  text-align: center;
  color: #666;
  padding: 20px 10px;
}
div#fd.eb .eb-empty .fa {
  display: block;
  font-size: 50px;
  margin: 0 0 20px;
}
div#fd.eb .eb-loader {
  background: url(../images/loading.gif) center no-repeat;
  display: inline-block;
  width: 16px;
  height: 11px;
  vertical-align: middle;
}
div#fd.eb .eb-anchor-link {
  height: 1px;
  display: block;
  font-size: 0;
}
div#fd.eb .eb-header {
  margin-bottom: 20px;
}
div#fd.eb label {
  font-size: inherit;
}
div#fd.eb .eb-section-heading {
  border-bottom: 2px solid #d0d0d0;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  padding: 10px 0;
  margin: 20px 0;
  text-transform: uppercase;
}
div#fd.eb .eb-section-heading span:before {
  content: "(";
}
div#fd.eb .eb-section-heading span:after {
  content: ")";
}
div#fd.eb .eb-post + .eb-post {
  margin-top: 40px;
}
div#fd.eb .eb-posts-search .eb-post + .eb-post {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 20px;
}
div#fd.eb .eb-posts-search .eb-post-title {
  font-size: 24px;
  margin: 0 0 10px;
  word-break: break-word;
}
div#fd.eb .eb-posts-search .eb-post-meta {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-size: 11px;
  margin-top: 10px;
  padding: 4px 6.6666666666667px;
}
div#fd.eb .eb-post-side {
  float: left;
  text-align: center;
  width: 50px;
}
div#fd.eb .eb-post-side > div {
  position: relative;
}
div#fd.eb .eb-post-side > div + div {
  padding-top: 10px;
}
div#fd.eb .eb-post-side > div + div:before {
  background: #e5e5e5;
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 0 0 -0.5px;
  position: absolute;
  left: 50%;
  top: 0;
}
div#fd.eb .eb-post-side.no-avatar {
  width: 30px;
}
div#fd.eb .eb-post-side.no-avatar + .eb-post-content {
  margin: 0 0 0 50px;
}
div#fd.eb .eb-post-side + .eb-post-content {
  margin: 0 0 0 70px;
}
div#fd.eb .eb-post-avatar {
  position: relative;
}
div#fd.eb .eb-post-avatar .team + .single {
  position: absolute;
  right: -5px;
  bottom: -13px;
}
div#fd.eb .eb-post-author-avatar a {
  border-radius: 3px;
  display: inline-block;
}
div#fd.eb .eb-post-author-avatar + .eb-post-author-avatar img {
  width: 30px;
  height: 30px;
}
div#fd.eb .eb-post-featured {
  color: #f2765b;
}
div#fd.eb .eb-post-featured:before {
  display: none !important;
}
div#fd.eb .eb-post-type .fa {
  font-size: 12px !important;
  display: inline-block;
  line-height: 22px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 2px solid #ddd;
  color: #999;
  text-align: center;
}
div#fd.eb .eb-post-headline {
  border-left: 2px solid #ddd;
  padding: 0 0 0 10px;
  margin: 0 0 10px;
}
div#fd.eb .eb-post-headline .eb-post-title {
  position: relative;
  top: -3px;
}
div#fd.eb .eb-post-headline-source {
  line-height: 1.15;
  color: #999;
  word-break: break-word;
}
div#fd.eb .eb-post-headline-source a {
  color: inherit;
}
div#fd.eb .eb-post-title {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 10px;
  word-break: break-word;
  overflow: hidden;
}
div#fd.eb .eb-post-meta {
  margin: 0 0 15px;
}
div#fd.eb .eb-post-meta > div {
  display: inline-block;
  line-height: 16px;
  vertical-align: middle;
  margin: 0 15px 0 0;
}
div#fd.eb .eb-post-meta .fa {
  color: #999;
  font-size: 14px;
  margin: 0 3px 0 0;
}
div#fd.eb .eb-post-body {
  display: inline-block;
  width: 100%;
  word-break: break-word;
}
div#fd.eb .eb-post-body .eb-img,
div#fd.eb .eb-post-body img {
  max-width: 100%;
  max-height: 100%;
}
div#fd.eb .eb-post-thumb {
  margin-bottom: 15px;
}
div#fd.eb .eb-post-thumb .eb-post-image {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  display: block;
  padding: 5px;
  max-width: 100%;
  height: auto;
  position: static;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  margin: 0 !important;
}
div#fd.eb .eb-post-thumb .eb-post-image img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
div#fd.eb .eb-post-thumb .eb-post-image-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  display: inline-block;
  height: 220px;
  width: 300px;
  vertical-align: top;
  position: relative;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  position: static;
  margin: 0 !important;
}
div#fd.eb .eb-post-thumb.is-left {
  float: left;
  margin-right: 15px;
}
div#fd.eb .eb-post-thumb.is-right {
  float: right;
  margin-left: 15px;
}
div#fd.eb .eb-post-thumb.is-full {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
div#fd.eb .eb-post-thumb.is-center {
  text-align: center;
}
div#fd.eb .eb-post-thumb.is-center .eb-post-image,
div#fd.eb .eb-post-thumb.is-center .eb-post-image-cover {
  display: inline-block;
}
div#fd.eb.w480 .eb-post-thumb.is-left {
  float: none;
  margin-right: 0;
}
div#fd.eb.w480 .eb-post-thumb.is-right {
  float: none;
  margin-left: 0;
}
div#fd.eb.w480 .eb-post-thumb.is-full {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
div#fd.eb.w480 .eb-post-thumb.is-center {
  text-align: center;
}
div#fd.eb.w480 .eb-post-thumb.is-center .eb-post-image,
div#fd.eb.w480 .eb-post-thumb.is-center .eb-post-image-cover {
  display: inline-block;
}
div#fd.eb.w480 .eb-post-image {
  width: auto !important;
  display: block !important;
}
div#fd.eb.w480 .eb-post-image-cover {
  width: 100% !important;
}
div#fd.eb .eb-post-foot {
  margin: 15px 0 0;
}
div#fd.eb .eb-post-foot > div + div {
  padding: 0 0 0 15px;
}
div#fd.eb .eb-post-foot > div .fa {
  color: #999;
}
div#fd.eb .eb-jumbo {
  border-left: 5px solid #ddd;
  padding: 0 0 0 15px;
  margin: 0 0 10px;
}
div#fd.eb .eb-jumbo.for-quote .eb-jumbo-reff:before {
  content: "\2014";
  margin: 0 5px 0 0;
}
div#fd.eb .eb-jumbo-title {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 5px;
}
div#fd.eb .eb-jumbo-title a {
  color: inherit;
}
div#fd.eb .eb-jumbo-reff {
  color: #999;
  font-size: 12px;
}
div#fd.eb .eb-tags {
  margin: 10px 0 0;
}
div#fd.eb .eb-tags .col-cell {
  vertical-align: top;
}
div#fd.eb .eb-tags .col-cell + .col-cell {
  padding: 0 5px;
}
div#fd.eb .eb-tags span {
  display: inline-block;
  vertical-align: middle;
}
div#fd.eb .eb-tags span:after {
  content: ", ";
}
div#fd.eb .eb-tags span:last-child:after {
  content: "";
}
div#fd.eb .eb-tags span a {
  float: left;
}
div#fd.eb .eb-tags span a:before {
  content: "#";
}
div#fd.eb .eb-tags.type-2 .cell-label {
  padding-top: 5px;
}
div#fd.eb .eb-tags.type-2 .cell-tags span:after {
  content: '';
}
div#fd.eb .eb-tags.type-2 .cell-tags span a {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #555;
  padding: 5px 10px;
}
div#fd.eb .eb-tags.type-2 .cell-tags span a:before {
  content: '';
}
div#fd.eb .eb-tags.type-3 .cell-label {
  line-height: 23px;
}
div#fd.eb .eb-tags.type-3 .cell-tags span:after {
  content: '';
}
div#fd.eb .eb-tags.type-3 .cell-tags span a,
div#fd.eb .eb-tags.type-3 .cell-tags span a:before,
div#fd.eb .eb-tags.type-3 .cell-tags span a:after {
  background-image: url(../../wireframe/images/tag-type-3.png);
}
div#fd.eb .eb-tags.type-3 .cell-tags span a {
  background-position: 0 -25px;
  background-repeat: repeat-x;
  margin: 0 5px 0 15px;
  color: #555;
  color: rgba(0,0,0,0.5);
  font-size: 12px;
  font-weight: bold;
  padding: 0 10px;
  line-height: 22px;
  height: 24px;
  position: relative;
}
div#fd.eb .eb-tags.type-3 .cell-tags span a:before,
div#fd.eb .eb-tags.type-3 .cell-tags span a:after {
  content: '';
  display: block;
  width: 15px;
  height: 25px;
  position: absolute;
  top: 0;
}
div#fd.eb .eb-tags.type-3 .cell-tags span a:before {
  background-position: top;
  left: -15px;
}
div#fd.eb .eb-tags.type-3 .cell-tags span a:after {
  background-position: bottom right;
  right: -3px;
  width: 3px;
}
div#fd.eb .eb-tags.type-4 .cell-label {
  line-height: 23px;
}
div#fd.eb .eb-tags.type-4 .cell-tags span:after {
  content: '';
}
div#fd.eb .eb-tags.type-4 .cell-tags span a,
div#fd.eb .eb-tags.type-4 .cell-tags span a:before,
div#fd.eb .eb-tags.type-4 .cell-tags span a:after {
  background-image: url(../../wireframe/images/tag-type-4.png);
}
div#fd.eb .eb-tags.type-4 .cell-tags span a {
  background-position: 0 -25px;
  background-repeat: repeat-x;
  margin: 0 5px 0 15px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 0 10px;
  line-height: 22px;
  height: 24px;
  position: relative;
}
div#fd.eb .eb-tags.type-4 .cell-tags span a:before,
div#fd.eb .eb-tags.type-4 .cell-tags span a:after {
  content: '';
  display: block;
  width: 15px;
  height: 25px;
  position: absolute;
  top: 0;
}
div#fd.eb .eb-tags.type-4 .cell-tags span a:before {
  background-position: top;
  left: -15px;
}
div#fd.eb .eb-tags.type-4 .cell-tags span a:after {
  background-position: bottom right;
  right: -3px;
  width: 3px;
}
div#fd.eb .eb-rating {
  margin: 15px 0 0;
}
div#fd.eb .eb-rating > span {
  display: inline-block;
  vertical-align: middle;
}
div#fd.eb .eb-rating > span + span {
  margin: 0 0 0 10px;
}
div#fd.eb .eb-rating form {
  background: none !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  line-height: inherit;
  box-shadow: none !important;
}
div#fd.eb .eb-rating form > div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  line-height: 16px;
  position: relative;
}
div#fd.eb .eb-rating form > div.voted {
  font-weight: bold;
}
div#fd.eb .eb-rating-link,
div#fd.eb .eb-ratings-value {
  background: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 22px;
  height: 22px;
  font-size: 11px;
}
div#fd.eb .eb-ratings-value {
  background: #eee;
  border-radius: 15px;
  color: #555;
  padding: 0 10px;
  min-width: 25px;
  text-align: center;
  text-decoration: none !important;
}
div#fd.eb .eb-ratings-value span {
  display: table-cell;
  vertical-align: middle;
}
div#fd.eb .eb-ratings-value b {
  display: none;
  font-size: 10px;
  opacity: .75;
  filter: alpha(opacity=75);
}
div#fd.eb .eb-rating-form.voted .eb-ratings-value {
  background: #5cb85c;
  color: #fff;
}
div#fd.eb .eb-rating-form.voted .eb-ratings-value b {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0 0 5px;
}
div#fd.eb .eb-rating-text.voted + .eb-rating-text {
  display: none !important;
}
div#fd.eb .eb-rating-voters img {
  display: block;
  margin: 0 10px 0 0;
}
div#fd.eb .eb-rating-voters li + li {
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  margin-top: 10px;
}
div#fd.eb .eb-rating-voters .col-cell {
  line-height: 1.25;
}
div#fd.eb .eb-post-comments-pre {
  border-top: 1px solid #ddd;
  padding: 10px 0 0;
  margin: 10px 0 0;
}
div#fd.eb .eb-post-comments-head {
  margin: 0 0 10px;
  font-weight: bold;
}
div#fd.eb .eb-post-comment + .eb-post-comment .eb-post-comment-content {
  border-top: 1px solid #ddd;
  padding: 6.6666666666667px 0 0;
  margin: 6.6666666666667px 0 0;
}
div#fd.eb .eb-post-comment + .eb-post-comment .fa-comment-o {
  margin-top: 6.6666666666667px;
}
div#fd.eb .eb-post-comment .fa-comment-o {
  font-size: 14px;
  color: #999;
  float: left;
  margin: 0 10px 0 0;
  border: 2px solid #ddd;
  display: block;
  line-height: 28px;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 100%;
}
div#fd.eb .eb-post-comment-content {
  overflow: hidden;
}
div#fd.eb .eb-post-comment-text {
  margin: 3px 0;
}
div#fd.eb .eb-post-comment-date {
  font-size: 90%;
}
div#fd.eb .eb-pager {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 20px;
}
div#fd.eb .eb-archives .eb-archive {
  padding: 10px 0;
}
div#fd.eb .eb-archives .eb-archive + .eb-archive {
  border-top: 1px solid #ddd;
}
div#fd.eb .eb-archives + .eb-pager {
  margin-top: 10px;
}
div#fd.eb .eb-archives-tab .fa {
  font-size: 14px;
}
div#fd.eb .eb-archive-type {
  color: #999;
  width: 20px;
  font-size: 14px;
}
div#fd.eb .eb-archive-title {
  font-size: 16px;
  line-height: 1.15;
  margin: 10px 0 0;
}
div#fd.eb .eb-calendar {
  border-collapse: separate;
  background: #fff;
  border: 0;
  border-radius: 0;
}
div#fd.eb .eb-calendar .eb-empty {
  border: 0;
  padding: 80px 15px;
}
div#fd.eb .eb-calendar tbody > tr + tr > td {
  border-top: 0;
}
div#fd.eb .eb-calendar tbody > tr > td {
  border-color: #ddd;
  text-align: left;
  height: 96px;
  position: relative;
  padding: 0;
}
div#fd.eb .eb-calendar tbody > tr > td + td {
  border-left: 0;
}
div#fd.eb .eb-calendar tbody > tr > td.empty > small {
  background: #f7f7f7;
  color: #888;
  display: block;
  height: 96px;
  padding: 8px;
  position: relative;
}
div#fd.eb .eb-calendar tbody > tr > td.day > div {
  color: #888;
  display: block;
  height: 96px;
  padding: 8px;
  position: relative;
}
div#fd.eb .eb-calendar tbody > tr > td.today > div {
  background: #ffe;
  color: #555;
  font-weight: bold;
}
div#fd.eb .eb-calendar tbody > tr > td.has-posts > div:before {
  content: "";
  display: block;
  position: absolute;
  right: 8px;
  bottom: 8px;
  border-right: 10px solid #45b478;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
}
div#fd.eb .eb-calendar tbody > tr > td.has-posts > div {
  background: #fafafa;
  font-weight: bold;
  color: #555;
}
div#fd.eb .eb-calendar tbody > tr > td.has-posts > div > b {
  font: normal 11px/13px Tahoma, Arial, sans-serif;
  color: #aaa;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
div#fd.eb .eb-calendar tbody > tr > td.has-posts > div:hover .eb-calendar-tooltips,
div#fd.eb .eb-calendar tbody > tr > td.has-posts > div:active .eb-calendar-tooltips {
  display: block;
}
div#fd.eb .eb-calendar tbody > tr > td:nth-child(5) > div .eb-calendar-tooltips,
div#fd.eb .eb-calendar tbody > tr > td:nth-child(6) > div .eb-calendar-tooltips,
div#fd.eb .eb-calendar tbody > tr > td:nth-child(7) > div .eb-calendar-tooltips {
  left: auto;
  right: 102%;
}
div#fd.eb .eb-calendar tbody > tr > td:nth-child(5) > div .eb-calendar-tooltips:before,
div#fd.eb .eb-calendar tbody > tr > td:nth-child(5) > div .eb-calendar-tooltips:after,
div#fd.eb .eb-calendar tbody > tr > td:nth-child(6) > div .eb-calendar-tooltips:before,
div#fd.eb .eb-calendar tbody > tr > td:nth-child(6) > div .eb-calendar-tooltips:after,
div#fd.eb .eb-calendar tbody > tr > td:nth-child(7) > div .eb-calendar-tooltips:before,
div#fd.eb .eb-calendar tbody > tr > td:nth-child(7) > div .eb-calendar-tooltips:after {
  border-left: 8px solid #ddd;
  border-right: 0;
  left: auto;
  right: -8px;
}
div#fd.eb .eb-calendar tbody > tr > td:nth-child(5) > div .eb-calendar-tooltips:after,
div#fd.eb .eb-calendar tbody > tr > td:nth-child(6) > div .eb-calendar-tooltips:after,
div#fd.eb .eb-calendar tbody > tr > td:nth-child(7) > div .eb-calendar-tooltips:after {
  border-right-color: transparent;
  border-left-color: #fafafa;
  left: auto;
  right: -7px;
}
div#fd.eb .eb-calendar tbody > tr.eb-calendar-control > td,
div#fd.eb .eb-calendar tbody > tr.eb-calendar-days > td {
  height: auto;
}
div#fd.eb .eb-calendar .text-center {
  text-align: center;
}
div#fd.eb .eb-calendar-tooltips {
  display: none;
  background: #fff;
  border: 1px solid #ddd;
  min-width: 260px;
  font: 12px/1.2 Arial, sans-serif;
  position: absolute;
  left: 102.5%;
  top: 2px;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
div#fd.eb .eb-calendar-tooltips:before,
div#fd.eb .eb-calendar-tooltips:after {
  content: "";
  display: block;
  border-right: 8px solid #ddd;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  position: absolute;
  left: -8px;
  top: 10px;
}
div#fd.eb .eb-calendar-tooltips:after {
  border-right-color: #fafafa;
  left: -7px;
}
div#fd.eb .eb-calendar-tooltips > span {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  color: #999;
  display: block;
  font-size: 11px;
  line-height: 34px;
  text-transform: uppercase;
  padding: 0 13px;
}
div#fd.eb .eb-calendar-tooltips > div {
  padding: 10px 0;
  margin: 0 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div#fd.eb .eb-calendar-tooltips > div + div {
  border-top: 1px solid #ddd;
}
div#fd.eb .eb-calendar-tooltips > div a {
  color: #999;
}
div#fd.eb .eb-calendar-tooltips > div a:hover {
  color: #666;
}
div#fd.eb .eb-calendar-control {
  font-size: 16px;
}
div#fd.eb .eb-calendar-control > td {
  border: 0;
  border-top: 1px solid #ddd;
  vertical-align: middle;
}
div#fd.eb .eb-calendar-control > td.eb-calendar-previous,
div#fd.eb .eb-calendar-control > td.eb-calendar-next {
  padding: 0;
}
div#fd.eb .eb-calendar-control > td.eb-calendar-previous > a,
div#fd.eb .eb-calendar-control > td.eb-calendar-next > a {
  background: none !important;
  color: #999;
  display: block;
  line-height: 60px;
  height: 60px;
}
div#fd.eb .eb-calendar-control > td.eb-calendar-previous > a i,
div#fd.eb .eb-calendar-control > td.eb-calendar-next > a i {
  line-height: inherit;
}
div#fd.eb .eb-calendar-control > td.eb-calendar-previous {
  border-left: 1px solid #ddd;
}
div#fd.eb .eb-calendar-control > td.eb-calendar-next {
  border-right: 1px solid #ddd;
}
div#fd.eb .eb-calendar-control > td.eb-calendar-month > a {
  background: none !important;
  color: #666;
  text-decoration: none;
}
div#fd.eb .eb-calendar-days > td {
  background: #fafafa;
  border: 0;
  border-bottom: 1px solid #ddd;
  color: #888;
  height: auto;
  padding: 13px !important;
  text-transform: uppercase;
  width: 14.285714285714%;
}
div#fd.eb .eb-calendar-days > td:first-child {
  border-left: 1px solid #ddd;
}
div#fd.eb .eb-calendar-days > td:last-child {
  border-right: 1px solid #ddd;
}
div#fd.eb .eb-calendar-topbar {
  border-bottom: 2px double #d7d7d7;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
div#fd.eb .eb-calendar-topbar:before,
div#fd.eb .eb-calendar-topbar:after {
  content: " ";
  display: table;
}
div#fd.eb .eb-calendar-topbar:after {
  clear: both;
}
div#fd.eb .eb-calendar-topbar__date {
  float: left;
}
div#fd.eb .eb-calendar-topbar__toggle {
  float: right;
}
div#fd.eb .eb-calendar__item {
  padding: 10px 0;
  line-height: 1.1;
}
div#fd.eb .eb-calendar__item:before,
div#fd.eb .eb-calendar__item:after {
  content: " ";
  display: table;
}
div#fd.eb .eb-calendar__item:after {
  clear: both;
}
div#fd.eb .eb-calendar__item:not(:first-child) {
  border-top: 1px solid #d7d7d7;
}
div#fd.eb .eb-calendar__item:hover {
  background-color: #fafafa;
}
div#fd.eb .eb-calendar__link {
  display: block;
  position: relative;
}
div#fd.eb .eb-calendar__link:before,
div#fd.eb .eb-calendar__link:after {
  content: " ";
  display: table;
}
div#fd.eb .eb-calendar__link:after {
  clear: both;
}
div#fd.eb .eb-calendar__item-icon {
  position: absolute;
  left: 0;
}
div#fd.eb .eb-calendar__item-title {
  float: left;
  position: relative;
  left: 20px;
  padding-right: 180px;
}
div#fd.eb .eb-calendar__item-title > i {
  margin-right: 10px;
}
div#fd.eb .eb-calendar__item-date {
  position: absolute;
  top: 0;
  right: 0;
  color: #888;
}
div#fd.eb .w320 .eb-calendar-days > td {
  padding: 5px !important;
  font-size: 10px;
}
div#fd.eb .w320 .eb-calendar-tooltips {
  position: fixed;
  left: 10px !important;
  right: 10px !important;
  top: 40% !important;
}
div#fd.eb .w320 .eb-calendar-tooltips:before,
div#fd.eb .w320 .eb-calendar-tooltips:after {
  display: none;
}
div#fd.eb .w320 .eb-calendar tbody > tr > td.has-posts > div > b {
  right: 0;
  left: 1px;
}
div#fd.eb .eb-pagination {
  border-top: 1px solid #ebebeb;
  margin-top: 20px;
}
div#fd.eb .eb-pagination > div {
  display: inline-block;
  width: 100%;
}
div#fd.eb .eb-pagination .fa {
  color: #999;
  font-size: 16px;
  margin: 0 5px 0 0;
}
div#fd.eb .eb-pagination .disabled {
  color: #999;
}
div#fd.eb .eb-page-prev,
div#fd.eb .eb-page-next {
  color: #333;
  font-weight: bold;
  float: left;
  width: 50%;
  line-height: 40px;
  text-decoration: none !important;
  text-transform: uppercase;
}
div#fd.eb .eb-page-next {
  text-align: right;
  border-left: 1px solid #ebebeb;
}
div#fd.eb .eb-page-next .fa {
  margin: 0 0 0 5px;
}
div#fd.eb .eb-share {
  margin-top: 10px;
}
div#fd.eb .eb-share > div {
  line-height: 1;
}
div#fd.eb .eb-share-buttons {
  font-size: 0;
}
div#fd.eb .eb-share-buttons > div {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 3px 6px 3px 0;
}
div#fd.eb .eb-share-buttons.is-small > div {
  min-height: 22px;
}
div#fd.eb .eb-share-buttons.is-large > div {
  min-height: 62px;
}
div#fd.eb .eb-share-buttons.is-large > div .pinterest {
  position: relative;
  top: 30px;
}
div#fd.eb .is-small .eb-share-facebook .eb-facebook-like {
  width: auto;
}
div#fd.eb .is-small.is-english .eb-share-facebook .eb-facebook-like {
  width: 122px;
}
div#fd.eb .is-large .eb-share-facebook .eb-facebook-like {
  width: 47px;
}
div#fd.eb .eb-share-facebook .eb-facebook-like.recommend {
  width: 92px;
}
div#fd.eb .fb_iframe_widget iframe {
  max-width: none;
}
div#fd.eb.w480 .fb-like {
  height: 20px;
  overflow: hidden;
}
div#fd.eb .social-button-small .fb_iframe_widget,
div#fd.eb .social-button-small .fb_iframe_widget span,
div#fd.eb .social-button-small .fb_iframe_widget iframe {
  width: 120px !important;
  height: 20px !important;
}
div#fd.eb .is-large .eb-share-facebook.has-sendbtn {
  height: 86px;
}
div#fd.eb .eb-share-twitter-btn {
  font-size: 11px !important;
  font-weight: bold !important;
  background-color: #1b95e0 !important;
  height: 20px !important;
  display: inline-block !important;
  color: #fff !important;
  padding: 4px !important;
  border-radius: 3px !important;
  line-height: 1;
}
div#fd.eb .eb-share-twitter-btn .fa:before {
  color: #fff !important;
}
div#fd.eb .eb-share-twitter-btn:hover {
  background-color: #0C7ABF !important;
}
div#fd.eb .is-large .eb-share-twitter-btn {
  text-align: center !important;
  height: 60px !important;
}
div#fd.eb .is-large .eb-share-twitter-btn i {
  display: block !important;
  font-size: 30px !important;
  padding: 4px 8px 0 !important;
}
div#fd.eb .eb-ratings-people > li + li {
  border-top: 1px solid #ddd;
  margin-top: 6.6666666666667px;
  padding-top: 6.6666666666667px;
}
div#fd.eb .eb-form-protect h4 {
  border-bottom: 1px solid #ddd;
  margin: 0 0 10px;
  padding: 0 0 10px;
}
div#fd.eb .eb-subscribe {
  margin-bottom: 15px;
}
div#fd.eb .eb-subscribe + .eb-subscribe .col-cell {
  padding-top: 15px;
}
div#fd.eb .eb-subscribe + .eb-subscribe .cell-ellipse {
  border-top: 1px solid #eee;
}
div#fd.eb .eb-subscribe-header {
  border-bottom: 2px solid #eee;
  margin: 30px 0 20px;
  padding: 0 0 10px;
}
div#fd.eb .eb-subscribe-thumb {
  padding: 0 15px 0 0;
}
div#fd.eb .eb-subscribe-thumb i {
  background: #eee;
  color: #555;
  font-size: 32px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
}
div#fd.eb .eb-subscribe-details h3 {
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
}
div#fd.eb .eb-subscribe-details p {
  margin: 0 0 5px;
}
div#fd.eb .eb-toc-list {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0 10px;
  width: 200px;
}
div#fd.eb .eb-toc-list li {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  font-size: 11px;
}
div#fd.eb .eb-toc-list li a {
  color: #777;
}
div#fd.eb .eb-toc-list li a:hover {
  color: #444;
}
div#fd.eb .eb-toc-list li:first-child {
  border-bottom: 2px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
}
div#fd.eb .eb-toc-list li:last-child {
  border-bottom: 0;
}
div#fd.eb .eb-toc-nav {
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 10px 15px 0;
}
div#fd.eb .eb-toc-nav > a,
div#fd.eb .eb-toc-nav > b {
  background: #fff;
  padding: 6px 12px;
  font-weight: normal;
  text-decoration: none !important;
  color: #555;
}
div#fd.eb .eb-toc-nav > a:last-child,
div#fd.eb .eb-toc-nav > b:last-child {
  border-left: 1px solid #ddd;
}
div#fd.eb .eb-toc-nav > b {
  background: #eee;
  color: #999;
}
div#fd.eb .eb-toc-nav > ul,
div#fd.eb .eb-toc-nav > ul > li {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}
div#fd.eb .eb-toc-nav > ul > li + li {
  border-left: 1px solid #ddd;
}
div#fd.eb .eb-toc-nav > ul > li > a {
  background: #fff;
  padding: 6px 12px;
  color: #555;
}
div#fd.eb .eb-toc-nav,
div#fd.eb .eb-toc-nav *,
div#fd.eb .eb-toc-current {
  display: inline-block;
  vertical-align: middle;
}
div#fd.eb .eb-toc-current {
  margin: 0 0 15px 0;
}
div#fd.eb .eb-page-header.w480 .col-cell {
  display: block;
  text-align: left !important;
}
div#fd.eb .eb-page-header.w480 .col-cell + .col-cell {
  padding-top: 10px;
}
div#fd.eb .eb-page-header.w480 .eb-archives-tab {
  width: 100%;
}
div#fd.eb .eb-page-header.w480 .eb-archives-tab .btn {
  width: 50%;
}
div#fd.eb .eb-brand-subscriber.w480 > span {
  display: block;
  width: 100%;
}
div#fd.eb .eb-brand-subscriber.w480 > span + span {
  margin: 15px 0 0;
}
div#fd.eb .eb-brand-subscriber.w480 a {
  display: block;
}
div#fd.eb.w480 .eb-post-side {
  display: none;
}
div#fd.eb.w480 .eb-post-side + .eb-post-content {
  margin: 0;
}
div#fd.eb .wrap {
  overflow: hidden;
}
