div#fd.eb .eb-login {
  position: relative;
  padding: 20px 20%;
  border: 1px solid #ddd;
  border-radius: 3px;
}
div#fd.eb .eb-login .eb-login-title {
  font-size: 18px;
}
div#fd.eb .eb-login-help {
  margin: 0 0 8px;
}
div#fd.eb .eb-login-help > div {
  width: 1%;
  padding: 0 4px 0 0;
}
div#fd.eb .eb-login-help > div + div {
  padding: 0 0 0 4px;
}
div#fd.eb .sourcecoast.login {
  margin-top: 10px;
  text-align: center;
}
div#fd.eb .sourcecoast.login .social-login {
  float: none !important;
  display: inline-block !important;
}
div#fd.eb .sourcecoast.login .social-login > a {
  margin-top: 15px;
}
div#fd.eb .eb-login.w480 {
  padding: 20px;
}
div#fd.eb .eb-login.w480 .eb-login-help > div {
  display: block;
  width: auto;
  padding: 0;
}
div#fd.eb .eb-login.w480 .eb-login-help > div + div {
  padding-top: 8px;
}
