div#fd.eb .eb-mm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#fd.eb .eb-mm .eb-composer-viewport-content {
  padding: 30px;
  padding-top: 80px;
}
div#fd.eb .eb-mm .pageslide-viewport {
  position: absolute;
}
div#fd.eb .eb-mm-viewport {
  position: relative;
  width: 100%;
  height: 100%;
}
div#fd.eb .eb-composer-toolbar-set[data-name=media-places],
div#fd.eb .eb-composer-toolbar-set[data-name=media-folder],
div#fd.eb .eb-composer-toolbar-set[data-name=media-loading] {
  display: table;
}
div#fd.eb .eb-mm-pages {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
div#fd.eb .eb-mm-messages {
  height: 30px;
  border-bottom: 1px solid #ccc;
  background: rgba(255,255,255,0.85);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: none;
}
div#fd.eb .eb-mm-messages > div {
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 30px;
}
div#fd.eb .eb-mm.has-messages .eb-mm-messaages {
  display: block;
}
div#fd.eb .eb-mm.has-messages .eb-mm-pages {
  border-top: 30px solid transparent;
}
div#fd.eb .eb-mm.is-selecting .eb-mm-messages {
  display: block;
}
div#fd.eb .eb-mm.is-selecting .eb-mm-msg-select {
  display: table;
  font-weight: bold;
  background: #f0f9fc;
  color: #2390b0;
}
div#fd.eb .eb-mm.is-selecting .eb-mm-msg-select .fa-info-circle {
  margin-right: 3px;
}
div#fd.eb .eb-mm.is-selecting .eb-mm-pages {
  border-top: 30px solid transparent;
}
div#fd.eb .eb-mm.is-selecting .eb-mm-info-insert-button .insert-text {
  display: none;
}
div#fd.eb .eb-mm.is-selecting .eb-mm-info-insert-button .select-text {
  display: inline;
}
div#fd.eb .eb-mm.show-foldermove-message {
  background: #f0f9fc;
}
div#fd.eb .eb-mm.show-foldermove-message .eb-mm-messages {
  display: block;
}
div#fd.eb .eb-mm.show-foldermove-message .eb-mm-msg-move {
  display: table;
  background: #C8E6C9;
}
div#fd.eb .eb-mm.show-foldermove-message .file-message {
  display: none;
}
div#fd.eb .eb-mm.show-foldermove-message .folder-message {
  display: table-cell;
  color: #E8F5E9;
  font-weight: bold;
}
div#fd.eb .eb-mm.show-foldermove-message .eb-mm-pages {
  border-top: 30px solid transparent;
}
div#fd.eb .eb-mm.show-filemove-message .eb-mm-messages {
  display: block;
}
div#fd.eb .eb-mm.show-filemove-message .file-message {
  display: table-cell;
  color: #388E3C;
  font-weight: bold;
}
div#fd.eb .eb-mm.show-filemove-message .folder-message {
  display: none;
}
div#fd.eb .eb-mm.show-filemove-message .eb-mm-msg-move {
  display: table;
  background: #E8F5E9;
}
div#fd.eb .eb-mm.show-filemove-message .eb-mm-pages {
  border-top: 30px solid transparent;
}
div#fd.eb .eb-mm .eb-mm-info-insert-button .select-text {
  display: none;
}
div#fd.eb .eb-composer-pagination > a,
div#fd.eb .eb-composer-pagination > div {
  padding: 10px;
  overflow: hidden;
}
div#fd.eb .eb-mm-folder.is-uploading .eb-mm-folder-upload-panel {
  bottom: 0%;
}
div#fd.eb .eb-mm-folder.is-uploading .eb-mm-folder-content-panel > div {
  padding-bottom: 50px;
}
div#fd.eb .eb-mm-folder.filter-new .eb-mm-folder-title-filter .filter-new {
  display: block;
  line-height: 14px;
}
div#fd.eb .eb-mm-folder.filter-new .eb-mm-folder-title-filter .filter-all {
  display: none;
}
div#fd.eb .eb-mm-folder .hint-upload,
div#fd.eb .eb-mm-folder .hint-empty {
  display: none;
}
div#fd.eb .eb-mm-folder.is-empty .hint-empty {
  display: table;
}
div#fd.eb .eb-mm-folder.is-empty.can-upload .hint-empty {
  display: none;
}
div#fd.eb .eb-mm-folder.is-empty.can-upload .hint-upload {
  display: table;
}
div#fd.eb .eb-mm-folder.is-empty .eb-mm-folder-content-panel {
  display: none;
}
div#fd.eb .eb-mm-folder-content-panel {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
div#fd.eb .eb-mm-folder-upload-panel {
  border-top: 1px solid #dadada;
  background: #fff;
  width: 100%;
  height: 50px;
  line-height: 16px;
  padding: 9px 15px;
  position: absolute;
  left: 0;
  bottom: -100%;
  z-index: 3;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.1);
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  -webkit-transition: bottom 1s ease;
  transition: bottom 1s ease;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
div#fd.eb .eb-mm-folder-upload-progress {
  background: none !important;
  height: 6px;
  border-radius: 0;
  width: 100%;
  position: absolute;
  top: -6px;
  left: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
div#fd.eb .eb-mm-folder-upload-progress .progress-bar {
  border: 1px solid rgba(0,0,0,0.15);
}
div#fd.eb .eb-mm-folder-title-filter {
  color: #888;
  color: rgba(255,255,255,0.5);
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  display: block;
}
div#fd.eb .eb-mm-folder-title-filter .filter-new {
  display: none;
}
div#fd.eb .eb-mm-folder-upload-current-file > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div#fd.eb .eb-mm-folder-header {
  cursor: pointer;
}
div#fd.eb .eb-mm-folder[data-key=users] .eb-mm-filelist {
  padding: 10px 0;
}
div#fd.eb .eb-mm-folder[data-key=users] .eb-mm-file {
  width: 100% !important;
  float: none !important;
}
div#fd.eb .eb-mm-folder.is-searching .eb-composer-toolbar-set[data-name=media-folder] {
  display: none;
}
div#fd.eb .eb-mm-folder.is-searching .eb-composer-toolbar-set[data-name=media-search] {
  display: table;
}
div#fd.eb .eb-mm-folder .hint-notfound {
  display: none;
}
div#fd.eb .eb-mm-folder.is-notfound .hint-notfound {
  display: table;
}
div#fd.eb .eb-mm-folder.is-notfound .eb-mm-folder-content-panel {
  display: none;
}
div#fd.eb .eb-mm-folder.is-searching .eb-composer-toolbar-set[data-name=media-folder] {
  display: none;
}
div#fd.eb .eb-mm-folder.is-searching .eb-composer-toolbar-set[data-name=users-search] {
  display: table;
}
div#fd.eb .eb-mm-folder .hint-notfound {
  display: none;
}
div#fd.eb .eb-mm-folder.is-notfound .hint-notfound {
  display: table;
}
div#fd.eb .eb-mm-folder.is-notfound .eb-mm-folder-content-panel {
  display: none;
}
div#fd.eb .eb-mm-foldertree {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}
div#fd.eb .eb-mm-tree .eb-mm-tree {
  padding: 3px 0 3px 20px;
}
div#fd.eb .eb-mm-tree.is-empty {
  display: none !important;
}
div#fd.eb .eb-mm-tree-item {
  cursor: pointer;
  border-radius: 2px;
}
div#fd.eb .eb-mm-tree-item > span {
  border-radius: 2px;
  display: block;
  padding: 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div#fd.eb .eb-mm-tree-item > span .fa {
  font-size: 14px;
  width: 18px;
  vertical-align: middle;
  color: #999;
  margin-right: 3px;
  text-align: center;
}
div#fd.eb .eb-mm-tree-item > span > .fa-angle-right,
div#fd.eb .eb-mm-tree-item > span > .fa-angle-down,
div#fd.eb .eb-mm-tree-item > span > .fa-circle-o-notch {
  display: none;
}
div#fd.eb .eb-mm-tree-item > .eb-mm-tree {
  display: none;
}
div#fd.eb .eb-mm-tree-item.is-expanded > .eb-mm-tree {
  display: block;
}
div#fd.eb .eb-mm-tree-item.is-loading > span > .fa-circle-o-notch {
  display: inline-block;
  color: #999 !important;
}
div#fd.eb .eb-mm-tree-item.is-loading > span > .fa-folder {
  display: none;
}
div#fd.eb .eb-mm-tree-item.active > span,
div#fd.eb .eb-mm-tree-item.active:hover > span {
  background: #cde1f1 !important;
  color: #3071a9 !important;
}
div#fd.eb .eb-mm-tree-item.active > span > .fa,
div#fd.eb .eb-mm-tree-item.active:hover > span > .fa {
  color: #428bca !important;
}
div#fd.eb .eb-mm-tree-item:hover > span {
  background: #eee;
}
div#fd.eb .eb-mm-filegroup {
  border-bottom: 1px solid #e1e1e1;
  overflow: hidden;
}
div#fd.eb .eb-mm-filegroup.is-collapsed .fa-angle-up {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
div#fd.eb .eb-mm-filegroup.is-collapsed .eb-mm-filegroup-body {
  opacity: 0;
  display: none;
}
div#fd.eb .eb-mm-filegroup.is-empty {
  display: none;
}
div#fd.eb .eb-mm-filegroup .fa-angle-up {
  position: absolute;
  top: 0;
  right: 15px;
  width: 10px;
  color: #bbb;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}
div#fd.eb .eb-mm-filegroup.show-all .eb-mm-filegroup-show-all-button {
  display: none;
}
div#fd.eb .eb-mm-filegroup.show-all .eb-mm-filegroup-more {
  display: block;
}
div#fd.eb .eb-mm-filegroup-header {
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 8px 15px;
  cursor: pointer;
  color: #888;
}
div#fd.eb .eb-mm-filegroup-header:hover {
  color: #3c3c3c;
}
div#fd.eb .eb-mm-filegroup-body {
  position: relative;
  z-index: 1;
  opacity: 1;
}
div#fd.eb .eb-mm-filegroup-title {
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
}
div#fd.eb .eb-mm-filegroup-show-all-button {
  background: #f5f5f5;
  border-radius: 3px;
  clear: both;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: #888;
  cursor: pointer;
  margin: 5px 15px 10px;
}
div#fd.eb .eb-mm-filegroup-show-all-button:hover {
  background: #dadada;
  color: #444;
}
div#fd.eb .eb-mm-filegroup-more {
  display: none;
}
div#fd.eb .eb-mm-filelist {
  height: 100%;
}
div#fd.eb .eb-mm-file {
  position: relative;
  cursor: pointer;
  z-index: 1;
}
div#fd.eb .eb-mm-file i {
  font-size: 16px;
}
div#fd.eb .eb-mm-file-tile-layout {
  float: left;
  width: 12.5%;
  position: relative;
  border: 1px solid transparent;
}
div#fd.eb .eb-mm-file-tile-layout .progress-bar {
  font-size: 0;
  line-height: 0;
}
div#fd.eb .eb-mm-file-tile-layout i {
  display: block;
  padding-top: 100%;
  font-size: 0;
  line-height: 0;
  z-index: 2;
  background-color: transparent;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}
div#fd.eb .eb-mm-file-tile-layout.active:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
div#fd.eb .eb-mm-file-tile-layout.active i:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #428bca;
  left: 0;
  top: 0;
}
div#fd.eb .eb-mm-file-tile-layout > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#fd.eb .eb-mm-file-tile-layout span {
  display: none;
}
div#fd.eb .eb-mm-file-tile-layout small {
  font-weight: bold;
  display: block;
}
div#fd.eb .eb-mm-file-tile-layout .progress {
  position: absolute;
  z-index: 2;
  margin: 0;
  bottom: 10%;
  left: 10%;
  width: 80%;
  height: 6px;
}
div#fd.eb .eb-mm-file-list-layout {
  padding: 0 15px;
  font-size: 12px;
  line-height: 28px;
  float: left;
  width: 20%;
}
div#fd.eb .eb-mm-file-list-layout i {
  margin-right: 5px;
  color: #999;
  float: left;
  line-height: 24px;
  height: 24px;
  position: relative;
  top: -1px;
}
div#fd.eb .eb-mm-file-list-layout > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 24px;
  height: 24px;
}
div#fd.eb .eb-mm-file-list-layout b {
  color: #aaa;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 28px;
  text-align: center;
  width: 28px;
  display: none;
}
div#fd.eb .eb-mm-file-list-layout:hover {
  background: #e5e5e5;
}
div#fd.eb .eb-mm-file-list-layout.active {
  background: #428bca;
  color: #fff;
}
div#fd.eb .eb-mm-file-list-layout.active i {
  color: inherit;
  opacity: 0.5;
}
div#fd.eb .eb-mm-filelist.view-tile {
  padding: 1px;
}
div#fd.eb .eb-mm-filelist.view-tile:before,
div#fd.eb .eb-mm-filelist.view-tile:after {
  content: " ";
  display: table;
}
div#fd.eb .eb-mm-filelist.view-tile:after {
  clear: both;
}
div#fd.eb .eb-mm-filelist.view-tile .eb-mm-file {
  float: left;
  width: 12.5%;
  position: relative;
  border: 1px solid transparent;
}
div#fd.eb .eb-mm-filelist.view-tile .eb-mm-file .progress-bar {
  font-size: 0;
  line-height: 0;
}
div#fd.eb .eb-mm-filelist.view-tile .eb-mm-file i {
  display: block;
  padding-top: 100%;
  font-size: 0;
  line-height: 0;
  z-index: 2;
  background-color: transparent;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}
div#fd.eb .eb-mm-filelist.view-tile .eb-mm-file.active:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
div#fd.eb .eb-mm-filelist.view-tile .eb-mm-file.active i:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #428bca;
  left: 0;
  top: 0;
}
div#fd.eb .eb-mm-filelist.view-tile .eb-mm-file > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#fd.eb .eb-mm-filelist.view-tile .eb-mm-file span {
  display: none;
}
div#fd.eb .eb-mm-filelist.view-tile .eb-mm-file small {
  font-weight: bold;
  display: block;
}
div#fd.eb .eb-mm-filelist.view-tile .eb-mm-file .progress {
  position: absolute;
  z-index: 2;
  margin: 0;
  bottom: 10%;
  left: 10%;
  width: 80%;
  height: 6px;
}
div#fd.eb .eb-mm-filelist.view-list .eb-mm-file {
  padding: 0 15px;
  font-size: 12px;
  line-height: 28px;
  float: left;
  width: 20%;
}
div#fd.eb .eb-mm-filelist.view-list .eb-mm-file i {
  margin-right: 5px;
  color: #999;
  float: left;
  line-height: 24px;
  height: 24px;
  position: relative;
  top: -1px;
}
div#fd.eb .eb-mm-filelist.view-list .eb-mm-file > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 24px;
  height: 24px;
}
div#fd.eb .eb-mm-filelist.view-list .eb-mm-file b {
  color: #aaa;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 28px;
  text-align: center;
  width: 28px;
  display: none;
}
div#fd.eb .eb-mm-filelist.view-list .eb-mm-file:hover {
  background: #e5e5e5;
}
div#fd.eb .eb-mm-filelist.view-list .eb-mm-file.active {
  background: #428bca;
  color: #fff;
}
div#fd.eb .eb-mm-filelist.view-list .eb-mm-file.active i {
  color: inherit;
  opacity: 0.5;
}
div#fd.eb .eb-mm-folder {
  position: relative;
  width: 100%;
  height: 100%;
}
div#fd.eb .eb-mm-folder.filter-new .eb-mm-file {
  display: none;
}
div#fd.eb .eb-mm-folder.filter-new .eb-mm-file.is-new {
  display: block;
}
div#fd.eb .eb-mm-folder.filter-new .eb-mm-filegroup-show-all-button {
  display: none;
}
div#fd.eb .eb-mm-folder.filter-new .eb-mm-filegroup {
  display: none;
}
div#fd.eb .eb-mm-folder.filter-new .eb-mm-filegroup.has-new-files {
  display: block;
}
div#fd.eb .eb-mm-folder.has-search-results .eb-mm-file {
  display: none;
}
div#fd.eb .eb-mm-folder.has-search-results .eb-mm-file.is-search-result {
  display: block;
}
div#fd.eb .eb-mm-folder.has-search-results .eb-mm-filegroup-more {
  display: block;
}
div#fd.eb .eb-mm-folder.has-search-results .eb-mm-filegroup-show-all-button {
  display: none;
}
div#fd.eb .eb-mm-folder.has-search-results .eb-mm-filegroup {
  display: none;
}
div#fd.eb .eb-mm-folder.has-search-results .eb-mm-filegroup.has-search-results {
  display: block;
}
div#fd.eb .eb-mm-folder.has-search-results[data-key=users] .eb-mm-filegroup {
  display: block;
}
div#fd.eb .eb-mm-folder.has-search-results[data-key=users] .eb-mm-file {
  display: none;
}
div#fd.eb .eb-mm-folder.has-search-results[data-key=users] .eb-mm-file.is-search-result {
  display: block;
}
div#fd.eb .eb-mm-file.type-upload i {
  opacity: 0.5;
}
div#fd.eb .eb-mm-filegroup.type-folder .eb-mm-file b {
  display: block !important;
}
div#fd.eb .eb-composer-ghosts .eb-mm-file.layout-tile {
  float: left;
  width: 12.5%;
  position: relative;
  border: 1px solid transparent;
}
div#fd.eb .eb-composer-ghosts .eb-mm-file.layout-tile .progress-bar {
  font-size: 0;
  line-height: 0;
}
div#fd.eb .eb-composer-ghosts .eb-mm-file.layout-tile i {
  display: block;
  padding-top: 100%;
  font-size: 0;
  line-height: 0;
  z-index: 2;
  background-color: transparent;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}
div#fd.eb .eb-composer-ghosts .eb-mm-file.layout-tile.active:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
div#fd.eb .eb-composer-ghosts .eb-mm-file.layout-tile.active i:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #428bca;
  left: 0;
  top: 0;
}
div#fd.eb .eb-composer-ghosts .eb-mm-file.layout-tile > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#fd.eb .eb-composer-ghosts .eb-mm-file.layout-tile span {
  display: none;
}
div#fd.eb .eb-composer-ghosts .eb-mm-file.layout-tile small {
  font-weight: bold;
  display: block;
}
div#fd.eb .eb-composer-ghosts .eb-mm-file.layout-tile .progress {
  position: absolute;
  z-index: 2;
  margin: 0;
  bottom: 10%;
  left: 10%;
  width: 80%;
  height: 6px;
}
div#fd.eb .eb-composer-ghosts .eb-mm-file.layout-list {
  display: table;
  background: rgba(229,229,229,0.8);
  padding: 2px 4px;
  border-radius: 3px;
}
div#fd.eb .eb-composer-ghosts .eb-mm-file.layout-list i {
  display: table-cell;
  color: #999;
  width: 1px;
  white-space: nowrap;
}
div#fd.eb .eb-composer-ghosts .eb-mm-file.layout-list > div {
  display: table-cell;
  padding-left: 3px;
  white-space: nowrap;
}
div#fd.eb .eb-composer-ghosts .eb-mm-file.layout-list b {
  display: none;
}
div#fd.eb .eb-mm-places {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
div#fd.eb .eb-mm-place-list {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
div#fd.eb .eb-mm-place {
  padding: 15px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}
div#fd.eb .eb-mm-place > i,
div#fd.eb .eb-mm-place > label,
div#fd.eb .eb-mm-place > b {
  display: block;
  overflow: hidden;
  line-height: 20px;
}
div#fd.eb .eb-mm-place i {
  color: #888;
  font-size: 16px;
  width: 28px;
  text-align: center;
  float: left;
}
div#fd.eb .eb-mm-place label {
  padding: 0 10px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}
div#fd.eb .eb-mm-place b {
  font-size: 12px;
  float: right;
  width: 10px;
  text-align: right;
  color: #bbb;
}
div#fd.eb .eb-mm-place:hover b {
  color: #888;
}
div#fd.eb .eb-mm.show-local .eb-mm-place {
  display: none;
}
div#fd.eb .eb-mm.show-local .eb-mm-place[data-id=post],
div#fd.eb .eb-mm.show-local .eb-mm-place[data-id=posts],
div#fd.eb .eb-mm.show-local .eb-mm-place[data-id^=user],
div#fd.eb .eb-mm.show-local .eb-mm-place[data-id=shared] {
  display: block;
}
div#fd.eb .eb-mm-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div#fd.eb .eb-mm-info-head {
  position: relative;
  background: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 2;
}
div#fd.eb .eb-mm-info-head .col-cell {
  position: relative;
  height: 51px;
}
div#fd.eb .eb-mm-info-head .dropdown-menu {
  left: auto;
  right: 0;
  border-radius: 3px;
}
div#fd.eb .eb-mm-info-body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-top: 51px solid transparent;
}
div#fd.eb .eb-mm-info-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 30px solid transparent;
  border-top-width: 15px;
  border-bottom-width: 15px;
  z-index: 3;
}
div#fd.eb .eb-mm-info-filemeta {
  color: #888;
  font-size: 11px;
}
div#fd.eb .eb-mm-info-preview {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}
div#fd.eb .eb-mm-info-preview > div {
  position: absolute;
}
div#fd.eb .eb-mm-preview {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
div#fd.eb .eb-mm-preview img {
  max-height: 100%;
  max-width: 100%;
}
div#fd.eb .eb-mm-info-actions {
  border-radius: 3px;
  background: #eee;
  border: 1px solid #ccc;
  padding: 10px;
}
div#fd.eb .eb-mm-hints {
  padding: 15px;
  font-size: 12px;
}
div#fd.eb .eb-mm-hints > div {
  display: none;
}
div#fd.eb .eb-mm-hints.show-loading .hint-loading {
  display: block;
}
div#fd.eb .eb-mm-hints.show-error .hint-error {
  display: block;
}
div#fd.eb .eb-mm-hints.show-flickr .hint-flickr {
  display: block;
}
div#fd.eb .eb-mm-hints.show-dropbox .hint-dropbox {
  display: block;
}
div#fd.eb .eb-mm-hints .hint-brand {
  display: table;
  width: 100%;
  margin: 0 0 15px;
}
div#fd.eb .eb-mm-hints .hint-brand > i,
div#fd.eb .eb-mm-hints .hint-brand > b {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
}
div#fd.eb .eb-mm-hints .hint-brand > i {
  color: #888;
  font-size: 22px;
  width: 1px;
  text-align: center;
  padding-right: 10px;
}
div#fd.eb .eb-mm-hint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#fd.eb .eb-mm-hint.hint-upload button {
  margin-top: 10px;
}
div#fd.eb .eb-mm .hint-empty {
  display: none;
}
div#fd.eb .eb-mm-move-dialog .eb-composer-sidebar-body {
  padding: 15px;
}
div#fd.eb .eb-mm-variation-list.eb-list {
  border: none;
}
div#fd.eb .eb-mm-variation-item-group {
  max-height: 220px;
  overflow: hidden;
  overflow-y: auto;
}
div#fd.eb .eb-mm-variation-item.eb-list-item {
  padding: 7.5px 30px;
}
div#fd.eb .eb-mm-variation-item > div {
  position: relative;
}
div#fd.eb .eb-mm-variation-item i {
  width: 14px;
  line-height: 18px;
  text-align: center;
  float: left;
  margin-left: -15px;
}
div#fd.eb .eb-mm-variation-item span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 18px;
  margin-left: 7.5px;
  padding-right: 72px;
  display: block;
}
div#fd.eb .eb-mm-variation-item small {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 18px;
  font-size: 11px;
  color: #888;
  padding-right: 10px;
}
div#fd.eb .eb-mm-variation-item.is-missing i {
  color: #d9534f;
}
div#fd.eb .eb-mm-variation-item.is-missing span {
  color: #888;
}
div#fd.eb .eb-mm-variation-actions .btn {
  display: block;
  font-weight: normal;
  font-size: 11px;
  width: 100%;
  border-color: #aaa;
  padding-left: 0;
  padding-right: 0;
}
