div#fd.eb .eb-post-meta {
  background: url(../images/post-meta.png) 98% center no-repeat #029FEA !important;
  border: 1px solid #0162b3;
  border-top-color: #017ee6;
  border-radius: 3px;
  color: #fff;
  line-height: 27px;
  font-size: 11px;
  padding: 0 10px;
}
div#fd.eb .eb-post-meta a {
  color: #ff0;
}
div#fd.eb .eb-post-meta .fa {
  color: #fff;
  opacity: .75;
}
