div#fd.eb *,
div#fd.eb *:before,
div#fd.eb *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div#fd.eb a,
div#fd.eb a:hover,
div#fd.eb a:focus {
  outline: none;
}
div#fd.eb .fa {
  line-height: inherit;
}
div#fd.eb .btn .fa {
  line-height: 1;
}
div#fd.eb form {
  margin: 0;
}
div#fd.eb .pull-right {
  float: right;
}
div#fd.eb .pull-left {
  float: left;
}
div#fd.eb .text-inherit {
  color: inherit;
}
div#fd.eb .text-uppercase {
  text-transform: uppercase;
}
div#fd.eb .text-small {
  font-size: 90%;
}
div#fd.eb .text-bold {
  font-weight: bold;
}
div#fd.eb .text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div#fd.eb .clearfix:before,
div#fd.eb .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
div#fd.eb .clearfix:after {
  clear: both;
}
div#fd.eb .no-overflow {
  overflow: hidden;
}
div#fd.eb .hide,
div#fd.eb .hidden {
  display: none !important;
}
div#fd.eb .overflow-no {
  overflow: hidden;
}
div#fd.eb .reset-heading {
  background: none;
  border: medium none;
  clear: none;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
div#fd.eb .reset-heading .text-inherit {
  background: none !important;
}
div#fd.eb .reset-list,
div#fd.eb .reset-list > li {
  background: none;
  border: none;
  clear: none;
  float: none;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  width: auto;
}
div#fd.eb .reset-list:before,
div#fd.eb .reset-list:after,
div#fd.eb .reset-list > li:before,
div#fd.eb .reset-list > li:after,
div#fd.eb .dropdown-menu:before,
div#fd.eb .dropdown-menu:after,
div#fd.eb .dropdown-menu > li:before,
div#fd.eb .dropdown-menu > li:after {
  content: '';
  display: none;
}
div#fd.eb .float-list > li {
  float: left;
}
div#fd.eb .row-table {
  display: table;
  width: 100%;
}
div#fd.eb .row-table.layout-fixed {
  table-layout: fixed;
}
div#fd.eb .row-table.pull-left,
div#fd.eb .row-table.pull-right {
  width: auto;
}
div#fd.eb .row-table-form {
  display: table;
}
div#fd.eb .row-table-form .col-cell + .col-cell {
  padding: 0 0 0 5px;
}
div#fd.eb .col-cell {
  display: table-cell;
  vertical-align: middle;
}
div#fd.eb .cell-top > .col-cell {
  vertical-align: top;
}
div#fd.eb .cell-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 0;
}
div#fd.eb .cell-tight {
  width: 1px;
  white-space: nowrap;
}
div#fd.eb .cell-clear-right {
  padding-right: 0 !important;
}
div#fd.eb .align-middle,
div#fd.eb .align-middle > .col-cell {
  vertical-align: middle;
}
div#fd.eb .align-top,
div#fd.eb .align-top > .col-cell {
  vertical-align: top;
}
div#fd.eb.w480 .col-cell {
  display: inline-block !important;
  width: auto !important;
}
div#fd.eb .no-wrap {
  white-space: nowrap;
}
div#fd.eb .no-overflow {
  overflow: hidden;
}
div#fd.eb .spans-seperator {
  min-height: 0;
  overflow: hidden;
  float: none;
  margin: 0;
  padding: 0;
  clear: none;
}
div#fd.eb .spans-seperator > span {
  float: left;
  line-height: 1.2em;
}
div#fd.eb .spans-seperator > span + span {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #ddd;
}
div#fd.eb .comma-seperator > span {
  display: inline-block;
  vertical-align: middle;
}
div#fd.eb .comma-seperator > span:after {
  content: ',';
}
div#fd.eb .comma-seperator > span:last-child:after {
  content: '';
}
div#fd.eb .comma-seperator > span a {
  float: left;
}
div#fd.eb .responsive-instagram {
  position: relative;
  padding-bottom: 100%;
  padding-top: 80px;
  height: 0;
  overflow: hidden;
  margin-bottom: 15px;
}
div#fd.eb .responsive-instagram iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
div#fd.eb .dropdown-menu a {
  cursor: pointer;
}
div#fd.eb .eb-alert {
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 0 20px;
}
div#fd.eb .eb-alert .col-cell {
  vertical-align: top;
  line-height: 20px;
}
div#fd.eb .eb-alert .cell-sign {
  padding: 0 10px 0 0;
}
div#fd.eb .eb-alert .cell-close {
  color: inherit;
  cursor: pointer;
  padding: 0 0 0 10px;
  font-size: 14px;
  opacity: .5;
  filter: alpha(opacity=50);
}
div#fd.eb .eb-alert .cell-close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
