div#fd.eb.is-rtl {
  text-align: right;
  direction: rtl;
}
div#fd.eb.is-rtl .pull-left {
  float: right;
}
div#fd.eb.is-rtl .pull-right {
  float: left;
}
div#fd.eb.is-rtl .spans-seperator > span {
  float: right;
}
div#fd.eb.is-rtl .spans-seperator > span + span {
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
  border-right: 1px solid #ddd;
  border-left: 0;
}
div#fd.eb.is-rtl .btn-group > .btn + .btn {
  margin-left: -1px;
  margin-right: 0;
}
div#fd.eb.is-rtl .text-right {
  text-align: left;
}
div#fd.eb.is-rtl .dropdown-menu {
  float: right;
  right: 0;
}
div#fd.eb.is-rtl .pull-right > .dropdown-menu {
  right: auto;
  left: 0;
}
div#fd.eb.is-rtl .pull-right > .dropdown-menu {
  left: 0;
  right: auto;
}
div#fd.eb.is-rtl .eb-entry-related > div:nth-child(3n+1) {
  clear: right;
}
div#fd.eb.is-rtl .eb-entry-related > div {
  float: right;
}
div#fd.eb.is-rtl .eb-navbar .float-list > li {
  float: right;
}
div#fd.eb.is-rtl .eb-navbar .dropdown-menu-right {
  right: auto;
  left: 0;
}
div#fd.eb.is-rtl .eb-navbar .dropdown-menu-right > li > a {
  text-align: right;
}
div#fd.eb.is-rtl .eb-navbar-left {
  float: right;
}
div#fd.eb.is-rtl .eb-navbar-left > li:first-child > a {
  border-radius: 0 3px 3px 0;
}
div#fd.eb.is-rtl .eb-navbar-right {
  float: left;
}
div#fd.eb.is-rtl .eb-navbar-right > li:last-child {
  border-left: 0;
}
div#fd.eb.is-rtl .eb-navbar-right > li:last-child > a {
  border-radius: 3px 0 0 3px;
}
div#fd.eb.is-rtl .eb-checkbox,
div#fd.eb.is-rtl .eb-radio {
  padding-left: 0;
  padding-right: 20px;
}
div#fd.eb.is-rtl .eb-checkbox label,
div#fd.eb.is-rtl .eb-radio label {
  padding-left: 0;
  padding-right: 5px;
}
div#fd.eb.is-rtl .eb-checkbox label:before,
div#fd.eb.is-rtl .eb-checkbox label:after,
div#fd.eb.is-rtl .eb-radio label:before,
div#fd.eb.is-rtl .eb-radio label:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -20px;
}
div#fd.eb.is-rtl .eb-radio label:after {
  right: 4px;
}
div#fd.eb.is-rtl .eb-showcase-thumb.is-left {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
div#fd.eb.is-rtl .eb-showcase-thumb.is-right {
  float: left;
  margin-left: 0;
  margin-right: 20px;
}
div#fd.eb.is-rtl .eb-showcase-control {
  right: auto;
  left: 20px;
}
div#fd.eb.is-rtl .eb-showcase-control > .btn {
  float: left;
}
div#fd.eb.is-rtl .eb-showcase-more .btn {
  left: auto;
  right: 0;
}
div#fd.eb.is-rtl .eb-post-admin {
  float: left;
}
div#fd.eb.is-rtl .eb-post-side {
  float: right;
}
div#fd.eb.is-rtl .eb-post-side + .eb-post-content {
  margin: 0 70px 0 0;
}
div#fd.eb.is-rtl .eb-post-meta > div {
  margin: 0 0 0 15px;
}
div#fd.eb.is-rtl .eb-post-foot > div + div {
  padding: 0 15px 0 0;
}
div#fd.eb.is-rtl .eb-post-image,
div#fd.eb.is-rtl .eb-entry-image {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
div#fd.eb.is-rtl.w480 .eb-post-image,
div#fd.eb.is-rtl.w480 .eb-entry-image {
  float: none;
  margin-left: 0;
  margin-right: 0;
}
div#fd.eb.is-rtl .eb-post-headline {
  border-right: 2px solid #ddd;
  border-left: 0;
  padding: 0 10px 0 0;
}
div#fd.eb.is-rtl .eb-stats-nav > li > .btn {
  border-radius: 0;
}
div#fd.eb.is-rtl .eb-stats-nav > li + li > .btn {
  border-left: 1px solid;
  border-right: 0;
}
div#fd.eb.is-rtl .eb-stats-nav > li:last-child:not(:first-child) > .btn {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
div#fd.eb.is-rtl .eb-stats-nav > li:first-child:not(:last-child):not(.dropdown-toggle_) > .btn {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
div#fd.eb.is-rtl .eb-category-profile .col-cell + .col-cell {
  padding-left: 0;
  padding-right: 20px;
}
div#fd.eb.is-rtl .eb-stats-posts > div i {
  float: right;
  margin: 0 0 0 15px;
}
div#fd.eb.is-rtl .eb-stats-posts > div time {
  float: left;
}
div#fd.eb.is-rtl .eb-author-filter .col-cell + .col-cell,
div#fd.eb.is-rtl .eb-tags-filter .col-cell + .col-cell {
  padding: 0 10px 0 0;
}
div#fd.eb.is-rtl .eb-authors-finder .form-control {
  border-radius: 0 3px 3px 0;
  padding: 0 40px 0 0;
}
div#fd.eb.is-rtl .eb-authors-finder .fa-user {
  right: 0;
  left: auto;
}
div#fd.eb.is-rtl .eb-authors-finder .input-group-btn .btn {
  border-radius: 3px 0 0 3px;
}
div#fd.eb.is-rtl .eb-tags-finder .form-control {
  border-radius: 0 3px 3px 0;
  padding: 0 40px 0 0;
}
div#fd.eb.is-rtl .eb-tags-finder .fa-tags {
  right: 0;
  left: auto;
}
div#fd.eb.is-rtl .eb-tags-finder .input-group-btn .btn {
  border-radius: 3px 0 0 3px;
}
div#fd.eb.is-rtl .eb-authors-head .col-cell + .col-cell {
  padding: 0 20px 0 0;
}
div#fd.eb.is-rtl .eb-entry-helper > div + div {
  border-right: 1px solid #e5e5e5;
  border-left: 0;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}
div#fd.eb.is-rtl .eb-entry-nav > div > a {
  text-align: left;
}
div#fd.eb.is-rtl .eb-entry-nav > div + div > a {
  text-align: right;
}
div#fd.eb.is-rtl .eb-rating {
  overflow: hidden;
}
div#fd.eb.is-rtl .eb-rating form > div {
  float: right;
}
div#fd.eb.is-rtl .ui-stars-star:nth-child(2n) a {
  margin-left: 0 !important;
  margin-right: -8px;
}
div#fd.eb.is-rtl .ui-stars-cancel {
  border-right: 0;
  border-left: 1px solid #ccc;
  padding: 0 10px !important;
  margin: 0 0 0 10px !important;
}
div#fd.eb.is-rtl .ui-stars-cancel,
div#fd.eb.is-rtl .ui-stars-star {
  margin-top: -1px !important;
}
div#fd.eb.is-rtl .eb-entry-author-avatar {
  padding: 0 0 0 10px;
}
div#fd.eb.is-rtl .eb-entry-author-recents time {
  float: left;
}
div#fd.eb.is-rtl .eb-entry-author-recents i {
  float: right;
  margin: 0;
}
div#fd.eb.is-rtl .eb-entry-author-recents span {
  padding: 0 0 0 20%;
  margin: 0 20px 0 0;
}
div#fd.eb.is-rtl .eb-composer-author .eb-avatar img {
  margin: 0 0 0 10px;
}
div#fd.eb.is-rtl .eb-comment-captcha-form {
  float: right;
  margin: 0 0 0 5px;
}
div#fd.eb.is-rtl .eb-comment-captcha-img {
  border-radius: 0 3px 3px 0;
}
div#fd.eb.is-rtl .eb-comment-captcha-form > div + div a {
  border-radius: 3px 0 0 3px;
}
div#fd.eb.is-rtl .eb-comment .cell-avatar {
  padding-right: 0;
  padding-left: 15px;
}
div#fd.eb.is-rtl .eb-comment-foot span {
  float: right;
}
div#fd.eb.is-rtl .eb-comment-foot span + span {
  padding: 0 10px 0 0;
  margin: 0 7px 0 0;
}
div#fd.eb.is-rtl .eb-comment-foot span + span:before {
  left: auto;
  right: 0;
}
div#fd.eb.is-rtl .mr-0 {
  margin-left: 0px !important;
}
div#fd.eb.is-rtl .mr-5 {
  margin-left: 5px !important;
}
div#fd.eb.is-rtl .mr-10 {
  margin-left: 10px !important;
}
div#fd.eb.is-rtl .mr-15 {
  margin-left: 15px !important;
}
div#fd.eb.is-rtl .mr-20 {
  margin-left: 20px !important;
}
div#fd.eb.is-rtl .ml-0 {
  margin-right: 0px !important;
}
div#fd.eb.is-rtl .ml-5 {
  margin-right: 5px !important;
}
div#fd.eb.is-rtl .ml-10 {
  margin-right: 10px !important;
}
div#fd.eb.is-rtl .ml-15 {
  margin-right: 15px !important;
}
div#fd.eb.is-rtl .ml-20 {
  margin-right: 20px !important;
}
div#fd.eb.is-rtl .pr-0 {
  padding-left: 0px !important;
}
div#fd.eb.is-rtl .pr-5 {
  padding-left: 5px !important;
}
div#fd.eb.is-rtl .pr-10 {
  padding-left: 10px !important;
}
div#fd.eb.is-rtl .pr-15 {
  padding-left: 15px !important;
}
div#fd.eb.is-rtl .pr-20 {
  padding-left: 20px !important;
}
div#fd.eb.is-rtl .pl-0 {
  padding-right: 0px !important;
}
div#fd.eb.is-rtl .pl-5 {
  padding-right: 5px !important;
}
div#fd.eb.is-rtl .pl-10 {
  padding-right: 10px !important;
}
div#fd.eb.is-rtl .pl-15 {
  padding-right: 15px !important;
}
div#fd.eb.is-rtl .pl-20 {
  padding-right: 20px !important;
}
