div#fd.eb .eb-tags-filter {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
div#fd.eb .eb-tags-filter .col-cell + .col-cell {
  padding-left: 10px;
}
div#fd.eb .eb-tags-finder {
  position: relative;
}
div#fd.eb .eb-tags-finder .form-control {
  padding-left: 40px;
  box-shadow: none;
}
div#fd.eb .eb-tags-finder .fa-tags {
  color: #ccc;
  width: 40px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  z-index: 10;
  text-align: center;
}
div#fd.eb .eb-tags-list {
  margin: 0 -8px;
}
div#fd.eb .eb-tags-grid {
  float: left;
  padding: 0 8px;
  width: 33.333333333333%;
}
div#fd.eb .eb-tags-item {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 16px;
  overflow: hidden;
}
div#fd.eb .eb-tags-item > a {
  color: #555;
  float: left;
  display: block;
  overflow: hidden;
  background: none;
}
div#fd.eb .eb-tags-item > a * {
  font-weight: inherit;
  display: inline-block;
  vertical-align: middle;
}
div#fd.eb .eb-tags-item > a b {
  color: inherit;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div#fd.eb .eb-tags-item > a + a {
  float: none;
  padding: 0 0 0 5px;
}
div#fd.eb .eb-tags-item > a + a i {
  color: #999;
  font-style: normal;
  float: right;
}
div#fd.eb .eb-tags-item > a .fa-rss-square {
  color: #e08d2d;
}
div#fd.eb .eb-tag {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
div#fd.eb .eb-tag-avatar {
  margin: 20px;
}
div#fd.eb .eb-tag-head {
  background: #fafafa;
  border-bottom: 1px solid #e2e2e2;
  border-radius: 2px 2px 0 0;
  padding: 13.333333333333px;
}
div#fd.eb .eb-tag-name {
  font-size: 20px;
}
div#fd.eb .eb-tag-name a {
  color: inherit;
}
div#fd.eb .eb-tag-name a span {
  padding: 0 10px 0 0;
}
div#fd.eb .eb-tag-bio {
  margin: 13.333333333333px;
}
div#fd.eb .eb-tag-rss a {
  color: inherit;
}
div#fd.eb .eb-tag-rss .fa-rss-square {
  color: #e08d2d;
}
div#fd.eb.w480 .eb-tags-grid {
  width: 50%;
}
