div#fd.eb .eb-navbar {
  min-height: 40px;
  background: #fff;
  border-color: #d9d9d9;
  border-radius: 3px;
  margin: 0;
}
div#fd.eb .eb-navbar .eb-text {
  display: none;
}
div#fd.eb .eb-navbar .dropdown-menu-right {
  right: 0;
  left: auto;
}
div#fd.eb .eb-navbar a {
  text-decoration: none !important;
  outline: none !important;
}
div#fd.eb .eb-navbar a::-moz-focus-inner {
  border: 0 !important;
}
div#fd.eb .eb-navbar-header {
  display: none;
}
div#fd.eb .eb-navbar-toggle {
  border: none;
  border-radius: 2px;
  background: none;
  color: #666666;
  outline: none !important;
  margin: 0 !important;
  padding: 10px 20px;
  float: none;
  width: 100% !important;
  text-align: left;
}
div#fd.eb .eb-navbar-toggle .fa-bars {
  margin-right: 5px;
  display: inline-block;
  width: 20px;
}
div#fd.eb .eb-navbar-toggle:hover {
  background: none;
}
div#fd.eb .eb-navbar-collapse {
  display: block !important;
  height: auto !important;
  padding: 0;
  border-color: #d9d9d9;
  max-height: none !important;
  overflow: visible;
  visibility: visible;
}
div#fd.eb .eb-navbar-nav > li + li {
  border-left: 1px solid #d9d9d9;
}
div#fd.eb .eb-navbar-nav > li > a {
  color: #666666;
  display: block;
  line-height: 40px;
  width: 40px;
  padding: 0;
  text-shadow: none;
}
div#fd.eb .eb-navbar-nav > li > a > i {
  font-size: 14px;
  line-height: 40px;
  display: block;
  text-align: center;
}
div#fd.eb .eb-navbar-nav > li.open > a,
div#fd.eb .eb-navbar-nav > li > a:hover,
div#fd.eb .eb-navbar-nav > li > a:focus {
  background: #ffffff;
  color: #000000;
}
div#fd.eb .eb-navbar-nav > li.active > a {
  background: #ffffff;
  color: #000000;
}
div#fd.eb .eb-navbar-nav > li .dropdown-menu {
  display: none !important;
}
div#fd.eb .eb-navbar-nav > li.open > .dropdown-menu {
  display: block !important;
}
div#fd.eb .eb-navbar-left {
  float: left;
}
div#fd.eb .eb-navbar-left > li:first-child > a {
  border-radius: 3px 0 0 3px;
}
div#fd.eb .eb-navbar-right {
  float: right;
}
div#fd.eb .eb-navbar-right > li:last-child > a {
  border-radius: 0 3px 3px 0;
}
div#fd.eb .eb-navbar-dropdown {
  background: #fff;
  border-color: #d9d9d9;
  border-radius: 3px;
  min-width: 205px;
}
div#fd.eb .eb-navbar-dropdown > li > a {
  color: #666666;
  padding: 0 20px;
  line-height: 32px;
}
div#fd.eb .eb-navbar-dropdown > li > a:hover,
div#fd.eb .eb-navbar-dropdown > li > a:focus {
  background: #ffffff;
  color: #000000;
}
div#fd.eb .eb-navbar-dropdown > li > a .fa {
  width: 20px;
  text-align: center;
  margin: 0 5px 0 0;
  display: none;
}
div#fd.eb .eb-navbar-dropdown .divider {
  background: #d9d9d9;
  border: 0 !important;
}
div#fd.eb .eb-navbar-login {
  color: #666666;
  margin: 0;
}
div#fd.eb .eb-navbar-search {
  overflow: hidden;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  margin: 0;
}
div#fd.eb .eb-navbar-search .form-control {
  background: none;
  color: #b3b3b3;
  border: 0 !important;
  height: 40px;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}
div#fd.eb .eb-navbar-search .form-control:-moz-placeholder {
  color: #b3b3b3;
}
div#fd.eb .eb-navbar-search .form-control::-moz-placeholder {
  color: #b3b3b3;
  opacity: 1;
}
div#fd.eb .eb-navbar-search .form-control:-ms-input-placeholder {
  color: #b3b3b3;
}
div#fd.eb .eb-navbar-search .form-control::-webkit-input-placeholder {
  color: #b3b3b3;
}
div#fd.eb .eb-navbar-login {
  padding: 15px;
  min-width: 240px;
}
div#fd.eb .eb-navbar-login .form-group > label {
  display: block;
  overflow: hidden;
}
div#fd.eb .eb-navbar-login .form-group > label > a {
  float: right;
  font-size: 11px;
  font-weight: normal;
}
div#fd.eb .eb-navbar-login .form-action {
  margin-top: 15px;
}
div#fd.eb .eb-navbar.w480 .eb-navbar-toggle {
  display: block !important;
  width: auto;
}
div#fd.eb .eb-navbar.w480 .eb-navbar-toggle .icon-bar {
  background-color: #b3b3b3;
}
div#fd.eb .eb-navbar.w480 .eb-navbar-header {
  display: block;
  width: 100%;
  float: none;
}
div#fd.eb .eb-navbar.w480 .eb-text {
  display: inline;
}
div#fd.eb .eb-navbar.w480 .eb-navbar-collapse {
  display: none !important;
}
div#fd.eb .eb-navbar.w480 .eb-navbar-collapse.in {
  display: block !important;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  border-radius: 0 0 3px 3px;
}
div#fd.eb .eb-navbar.w480 .eb-navbar-nav {
  float: none !important;
  margin: 0;
  overflow: hidden;
}
div#fd.eb .eb-navbar.w480 .eb-navbar-nav > li {
  width: 100%;
  height: auto;
  display: block;
  line-height: 20px;
  border-bottom: 1px solid #d9d9d9;
}
div#fd.eb .eb-navbar.w480 .eb-navbar-nav > li + li {
  border-left: 0px solid #d9d9d9;
}
div#fd.eb .eb-navbar.w480 .eb-navbar-nav > li > a {
  border-radius: 0;
  display: block;
  width: 100%;
  line-height: 20px;
  padding: 0 20px;
}
div#fd.eb .eb-navbar.w480 .eb-navbar-nav > li > a > i {
  display: inline-block;
  text-align: left;
  margin-right: 5px;
  width: 20px;
}
div#fd.eb .eb-navbar.w480 .eb-navbar-search {
  border-radius: 0 0 2px 2px;
  overflow: hidden;
  float: left;
  width: 100%;
  border-left: 0px solid #d9d9d9;
  border-right: 0px solid #d9d9d9;
}
div#fd.eb .eb-navbar.w480 .eb-navbar-dropdown,
div#fd.eb .eb-navbar.w480 .eb-navbar-dropdown-login {
  border-radius: 0;
  width: 100%;
  position: static;
  min-width: none;
  margin-top: 0;
}
div#fd.eb .eb-navbar.w480 .eb-navbar-dropdown > li > a,
div#fd.eb .eb-navbar.w480 .eb-navbar-dropdown-login > li > a {
  padding-left: 48px;
}
div#fd.eb .eb-navbar.w480 .dropdown-backdrop {
  display: none;
}
div#fd.eb .eb-header {
  background: url(../images/blog-header.png) 0 0 #0C54A1 no-repeat;
  padding: 15px 15px 0;
  border-radius: 3px;
  color: #fff;
  margin: 0 0 20px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
div#fd.eb .eb-navbar {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 3px 3px 0 0;
  margin: 0 0 0;
}
div#fd.eb .eb-navbar .navbar-left li:first-child > a {
  border-radius: 3px 0 0 0;
}
div#fd.eb .eb-navbar .navbar-right li:last-child > a {
  border-radius: 0 3px 0 0;
}
