/* 
 * JUX Logo Showcase
 */
 #jux_logo93 {
 	/* Style for grid using isotope */
 	// .logo_showcase_grid, .logo_showcase_slider {
 	// 	.jux_logo_item {
 	// 		float: left;
 	// 		&:hover {
 	// 			z-index: 2;
 	// 			-webkit-transition: all 500ms ease-in-out;
 	// 			-moz-transition: all 500ms ease-in-out;
 	// 			-ms-transition: all 500ms ease-in-out;
 	// 			-o-transition: all 500ms ease-in-out;
 	// 			transition: all 500ms ease-in-out;
 	// 		}	
 	// 	}
 	// }
 	// .logo_showcase_slider  {
 	// 	margin-top: -120px;
 	// 	margin-bottom: -10px;
 	// 	.owl-wrapper-outer {
 	// 		padding-top: 120px;
 	// 		padding-bottom: 10px; 
 	// 	}

 	// }
 	.logo_showcase_slider {
 		// .jux_logo_item {
 		// 	width: 200px;
 		// 	height: 200px;
 		// 	img {
 		// 		width: 100%!important;
 		// 		height: 100%!important;
 		// 	}
 		// }
 	}
 }
.jux_logo_showcase {
	.jux_logo_item{
		&:hover {
			z-index: 1;
		}
	}
}
