@charset "utf-8";
/* CSS Document */

@media (min-width: 769px) {

    body {
        background-color:#009edf;
        font-family: "Tauri", Arial, sans-serif;
        padding-top: 40px;
    }
    .form-control-feedback {
        position: absolute;
        top: 3px;
        right: 15px;
        display: block;
        width: 24px;
        height: 34px;
        line-height: 42px;
        text-align: center;
    }
    #header {
        margin-top:25px;
    }

    #content {
        border-bottom:1px solid #ffffff;
        margin-top:80px;
    }

    label, .btn {
        margin-top:15px;
    }

    label {
        color:#ffffff;
        font-size:150%;
    }

    #image {
        position:relative;
        padding-top:125px;
    }

    #callout {
        position:absolute;
        top:-150px;
        left:-110px;
        z-index:100;
    }

    #db {
        color:#eeeeee;
        margin-top:30px;
    }

    .form-control {
        background-color: #6ec8ed;
        border: 1px solid #6ec8ed;
        border-bottom:1px solid #ffffff;
        border-radius: 8px;
    }

    .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        color: #009edf;
        background-color: #ffffff;
        border-color: #009edf;
        font-weight:bold;
        -webkit-box-shadow: 1px 1px 2px 1px #404040;
        box-shadow: 1px 1px 2px 1px #404040;
        font-size:150%;
    }

}

@media (max-width: 768px) {

    body {
        background-color:#009edf;
        font-family: "Tauri", Arial, sans-serif;
        padding-top: 40px;
    }

    h1 {
        font-family: "Tauri", Arial, sans-serif;
        font-weight:bold;
        color:#ffffff;
        border-bottom:1px solid #ffffff;
        padding-bottom:15px;
        margin-top:25px;
    }

    #header {
        margin-top:25px;
    }

    #content {
        border-bottom:1px solid #ffffff;
    }

    label, .btn {
        margin-top:15px;
    }

    label {
        color:#ffffff;
        font-size:150%;
    }

    #image {
        position:relative;
        padding-top:125px;
    }

    #callout {
        position:absolute;
        top:-150px;
        left:-110px;
        z-index:100;
    }

    #db {
        color:#eeeeee;
        margin-top:30px;
    }

    .form-control {
        background-color: #6ec8ed;
        border: 1px solid #6ec8ed;
        border-bottom:1px solid #ffffff;
        border-radius: 8px;
    }
    .form-control-feedback {
        position: absolute;
        top: 3px;
        right: 15px;
        display: block;
        width: 24px;
        height: 34px;
        line-height: 42px;
        text-align: center;
    }
    .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        color: #009edf;
        background-color: #ffffff;
        border-color: #009edf;
        font-weight:bold;
        -webkit-box-shadow: 1px 1px 2px 1px #404040;
        box-shadow: 1px 1px 2px 1px #404040;
        font-size:150%;
    }

}

@media (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

    body {
        background-color:#009edf;
        font-family: "Tauri", Arial, sans-serif;
        padding-top: 40px;
    }

    #header {
        margin-top:25px;
    }

    #content {
        border-bottom:1px solid #ffffff;
        margin-top:80px;
    }

    label, .btn {
        margin-top:15px;
    }

    label {
        color:#ffffff;
        font-size:150%;
    }

    #image {
        position:relative;
        padding-top:125px;
    }

    #callout {
        position:absolute;
        top:-150px;
        left:-110px;
        z-index:100;
    }

    #db {
        color:#eeeeee;
        margin-top:30px;
    }

    .form-control {
        background-color: #6ec8ed;
        border: 1px solid #6ec8ed;
        border-bottom:1px solid #ffffff;
        border-radius: 8px;
    }
    .form-control-feedback {
        position: absolute;
        top: 3px;
        right: 15px;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
    }
    .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        color: #009edf;
        background-color: #ffffff;
        border-color: #009edf;
        font-weight:bold;
        -webkit-box-shadow: 1px 1px 2px 1px #404040;
        box-shadow: 1px 1px 2px 1px #404040;
        font-size:150%;
    }

}

@media (max-width: 768px) { /* target iPad portrait */

    body {
        background-color:#009edf;
        font-family: "Tauri", Arial, sans-serif;
    }

    h1 {
        font-family: "Tauri", Arial, sans-serif;
        font-weight:bold;
        color:#ffffff;
        border-bottom:1px solid #ffffff;
        padding-bottom:15px;
        margin-top:25px;
    }

    #header {
        margin-top:25px;
    }

    #content {
        border-bottom:1px solid #ffffff;

    }

    label, .btn {
        margin-top:15px;
    }

    label {
        color:#ffffff;
        font-size:150%;
    }

    #image {
        position:relative;
        padding-top:125px;
    }

    #callout {
        position:absolute;
        top:-150px;
        left:-110px;
        z-index:100;
    }

    #db {
        color:#eeeeee;
        margin-top:30px;
    }

    .form-control {
        background-color: #6ec8ed;
        border: 1px solid #6ec8ed;
        border-bottom:1px solid #ffffff;
        border-radius: 8px;
    }
    .form-control-feedback {
        position: absolute;
        top: 3px;
        right: 15px;
        display: block;
        width: 24px;
        height: 34px;
        line-height: 42px;
        text-align: center;
    }
    .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        color: #009edf;
        background-color: #ffffff;
        border-color: #009edf;
        font-weight:bold;
        -webkit-box-shadow: 1px 1px 2px 1px #404040;
        box-shadow: 1px 1px 2px 1px #404040;
        font-size:150%;
    }

}

.feedback {
    color:#ffffff;
    font-size:150%;
    font-weight: bold;
}

body { overflow-x: hidden;
    padding-top: 40px;} /* added to avoid horizontal scrollbar */