@charset "utf-8";
/* CSS Document */
body {
	background-color:#fff;
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
    padding-top: 70px;
}

#header {
	padding-bottom: 15px;
}

#footer {
	border-top: 1px solid #DDDDDD;
    color: #666666;
    font-size: 85%;
    margin-top: 30px;
    padding-top: 20px;
    text-align: -webkit-center;
}

h1 {
    border-bottom: 1px solid #DDDDDD;
    color: #009DDF;
    font-family: 'Tauri',sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0;
    padding-bottom: 10px;
}

h2 {
    color: #009edf;
    font-family: 'Tauri',sans-serif;
    font-size: 20px;
    font-weight: normal;	
}

h3 {
font-family: 'Tauri',sans-serif;
margin-bottom: 20px;
font-size: 18px;
}
img{
    border-radius: 0.6em;
}
.img-responsive {
    display: block;
    height: 40px;
    max-width: 100%;
}
.extra{
    padding: 5px 5px;
}
td{
    text-align: center;
}
table {
    table-layout:fixed;
}
table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.tdextra{
    text-align: left;
}
.rechts{
    text-align: -webkit-right;
}
#form {
    /*background: none repeat scroll 0 0 #EEEEEE;*/
	/*border-left: 1px solid #ddd;*/
	padding-bottom: 10px;
	/*min-height: 400px;*/
}
.container {
    max-width: 85%;
}
#promo {
/*border: 1px solid #999;
background-color: #009edf;	
color: #fff;*/
border-left: 1px solid #ddd;
/*-moz-border-radius: 4px;
 border-radius: 4px;
 background-color: #ddd;*/
 padding-bottom: 20px;
}

#form h2, #form p, #form #db, button {
margin-left: 0px;
margin-right: 20px;
}

#promo h2, #promo p, #promo #db, button {
margin-left: 0px;
margin-right: 20px;
}

.form-horizontal {
margin-right: 20px;	
}

.form-group {
margin-left: 5px !important;	
}
.radio-inline {
    margin-left: 30px !important;
}
a {
color: #009edf;	
}

a:hover {
text-decoration: none;
color: #D4145A;	
}

a.btn-default {
background-color: #666;
color: #fff;	
}

a.btn-default:hover {
background-color: #fff;
color: #009edf;
border-color: #666;	
}
.has-feedback .form-control-feedback {
    position: absolute;
    top: 3px;
    right: 15px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}


#buy {
font-family: 'Tauri', sans-serif; 
background-color: #009edf; 
color:#fff;font-size: 17px; 
padding-top: 5px;
padding-bottom: 5px;
padding-right: 17px;
padding-left: 15px;
}

button.btn-default:hover {
border-color: #009edf;
color: #009edf !important;	
background-color: #fff !important;
}

.btn-sm:hover {
	color: #fff !important;
	background-color: #fff !important;
}


@media (min-width: 769px) {




}

@media (max-width: 700px) {
	
#questions {
	padding-top: 30px;
	margin-top: 30px;
	color: red;
}

	
}

@media (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

    img{
        border-radius: 0.6em;

    }

}

@media (max-width: 768px) { /* target iPad portrait */

    img{
        border-radius: 0.6em;

    }
}