<?php
/**
 * Madia
 *
 *
 * @category   design_default
 * @package    Madia_Ogone
 */
?>
<div class="page-head">
    <h3><?php echo $this->__('Error occured') ?></h3>
</div>
<p><?php echo $this->getErrorMessage() ?></p>
<p><?php echo $this->__('Please <a href="%s">continue shopping</a>.', $this->getContinueShoppingUrl()) ?></p>