<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    Mage_Ogone
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<fieldset class="form-list">
    <?php $_code = $this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li>
            <?php echo $this->__('After the last step you can make your payment. The following payment methodes are supported.') ?>
            <div class="input-box">
    		<?php if (count($this->getAvailablePaymentMethodes()) > 0 ): ?>
    			<ul>
			    <?php foreach ($this->getAvailablePaymentMethodes() as $_typeBrand => $_typeName): ?>
			    	
			        <li>
			        	<table border="0">
			        		<tr>
			        			<td>
			        				<input type="radio" id="ogone_type_<?php echo $_typeBrand ?>" name="payment[ogone_payment_brand]" value="<?php echo $_typeBrand ?>" <?php if($_typeBrand==$this->getInfoData('payment[ogone_payment_brand]')): ?> checked="checked" <?php endif ?> />
			        				<label for="ogone_type_<?php echo $_typeBrand ?>">
			        			</td>
				    		<?php if (in_array($_typeBrand, array('iDEAL', 'MasterCard', 'VISA', 'American Express'))): ?>	        
				        		<td width="50px"><img src="<?php echo $this->getSkinUrl('images/media/ogone/icon-'.str_replace(' ','',strtolower($_typeBrand)).'.gif') ?>" alt="" /></td>
				        	<?php else: ?>
				        		<td width="50px">&nbsp;</td>
				           	<?php endif; ?>	
				           	<td><?php echo $this->__($_typeName) ?></td>
				           	</tr>		
				           </table>        	
			      <?php /* </label> */ ?>
			        </li>
			    <?php endforeach ?>
    			</ul>
    		<?php endif; ?>
    		</div>
        </li>        
    </ul>
</fieldset>