@import url(//fonts.googleapis.com/css?family=Tauri|Open+Sans);


@charset "utf-8";
/* CSS Document */
body {
	background-color:#fff;
    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

header{
    background: #009edf;
}
.navbar-nav>li>a {
    color: white;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}
.navbar-brand {
    float: none;
}
.navbar-right {
    margin-top: 3em;
}
.logo img {
    max-height: 60px;
}
.content {
    padding-top: 3em;
}

.center {
    text-align: center;
}
.pad {
    padding-left: 0px;
}
.fa-times {
    color: #d5155b;
}
table#dataTables-slots {
    border-top: #009edf 2px solid;
}
.period {
    margin-top: 3em;

}
footer {
	border-top: 1px solid #DDDDDD;
    color: transparent;
    font-size: 85%;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
}

h1 {
    border-bottom: 1px solid #DDDDDD;
    color: #009edf;
    font-family: 'Tauri',sans-serif;
    font-size: 26px;
    font-weight: normal;
    margin: 20px 0;
    padding-bottom: 10px;
}

h2 {
    color: #d5155b;
    font-family: 'Tauri',sans-serif;
    font-size: 20px;
    font-weight: normal;	
}

h3 {
font-family: 'Tauri',sans-serif;
font-size: 18px;	
}

#form {
 /*   background: none repeat scroll 0 0 #EEEEEE;*/
}

.form-horizontal {
margin-right: 20px;	
}

.form-group {
margin-left: 5px !important;	
}
/*
hr {
    display: block;
    width: 60px;
    height: 5px;
    margin: 15px auto 15px;
    background-color: #cccccc;
    position: relative;
}
hr:after {
    width: 30px;
    height: 5px;
    background: #009edf;
    position: absolute;
    left: -1px;
    content: "";
}
*/
.img-responsive{
    margin-left: auto;
    margin-right: auto;
}
#db {
	color:#666;
	margin-top:20px;
	font-size:10px;
}

.alert {
padding: 5px;	
}
footer {
 color: #000000;
}

footer > a {
color: #009edf;	
}

footer > a:hover {
text-decoration: none;
color: #D4145A;	
}

.imi-footer {
    font-size: 14px;
    color: black;
    display: inline-block;
    margin-right: 1em;
}


#accordion a {
color: #009edf;
font-size: 14px;	
}

.panel-heading {
background-color: #fff !important;	
}



.btn-blue {
    background-color: hsl(195, 100%, 43%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a4db", endColorstr="#00a4db");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#00a4db), to(#00a4db));
    background-image: -moz-linear-gradient(top, #00a4db, #00a4db);
    background-image: -ms-linear-gradient(top, #00a4db, #00a4db);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a4db), color-stop(100%, #00a4db));
    background-image: -webkit-linear-gradient(top, #00a4db, #00a4db);
    background-image: -o-linear-gradient(top, #00a4db, #00a4db);
    background-image: linear-gradient(#00a4db, #00a4db);
    border-color: #00a4db #00a4db hsl(195, 100%, 43%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
    -webkit-font-smoothing: antialiased;
}

.btn-pink {
    background-color: hsl(338, 82%, 46%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5155b", endColorstr="#d5155b");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#d5155b), to(#d5155b));
    background-image: -moz-linear-gradient(top, #d5155b, #d5155b);
    background-image: -ms-linear-gradient(top, #d5155b, #d5155b);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5155b), color-stop(100%, #d5155b));
    background-image: -webkit-linear-gradient(top, #d5155b, #d5155b);
    background-image: -o-linear-gradient(top, #d5155b, #d5155b);
    background-image: linear-gradient(#d5155b, #d5155b);
    border-color: #d5155b #d5155b hsl(338, 82%, 46%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
    -webkit-font-smoothing: antialiased;
}

.btn-grey {
    background-color: hsl(0, 0%, 92%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaeaea", endColorstr="#eaeaea");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#eaeaea), to(#eaeaea));
    background-image: -moz-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -ms-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -o-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: linear-gradient(#eaeaea, #eaeaea);
    border-color: #eaeaea #eaeaea hsl(0, 0%, 92%);
    color: #009edf !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
    -webkit-font-smoothing: antialiased;
}

.sweet-alert p {
    text-align: left;
}
.sweet-alert.checkout {
    width: 600px;
}

@media (min-width: 769px) {




}

@media (max-width: 768px) {
	


	
}

@media (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {



}

@media (max-width: 768px) { /* target iPad portrait */

  
}