body {
    font-family: 'Open Sans', sans-serif;
}
#region-main {
    position: relative;
    padding-top: 310px;
    padding-bottom: 20px;
    background: #d0d2d3 url(http://www.informationmapping.com/downloads/academy/bg-course-banner.png) top left no-repeat;
    margin-top: 25px;
}
#region-main h1 {
    position: absolute;
    top: 100px;
    right: 100px;
}
h1 {
    font-size: 24px;
    color: #009edf;
}
h1, h2, h3 {
    font-family: 'Tauri', sans-serif;
}
.course-content{
    background-color: #d0d2d3;
}
.course-content > .panel-group {
    margin: 0 45px;
}
.course-content > .panel-group > .panel {
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
}
.course-content > .panel-group > .panel > .panel-heading {
    color: white;
    background-color: #009edf;
    padding: 15px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.course-content > .panel-group > .panel > .panel-collapse >  .panel-body {
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
}

.panel-heading > a {
    color: white;
    text-decoration: none;
}

.panel-heading > a:focus, a:hover {
    text-decoration: none;
}

.course-content .panel-title{
    position: relative;
}

.course-content a.collapsed > .panel-title::after {
    position: absolute;
    top: -2px;
    right: 14px;
    font-family: "FontAwesome";
    color: #fff;
    content: "\f078";
}
.course-content a > .panel-title::after {
    position: absolute;
    top: -2px;
    right: 14px;
    font-family: "FontAwesome";
    color: #fff;
    content: "\f053";
}

.panel-subheading {
    position: relative;
    padding-bottom: 15px;
    padding-left: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #333;
    border-bottom: 1px solid #999;
    font-weight:  bold;
}

.course-content .panel-subheading:before {
    position: absolute;
    top: 3px;
    left: 0;
    font-family: "FontAwesome";
    color: #333;
    content: "\f019";
}

a span.instancename {
    padding-left: 25px;
    position: relative;
    color: #009edf;
}
a span.instancename:before {
    position: absolute;
    top: 1px;
    left: 0;
    font-family: "FontAwesome";
    content: "\f016";
}
.course-downloads{
    margin-bottom: 20px;
}