.ops-payment-paypage #ie_cc {margin-top:20px;}
.ops-payment-paypage #ie_cc td {text-align:center;}

td .ncol {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    width: 40px;
}

.ops-form-list #OPS_CC_BRAND { width:250px !important; float: none; margin-bottom: 6px;}
.payment-method .ops-form-list li {padding:0px !important;}
.payment-method .ops-form-list .input-text { width:250px !important;}
.ops-form-list label { float: none;}



