@font-face {
    font-family: 'icomoon-tbp';
    src:url('../fonts/icomoon-tbp.eot?-4dulds');
    src:url('../fonts/icomoon-tbp.eot?#iefix-4dulds') format('embedded-opentype'),
        url('../fonts/icomoon-tbp.woff?-4dulds') format('woff'),
        url('../fonts/icomoon-tbp.ttf?-4dulds') format('truetype'),
        url('../fonts/icomoon-tbp.svg?-4dulds#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="mce-bs-icon-btn"] i, [class*=" mce-bs-icon-btn"] i {
    font-family: 'icomoon-tbp';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
#47A447
#ED9C28
#39B3D7
#3276B1
*/

.mce-i-icon-snippet:before {
    content: "\e9d9";
    color: #ED9C28;
}

.mce-i-icon-btn:before {
    content: "\e605";
    color: #47A447;
}

.mce-i-icon-icon:before {
    content: "\e606";
    color: #ED9C28;
}

.mce-i-icon-image:before {
    content: "\e90d";
    color: #39B3D7;
}

.mce-i-icon-table:before {
    content: "\e60e";
    color: #3276B1;
}

.mce-i-icon-template:before {
    content: "\e60d";
    color: #47A447;
}

.mce-i-icon-breadcrumb:before {
    content: "\e60c";
    color: #39B3D7;
}

.mce-i-icon-pagination:before {
    content: "\e60b";
    color: #333;
}

.mce-i-icon-pager:before {
    content: "\e60a";
    color: #3276B1;
}

.mce-i-icon-label:before {
    content: "\e60f";
    color: #47A447;
}

.mce-i-icon-badge:before {
    content: "\e609";
    color: #39B3D7;
}

.mce-i-icon-alert:before {
    content: "\e608";
    color: #ED9C28;
}

.mce-i-icon-panel:before {
    content: "\e607";
    color: #3276B1;
}

.mce-i-bootstrap-icon:before {
    content: "\e600";
}


/* Glyphicon */

@font-face {
    font-family: 'Glyphicons Halflings';
    src:url('../fonts/glyphicons-halflings-regular.eot');
    src:url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mce-container.mce-btn-group * {
	white-space: normal;
}

/*  all buttons */

.mce-bs-icon-btn {
    padding: 0;
    position: relative;
    height: 28px;
    width: 36px;
    left: -1px;
}

.mce-bs-icon-btn i:before {
    font-size: 16px;
    /*color: #555;*/
}

/*  First (B) */

.mce-bs-icon-btn.mce-first {
    width: 28px;
}

.mce-bs-icon-btn.mce-first button {
    background-color: #463265;
    cursor: default;
    width: 28px;
    -webkit-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
}

.mce-ico.mce-i-bootstrap-icon:before {
    position: absolute;
    top: 1px;
    left: 1px;
    content: "\e600";
    font-size: 26px;
    color: #FFF;
    text-shadow: none;
}

.mce-container .mce-window-head {
}

.mce-container .mce-window-head .mce-title { /* popup main title */
    font-weight: normal;
}

.mce-container .mce-window-head .mce-title:before { /* popup Bootstrap icon */
    font-family: 'icomoon-tbp';
    content: "\e600";
    font-size: 26px;
    color: #FFF;
    background: #453164;
    margin-right:10px;
    text-shadow: none;
    font-weight: normal;
    font-style: normal;
    -webkit-border-radius: 3px;
            border-radius: 3px;
}

/* popup tinymce footer */

.mce-container.mce-panel.mce-foot {
    background: #FFF;
}

/*  popup tinymce OK btn */

.mce-widget.mce-btn.mce-primary.mce-first.mce-abs-layout-item {
    background: #5cb85c;
    border: none;
}

.mce-widget.mce-btn.mce-primary.mce-first.mce-abs-layout-item:hover {
    background: #47a447;
}

.mce-widget.mce-btn.mce-primary.mce-first.mce-abs-layout-item  button {
    text-shadow: none;
}

/* popup tinymce CANCEL btn */

.mce-widget.mce-btn.mce-last.mce-abs-layout-item {
    background: #E9E9E9;
    border: none;
    text-shadow: none;
}

.mce-widget.mce-btn.mce-last.mce-abs-layout-item:hover {
    background: #DBDBDB;
}

.mce-widget.mce-btn.mce-last.mce-abs-layout-item button {
    color: #666;
}