/********************** Magento Overwrite and new class */
/********************** Space Creators */
button:focus {
	border: none;
	outline:none;
}
label {
	color: #666666;
	font-weight: bold;
}
.no-display {
	display:none;
}
.content-box {
	min-height:250px;
}
/* Set minimum height for visual presentation */
.content {
	padding:12px 12px 12px 15px;
}
/* Sets default padding */
.actions {
	line-height:1.3em;
}
.separator {
	padding:0 3px;
}
.pipe {
	padding:10px 4px 0px;
	font-size:.95em;
	display:inline-block;
}
.divider {
	height:1px;
	font-size:1px;
	line-height:1em;
	overflow:hidden;
	clear:both;
}
/*extra added*/
.currency-switcher h4 {
	float:none !important;
}
h5 {
	font-size: 1.05em;
}
.no-display {
	display:none !important;
}
.head h3 {
	padding:0px !important;
	background:none !important;
}
.page-head-alt h3 {
	background:none !important;
	padding:0px !important;
}
.page-head h3 {
	background:none !important;
	padding:0px !important;
}
ol#cart-sidebar {
	padding:0px !important;
	margin:0px !important;
}
ol#cart-sidebar li {
	list-style:none !important;
	margin:0px !important;
}
/* Alignment */
.v-top {
	vertical-align:top !important;
}
.v-middle {
	vertical-align:middle !important;
}
.v-bottom {
	vertical-align:bottom !important;
}
.a-left {
	text-align:left !important;
}
.a-center {
	text-align:center !important;
}
.a-right {
	text-align:right !important;
}
.left {
	float:left !important;
}
.right {
	float:right !important;
}
.normal-weight {
	font-weight:normal !important;
}
.auto-width {
	width:auto !important;
}
/*header tags */

.product-shop h5 a {
	color: #009DDF !important;
	text-decoration:none !important;
	font-size:15px !important;
}

.product-shop h5 a:hover {
	color: #D4145A !important;
}
/* Compare Products */
.compare-products {
	margin:30px 0 50px 0;
}
.compare-products table {
	width:auto;
	border:0;
}
.compare-products tr {
	background:#EEEDED;
}
.compare-products td {
	width:170px;
	text-align:left;
}
.compare-products tbody td {
	border-color:#ccc;
}
.compare-products tbody tr.first td {
	border-top:1px solid #D9DDE3;
	text-align:center;
}
.compare-products tbody td.last {
	border-right:1px solid #D9DDE3;
}
.compare-products tbody.attribute-cart td {
	background:#fffada !important;
	text-align:center;
	border-bottom:1px solid #D9DDE3;
}
.compare-products tbody td.label {
	width:auto;
	border-bottom:1px solid #9eb8cb;
	border-left:1px solid #BEBCB7;
	background:url(../images/comparison_table_label_bg.gif) repeat-y 100% 0 #d9e5ee !important;
	text-align:left;
}
.compare-products tbody.remove-buttons tr {
	background:#fff;
}
.compare-products tbody.remove-buttons td {
	border:none !important;
	padding:0;
	text-align:right;
	font-size:0;
	line-height:0;
}
.compare-products tbody.remove-buttons td img {
	float:right;
}
.compare-products tr.last td {
	border-bottom:1px solid #ccc!important;
}
/* buttons
---------------------------------------------------------- */

a.button, input.button {
	float: left !important;
	margin: 1em 10px 0 0 !important;
	padding: 2px 10px !important;
	text-decoration: none !important;
	color: #98a9b2 !important;
	background: #f7f7f7 url(../img/sprite.png) no-repeat 0 -80px !important;
	border: 1px solid #e4e9ea !important;
}
a.button:visited {
	color: #98a9b2 !important;
}
a.button:hover, input.button:hover {
	color: #43a5cf !important;
	background-position: 0 -120px !important;
	background-color: #f2fafd !important;
	border: 1px solid #d6edf8 !important;
}
input.button {
	overflow: visible !important;
}
/********************** Pager */
table.pager select, table.view-by select {
	margin:0 3px !important;
	font-size:.95em !important;
}
table.pager select {
	width:50px !important;
}
table.view-by td.sort-by {
	text-align:right !important;
	padding-right:44px !important;
}
table.view-by select {
	width:85px !important;
}
table.pager, table.view-by {
	width:100% !important;
	background:url(../images/pager_bg.gif) repeat-x 0 100% #fff !important;
	font-size:.95em !important;
}
table.pager td {
	width:32% !important;
	border-top:1px solid #eee !important;
	padding:4px 8px !important;
	vertical-align:middle !important;
}
table.pager td.pages {
	padding:4px 0 !important;
	white-space:nowrap !important;
	text-align:center !important;
}
table.pager ol, table.pager li {
	display:inline !important;
}
table.pager li {
	padding:0 2px !important;
}
table.view-by td {
	width:33% !important;
	border-top:1px solid #e2e2e2 !important;
	padding:4px 8px !important;
	vertical-align:middle !important;
}
/********************** Catalog Listing */

/* List Type */
.listing-type-list {
	border-top:1px solid #D9DDE3 !important;
	padding:12px 10px !important;
}
.listing-item {
	background: url("../images/row-sep.gif") no-repeat scroll 50% 100% transparent !important;
	padding:12px 10px !important;
	overflow:hidden !important;
}
.listing-item.last {
	background:none !important;
}
.listing-type-list .product-image {
	float:left !important;
	width:135px !important;
	height:135px !important;
}
.listing-type-list .product-shop {
	float:left !important;
}
.listing-type-list .product-shop .description {
	margin:.5em 0 1.2em 0 !important;
}
.listing-type-list .product-shop .imi-cart-form {
	background:#dcdcdc !important;
	padding:10px !important;
	overflow:hidden !important;
}
.listing-type-list .product-shop .price-box {
	float:left !important;
	text-align:left !important;
	white-space:nowrap !important;
	margin:8px 13px 0px 0 !important;
	padding:0 !important;
	font-weight:bold !important;
	font-size:15px !important;
	color:#4d4d4d !important;
}
.listing-type-list .product-shop .price-box span.price {
	color: #009DDF !important;
}
.qty-box .input-text.qty {
	width:25px !important;
	border:1px solid #999 !important;
	margin-left:2px !important;
	padding:2px !important;
}
.form-div {
	float:right !important;
	width:auto !important;
	margin: 0 !important;
}
.listing-type-list .product-shop .qty-box {
	display: block !important;
	float: left !important;
	height: 22px !important;
	padding-top: 7px !important;
	width: 60px !important;
}
.listing-type-list .product-shop .form-button span, .page-head .form-button span, .add-tag-box .form-button-alt span {
	position:relative !important;
	display: block !important;
	height: 33px !important;
	background:url("../images/trans-blue-button-long.png") no-repeat scroll left top transparent !important;
	color: #fff !important;
	padding: 0 0px 0px 12px !important;
	line-height: 31px !important;
	font-size:12px !important;
	font-weight:bold !important;
	font-family:Arial, Helvetica, sans-serif !important;
}
.listing-type-list .product-shop .form-button, .page-head .form-button, .add-tag-box .form-button-alt {
	position: relative !important;
	width: auto !important;
	overflow: visible !important;
	white-space: nowrap !important;
	background:url("../images/trans-blue-button-right.png") no-repeat scroll right top transparent !important;
	border:0px !important;
	border:none !important;
	height: 33px !important;
	padding: 0 12px 0px 0px !important;
	cursor:pointer !important;
}
 button::-moz-focus-inner {
padding: 0 !important;
border: none
}
.listing-type-list .product-shop .product-reviews {
	margin:15px 0 !important;
	font-size:.95em !important;
}
.listing-type-list .product-shop .product-reviews a, .listing-type-list .product-shop .product-reviews a:hover {
	color:#6e6969 !important;
}
.listing-type-list .listing-item .rating-box {
	margin-bottom:6px !important;
}
/* Grid Type */
.listing-type-grid {
	background:url(../images/bkg_products-grid3.gif) 0 0 repeat !important;
}
.listing-type-grid .grid-row {
	border-bottom:1px solid #d9dde3 !important;
}
.listing-type-grid li.item {
	float:left !important;
	width:138px !important;
	padding:12px 10px !important;
	line-height:1.6em !important;
	overflow:hidden !important;
}
.listing-type-grid .last {
	border-bottom:0 !important;
}
.listing-type-grid .product-image {
	text-align:center !important;
}
.listing-type-grid .rating-box {
	float:left !important;
	margin-left:0 !important;
	margin-right:5px !important;
}
.listing-type-grid .actions {
	margin:10px 0 !important;
	text-align:center !important;
}
/* Rewrites for different layouts */
.col-1-layout .listing-type-grid {
	background-image:url(../images/bkg_products-grid1.gif) !important;
}
.col-1-layout .listing-type-grid li.item {
	width:280px !important;
}
.col-2-left-layout .listing-type-grid, .col-2-right-layout .listing-type-grid {
	background-image:url(../images/bkg_products-grid2.gif) !important;
}
.col-2-left-layout .listing-type-grid li.item, .col-2-right-layout .listing-type-grid li.item {
	width:208px !important;
}
/* +++++++++++++++++++ Magento layout with IMI joomla template framework +++++++++++++++++++ */ 

/********************** Catalog Listing */

.col2-left .listing-type-list .product-shop {
	width:524px !important;
	padding-left:30px !important;
}
/**********************magebridge-content */

.magebridge-content h1 {
	font-size:18px !important;
}
/********************** choose category */

.choose-category {
	padding:20px 0px 0px 0px !important;
}
.choose-category h2 {
	font-size:18px !important;
	margin:0px 0px 5px 0px !important;
}
.choose-category ul {
	padding:0px !important;
	margin:0px 0px 0px -12px !important;
	list-style:none !important;
	overflow:hidden;
}
.choose-category ul li {
	float:left !important;
	width:173px !important;
	height:170px !important;
	margin:0px 0px 12px 12px !important;
	padding:0px !important;
}
.choose-category ul li:hover {
	cursor: pointer !important;
}
.choose-category ul li a {
	width:173px !important;
	height:16px !important;
	display:block !important;
	text-align:center !important;
	padding-top:152px !important;
	margin:0px !important;
	text-decoration:none !important;
	color:#009ddf !important;
	font-size:14px !important;
	font-family:Arial, Helvetica, sans-serif !important;
	line-height:normal !important;
}

.choose-category ul li a:hover {
	color: #D4145A !important;
}
.choose-category ul li.software {
	background:url(../images/software-img.gif) 0 0 no-repeat !important;
}
.choose-category ul li.software:hover {
	background:url(../images/software-hover-img.gif) 0 0 no-repeat !important;
}
.choose-category ul li.e-learning {
	background:url(../images/e-learning-img.gif) 0 0 no-repeat !important;
}
.choose-category ul li.e-learning:hover {
	background:url(../images/e-learning-hover-img.gif) 0 0 no-repeat !important;
}
.choose-category ul li.certification {
	background:url(../images/certificate-img.gif) 0 0 no-repeat !important;
}
.choose-category ul li.certification:hover {
	background:url(../images/certificate-hover-img.gif) 0 0 no-repeat !important;
}
.choose-category ul li.books {
	background:url(../images/books-img.gif) 0 0 no-repeat !important;
}
.choose-category ul li.books:hover {
	background:url(../images/books-hover-img.gif) 0 0 no-repeat !important;
}
/*Magento Article banner trans- blue and gray buttons*/
.banner-buttons {
	clear:both !important;
	width:200px !important;
	overflow:hidden !important;
}
/* gray buttons*/

.banner-grey-button {
	padding:0px 0px 0px !important;
	margin:0px !important;
	float:left !important;
	height:33px !important;
	width:auto !important;
	padding-left:5px !important;
}
.banner-grey-button span.left {
	width:10px !important;
	height:33px !important;
	display:block !important;
	float:left !important;
	margin:0px !important;
	background:url(../images/trans-grey-button-left.png) no-repeat left top !important;
}
.banner-grey-button span.right {
	width:10px !important;
	height:33px !important;
	display:block !important;
	float:left !important;
	margin:0px !important;
	background:url(../images/trans-grey-button-right.png) no-repeat left top !important;
}
.banner-grey-button span.btnlink {
	float:left !important;
	width:auto !important;
	background:url(../images/trans-grey-btn-x.png) repeat-x !important;
}
.banner-grey-button a {
	padding:8px 0 0 0px !important;
	margin:0px !important;
	height:25px !important;
	display:block !important;
	text-decoration:none !important;
	color:#333 !important;
	text-align:center !important;
	font-weight:normal !important;
}
/* blue buttons*/


.banner-blue-button {
	padding:0px 0px 0px !important;
	margin:0px !important;
	float:left !important;
	height:33px !important;
	width:auto !important;
	padding-left:5px !important;
}
.banner-blue-button span.left {
	width:10px !important;
	height:33px !important;
	display:block !important;
	float:left !important;
	margin:0px !important;
	background:url(../images/trans-blue-button-left.png) no-repeat left top !important;
}
.banner-blue-button span.right {
	width:10px !important;
	height:33px !important;
	display:block !important;
	float:left !important;
	margin:0px !important;
	background:url(../images/trans-blue-button-right.png) no-repeat left top !important;
}
.banner-blue-button span.btnlink {
	float:left !important;
	width:auto !important;
	background:url(../images/trans-blue-btn-x.png) repeat-x !important;
}
.banner-blue-button a {
	padding:8px 0 0 0px !important;
	margin:0px !important;
	height:25px !important;
	display:block !important;
	text-decoration:none !important;
	color:#fff !important;
	text-align:center !important;
	font-weight:bold !important;
}
/*CSS : Magento Store Article Banner =====================================================*/

.article-banner {
	height: 245px;
	padding: 24px 30px;
}
.article-banner h3 {
	padding: 0;
	background: none;
	font-size: 30px;
	font-weight: normal;
	color: #1f92c9;
}
.article-banner .content {
	width:auto;
	float: left;
	text-align: left;
	color: #fff;
	min-height:160px;
	height:160px;
	overflow:hidden;
	margin-bottom:15px;
	padding:0px;
}
.article-banner .content h5 {
}
.article-banner .buttons {
	clear: both;
}
.article-banner .content ul {
}
.article-banner .content ul li {
	line-height:normal !important;
	margin:0px !important;
	background: url("../images/blue_dot.gif") no-repeat 1px 7px !important;
	list-style:none !important;
	padding-left:16px !important;
}
.article-banner .banner-buttons {
	margin-left:-7px !important;
}
/********************** Product Detail */
/* Product Images */
.product-img-box {
	float:left !important;
	width:267px !important;
}
.product-img-box .product-image-zoom {
	position:relative !important;
	overflow:hidden !important;
	width:265px !important;
	height:265px !important;
	z-index:9 !important;
}
.product-img-box .product-image-zoom img {
	position:absolute !important;
	left:0 !important;
	top:0 !important;
	cursor:move !important;
}
.image-zoom {
	position:relative !important;
	z-index:9 !important;
	height:18px !important;
	margin:0 auto 13px auto !important;
	background:url(../images/slider_bg.gif) no-repeat 50% 50% !important;
	padding:0 28px 0 28px !important;
	cursor:pointer !important;
}
.image-zoom #track {
	position:relative !important;
	height:18px !important;
}
.image-zoom #handle {
	position:absolute !important;
	left:0 !important;
	top:-1px !important;
	width:9px !important;
	height:22px !important;
	background:url(../images/magnifier_handle.gif) 0 0 no-repeat !important;
}
.image-zoom .btn-zoom-out {
	position:absolute !important;
	left:2px !important;
	top:1px !important;
}
.image-zoom .btn-zoom-in {
	position:absolute !important;
	right:2px !important;
	top:1px !important;
}
.product-img-box .more-views h4 {
	border-bottom:1px solid #ccc !important;
	margin-bottom:.8em !important;
	font-size:.95em !important;
	text-transform:uppercase !important;
}
.product-img-box .more-views ul {
	margin-left:-9px !important;
}
.product-img-box .more-views li {
	float:left !important;
	margin:0 0 9px 0px !important;
	background:none !important;
	padding:0 0 0 9px !important;
}
.product-img-box .more-views li a {
	float:left !important;
	width:56px !important;
	height:56px !important;
	border:2px solid #ddd !important;
	overflow:hidden !important;
}
.product-info-box {
	border:0px solid #c4c6c8 !important;
}
.product-info-box .product-name {
	padding:0px 0px 10px 0px !important;
}
h3.product-name {
	background:none !important;
	margin:0px !important;
	padding:0px !important;
	color:#009DDF !important;
	font-size:18px !important;
}
.product-info-box .price-box {
	margin:10px 0 !important;
}
.product-info-box .data-table .price-box {
	margin:0 !important;
	padding:0 !important;
}
.product-info-box .availability {
	margin:10px 0 !important;
	padding:0 !important;
	font-size:0.92em !important;
	font-weight:bold !important;
}
.product-info-box .availability span.value {
	font-weight:normal !important;
}
.add-to-cart-box {
	float:right !important;
}
.add-to-cart-box .qty-box {
	float:left !important;
}
.add-to-cart-box .qty-box label {
	float:left !important;
}
.add-to-cart-box .qty-box .qty {
	float:left !important;
	margin:0 5px !important;
}
.add-to-cart-box .form-button {
	float:left !important;
}
.add-to-box {
	text-align:right !important;
}
.add-to-box li {
	display:inline !important;
}
.add-to-holder {
	margin:10px 0 !important;
}
.add-to-holder .add-to-cart-box {
	float:left !important;
}
.add-to-holder .add-or {
	float:left !important;
	padding:0 7px !important;
	font-weight:bold !important;
	color:#666 !important;
}
.add-to-holder .add-to-box {
	float:left !important;
	line-height:1.25em !important;
	text-align:left !important;
}
.add-to-holder .add-to-box li {
	display:block !important;
}
.add-to-holder .add-to-box li .pipe {
	display:none !important;
}
.product-info-box .ratings {
	margin-bottom:1em !important;
}
.product-essential, .product-collateral {
	padding:23px 0px 0px 0px !important;
}
.product-essential {
	padding:0px !important;
	/*background:url(../images/product_essential_bg.gif) no-repeat 100% 0 #fff !important;*/
	background-color: #fff;
}
.product-essential .product-shop {
	width:auto !important;
}
.product-essential .product-shop .ratings {
	margin-bottom:10px !important;
}
.product-essential .imi-cart-form {
	background:#dcdcdc !important;
	padding:10px !important;
	overflow:hidden !important;
	clear:both !important;
}
.product-essential .price-box {
	float:left !important;
	text-align:left !important;
	white-space:nowrap !important;
	margin:2px 13px 0px 0 !important;
	padding:0 !important;
	font-weight:normal !important;
	font-size:23px !important;
}
.product-essential .price-box span.price {
	color: #009DDF !important;
}
.input-text.qty {
	width:25px !important;
	border:1px solid #999 !important;
}
.form-div {
	float:right !important;
	width:auto !important;
	margin: 0 !important;
}
.product-essential .qty-box {
	display: block !important;
	float: left !important;
	height: 22px !important;
	padding-top: 6px !important;
	width: 60px !important;
}
.product-essential .form-button span,  .button-set .form-button span, .mini-cart .form-button span {
	position:relative !important;
	display: block !important;
	height: 33px !important;
	background:url("../images/trans-blue-button-long.png") no-repeat scroll left top;
	color: #fff !important;
	padding: 0 0px 0px 12px !important;
	line-height: 31px !important;
	font-size:13px !important;
	font-weight:bold !important;
	font-family:Arial, Helvetica, sans-serif !important;
	overflow:visible !important;
}

.form-button span {
	position:relative !important;
	display: block !important;
	height: 33px !important;
	background:url("../images/trans-grey-button-long.png") no-repeat scroll left top;
	color: #000 !important;
	padding: 0 0px 0px 12px !important;
	line-height: 31px !important;
	font-size:13px !important;
	font-weight:bold !important;
	font-family:Arial, Helvetica, sans-serif !important;
	overflow:visible !important;
}

.product-essential .form-button, .button-set .form-button,  .mini-cart .form-button{
	position: relative !important;
	width: auto !important;
	overflow: visible !important;
	white-space: nowrap !important;
	background:url("../images/trans-blue-button-right.png") no-repeat scroll right top;
	border:0px !important;
	border:none !important;
	height: 33px !important;
	padding: 0 12px 0px 0px !important;
	cursor:pointer !important;
}

.form-button {
	position: relative !important;
	width: auto !important;
	overflow: visible !important;
	white-space: nowrap !important;
	background:url("../images/trans-grey-button-right.png") no-repeat scroll right top;
	border:0px !important;
	border:none !important;
	height: 33px !important;
	padding: 0 12px 0px 0px !important;
	cursor:pointer !important;
}

.product-pricing {
	margin:10px 0 !important;
	padding:10px !important;
	background-color:#f4f7f7 !important;
	border:1px solid #dadddd !important;
}
.product-pricing li {
	line-height:1.4 !important;
	background:url(../images/bg_tierico1.gif) no-repeat 0 3px !important;
	padding:0px 0px 0px 10px !important;
	color:#424242 !important;
}
.product-pricing .benefit {
	font-style:italic !important;
	font-weight:bold !important;
	color:#2f2f2f !important;
}
.product-pricing .price {
	font-weight:bold !important;
	color:#2f2f2f !important;
}
.product-options {
	margin:10px 0 10px !important;
	padding:10px 15px 20px !important;
	background-color:#f6f6f6 !important;
	border:1px solid #e4e4e4 !important;
}
.product-options dt {
	padding:4px 10px 0 0 !important;
	font-weight:normal !important;
	width:auto !important;
	overflow:hidden !important;
}
.product-options dt label {
	color:#2f2f2f !important;
}
.product-options dt .qty-holder {
	float:right !important;
	margin-right:0px !important;
}
.product-options dt .qty-holder label {
	vertical-align:middle !important;
}
.product-options dt .qty-disabled {
	background:none !important;
	border:0 !important;
	padding:3px !important;
	color:#2f2f2f !important;
}
.product-options dd {
	padding:5px 10px 15px !important;
	margin:0 0 5px !important;
	border-bottom:1px solid #e4e4e4 !important;
}
.product-options dl.last dd.last {
	border-bottom:0 !important;
	padding-bottom:5px !important;
	margin-bottom:0 !important;
}
.product-options dd input.input-text {
	width:98% !important;
}
.product-options dd textarea {
	width:98% !important;
	height:8em !important;
}
.product-options dd select {
	width:99%;
}
.product-options dd .multiselect option {
	border-bottom:1px dotted #d9e5ee !important;
	padding:2px 4px !important;
}
.product-options ul.options-list {
	margin-right:5px !important;
	clear:both !important;
}
.product-options ul.options-list li {
	line-height:1.5 !important;
	padding:2px 0 !important;
}
.product-options ul.options-list input.radio {
	float:left !important;
	margin-top:3px !important;
}
.product-options ul.options-list input.checkbox {
	float:left !important;
	margin-top:3px !important;
	width:auto;
}
.product-options ul.options-list .label {
	display:block !important;
	margin-left:18px !important;
}
.product-options ul.options-list label {
	font-weight:normal !important;
}
.product-options ul.validation-failed {
	padding:0 7px !important;
}
.product-options p.required {
	margin-bottom:0 !important;
	padding:15px 0 0 !important;
}
.product-options-bottom {
	background-color:white !important;
	padding:15px 20px !important;
	border:1px solid #e4e4e4 !important;
	border-top:0 !important;
}
.product-options-bottom .product-pricing {
	margin:0 !important;
	padding:0 0 10px !important;
	border:0 !important;
	background:0 !important;
}
.product-options-bottom .product-pricing li {
	background:0 !important;
	padding:2px 0 !important;
	color:#D4145A !important;
}
.product-options-bottom .product-pricing .price, .product-options-bottom .product-pricing .benefit {
	color:#D4145A !important;
}
.product-options-bottom .price-box {
	float:left !important;
	margin:0 !important;
	padding:0 !important;
}
.product-options-bottom .price-label {
	float:left !important;
	padding-right:5px !important;
}
.product-options-bottom .price-tax {
	float:left !important;
}
.product-shop .product-options-bottom .price-box {
	float:none !important;
}
.product-shop .product-options-bottom .price-label {
	float:none !important;
	padding-right:0 !important;
}
.product-shop .product-options-bottom .price-tax {
	float:none !important;
}
.product-shop .product-options-bottom .add-to-cart-box {
	clear:both !important;
	float:left !important;
	padding-top:12px !important;
}
.imi-product-right {
	float:right !important;
	width:460px !important;
}
.imi-product-right .price-box {
	float:none !important;
}
.imi-product-right h4 {
	padding:5px 0px !important;
}
/************************************************************/
/****************[ Mage_CSS_D Shop Elements]*****************/
/************************************************************/

.imi-product-right {
	float:right !important;
}
.out-of-stock {
	height:18px !important;
	padding-top:3px !important;
	color:#D83820 !important;
	font-weight:bold !important;
}
.imi-product-right .short-description {
	width:100% !important;
	overflow:hidden !important;
	margin-bottom:10px !important;
}
/* Product Options */
dl.item-options dt {
	font-weight:bold !important;
	font-style:italic !important;
}
dl.item-options dd {
	padding-left:10px !important;
}
.truncated {
	cursor:help !important;
}
.truncated a.dots {
	cursor:help !important;
	text-decoration:none !important;
}
.truncated a.details {
	cursor:help !important;
	text-decoration:none !important;
	display:inline-block !important;
	border-bottom:1px #1e7ec8 dotted !important;
}
.truncated .truncated_full_value {
	position:relative !important;
	z-index:999 !important;
}
.truncated .truncated_full_value dl {
	position:absolute !important;
	top:-99999em !important;
	z-index:999 !important;
	width:250px !important;
	padding:8px !important;
	border:1px solid #ccc !important;
	border-bottom-color:#bbb !important;
	border-right-color:#bbb !important;
	background-color:#f6f6f6 !important;
}
.truncated .truncated_full_value dl dt {
	margin-top:0 !important;
}
.truncated .show dl {
	top:-110px !important;
	left:50%;
	height:115px;
	overflow:auto;
}
.position-right-wrapper .truncated .show dl {
	left:-164%;
}
.col-left .truncated .show dl {
	left:35px !important;
	top:10px !important;
}
.col-right .truncated .show dl {
	left:-240px !important;
	top:10px !important;
}
/* Shopping Cart */
.shopping-cart {
	margin-bottom:0 !important;
}
.shopping-cart th, .shopping-cart td {
	padding-left:13px !important;
	padding-right:13px !important;
}
.shopping-cart th .tax-flag {
	font-size:0.9em !important;
	font-weight:normal !important;
	display:block !important;
}
.shopping-cart tr.error {
	background:#FDE6E0 !important;
}
.shopping-cart .continue-shopping {
	float:left !important;
}
.shopping-cart-item-message {
	margin-bottom:5px !important;
	font-size:95% !important;
	margin-top:6px !important;
}
td.attributes-col {
	line-height:1.4em !important;
}
td.attributes-col ul {
	margin:5px 0 !important;
	font-size:.95em !important;
}
td.attributes-col dt {
	margin-top:.5em !important;
}
td.attributes-col dd ul {
	margin:0 0 5px 0 !important;
	list-style:disc !important;
}
td.attributes-col dd ul li {
	margin-left:15px !important;
}
td.attributes-col h4.title {
	padding:0 !important;
	margin:0 !important;
	font-size:1em !important;
	color:#2f2f2f !important;
	width:100% !important;
	overflow:hidden !important;
}
td.attributes-col h4.title a {
	font-weight:bold !important;
}
.shopping-cart-totals {
	width:215px !important;
	float:right !important;
	margin-top:25px !important;
	border:1px solid #BEBCB7 !important;
	background:#DEE5E8 !important;
	text-align:right !important;
}
.shopping-cart-totals table {
	width:100% !important;
	margin:7px 0 !important;
}
.shopping-cart-totals td {
	padding:0 15px !important;
}
.shopping-cart-totals tr.last td {
}
.shopping-cart-totals tfoot td {
	padding-top:10px !important;
	font-size:1.3em !important;
	border:none!important;
}
.shopping-cart-totals .checkout-types {
	padding:8px 15px 15px !important;
}
.shopping-cart-totals .checkout-types li {
	clear:both !important;
	margin:10px 0 !important;
	background:none !important;
}
.page-head-alt .checkout-types {
	padding:0px !important;
	float:right;
}
.page-head-alt .checkout-types li {
	clear:both !important;
	margin:0px !important;
	background:none !important;
}
/* Product Collateral */
.product-collateral {
	background:#fff !important;
}
.product-collateral .head {
	margin-bottom:10px !important;
	padding-bottom:1px !important;
	font-size:1.15em !important;
	background:url(../images/acco-pink-bg.gif) repeat-x !important;
	height:22px !important;
	padding:4px 10px 0px !important;
}
.product-collateral .collateral-box {
	margin-bottom:1em !important;
}
.product-collateral .collateral-box h4 {
	color:#fff !important;
}
.collateral-box .product-specs {
	padding:0px 10px 10px !important;
}
.product-collateral .attribute-specs table {
	border-color:#d9DDE3 !important;
}
.product-collateral .attribute-specs .label {
	font-weight:bold !important;
}
.product-collateral .attribute-specs .data {
	border-right:0 !important;
}
.product-collateral .attribute-specs td {
	padding-top:3px !important;
	padding-bottom:3px !important;
	line-height:1.25em !important;
}
.product-collateral .up-sell .head {
	padding-bottom:8px !important;
	margin-bottom:0 !important;
}
.product-collateral .up-sell .generic-product-grid {
	border:1px solid #E5DCC3 !important;
	margin:10px 0px;
}
.product-collateral .up-sell .generic-product-grid td {
	width:25% !important;
	border-color:#E5DCC3 !important;
	background:#f6f2e7 !important;
	padding-top:15px !important;
}
.product-collateral .up-sell .generic-product-grid td img {
	border:1px solid #E5DCC3 !important;
}
.product-collateral .up-sell .generic-product-grid td.empty-product {
	background:#f1ecdb !important;
}
#customer-reviews {
	margin-bottom:15px !important;
}
#customer-reviews li {
	margin-bottom:25px !important;
}
#customer-reviews li p {
	clear:both !important;
}
.product-collateral .add-tag-box .input-box {
	float:left !important;
	width:302px !important;
	margin-right:8px !important;
}
.product-collateral .add-tag-box .input-box .input-text {
	width:300px !important;
}
.tags-list {
	margin-bottom:15px !important;
}
.tags-list li {
	display:inline !important;
	background:url(../images/separator.gif) no-repeat 100% .4em !important;
	padding:0 8px 0 4px !important;
}
.tags-list li.first {
	padding-left:0 !important;
}
.tags-list li.last {
	background:none !important;
}
.add-tag-box {
	background:url(../images/icon_tag_add.gif) no-repeat 0 10px !important;
	padding-left:23px !important;
}
.product-review-box {
	padding-bottom:10px !important;
}
.product-review-box table {
	width:456px !important;
	margin:8px 0 0 !important;
}
.product-review-box td, .product-review-box th {
	text-align:center !important;
}
.product-review-box td.label {
	width:100px !important;
	text-align:left !important;
}
.imi-additional-data {
	padding:10px 10px 10px !important;
}
.imi-additional-data h5 {
	clear:both;
}
.imi-additional-data .head {
	margin-bottom: 10px !important;
}
.imi-additional-data .input-text {
	width:50%
}
.imi-additional-data .input-box {
	padding-left:10px !important;
}
.imi-additional-data .add-tag-box {
	padding-top:10px !important;
}
.imi-additional-data small {
	padding-left:10px !important;
}
/************************** Prices */
.price {
	white-space:nowrap !important;
}
.price-box {
	padding:5px 0 !important;
}
.price-box .price {
	font-weight:normal !important;
	color:#339FCD !important;
}
/* Regular price */
.regular-price {
	color:#4d4d4d !important;
}
.regular-price .price {
	font-weight:bold !important;
	font-size:26px !important;
	color:#009ddf !important;
}
/* Old price */
.old-price {
	margin:0 !important;
}
.old-price .price-label {
	white-space:nowrap !important;
	color:#999 !important;
}
.old-price .price {
	font-weight:bold !important;
	color:#339FCD !important;
	text-decoration:line-through !important;
}
/* Special price */
.special-price {
	margin:0 !important;
	padding:3px 0 !important;
}
.special-price.big .price-label,
.special-price.big .price {font-size: 20px !important;color: #D4145A !important;}

.old-price.small .price-label,
.old-price.small .price {font-size: 13px !important;}

.special-price .price-label {
	font-size:13px !important;
	font-weight:bold !important;
	white-space:nowrap !important;
	color:#cd5033 !important;
}
.special-price .price {
	font-size:13px !important;
	font-weight:bold !important;
	color:#339FCD !important;
}
/* Minimal price (as low as) */
.minimal-price {
	margin:0 !important;
}
.minimal-price .price-label {
	font-weight:bold !important;
	white-space:nowrap !important;
}
a.minimal-price-link {
	display:block !important;
}
a.minimal-price-link .label {
}
a.minimal-price-link .price {
	font-weight:normal !important;
	color:#1e7ec8 !important;
}
/* Excluding tax */
.price-excluding-tax {
	display:block !important;
	color:#999 !important;
}
.price-excluding-tax .label {
	white-space:nowrap !important;
	color:#999 !important;
}
.price-excluding-tax .price {
	font-size:13px !important;
	font-weight:normal !important;
	color:#339FCD !important;
}
/* Including tax */
.price-including-tax {
	display:block !important;
	color:#999 !important;
}
.price-including-tax .label {
	white-space:nowrap !important;
	color:#999 !important;
}
.price-including-tax .price {
	font-size:13px !important;
	font-weight:bold !important;
	color:#339FCD !important;
}
/* Excl tax (for order tables) */
.price-excl-tax {
	display:block !important;
}
.price-excl-tax .label {
	display:block !important;
	white-space:nowrap !important;
}
.price-excl-tax .price {
	display:block !important;
}
/* Incl tax (for order tables) */
.price-incl-tax {
	display:block !important;
}
.price-incl-tax .label {
	display:block !important;
	white-space:nowrap !important;
}
.price-incl-tax .price {
	display:block !important;
	font-weight:bold !important;
}
/* Price range */
.price-from {
	margin:0 !important;
	padding-top:10px;
}
.price-from .price-label {
	font-weight:normal !important;
	white-space:nowrap !important;
}
.price-to {
	margin:0 !important;
	padding-top: 10px !important;
}
.price-to .price-label {
	font-weight:normal !important;
	white-space:nowrap !important;
}
/* Price notice next to the options */
.price-notice {
	padding-left:10px !important;
	color:#999 !important;
}
.price-notice .price {
	font-weight:bold !important;
	color:#339FCD !important;
}
.price-as-configured {
	margin:0 !important;
}
.price-as-configured .price-label {
	font-weight:bold !important;
	white-space:nowrap !important;
}
.price-box-bundle {
	padding:0 0 10px 0 !important;
}
.price-box-bundle .price-box {
	margin:0 !important;
	padding:0 !important;
}
.price-box-bundle .price {
	color:#339FCD !important;
}
.product-pricing-grouped li {
	padding:2px 0 !important;
	color:#D4145A !important;
}
.product-pricing-grouped li .price {
	font-weight:bold !important;
}
/* Page heading */
.page-head {
	margin:0 0 25px 0 !important;
	border-bottom:0px solid #ccc !important;
}
.page-head-alt {
	margin:0 0 12px 0 !important;
}
.page-head, .page-head-alt {
	text-align:right !important;
}
.page-head h3, .page-head-alt h3 {
	text-transform:none !important;
	text-align:left !important;
	color:#009DDF !important; 
	font-size:18px !important;  
	margin: 0 0 5px !important; 
}
.button-level h3 { /* heading level with buttons */
	float:left !important;
	width:55% !important;
}
.page-head .link-feed {
	float:right !important;
	margin-top:9px !important;
}
.button-level .link-feed {
	float:none!important;
	font-size:1em!important;
}
/* Shopping cart tax info */
.cart-tax-info, .cart-price {
	padding-right:20px !important;
}
.cart-tax-total {
	cursor:pointer !important;
}
.cart-tax-total {
	padding-right:20px !important;
	background:url(../images/bg_collapse.gif) 100% 5px no-repeat !important;
	cursor:pointer !important;
}
.cart-tax-total-expanded {
	background-position:100% -52px !important;
}
.shopping-cart-collaterals {
	float:left !important;
	width:500px !important;
	padding:25px 0 !important;
}
.shopping-cart-collaterals .box {
	margin-bottom:18px !important;
	padding:1px 15px 10px!important;
	border:1px solid #D0CBC1 !important;
	background:url(../images/base_mini_head_bg.gif) repeat-x #fff !important;
	overflow: hidden !important;
}
.shopping-cart-collaterals .box .form-button {
	margin-left:5px !important;
}
.shopping-cart-collaterals .discount-codes h4, .shopping-cart-collaterals .shipping-estimate h4 {
	min-height:16px !important;
	color:#D4145A !important;
	background-repeat:no-repeat !important;
	background-position:0 0 !important;
	padding:1px 0 1px 21px !important;
	text-transform:uppercase !important;
}
.discount-codes .left {
	margin:0px !important;
	width:auto !important;
}
.shopping-cart-collaterals .discount-codes h4 {
	background-image:url(../images/icon_asterick.gif) !important;
	padding-left:23px !important;
	margin-bottom: 10px !important;
}
.shopping-cart-collaterals .shipping-estimate h4 {
	background-image:url(../images/icon_lorry.gif) !important;
	padding-left:23px !important;
	margin:12px 0 10px 0;
}
.shopping-cart-collaterals .shipping-estimate .input-text {
	width:97% !important;
}
.shopping-cart-collaterals .shipping-estimate select {
	width:100% !important;
}
.shopping-cart-collaterals .upsell {
	width:42.5% !important;
	border:1px solid #cec3b6 !important;
	padding:12px 15px !important;
	background:#fafaec !important;
}
.shopping-cart-collaterals .upsell .product-image {
	float:left !important;
	width:75px !important;
	border:1px solid #d0cdc9 !important;
}
.shopping-cart-collaterals .upsell .product-shop {
	margin-left:10px;
	width:140px;
	float:left;
}
.shopping-cart-collaterals .upsell .product-shop h5 {
	font-size:1em !important;
}
.grand_total {
	width:auto !important;
	margin-top:15px !important;
	border:1px solid #BEBCB7 !important;
	background:#DEE5E8 !important;
	font-size:1.3em !important;
	font-weight:bold !important;
	text-align:right !important;
}
tr.grand_total td, p.grand_total {
	padding-top:5px !important;
	padding-bottom:5px !important;
}
/********************** Gift Messages */
.giftmessages .gift-header {
	font-size:12px !important;
	font-weight:bold !important;
	color:#e87403 !important;
}
.giftmessages .input-checkbox {
	padding-bottom:15px !important;
}
.giftmessages textarea {
	height:100px !important;
}
.giftmessages .input-checkbox input {
	margin-right:5px !important;
}
.giftmessages .input-checkbox label {
	font-weight:normal !important;
	color:#8e8d8b !important;
}
.one-page-checkout .box-no-padding {
	border:1px solid #bbb6a5 !important;
	border-top:0 !important;
	padding:15px 0px !important;
	background:#faf7ee !important;
}
.one-page-checkout .box-no-padding .inner-box {
	padding:0px 20px !important;
}
.giftmessages .gift-box {
	background-color:#f6f1eb !important;
	border-top:1px solid #e9e4de !important;
	border-bottom:1px solid #e9e4de !important;
	padding:22px 16px 22px 22px !important;
}
.giftmessages .gift-box .scroll-box {
	overflow:auto !important;
	height:260px !important;
}
.giftmessages .product-image {
	border:1px solid #d2d1cd !important;
}
.no-border {
	border-top:none !important;
	border-left:none !important;
	border-right:none !important;
	border-bottom:none !important;
}
.no-padding {
	padding:0 !important;
}
.no-margin {
	margin:0 !important;
}
.giftmessages .giftmessage-product-info {
	padding-left:10px !important;
}
.giftmessages .numeration {
	font-weight:bold !important;
	color:#8a8987 !important;
}
.giftmessages .gift-box label {
	color:#918d8e !important;
}
.giftmessages .group-select li .input-box {
	float:left !important;
	width:260px !important;
}
.giftmessages .group-select li .input-text, .group-select li select, .group-select li textarea {
	width:495px !important;
}
.giftmessages .group-select li .input-box .input-text, .group-select li .input-box textarea {
	width:235px !important;
}
.giftmessages .group-select li .input-box select {
	width:256px !important;
}
/* Form Elements */
input.input-text, select, textarea {
	border:1px solid #339FCD;
	font:12px arial, helvetica, sans-serif !important;
}
option, optgroup {
	font:12px arial, helvetica, sans-serif !important;
}
optgroup {
	font-weight:bold !important;
}
textarea {
	overflow:auto !important;
}
input.input-text, textarea {
	padding:5px !important;
}
input.radio {
	margin-right:3px !important;
}
input.checkbox {
	margin-right:3px !important;
}
.qty {
	width:2.5em !important;
}
.group-select label, .form-list label, .payment-methods label {
	font-weight:bold !important;
}
.input-text:focus, select:focus, textarea:focus {
	background:#D5ECFD !important;
}
.button-set {
	clear:both !important;
	margin-top:4em !important;
	border-top:0px solid #e4e4e4 !important;
	padding-top:8px !important;
}
.button-set p {
	line-height:40px;
}
.form-button-alt {
	float: left !important;
	margin-right: 5px !important;
	padding: 1px 10px !important;
	text-decoration: none !important;
	color: #FFF !important;
	background: #4FABD2 !important;
	border: 0px solid #339FCD !important;
}
.form-button-alt span {
	white-space:nowrap !important;
	background: url("../images/trans-grey-button-long.png") no-repeat scroll left top transparent !important;
	color: #000 !important;
	display: block !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	font-weight: bold !important;
	height: 33px !important;
	line-height: 32px !important;
	padding: 0 0 0 12px !important;
	position: relative !important;
}
.form-button-alt {
	background: url("../images/trans-grey-button-right.png") no-repeat scroll right top transparent !important;
	border: medium none !important;
	cursor: pointer !important;
	height: 33px !important;
	overflow: visible !important;
	padding: 0 12px 0 0 !important;
	position: relative !important;
	white-space: nowrap !important;
	width: auto !important;
}
a.form-button-alt {
	padding:2px 9px !important;
	text-decoration:none !important;
}
.form-button-alt:hover {
	color:#0A263C !important;
	text-decoration:none !important;
}
.btn-checkout {
	display:block !important;
	float:right !important;
	background:transparent url(../images/btn_proceed_to_checkout_rad.gif) no-repeat 100% 0 !important;
	font-size:15px !important;
	font-weight:bold !important;
	padding-right:8px !important;
}
.btn-checkout, .btn-checkout:hover {
	color:#fef5e5 !important;
	text-decoration:none !important;
}
.btn-checkout span {
	display:block !important;
	padding:0 17px 0 25px !important;
	background:transparent url(../images/btn_proceed_to_checkout_bg.gif) no-repeat !important;
	line-height:40px !important;
}
/* Form lists */
.form-list li {
	margin-bottom:6px !important;
	background:none !important;
	padding: 0px !important;
}
.form-list li .input-box .input-text, .form-list li .input-box textarea {
	width:100% !important;
}
.form-list li .input-box select {
	width:100% !important;
}
.form-list li.addElement {
	border-top:1px solid #DDD !important;
	padding-top:10px !important;
}
.group-select {
	margin:28px 0 !important;
	/*border:1px solid #E1E9ED !important;*/
	padding:22px 25px 12px 25px !important;
	background:#FFFFFF !important;
}
.group-select .legend {
	margin-top:-33px !important;
	float:left !important;
	border:1px solid #D4145A !important;
	background:#ffffff !important;
	padding:0 8px !important;
	color:#D4145A !important;
	font-weight:bold !important;
	font-size:1.1em !important;
}
.group-select li {
	padding:4px 8px !important;
	background:none !important;
}
.group-select li .input-box {
	float:left !important;
	width:275px !important;
}
.group-select li .input-text, .group-select li select, .group-select li textarea {
	width:525px !important;
}
.group-select li .input-box .input-text, .group-select li .input-box textarea {
	width:250px !important;
}
.group-select li .input-box select {
	width:256px !important;
}
/* Registration on success page */
.register-form-success-page h4 {
    margin-top:20px;
}
.register-form-success-page div.field + div.field {
    margin-top:10px;
}
.register-form-success-page div.button-set {
    margin-top:0 !important;
    padding-top:0 !important;
}
.register-form-success-page div.button-set p.required {
    margin-right:5px;
    line-height: 1em;
}

.login-box .form-list li .input-text {
    width: 250px !important; /* even more important... */
}
.login-box .form-list li select {
    width: 262px !important; /* even more important... */
}
/* Form Messages */
.validation-advice, .required {
	color:#d4145a !important;
}
.validation-advice {
	clear:both !important;
	min-height:15px !important;
	margin-top:3px !important;
	background:url(../images/validation_advice_bg.gif) no-repeat 2px 1px !important;
	padding-left:17px !important;
	font-size:.95em !important;
	font-weight:bold !important;
	line-height:1.25em !important;
}
.validation-failed {
	border:1px dashed #d4145a !important;
	background:#faebe7 !important;
}
/* Expiration date and cvv number validation fix */
.v-fix {
	float:left !important;
}
.v-fix .validation-advice {
	display:block !important;
	margin-right:-12em !important;
	width:12em !important;
	position:relative !important;
}
label.required {
    float: left;
    clear:both;
	font-weight:bold !important;
	color:#4d4d4d !important;
}
p.required {
	font-size:.95em !important;
	text-align:right !important;
}
/* One-Page checkout */
#checkout-step-login ul.disc {
	list-style: disc;
	margin-bottom: 10px;
	margin-top:10px;
}
#checkout-step-login .disc li {
	background: url("../images/blue_dot.gif") no-repeat scroll left 6px transparent !important;
	margin-bottom: 2px !important;
	padding-left: 10px !important;
}
#checkout-step-login h4 {
	margin-bottom:20px !important;
}
ol.one-page-checkout {
	padding:0px !important;
	margin:0px !important;
}
.one-page-checkout li {
	list-style:none !important;
	margin:0px !important;
	padding:0px !important;
	background:none !important;
}
.one-page-checkout li.section {
	position:relative !important;
}
.one-page-checkout .group-select {
	margin-right:0 !important;
}
.one-page-checkout .group-select ul li {
	padding:5px 0px !important;
}
.one-page-checkout .box {
	border:1px solid #bbb6a5 !important;
	border-top:0 !important;
	padding:15px 20px !important;
	background:#faf7ee !important;
}
.one-page-checkout .head {
	margin-bottom:0 !important;
	padding:4px 8px 6px 8px !important;
	background:url(../images/opc_off_head_bg.gif) repeat-x 0 100% #eee !important;
	border-width:0 1px 0 1px !important;
	border-color:#D9DDE3 !important;
	border-style:solid !important;
	border-top:1px solid #fff !important;
}
.one-page-checkout .tool-tip {
	right:8px !important;
}
.one-page-checkout .head a {
	display:none !important;
}
/* Hide Edit button in step header */
.one-page-checkout h3 {
	color:#999 !important;
	font-size:1.05em !important;
	overflow:hidden !important;
}
.one-page-checkout h4 {
	border-bottom:1px solid #E4E4E4 !important;
	padding-bottom:2px !important;
	text-transform:uppercase !important;
}
.one-page-checkout h4.title {
	border-bottom:0 !important;
	text-transform:none !important;
}
.one-page-checkout .step-count {
	background:#fff !important;
	font-size:.9em !important;
	padding:0 4px !important;
	line-height:1em !important;
}
.one-page-checkout .content {
	padding:10px 20px !important;
}
.one-page-checkout label.label {
	font-size:1.05em !important;
	color:#2f2f2f !important;
}
.one-page-checkout .allow .head {
	background:#d0dce1 !important;
	border-color:#a3aeb3 !important;
	border-width:1px 1px 0 1px !important;
	cursor:pointer !important;
}
.one-page-checkout .active .head {
	margin-bottom:0 !important;
	border:1px solid #E1E9ED !important;
	background:#ffffff !important;
	cursor:default !important;
}
.one-page-checkout .alloq .head a {
	display:block !important;
}
/* Display Edit button in active selection */
.one-page-checkout .group-select {
	margin-top:0 !important;
	border:0 !important;
	background:none !important;
	padding:0 !important;
}
.one-page-checkout .allow h3 {
	color:#D4145A !important;
}
.one-page-checkout .active h3 {
	color:#D4145A !important;
}
.one-page-checkout .allow .step-count {
	background:#dbe6eb !important;
}
.one-page-checkout .active .step-count {
	color:#fff !important;
	border:1px solid #D4145A !important;
	background:#D4145A !important;
}
.one-page-checkout .active .box {
	display:block !important;
	border-color:#E1E9ED !important;
	background:#f6f6f6 !important;
}
.one-page-checkout dd .form-list ul {
	margin:5px 17px 15px 17px !important;
}
.one-page-checkout .checkmo-mailing-address {
	padding-left:20px !important;
}
.one-page-checkout-progress .page-head {
	margin-bottom:1em !important;
}
.one-page-checkout-progress ol {
	padding:0px !important;
	margin:0px !important;
}
.one-page-checkout-progress li {
	border:1px solid #A3AEB3 !important;
	background:#eee !important;
	margin-bottom:6px !important;
	list-style:none !important;
}
.one-page-checkout-progress h4 {
	margin:0 !important;
	color:#999 !important;
	padding:2px 8px !important;
	background:#eee !important;
	text-transform:none !important;
}
.one-page-checkout-progress h4.complete {
	border-bottom:1px solid #A3AEB3 !important;
	background:#D0DCE1 !important;
	color:#5e8ab4 !important;
}
.one-page-checkout-progress h4 a {
	text-transform:none !important;
}
.one-page-checkout-progress .content {
	padding:8px 13px !important;
}
#opc-login .button-set {
	border-top:0 !important;
}
#opc-review .box {
	border:0 !important;
	padding:0 !important;
}
#opc-review .content {
	border:1px solid #d9dde3 !important;
	border-top:0 !important;
}
#opc-review .data-table {
	border-top:0 !important;
}
.opc-please-wait {
	padding-right:7px !important;
}
.one-page-checkout a.back {
	background:url(../images/i_arrow-top.gif) no-repeat !important;
	padding-left:16px !important;
	line-height:13px !important;
}
.one-page-checkout .payment-methods dd {
	padding:0 !important;
}
.one-page-checkout .button-set {
	margin-top:0 !important;
	padding-top:2em !important;
	min-height:1% !important;
}
.checkout-progress {
	margin:0 auto 1.5em auto !important;
}
.checkout-progress td {
	float:left !important;
	margin-right:3px !important;
	border-top:10px solid #999 !important;
	padding:4px 20px !important;
	color:#abb5ba !important;
	font-weight:bold !important;
}
.checkout-progress td.active {
	border-top-color:#e96200 !important;
	color:#e96200 !important;
}
/********************** Checkout */
select.address-select {
	width:99%;
}
.shipment-methods ul li {
	background:none !important;
	padding:10px 0px 0px 0px!important;
}
.shipment-methods dd {
	margin-bottom:13px;
	clear:both;
}
.payment-methods dt {
	margin-bottom:5px;
}
.payment-methods dd {
	padding:5px 20px;
}
.payment-methods select.month {
	width:146px !important;
	margin-right:10px;
}
.payment-methods select.year {
	width:100px !important;
}
.payment-methods input.cvv {
	width:3em !important;
}
.payment-methods .input-box {
	overflow:hidden;
}
.payment-methods .input-box ul {
	margin:0px !important;
	padding:0px !important;
}
.payment-methods .input-box ul li {
	padding-top:10px !important;
}
.payment-methods .input-box td {
	padding:0px 5px !important;
}
.payment-methods .input-box input.input-text {
	width:98% !important;
}
/* Multiple Addresses checkout */
.multi-address-checkout-description {
	margin-top:-15px !important;
	margin-bottom:15px !important;
}
.multi-address-checkout-box .box {
	position:relative !important;
	margin-top:15px !important;
	margin-bottom:25px !important;
	border:1px solid #bbb6a5 !important;
	background:url(../images/multi_address_box_bg.gif) repeat-x #FFFFFF !important;
}
.multi-address-checkout-box .legend {
	float:left !important;
	margin-top:-10px !important;
	margin-bottom:0 !important;
	margin-left:15px !important;
	border:1px solid #F18200 !important;
	background:#ffffff !important;
	color:#F18200 !important;
	padding:2px 8px !important;
}
.multi-address-checkout-box .content {
	padding:15px 20px 20px 20px !important;
}
.multi-address-checkout-box .count-head {
	border-bottom:1px solid #E1E9ED !important;
	background:#ffffff !important;
	padding:5px 10px !important;
}
.shipment-count {
	background:#D4145A !important;
	padding:2px 5px !important;
	color:#fff !important;
	font-size:.95em !important;
	line-height:1em !important;
}
.multi-address-checkout-box .tool-tip {
	left:-23px !important;
}
.multi-address-checkout-box .count-head h4 {
	margin:0 !important;
}
.multi-address-checkout-box .head h5 {
	color:#D4145A !important;
}
.multi-address-checkout-box .head a {
	font-weight:normal !important;
}
.multi-address-checkout-box .checkmo-mailing-address {
	display:block !important;
	padding-left:20px !important;
}
.shipping-method-pointer {
	border:1px solid #d9d2be !important;
	padding:13px !important;
	background:#ffffff !important;
	position:relative !important;
}
.shipping-method-pointer .pointer {
	position:absolute !important;
	top:-20px !important;
	right:-40px !important;
}
.place-order-box {
	float:right !important;
	height:71px !important;
	overflow:hidden !important;
}
.place-order-box .left-radius {
	width:21px !important;
	background:url(../images/place_order_container_bg.gif) no-repeat !important;
}
.place-order-box .main-radius {
	background:url(../images/place_order_bg.gif) no-repeat 100% 0 !important;
	padding-right:21px !important;
	vertical-align:middle !important;
}
.place-order-box .grand-total {
	font-size:1.5em !important;
}
.place-order-box .grand-total .price {
	color:#D4145A !important;
	font-weight:bold !important;
}
.place-order-box input {
	margin-left:15px !important;
}
/* Checkout Agreements */
.checkout-agreements li {
	margin:30px 0 !important;
}
.checkout-agreements .agreement-content {
	overflow:auto !important;
	height:10em !important;
	padding:10px !important;
	background-color:#FFFFFF !important;
	border:1px solid #bbb6a5 !important;
}
.checkout-agreements .agree {
	margin:0 !important;
	padding:10px 0 10px 11px !important;
}
.one-page-checkout .checkout-agreements {
	border:1px solid #d9dde3 !important;
	border-width:0 1px !important;
	padding:5px 20px !important;
}
.one-page-checkout .checkout-agreements li {
	margin:20px 0 0 !important;
}
.one-page-checkout .checkout-agreements .agreement-content {
	background-color:#fff !important;
	border-color:#e4e4e4 !important;
	padding:5px !important;
}
.one-page-checkout .checkout-agreements .agree {
	padding-left:6px !important;
}
/* Data Table */
.data-table {
	width:100%;
	border:1px solid #bebcb7;
	border-collapse:inherit;
}
.data-table .odd {
	background:#f8f7f5
}
.data-table .even {
	background:#eeeded;
}
.data-table tr.odd:hover, .data-table tr.even:hover {
	background:#ebf1f6;
}
.data-table td.last, .data-table th.last {
	border-right:0;
}
.data-table tr.last th, .data-table tr.last td {
	border-bottom:0 !important;
}
.data-table th {
	padding:3px 8px;
	font-weight:bold;
}
.data-table td {
	padding:3px 8px;
}
.data-table thead th {
	font-weight:bold;
	border-right:1px solid #c2d3e0;
	padding:2px 8px;
	color:#0a263c;
	white-space:nowrap;
	vertical-align:middle;
}
.data-table thead th.wrap {
	white-space:normal;
}
.data-table thead th a, .data-table thead th a:hover {
	color:#fff;
}
.data-table thead th {
	background:url(../images/bkg_th.gif) repeat-x 0 100% #d9e5ee;
}
.data-table thead th .tax-flag {
	font-size:11px;
	white-space:nowrap;
}
.data-table tfoot {
	border-bottom:1px solid #d9dde3;
}
.data-table tfoot tr.first td {
	background:#DEE5E8 url(../images/bkg_tfoot.gif) 0 0 repeat-x;
}
.data-table tfoot tr {
	background-color:#dee5e8 !important;
}
.data-table tfoot td {
	padding-top:1px;
	padding-bottom:1px;
	border-bottom:0;
	border-right:1px solid #d9dde3;
}
.data-table tfoot strong {
	font-size:16px;
}
#checkout-agreements ol.checkout-agreements {
	margin: 0;
}
.data-table tbody th, .data-table tbody td {
	border-bottom:1px solid #d9dde3;
	border-right:1px solid #d9dde3;
	text-align:left;
	vertical-align:top;
}
/********************* Tables */
td.label {
	font-weight:bold !important;
}
/* Bundle Products */
.data-table tbody.odd tr {
	background:#f8f7f5 !important;
}
.data-table tbody.even tr {
	background:#f6f6f6 !important;
}
.data-table tbody.odd tr td, .data-table tbody.even tr td {
	border-bottom:0 !important;
}
.data-table tbody.odd tr.border td, .data-table tbody.even tr.border td {
	border-bottom:1px solid #d9dde3 !important;
}
.data-table tbody td h5.title {
	margin:0 !important;
	padding:0 !important;
	font-size:1em !important;
	font-weight:bold !important;
	color:#2f2f2f !important;
}
.data-table tbody td .option-label {
	font-weight:bold !important;
	font-style:italic !important;
}
.data-table tbody td .option-value {
	padding-left:10px !important;
}
.box-table td {
	padding:10px !important;
}
.box-table tfoot td {
	padding-top:5px !important;
	padding-bottom:5px !important;
}
.box-table select {
	width:100% !important;
}
.nested-data-table th, .nested-data-table td {
	padding-top:2px !important;
	padding-bottom:2px !important;
}
.generic-table td {
	padding:0 8px
}
.generic-table td.first {
	padding-left:0 !important;
	white-space:nowrap !important;
}
.shipping-tracking .button-set {
	margin-top:0 !important;
	border:none !important;
	border-top:0 !important;
	padding-top:0 !important;
}
/********************** Messages  */
.success {
	color:#3d6611 !important;
}
.error {
	color:#df280a !important;
}
.notice {
	color:#D4145A !important;
}
.success, .error {
	font-weight:bold !important;
}
.messages, .messages ul {
	list-style:none !important;
	margin:0 !important;
	padding: 0px !important;
}
.messages ul li {
	background: none !important;
}
.messages {
	width:100% !important;
	overflow:hidden !important;
	padding:0px !important;
}
.error-msg, .success-msg, .notice-msg, .note-msg {
	margin-bottom:1em !important;
	border-style:solid !important;
	border-width:1px !important;
	background-repeat:no-repeat !important;
	background-position:10px 10px !important;
	padding:8px 8px 8px 32px !important;
	font-size:.95em !important;
	font-weight:bold !important;
}
.error-msg li, .success-msg li, .notice-msg li {
	margin-bottom:.2em !important;
}
.error-msg {
	border-color:#f16048 !important;
	color:#df280a !important;
	background:#faebe7 url(../images/error_msg_icon.gif) 12px 8px no-repeat !important;
	clear:both;
}
.success-msg {
	border-color:#446423 !important;
	color:#3d6611 !important;
	background:#eff5ea url(../images/i_msg-success.gif) 12px 8px no-repeat !important;
}
.notice-msg, .note-msg {
	border-color:#E4E9EA !important;
	color:#D4145A !important;
	background:#F6F6F6 url(../images/i_msg-note.gif) 12px 8px no-repeat !important;
	line-height:16px !important;
}
/********************** Columns */

/* All */
.col2-set, .col3-set, .col4-set, .col5-set {
	clear:both !important;
}
/* Col2 */
.col2-set .col-1, .col2-set .col-2 {
	width:45.5% !important;
}
.col2-set .col-1 {
	float:left !important;
}
.col2-set .col-2 {
	float:right !important;
}
/* Col2-alt */
.col2-alt-set .col-1 {
	width:32% !important;
}
.col2-alt-set .col-2 {
	width:65% !important;
}
.col2-alt-set .col-1 {
	float:left !important;
}
.col2-alt-set .col-2 {
	float:right !important;
}
/* Col3 */
.col3-set .col-1, .col3-set .col-2, .col3-set .col-3 {
	float:left !important;
	width:31.3% !important;
}
.col3-set .col-1, .col3-set .col-2 {
	margin-right:3% !important;
}
/* Col4 */
.col4-set .col-1, .col4-set .col-2, .col4-set .col-3, .col4-set .col-4 {
	float:left !important;
	width:22% !important;
}
.col4-set .col-1, .col4-set .col-2, .col4-set .col-3 {
	margin-right:4% !important;
}
/* Table Columns */
table .col-1, table .col-2, table .col-3, table .col-4 {
	float:none !important;
	margin:0 !important;
}
.col3-set td.spacer {
	width:3% !important;
}
.col4-set td.spacer {
	width:4% !important;
}
.accent {
	color:#D4145A !important;
	font-weight:bold !important;
}
/* Login */
.login-box .col-1, .login-box .col-2 {
	border:1px solid #bbb6a5 !important;
	background:#dee5e8 !important;
}
.login-box .content {
	background: url("../images/bkg_login-box.gif") repeat-x scroll 0 0 #FAF7EE;
	min-height: 240px;
	padding: 14px 21px;
}
.login-box h4 {
	min-height:16px !important;
	border-bottom:1px solid #ddd !important;
	margin-bottom:1.2em !important;
	padding-bottom:5px !important;
	padding-left:23px !important;
	background-position:0 1px !important;
	background-repeat:no-repeat !important;
	font-size:1.05em !important;
	color:#D4145A !important;
	text-transform:uppercase !important;
}
.login-box .new-users h4 {
	background-image:url(../images/icon_page_white.gif) !important;
}
.login-box .registered-users h4 {
	background-image:url(../images/icon_page_white_text.gif) !important;
}
.login-box .button-set {
	background: url("../images/bkg_buttons-set1.gif") repeat-x scroll 0 0 #DEE5E8;
	margin: 0 !important;
	padding: 8px 13px;
	height:30px;
}
.button-set button.form-button {
	float:right !important;
}
.login-box .button-set a {
	margin:6px 0px 0px 0px;
}
/* Dashboard */

.account-box ol {
	margin: 0px 0px 0px 22px !important;
}
.account-box ol li {
	list-style:none !important;
}
.account-box {
	margin-bottom:20px !important;
	border:1px solid #ccc !important;
	border-right-color:#999 !important;
	border-bottom-color:#999 !important;
	background:url(../images/account_box_bg.gif) repeat-x #fff !important;
	padding:15px !important;
}
.account-box .head {
	margin-bottom:10px !important;
	border-bottom:1px solid #d9dde3 !important;
	min-height:1% !important;
}
.account-box h4 {
	color:#D4145A !important;
	font-size:1.1em !important;
	text-transform:uppercase !important;
}
.account-box .inner-head {
	margin-bottom:8px !important;
	background:url(../images/dotted_divider.gif) repeat-x 0 100% !important;
	padding-bottom:2px !important;
	text-align:right !important;
}
.account-box h5 {
	font-size:1.1em !important;
}
.account-box h5 a {
	font-weight:normal !important;
}
.account-box h6 {
	text-transform:uppercase !important;
	font-size:12px;
}
.account-main .account-box li {
	padding:5px 0 !important;
}
.account-box ol .count {
	float:left !important;
	margin-top:3px !important;
	background-color:#0a263c !important;
	padding:1px 3px !important;
	font-size:9px !important;
	font-weight:bold !important;
	color:#fff !important;
	line-height:1em !important;
}
.account-box ol .content {
	margin-left:20px !important;
	padding:0 !important;
	float:left !important;
}
.account-box ol.recent-reviews small {
	float:left !important;
	margin-right:3px !important;
	font-weight:bold !important;
}
.account-box .product-images {
	width:65px !important;
}
.account-box .product-images img {
	border:1px solid #ccc !important;
}
.account-box .product-details {
	margin:0 0 10px 70px !important;
}
.account-box .content {
	padding:0 !important;
}
.account-side .actions {
	border-top:1px solid #ccc !important;
	padding-top:4px !important;
}
.account-side .actions .form-button {
	float:right !important;
}
.edit-password {
	display:block !important;
	height:20px !important;
	background:url(../images/icon_lock.gif) no-repeat 0 2px !important;
	padding-left:20px !important;
}
.dashboard-welcome {
	margin-right:8em !important;
	margin-bottom:1.5em !important;
	font-size:1.1em !important;
}
.account-box .head h4 {
	padding-left:21px !important;
	min-height:17px !important;
	background-repeat:no-repeat !important;
	background-position:0 0 !important;
}
.ad-orders .head h4 {
	background-image:url(../images/icon_folder_table.gif) !important;
}
.ad-account-info .head h4 {
	background-image:url(../images/icon_ma_info.gif) !important;
}
.ad-tags .head h4 {
	background-image:url(../images/icon_ma_tags.gif) !important;
}
.ad-reviews .head h4 {
	background-image:url(../images/icon_ma_reviews.gif) !important;
}
.ad-reviews a small {
	font-size:13px !important;
}
/********************** Headings */

.head, .inner-head {
	line-height: 1.25em;
	text-align: right;
}
.magebridge-content a, .magebridge-content a {
	text-decoration:none !important;
}
.head h1, .head h2, .head h3, .head h4, .head h5, .inner-head h1, .inner-head h2, .inner-head h3, .inner-head h4, .inner-head h5 {
	float:left;
	margin:0px;
	line-height: 1.3em;
}
/* Account Addressbook */
.primary-address-list h4, .address-list h4 {
	font-size:1.1em !important;
	color:#D4145A !important;
	text-transform:uppercase !important;
}
.primary-address-list li {
	margin-bottom:10px !important;
	border:1px solid #ccc !important;
	background:url(../images/account_box_bg.gif) repeat-x #fff !important;
	padding:10px 13px 8px 13px !important;
}
.primary-address-list li .head {
	margin:0 !important;
}
.address-list ol {
	padding:0px !important;
	margin:0px !important;
}
.address-list li {
	margin-bottom:1em !important;
	background:none !important;
	list-style:none;
}
.address-list .actions {
	float:right;
	margin:0 0 10px 10px !important;
}
.primary-address-list ol {
	padding:0px !important;
	margin:0px !important;
}
.primary-address-list ol li {
	list-style:none !important;
	margin:15px 0px !important;
}
/********************** Sidebars */
.side-col .box {
	margin-bottom:1.3em !important;
}
.side-col .content {
	padding:5px 10px !important;
}
.side-col .head {
	text-align:left !important;
}
.side-col h2, .side-col h3, .side-col h4, .side-col h5 {
	float:none !important;
}
.side-col h3 {
	font-size:1.05em !important;
	text-transform:uppercase !important;
}
.side-col h4 {
	color:#dc3b22 !important;
	text-transform:uppercase !important;
}
.side-col .actions {
	padding:4px 0 !important;
	font-size:.95em !important;
	text-align:right !important;
}
.side-col .actions a, .side-col .actions a:hover {
	text-decoration:underline !important;
}
.widget-btn {
	float:right !important;
	font-size:11px !important;
	margin:0 3px 1px 5px !important;
}
.widget-btn, .widget-btn:hover {
	color:#646464 !important;
	font-weight:bold !important;
}
/* Base Mini */
.base-mini .content {
	background:#f8f8f8;
	border:1px solid #e2e2e2;
	margin-top:-7px;
	padding:7px 10px 0px;
}
.base-mini {
	border:0px solid #c4c1bc !important;
	background:#fff !important;
	line-height:1.3em !important;
	font-size:.95em !important;
}
.base-mini .head {
	text-align:left !important;
}
.base-mini .head h4 {
	float:none;
}
.base-mini .head h4 .count {
	text-transform:none !important;
	color:#2f2f2f !important;
	white-space:nowrap !important;
	font-weight:normal !important;
	font-size:.95em !important;
}
.base-mini h5 {
	font-size:1em !important;
	background:#F4F3F3 !important;
	margin:0px !important;
	color:#D4145A !important;
	padding:10px !important;
}
.base-mini .content, .base-mini ol {
	background:#f8f7f5 !important;
}
.base-mini ol li {
	padding:7px 4px 7px 8px !important;
}
.base-mini ol li.odd {
	background:#f4f3f3 !important;
	margin:0px !important;
}
.base-mini ol li.even {
	background:#fafafa !important;
}
.base-mini .actions {
	background: #C7CBCE !important; /* url(../images/base_mini_actions_bg.gif) repeat-x */
	padding:6px !important;
}
.base-mini .product-images {
	float:left !important;
	width:52px !important;
	height:52px !important;
}
.base-mini .product-images a img {
	border:1px solid #a9a9a9 !important;
	vertical-align:top !important;
}
.base-mini .product-checkbox {
	float:left !important;
	width:10px !important;
}
.base-mini .product-names {
	margin-left:18px !important;
}
.base-mini .product-details {
	margin:0 0 0 60px !important;
	height:50px !important;
}
.base-mini .product-details[class] {
	height:auto !important;
	min-height:50px !important;
}
.base-mini .regular-price {
	font-size:11px !important;
}
.base-mini .regular-price .price {
	color:#2f2f2f !important;
}
.base-mini .special-price {
	font-size:11px !important;
}
.base-mini .minimal-price {
	font-size:11px !important;
}
.base-mini .price-box {
	margin:1px 0 !important;
}
/* Sidebar Blocks */
.mini-product-tags .head h4 {
	background-image:url(../images/icon_tag_green.gif);
}
.mini-product-tags li {
	display:inline;
	padding-right:4px;
	line-height:1.5em;
}
.mini-product-tags li:after {
	display:inline!important;
}
.mini-product-tags .content {
	padding:10px;
}
.mini-product-tags .content a, .mini-product-tags .content a:hover {
	color:#1b2d3b;
}
.mini-newsletter h4 {
	background-image:url(../images/icon_newspaper.gif);
}
.mini-newsletter input.input-text {
	display:block;
	margin:3px 0;
	width:167px;
}
.cart-info-wrapper {
	background:#f8f8f8;
	border:1px solid #e2e2e2;
	margin-top:-7px;
	padding:7px 10px 0px;
}
.mini-cart .subtotal {
	margin-top:10px;
	padding:0;
	text-align:center;
	background:#fbebd9;
}
.mini-cart h5 {
	margin:0;
	background:#F4F3F3;
	padding:6px 8px 2px 8px;
}
.mini-cart .actions {
	border-bottom:1px solid #c2c2c2;
	padding-top:3px;
	padding-bottom:1px;
}
.mini-cart .actions .form-button {
	margin-top:3px;
	margin-bottom:5px;
}
.mini-wishlist .head h4 {
	background-image:url(../images/icon_bell.gif);
}
.mini-wishlist .link-cart {
	display:block;
}
.mini-compare-products .head h4 {
	background-image:url(../images/icon_table.gif);
}
.mini-poll .head h4 {
	background-image:url(../images/icon_group.gif);
}
.mini-poll td.label {
	font-weight:bold;
	padding-right:10px;
}
.mini-poll td.item {
	white-space:nowrap;
}
.mini-product-view .head h4 {
	background-image:url(../images/icon_tag_green.gif);
}
/********************** Generic Box */

ul#accordion {
	padding:0px;
	margin:0px;
}
.acc-content {
	margin:0px !important;
}
.acc-content fieldset dt {
	float:none !important;
}
.acc-content .collateral-box {
	margin-bottom:0px !important;
}
#accordion {
	width: 100%;
}
#accordion li {
	background:none;
	padding:0px;
	overflow:hidden;
	margin:0px 0px 5px 0px !important;
}
#accordion div.acc-content .product-options {
	background-color: #F6F6F6 !important;
	border: 1px solid #E4E4E4 !important;
	margin: 10px 0 !important;
	padding: 10px 15px !important;
        width:697px;
}
#accordion div.acc-content .product-pricing {
	background-color: #F6F6F6 !important;
	border: 1px solid #E4E4E4 !important;
	margin: 10px 0 !important;
	padding: 10px 15px !important;
}
#accordion li span.acc-title {
	display: none;
	background:url(../images/acco-pink-long-bg.gif) top right no-repeat !important;
	font-weight: bold;
	cursor: pointer;
	height:22px;
	padding:4px 0px 0px 10px;
	color:#fff;
}
#accordion div.acc-content {
	display:none;
}
.product-specs {
	background-color: #F6F6F6 !important;
	border: 1px solid #E4E4E4 !important;
	margin: 10px 0px !important;
	padding: 10px 15px 10px !important;
}
/********************* Tool Tips */
.tool-tip {
	position:absolute;
	border:1px solid #7ba7c9;
	background:#eaf6ff;
}
.tool-tip .btn-close {
	padding:6px 6px 0;
	margin-bottom:-9px;
	text-align:right;
}
.tool-tip .inline-content {
	padding:8px;
}
.tool-tip .block-content {
	padding:15px 20px;
}
/* Reviews */
.my-review-detail .product-image {
	float:left;
	width:135px;
}
.my-review-detail .product-image p {
	margin-bottom:0;
}
.my-review-detail .product-image p img {
	vertical-align:top;
}
.my-review-detail .details {
	float:right;
	width:538px;
}
.my-review-detail .ratings-list {
	margin-bottom:.8em;
}
.my-review-detail .ratings {
	line-height:1.5;
}
.my-review-detail .ratings .rating-box {
	float:none;
	margin-bottom:3px;
}
.my-review-detail .ratings .pipe {
	display:none;
}
.my-review-detail .ratings a {
	display:block;
}
#review-form div {
	padding-bottom:10px;
}
/********************** Catalog Listing */
.catalog-listing {
	line-height:1.35em;
}
.catalog-listing h5 {
	margin-bottom:.4em;
	font-size:1.05em;
	font-weight:normal;
}
.catalog-listing h5 a:hover {
	text-decoration:none !important;
}
.catalog-listing .add-to {
	display: none;
}
.catalog-listing .add-to a, .catalog-listing .add-to a:hover {
	display: none;
}
.catalog-listing .ratings {
	margin-bottom:.6em;
}
.catalog-listing .ratings {
	line-height:1.5;
}
.catalog-listing .ratings .rating-box {
	float:none;
	margin-bottom:3px;
}
.catalog-listing .ratings .pipe {
	display:none;
}
.catalog-listing .ratings a {
	display:block;
}
.catalog-listing .regular-price, .catalog-listing .price-box .price, .catalog-listing .price-box .label {
	font-size:15px !important;
	font-weight:bold !important;
}
/* Generic Product Grid */
.generic-product-grid {
	width:100%;
}
.generic-product-grid td {
	border-right:0px solid #d9dde3;
	border-bottom:0px solid #d9dde3;
	padding:12px 10px;
	line-height:1.6em;
}
.generic-product-grid tr.last td {
	border-bottom:0;
}
.generic-product-grid td.last {
	border-right:0;
}
.generic-product-grid .product-image {
	text-align:center;
}
.generic-product-grid td.empty-product {
	border-right:0;
	background:none !important;
}
/* Product Detail sidebar */
.mini-related-items .product-images {
	width:72px !important;
}
.mini-related-items .product-images a {
	display:block !important;
	margin-left:20px !important;
}
.mini-related-items .product-images input {
	float:left;
	margin-right:4px !important;
	margin-left:0px !important;
}
.mini-related-items .product-images .checkbox-container {
	float:left !important;
	width:15px !important;
}
.mini-related-items .product-details {
	margin-left:80px !important;
	padding-left:5px !important;
}
.mini-related-items ol {
	padding-left:0 !important;
	padding-right:0 !important;
	margin:0px !important
}
.mini-related-items ol li {
	padding-left:0 !important;
	padding-right:0 !important;
	list-style:none !important;
	margin:0px !important
}
.mini-related-items .regular-price .price, .mini-related-items .regular-price {
	font-size:12px !important;
}
/********************** Generic Box */
.generic-box {
	margin-bottom:15px !important;
	padding:12px 15px !important;
	border:1px solid #D0CBC1 !important;
	background:url(../images/base_mini_head_bg.gif) repeat-x #fff !important;
}
ul.generic-product-list {
}
.generic-product-list li {
	margin:15px 0 !important;
	background:none !important;
	padding:0px !important;
	overflow:hidden;
}
.generic-product-list li small a {
	color:#d4145a;
	font-size:12px;
}
.generic-product-list .product-shop h5 a {
	font-size:12px !important;
	font-weight:bold !important;
}
/* Tax details */
.tax-total {
	cursor:pointer;
}
.tax-total td {
	line-height:13px;
	padding-top:5px !important;
	padding-bottom:5px !important;
}
.tax-total .tax-collapse {
	float:right;
	padding-left:20px;
	background:url(../images/bg_collapse.gif) 0 2px no-repeat;
	text-align:right;
	cursor:pointer;
}
.show-details .tax-collapse {
	background-position:0 -55px;
}
.show-details td {
	border-top:1px solid #d2d8db;
}
.tax-details td {
	font-size:0.91em;
	color:#626465;
	background-color:#dae1e4;
}
.tax-details-first td {
	border-top:1px solid #d2d8db;
}
.taxvat {
	clear:both;
}
/* My Account navigation */
.account-nav {
	border:1px solid #e2e2e2;
	margin-top:-7px;
	border-top:0px;
}
.account-nav .head {
	margin:0;
	background:url(../images/account_nav_head_bg.gif) repeat-x 0 100% #fc9d36;
	padding:3px 10px;
	display:none !important;
}
.account-nav li.on {
	color: #333 !important;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin: 0 !important;
	overflow: hidden;
	padding: 5px 10px 5px 14px !important;
	text-decoration: none;
	background:#67c5e9 !important;
}
.account-nav ul {
	padding:0px !important;
	margin:0px !important;
}
.account-nav li {
	background:#E7F4FC !important;
	border-top: 1px solid #DDDDDD;
	margin: 0 !important;
	padding: 0 !important;
}
.account-nav li a:hover {
	background:#67c5e9 !important;
	font-weight: bold;
}
.account-nav li a {
	color: #23383D !important;
	cursor: pointer;
	display: block;
	font-size: 12px;
	font-weight: normal;
	margin: 0 !important;
	overflow: hidden;
	padding: 5px 10px 5px 14px !important;
	text-decoration: none;
}
/* Log in module*/
.m-login div {
	padding:0px 1px 0px 4px;
}
.m-login .inputbox {
	background: none repeat scroll 0 0 #D5ECFD;
	border: 1px solid #C4CFD8;
	border-radius: 0 0 0 0;
	color: #999999;
	font-size: 13px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	float:right;
}
.m-login br {
	display:none;
}
.m-login .username-block, .m-login .password-block {
	float: left;
	height: 20px;
	padding-bottom: 10px;
	width: 98%;
}
.m-login .username-block, .m-login .password-block {
	height: 20px;
	float:left;
}
.m-login .login-extras {
	padding-top:10px;
}
.m-login .login-extras ul {
	clear:both;
}
.m-login .login-extras ul li {
	clear:both;
}

/*Date and time picker*/

.datetime-picker { width:10% !important;}

/*list in magento accordion menu for normal list*/


.product-specs ol li{ overflow:visible !important;}

.product-specs ul li {
    background: url("../images/blue_dot.gif") no-repeat scroll 1px 7px !important;
    margin: 0 0 6px  !important;
    padding: 0 0 0 10px  !important;
}
/* Rating */
.no-rating { margin:0; }

.ratings { font-size:11px; line-height:1.25; margin:7px 0; }
.ratings strong { float:left; margin:1px 3px 0 0; }
.ratings .rating-links { margin:0; }
.ratings .rating-links .separator { margin:0 2px; }
.ratings dt {}
.ratings dd {}
.rating-box { width:69px; height:13px; font-size:0; line-height:0; background:url(../images/bkg_rating.gif) 0 0 repeat-x; text-indent:-999em; overflow:hidden; }
.rating-box .rating { float:left; height:13px; background:url(../images/bkg_rating.gif) 0 100% repeat-x; }
.ratings .rating-box { float:left; margin-right:3px; }
.ratings .amount {}

.ratings-table th,
.ratings-table td { font-size:11px; line-height:1.15; padding:3px 0; }
.ratings-table th { font-weight:bold; padding-right:8px; }