/**
 * @version		$Id: editor.css 20196 2011-01-09 02:40:25Z ian $
 * @copyright	Copyright (C) 2005 - 2011 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
*/

/*icons*/

.pdf-icon {
	padding:0px 0px 0px 20px;
	background: url("../images/pdf-certificate.gif") no-repeat scroll 0px 0px transparent;
	line-height:normal !important;
	display:inline-block !important;
	height:18px !important;
}
.pink-color {
	color:#D4145A !important;
	font-size:15px !important;
	font-weight:bold !important;
	margin:0 0 5px 0;
	padding:0;
}
/*h3 no line  for component */
.noline {
	background:none !important;
	padding:0px !important;
}
/*CSS Blue Table sytle in eidtor  =====================================================*/
.blue-table {
	background:#009edf;
	font-family:Arial, Helvetica, sans-serif;
	border-collapse: separate;
}
.blue-table td {
	background:#FFF;
}
.blue-table th {
	padding:5px 6px;
	text-align:left;
	font-size:13px;
	vertical-align:text-top;
	font-weight:bold;
}
.blue-table td {
	padding:5px 6px;
	text-align:left;
	font-size:13px;
	vertical-align:text-top
}
.blue-table th {
	color:#FFF;
}
/*CSS White Table sytle in eidtor  =====================================================*/
.white-table {
	background:#009edf;
	font-family:Arial, Helvetica, sans-serif;
	border-collapse: separate;
}
.white-table td, .white-table th {
	background:#FFF;
}
.white-table th {
	padding:5px 6px;
	font-size:13px;
	vertical-align:text-top;
	font-weight:bold;
}
.white-table td {
	padding:5px 6px;
	font-size:13px;
	vertical-align:text-top
}
.white-table th {
	color:#009edf;
}
/*gray button in eidtor  =====================================================*/
a.grey-button {
	background: url("../images/grey_leftbtm.gif") no-repeat scroll left top transparent;
	display:inline-block;
	height: 34px;
	margin: 0;
	padding: 0 0 0 10px;
	text-decoration: none;
	float:none;
}
a.grey-button span {
	background: url("../images/grey_rightbtm.gif") no-repeat scroll right top transparent;
	color: #333333;
	display:inline-block;
	font-size: 13px;
	font-weight: normal;
	height: 27px;
	margin: 0;
	padding: 7px 10px 0 0;
}
/*blue button in eidtor  =====================================================*/
a.blue-button {
	background: url("../images/blue_leftbtm.gif") no-repeat scroll left top transparent;
	display:inline-block;
	height: 34px;
	margin: 0;
	padding: 0 0 0 10px;
	text-decoration: none;
	float:none;
}
a.blue-button span {
	background: url("../images/blue_rightbtm.gif") no-repeat scroll right top transparent;
	color: #FFFFFF;
	display: block;
	font-size: 13px;
	font-weight: bold;
	height: 27px;
	margin: 0;
	padding: 7px 10px 0 0;
}
