* {
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	font-size: 13px;
	padding: 0px;
	position:relative;
	/*background: url(../images/main_bg.gif) repeat-y center top;*/
	color: #333;
	font-family: arial, helvetica, sans-serif;
	line-height: normal !important;
}
.body {line-height: normal !important;}
.clear-fix-top-gap {
	height:10px; /*30px */
	clear:both;
}
/* ###################### general ###################### */

#all {
	margin: 0 auto;
	max-width:1050px;
	padding: 0px;
	text-align: left;
	font-size: 0.8em;
}
#container-bluetop {
	width: 100%;
	/*background: url(../images/bg-header.gif) repeat-x left top;*/
}
#gradient-circle {
	width: 100%;
	padding-bottom: 20px;
	min-width: 1214px;
	/*background: url(../images/gradient-circle.jpg) no-repeat center top fixed;*/
}
#bottom-shadow {
	width: 1214px;
	margin: 0 auto;
	overflow: hidden;
}
#container-pattern {
	width: 1214px;
	min-height:693px;
	height:auto !important;
	height:693px;
	margin: 0 auto;
	/*background: url(../images/bg-pattern3.png) no-repeat center 0px;*/
	overflow: hidden;
}
#container-pattern-home {
	width: 1214px;
	margin: 0 auto;
	/*background: url(../images/bg-pattern-home.png) no-repeat center 0px;*/
	overflow: hidden;
}
#header {
	display:block;
	position:relative;
	width: 965px;
	height: 140px;
	padding: 0 40px 0 55px;
	margin: 0 auto;
	overflow:hidden;
	/*background: url(../images/bg-header-large.png) no-repeat center top;*/
}
 @media screen and (-webkit-min-device-pixel-ratio:0) {
#header {
padding: 0 43px 0 55px;
}
}
.header-top {
	height: 55px;
	float: right;
	height: 55px;
	text-align: right;
	width: 620px;
}
.mod-languages {
	float: left;
	margin: 15px 0 0;
	/*padding-left: 0px;*/
	text-align: right;
	width: auto;
}
.mod-languages a {
	margin-right: 10px;
	padding-right: 10px;
	line-height: 43px;
	text-decoration: none;
	color: #000 !important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.mod-languages a:hover {
	color: #000;
}
.search-wrapper {
	width: 214px;
	float: left;
	margin-top: 10px;
	border: 2px solid #4dbbea;
}
.search-wrapper input {
	width: 175px;
	height: 28px;
	padding: 0 5px;
	border: 0;
	color: #fff;
	background: none;
	float:left;
	line-height:28px;
}
.search-wrapper input.button-wrapper {
	width: 23px;
	height: 28px;
	float: right;
	text-indent: -999em;
	cursor: pointer;
	border: 0;
/*	background: url(../images/bg-search-icon.gif) no-repeat right top;*/
}
.main-navigation-wrapper {
	height: 85px;
	float:right;
	padding-right:4px;
}
.logoheader {
	width: 152px;
	height: 68px;
	margin-top: 7px;
	float: left;
	clear:both;
}
.logoheader p {
	margin: 0;
}
#banner-container {
	width: 1007px;
	height: 339px;
	margin-top: -8px;
	margin:auto;
	position: relative;
}
.articleslideshow {
	left: 4px;
	padding: 0 12px 0 25px;
	position: absolute;
	top: 0;
	width: 963px;
	/*background: url("../images/slider-banner-bg.gif") no-repeat scroll right 250px transparent;*/
}
 @media screen and (-webkit-min-device-pixel-ratio:0) {
.articleslideshow {
 left:5px;
}
}
#back {
	margin: 0;
	padding:0px;
}
#contentarea, #contentarea2 {
	position:relative;
	overflow:hidden;
	padding:0px 20px;
	margin:0;
	/*background:#fff url(../images/box1.png) repeat-x;*/
}
#wrapper {
	width:1214px;
	margin:0 auto;
	padding:12px 0px 0px;
	position:relative;
}
#wrapper2 {
	width:72%;
	float:left;
	position:relative;
	padding-bottom:20px
}
#wrapper2 .item-page {
	max-width:660px
}
#container-pattern-home #main-container {
	width: 1000px;
	min-height: 630px;
	height: auto !important;
	height: 630px;
	margin: 0 auto;
	padding: 12px 0 20px;
	/*background:url(../images/white_sep.gif) repeat-y 0 top;*/
}
#main-container {
	width: 1000px;
	min-height: 630px;
	height: auto !important;
	height: 630px;
	margin: 0 auto;
	padding: 12px 0 20px;
}
#main {
	width: 1000px;
	padding: 0;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	/*background:url(../images/bg-dot.gif) repeat-y 736px top;*/
}
.col1-layout #main {
	background:none;
}
.col1-layout #col-main {
	float:none;
	width:950;
	overflow:hidden;
	padding:0 25px;
}
/* Col2-right layout */
#col2-left-layout {
}
#col2-left-layout #col-main {
	float:right;
	overflow:hidden;
	padding:0 25px 0 0px;
	width:743px;
}
#col2-left-layout #col-left {
	background-color:#ececec;
	float:left;
	padding:0 7px 0 25px;
	width:200px;
	overflow:hidden;
}
/* Col2-right layout */
.col2-right-layout {
}
.col2-right-layout #col-main {
	float:left;
	padding:0 0px 0 25px;
	width:680px;
	overflow:hidden;
}
.col2-right-layout #col-right {
	float:right;
	padding:0 25px 0 0px;
	width:235px;
	overflow:hidden;
}
/* Col3 layout */
.col3-layout {
}
.col3-layout #col-main {
	float:left;
	margin-left:0px;
	width:477px;
	display: inline;
	overflow:hidden;
	padding:0 0 0 18px;
	/*background: url(../images/bg-dot.gif) repeat-y 0px top;*/
}
.col3-layout #col-left {
	float:left;
	padding:0 3px 0 25px;
	width:200px;
	overflow:hidden;
}
.col3-layout #col-right {
	float:right;
	padding:0 25px 0 0px;
	width:235px;
	overflow:hidden;
}
.main-content-wrapper {
	width:100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.articleImageBlock {
	width: 255px;
	float: left;
	margin-top: 20px;
}
.moduletable-new {
	width: auto;
	float: left;
	clear: both;
	margin: 0 0 20px;
}
.moduletable-new h3 {
	color: #000;
}
.custom-new p a {
	padding-left: 34px;
	color: #009DDF;
	/*background: #fff url(../images/bg-bullet.gif) no-repeat 22px 8px;*/
}
.custom-new ul {
	margin: 0;
	padding-left: 22px;
	list-style: none;
}
.custom-new ul li {
	padding-left: 12px;
	line-height: 22px;
	/*background: #fff url(../images/bg-bullet.gif) no-repeat left 9px;*/
}
.custom-new ul li a {
	color: #4D4D4D;
	text-decoration: none;
}
#col-right {
	width: 235px;
	margin-left: 3px;
	padding-right: 25px;
	float: right;
}
/*Training*/
.sub-menu ul.menu li {
	background: none;
	padding: 0 10px 0 4px;
}
.sub-menu ul.menu li a {
	color: #333333;
	text-decoration: none;
}
/* following 3 rules added for Categories on store */
.sub-menu ul.menu li ul li a span {
                color: #666;
                text-decoration: none;
                font-size: 11px;
}

.sub-menu ul.menu li ul li {
   /* background: url("../images/grey_dot.gif") no-repeat scroll 0 6px transparent !important;*/
    margin: 0 0 5px 0px;
    padding: 0 0 0 9px;
}

.sub-menu ul.menu li ul {
	margin-bottom: 0px;
}


/*Articles Faq Category*/
.wrapper-faq {
	margin-top: -7px;
	padding: 15px 10px 15px 0;
	/*background: #fff url(../images/faq-bg-gradient.gif) repeat-x 0 0;*/
}
.moduletable-faq {
	border-top: 1px solid #E0E9F2;
	clear: both;
	margin: 13px 0 0;
	padding: 14px 0 0;
}
.moduletable-faq h3 {
	background: none repeat scroll 0 0 #D4145A;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 22px;
	margin: 0 0 7px;
	padding: 0 0 0 14px;
	text-align: left;
}
ol.imi-faq-category-module {
	padding:0px !important;
}
ol.imi-faq-category-module li {
	margin:0px !important;
	padding-bottom:10px;
}
ol.imi-faq-category-module li h4 {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
ol.imi-faq-category-module li h4 a {
	font-weight:normal;
	color:#333;
	text-decoration:underline !important;
}
ol.imi-faq-category-module li h4 a:hover, .mod-articles-category-category a:hover {
	text-decoration:none !important;
}
.mod-articles-category-category-faq a {
	margin-left: 8px;
	font-size:12px;
	text-decoration:underline !important;
}
/*Social icons*/
.moduletable-social-icons {
	overflow: hidden;
	padding-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #ccc;
}
.moduletable-social-icons h3 {
	float: left;
	margin: 0;
	font-size: 12px;
	color: #000;
}
.social-images {
	width: auto;
	float: left;
	margin-left: 20px;
}
.social-images ul {
	list-style: none;
}
.social-images ul li {
	float: left;
	margin-right: 5px;
}
.moduletable-bluecallout {
	border-top: 1px solid #E0E9F2;
	clear: both;
	margin: 13px 0 0;
	padding: 14px 0 0;
}
.custom-bluecallout {
	/*background: #009ddf url(../images/bg-bottom-arrow.gif) no-repeat left bottom;*/
	padding: 14px 8px 50px 8px;
}
.moduletable-bluecallout ul {
	margin-left:16px;
}
.moduletable-bluecallout ol {
	margin-left:20px;
}
.moduletable-bluecallout h3 {
	color: #FFFFFF;
	font-size: 18px;
	margin: 0px;
	padding: 0 7px 0 7px;
}
.custom-bluecallout h3 {
	color: #FFFFFF;
	font-size: 18px;
	margin: 0px;
	padding: 0 0 15px 0px;
}
.custom-bluecallout p {
	line-height: 16px;
}
.custom-bluecallout p a, .custom-bluecallout p a:hover {
	color: #fff;
}
/*Search result*/
.search h1 {
	color: #009DDF;
	font-size: 30px;
}
#right {
	float:left;
	width: 20%;
	margin:10px 0px 10px 2%;
	padding:0px 0px 5px 0px;
	position:relative;
}
.unseen, .hidelabeltxt {
	display: inline;
	height: 0px;
	left: -3000px;
	position: absolute;
	top: -2000px;
	width: 0px;
}
/* ++++++++++++++  nav before content  ++++++++++++++ */
.left1 {
	padding:0px 0 0 0px;
	float: left;
	margin:10px 3% 10px 0px;
	width: 21%;
	position:relative
}
.leftbigger {
	width:25%
}
/* ###################### header ###################### */

.skiplinks, .skiplinks li {
	display: inline;
	height: 0px;
	line-height:0;
	padding:0 !important;
}
.skiplinks li a.u2 {
	display: inline;
	height: 0px;
	left: -3000px;
	position: absolute;
	top: -2000px;
	width: 0px;
	z-index: 200 !important;
}
.skiplinks li a.u2:active, .skiplinks li a.u2:focus {
	position:absolute;
	width:13em;
	top:100px;
	left:10px;
	z-index:10;
	line-height:1.5em;
	padding:5px;
	font-weight:bold;
	height:3em
}
.wrap {
	border: 0;
	clear: both;
	float: none;
	font-size: 1px;
	height: 0;
	line-height: 1px;
	margin: 0;
	padding: 0;
	visibility: hidden;
}
/* ++++++++++++++  button for closing right column  ++++++++++++++ */

#close {
	margin-right:0px;
	font-size:0.85em;
	text-transform:uppercase;
}
#close span {
	position:absolute;
	right: 20px;
	z-index:10000;
	top:5px;
	width:7em;
	font-weight:bold;
	text-align:right;
	line-height:1.5em;
	padding:5px 2px 5px 5px
}
/* ###################### main ###################### */

/* ++++++++++++++  position  ++++++++++++++ */

.blog-featured {
	padding: 0;
}
.items-leading {
	padding-bottom: 10px;
	overflow:hidden;
	margin-bottom:10px
}
.row-separator {
	display: block;
	clear: both;
	margin: 0;
	border: 0px;
	height:1px
}
.item-separator {
	display: none;
	margin: 0px;
}
.shownocolumns {
	width:98% !important;
}
#top {
	margin:0 0 20px 0;
	overflow:hidden;
	background:#eee;
	padding:15px;
	border:solid 1px #ddd
}
/* ++++++++++++++  blog  ++++++++++++++ */

.cols-1 {
	display: block;
	float: none !important;
	margin: 0 !important;
}
.cols-2 .column-1 {
	width:46%;
	float:left;
}
.cols-2 .column-2 {
	width:46%;
	float:right;
	margin:0
}
.cols-3 .column-1 {
	float:left;
	width:29%;
	padding:0px 5px;
	margin-right:4%
}
.cols-3 .column-2 {
	float:left;
	width:29%;
	margin-left:0;
	padding:0px 5px
}
.cols-3 .column-3 {
	float:right;
	width:29%;
	padding:0px 5px
}
.items-row {
	overflow:hidden;
	margin-bottom:10px !important;
}
.column-1, .column-2, .column-3 {
	padding:10px 5px
}
.column-2 {
	width:55%;
	margin-left:40%;
}
.column-3 {
	width:30%
}
.blog-more {
	padding:10px 5px
}
/* ++++++++++++++  footer  ++++++++++++++ */

#bottom {
	overflow:hidden
}
#footer-inner {
	max-width:1025px;
	margin:0 auto;
	font-size:0.8em;
	padding:10px 15px 15px 10px;
}
img {
	border: 0 none;
}
/* not ready */
h1, h2, h3, h4, h5 {
	color: #009DDF;
	margin:0 0 5px 0;
	font-family: 'Tauri', sans-serif;
	font-weight:normal;
}
h1 {
	font-size:24px;
}
h2 {
	font-size:18px;
}
h3 {
	font-size:17px;
}
h4 {
	font-size:17px;
}
fieldset {
	margin-left: -8px;
	padding: 0px;
        float: left;
        width: 100%;
        border:0;
}
p {
	line-height:16px;
	margin:0 0 10px 0;
}
/* ##########################  general  ########################### */

/* ##########################  header content  ########################### */
#header form .button {
	font-weight:bold;
	margin: 0;
	cursor:pointer;
	text-align:center;
	text-transform:uppercase;
	border:solid 1px #999;
	/*background:#664335 url(../images/searchbutton.png);*/
	color:#fff;
}
#header form .inputbox {
	font-size:1em;
	width:13em;
	margin: 2px 13px 2px 2px;
	padding:3px;
	background:#fff !important;
}
#header form .inputbox:focus {
	margin: 1px 11px 0 1px;
	border:solid 2px #000;
}
/* ##########################  fontsize  ########################### */

#fontsize {
	padding:0;
	margin:0 20px 0 1px;
	text-align:right;
	margin-bottom:10px;
	float:none;
	color:#444;
}
#fontsize h3 {
	padding-right:0;
	font-weight:normal;
	display:inline;
	font-size:1em;
	color:#444;
}
#fontsize p {
	margin:0 0 0 2px;
	display:inline;
	font-size:1em;
}
#fontsize p a {
	margin:0 2px;
	display:inline;
	padding:2px 5px;
}
/* ##########################  navigation column  ########################### */

#nav ul {
	list-style-type:none;
	margin:0px 0;
}
.module_content {
	margin:0px 0 0px 0;
	padding:0px 0px 10px 5px;
	border:solid 1px #ddd;
	background:#fff;
}
.moduletable {
	border-top: 1px solid #E0E9F2;
	margin: 13px 0 0px 0;
	padding: 14px 0 0px;
	clear:both;
}
.moduletable_menu {
	margin:0px 0 10px 0;
}
.moduletable_js {
	margin-bottom:5px;
	border:solid 0px #ddd;
}
#nav h3.js_heading, #right h3.js_heading {
	position:relative;
	display:block;
	padding:5px 0px 0 0px;
	margin:0px;
	font-size:1.40em;
}
h3.js_heading span.backh {
	padding:4px 0px 0px 10px;
	display:block;
	border:solid 0px #000
}
h3.js_heading span.backh1 {
	padding:0px 20px 8px 0px;
	display:block;
	color:#444
}
h3.js_heading a {
	display:block;
	position:absolute;
	right:0px;
	top:0px;
	padding:5px 5px 0 0;
	text-decoration:none;
	border:0
}
.no {
	font-size:1px;
}
#nav h3 {
	font-size:1.4em;
	margin:5px 0 6px 0;
	font-weight:normal;
	line-height:1.19em;
	border-bottom:solid 1px #ddd;
	color:#444;
	font-family: Arial;
}
#nav h3 span.backh3 {
	padding:0px 0px 5px 2px;
	display:block;
}
.item {
	padding:0px 5px 10px 5px;
	display:block
}
.item h2 {
	margin:0 0px 10px 0px
}
.item-page-fullwidth {
	width:100%;
	float: left;
	padding:0;
	display:block;
	overflow:hidden;
}
.item-page {
	width:100%;
	float: left;
	padding:0px;
	display:block;
	overflow:hidden;
}
.item-page h2 {
	font-size: 23px;
	text-decoration: none;
	font-weight:bold;
}
.item-page h2 a, .item-page-fullwidth h2 a {
	font-size: 23px;
	text-decoration: none;
	font-weight:bold;
}
.item-page p span, .item-page-fullwidth p span {
	font-size: 16px;
	font-weight: bold;
}
.item-page p, .item-page-fullwidth p {
	margin-bottom: 15px;
	line-height: 16px;
}
.item-page p.readmore a, .item-page-fullwidth p.readmore a {
	color: #009DDF;
}
/* h1 on frontpage and blog view */

.mid-wrapper .blog-featured h1, .mid-wrapper .blog h1 {
	margin:0 0px 10px 0px
}
.blog .cat-children .category-desc {
	padding:0 0px;
	margin:10px 0 25px
}
.mid-wrapper ul.subcategories {
	margin:20px 20px 20px 10px
}
.mid-wrapper .subcategories-link {
	font-weight:bold
}
.category-desc {
	line-height:1.7em;
	margin:10px 0;
	padding-left:0px
}
.small {
	font-size:0.85em;
	margin:0 0 20px;
}
.image-left {
	float:left;
	margin:0 15px 5px 0;
}
.image-right {
	float:right;
	margin:0 0 5px 15px
}
.archive {
	padding:0 5px
}
.archive form {
	padding:0 5px
}
ul#archive-items {
	margin:20px 0 20px 0px;
	list-style-type:none;
	padding:0
}
ul#archive-items li.row0, ul#archive-items li.row1 {
	padding:10px 0;
	margin:10px 0;
}
/* ++++++++++++++  columns  ++++++++++++++ */

.cols-4 .column-1 {
	width:23%;
	float:left
}
.cols-4 .column-2 {
	width:23%;
	margin-left:1%;
	float:left;
}
.cols-4 .column-3 {
	width:23%;
	margin-left:1%;
	float:left
}
.cols-4 .column-4 {
	width:23%;
	margin-left:0;
	float:right
}
/* ++++++++++++++  top  ++++++++++++++ */

#top h2 {
	font-size:1.4em;
	font-weight:normal
}
/* ++++++++++++++  leading  ++++++++++++++ */

.newsflash a.readmore:link, .newsflash a.readmore:visited, .mid-wrapper a.readmore:link, .mid-wrapper a.readmore:visited {
	padding:4px 5px 4px 10px;
	line-height:1.2em;
	text-decoration:none;
}
.newsflash a.readmore:link, .newsflash a.readmore:visited {
	margin:10px 0;
}
a.readmore:hover, a.readmore:active, a.readmore:focus {
	text-decoration:none
}
.mid-wrapper .readmore a:hover, .mid-wrapper .readmore a:active, .mid-wrapper .readmore a:focus {
	text-decoration:none;
	color: #D4145A;
}
/* ++++++++++++++  details  ++++++++++++++ */

.article-info {
	margin:10px 0 10px 0px;
	font-size:0.9em;
	color:#444;
}
.article-info-term {
	display:none
}
dt.category-name, dt.create, dt.modified, dt.createdby {
	float:left;
	padding-right:5px;
}
.archive .article-info dd, .article-info dd {
	margin:2px 0 0px 0;
	line-height:1.2em
}
dd.createdby {
}
.article-info dd span {
	text-transform:none;
	display:inline-block;
	padding:0 5px 0 0px;
	margin:0 10px 0 0px;
	color:#444;
	border-right:solid 0px;
}
/* ++++++++++++++  icons  ++++++++++++++ */

.mid-wrapper ul.actions {
	text-align:right;
	padding:0;
	width:25%;
	margin:0;
	position:absolute;
	right:16px;
	top:0px;
}
.mid-wrapper ul.actions li {
	display:inline;
	background:none;
}
.mid-wrapper ul.actions a {
	text-decoration:none
}
/* ++++++++++++++  items more  ++++++++++++++ */

.mid-wrapper .items-more {
	padding-top:10px;
}
.pagination {
	margin:10px 0;
	padding:10px 0 10px 0px;
}
.pagination ul {
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:left;
}
.pagination li {
	display:inline !important;
	padding:2px 5px !important;
	text-align:left !important;
	border:solid 1px #eee !important;
	margin:0 2px !important;
	background:none !important;
}
.pagenav {
	padding:2px;
}
.pagination li.pagination-start, .pagination li.pagination-next, .pagination li.pagination-end, .pagination li.pagination-prev {
	border:0;
}
.pagination li.pagination-start, .pagination li.pagination-start span {
	padding:0;
}
p.counter {
	font-weight:bold;
}
/* ##########################  right  ########################### */

#right .moduletable {
	margin:0px 0px 0px 0px;
	padding:0px 0 20px 0;
}
#right h3 {
	font-size:1.2em;
	line-height:1.4em;
	margin:5px 0 0 0;
	font-weight:normal;
	color:#377A2E;
	border-bottom:solid 1px #ddd;
}
#right h3 span.backh {
	padding:0px 0px 0px 0;
	display:block;
}
#right h3 span.backh2 {
	display:block;
}
#right h3 span.backh3 {
	padding:0px 0px 5px 0px;
	display:block;
	color:#664335
}
#right h3.js_heading span.backh {
	padding:0px 0 0 10px
}
#right h4 {
	font-size:1em;
	padding:10px 5px 0 0;
	margin:0;
}
#right ul {
	list-style-type:none;
	margin:10px 0;
	padding:5px 0 0 0px;
	position:relative;
}
#right ul.categories-module ul {
	margin: 15px 0 15px 10px
}
#right ul li {
}
#right ul li a {
}
#right ul.category-module {
	margin-top:0;
	padding-top:0
}
/*  ####################   forms   #####################  */

#member-registration {
	padding:0 5px
}
#member-registration fieldset {
	border:none;
}
form fieldset dt {
	clear:left;
	float:left;
	width:12em;
}
form fieldset dd {
}
form fieldset dd input {
	width: 400px;
	padding: 3px 5px;
	overflow: hidden;
}
form fieldset dd input.radio {
	width: auto !important;
}
form fieldset dd textarea {
	width: 400px;
	padding: 3px 5px;
	overflow: auto;
	resize: none;
}
form fieldset dd input#jform_contact_email_copy {
	width: auto;
	padding-left: 0;
}
form fieldset dd button {
	border: 0;
	color: #fff;
	background: #009ddf;
}
#member-registration .required {
	color:#333 !important;
}
/* ########################## search ############################ */
.searchintro {
	font-weight:normal;
	margin:20px 0 20px;
}
#searchForm {
	padding:0 5px
}
.form-limit {
	margin:20px 0 0;
	text-align:right;
	padding:0 10px 0 20px;
}
.inputbox:focus {
}
.highlight {
	font-weight:bold;
}
.ordering-box {
	width:40%;
	float:right;
}
.phrases-box {
	width:60%;
	float:left
}
.only, .phrases {
	margin:10px 0 0 0px;
	padding: 0;
	line-height:1.3em;
}
.phrases .ordering-box .inputbox {
	border-radius: 0;
}
#searchForm .form-limit .inputbox {
	border-radius: 0;
}
label.ordering {
	display:block;
	margin:10px 0 10px 0
}
.word {
	padding:10px 10px 10px 0;
}
.word input {
	font-weight:bold;
	margin:0px 10px 0px 10px;
	padding:4px;
	font-size:1em
}
#searchForm .word .inputbox {
	font-weight: normal;
	border-radius: 0;
	border: 1px solid #ccc;
}
#searchForm .word .button {
	border: 0;
	color: #fff;
	background: #009ddf;
	height: 25px;
	width: 55px;
	text-align:center;
}
.word label {
	font-weight:bold;
	font-weight: bold;
	margin-top: 5px;
	float: left;
}
fieldset.only label, fieldset.phrases label {
	margin:0 10px 0 0px
}
.ordering-box label.ordering {
	margin:0 10px 5px 0;
	float:left
}
form .search label {
	display:none
}
/* ++++++++++++++  selects  ++++++++++++++ */
.phrases .inputbox {
	width:10em;
}
.phrases .inputbox option {
	padding:2px;
}
/* ++++++++++++++  search results  ++++++++++++++++++ */

dl.search-results {
}
dl.search-results dt.result-title {
	padding:15px 15px 0px 5px;
	font-weight:bold;
	color: #009ddf;
}
dl.search-results dt.result-title a {
	color: #009ddf;
}
dl.search-results dd {
	padding:2px 15px 2px 5px
}
dl.search-results dd.result-text {
	padding:10px 15px 10px 5px;
	line-height:1.7em
}
dl.search-results dd.result-created {
	padding:2px 15px 15px 5px;
	border-bottom: 1px dotted #ccc;
}
dl.search-results dd.result-category {
	padding:10px 15px 5px 5px
}
/* ########################### contacts ########################### */

.contact {
	padding:0px
}
.contact-category {
	padding:0 10px
}
.contact-category #adminForm fieldset.filters {
	border:0;
	padding:0
}
.contact-image {
	margin:10px 0;
	overflow:hidden;
}
.contact-image img {
}
address {
	font-style:normal;
	margin:10px 0;
}
address span {
	display:block
}
span.contact-image {
	margin-bottom:10px;
	overflow:hidden;
	display:block
}
.contact-address {
	margin:20px 0 10px 0;
}
.contact-email div {
	padding:2px 0;
	margin:0 0 10px 0;
}
.contact-email label {
	width:17em;
	float:left;
}
#contact_textmsg {
	padding: 2px 0 10px 0
}
#contact-email-copy {
	float:left;
	margin-right:10px;
}
.contact .button {
	float:none !important;
	clear:left;
	display:block;
	margin:20px 0 0 0
}
dl.tabs {
	float: left;
	margin: 50px 0 0 0;
	z-index: 50;
	clear:both;
}
dl.tabs dt {
	float: left;
	padding: 4px 10px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-right: 3px;
	background: #f0f0f0;
	color: #666;
}
dl.tabs dt.open {
	background: #F9F9F9;
	border-bottom: 1px solid #F9F9F9;
	z-index: 100;
	color: #000;
}
div.current {
	clear: both;
	border: 1px solid #ccc;
	padding: 10px 10px;
}
div.current dd {
	padding: 0;
	margin: 0;
}
dl#content-pane.tabs {
	margin: 1px 0 0 0;
}
/* ##########################  user profile  ########################### */

#users-profile-core, #users-profile-custom {
	margin:10px 0 15px 0;
	padding:15px 0;
}
#users-profile-core dt, #users-profile-custom dt {
	float:left;
	width:12em;
	padding:3px 0;
}
#users-profile-core dd, #users-profile-custom dd {
	padding:3px 0;
}
#member-profile fieldset, .registration fieldset {
	margin:10px 0 15px 0;
	padding:0;
}
#users-profile-core legend, #users-profile-custom legend, .profile-edit legend, .registration legend {
	font-weight:bold
}
.profile-edit form#member-profile fieldset dd, .registration form#member-registration fieldset dd {
	float: none;
	margin-bottom: 10px;
}
.profile-edit form#member-profile fieldset dd input, .profile-edit form#member-profile fieldset dd select, .registration form#member-registration fieldset dd input {
	width:17em
}
.profile-edit form#member-profile fieldset dt, .registration form#member-registration fieldset dt {
	width:13em
}
span.optional {
	font-size:0.9em
}
/*#################### tables ############################ */

table {
/*border-collapse:collapse*/
}
table.weblinks, table.category {
	font-size:1em;
	margin:10px 10px 20px 0px;
	width:99%;
}
table.weblinks td {
	border-collapse:collapse;
}
table.weblinks td, table.category td {
	padding:7px;
}
table.weblinks th, table.category th {
	padding:7px;
	text-align:left
}
td.num {
	vertical-align:top;
	text-align:left;
}
td.hits {
	vertical-align:top;
	text-align:center
}
td p {
	margin:0;
	line-height:1.3em
}
.filter {
	margin:10px 0
}
.display-limit, .filter {
	text-align:right;
	margin-right:7px
}
/* ++++++++++++++  category table  ++++++++++++++ */

table.category th a img {
	padding:2px 10px
}
.filter-search {
	float:left;
}
.filter-search .inputbox {
	width:6em
}
legend.element-invisible {
	position:absolute;
	/* need margin top and left doesn't work for the legend element */
    margin-left:-3000px;
	margin-top:-3000px;
	height:0px;
}
.cat-items {
	margin-top:20px
}
/* #################### footer ############################ */
#footer-sub {
	padding:0px
}
#footer-container {
	width: 980px;
	height: 48px;
	padding:0 40px;
	margin: 0 auto;
	display:block;
	overflow:hidden;
	/*background: url(../images/bg-footer.gif) no-repeat center bottom;*/
}
 @media screen and (-webkit-min-device-pixel-ratio:0) {
#footer-container {
padding:0 118px;
}
}
#footer {
	width: auto;
	overflow: hidden;
	padding: 5px 0 0 0px;
	border-top: 1px solid #e2e2e2;
}
.box {
	text-align:left
}
.box ul {
	list-style-type:none
}
#bottom .newsfeed-item {
	padding:0;
	margin-bottom:10px
}
.box .moduletable_menu, .box .moduletable {
	margin:10px
}
.box3 {
	padding-left:10px
}
.box h3 {
	font-size:1.3em
}
#bottom ul.latestnews {
	padding-left:0
}
#footer p {
	font-size: 10px;
}
p.syndicate {
	float:left;
	display:block;
	text-align:left;
}
/* ++++++++++++++  Error Message contact form  ++++++++++++++ */
p.error {
	padding:10px;
}
/* ++++++++++++++  editor  ++++++++++++++ */
.contentpaneopen_edit {
	float: left;
}
.contentpaneopen_edit img {
}
a.mceButton:hover {
	background:none !important
}
/* ++++++++++++++  pagebreak  ++++++++++++++ */
table.contenttoc {
	padding:10px;
	margin:10px;
}
table.contenttoc tr td {
	padding:1px 0px
}
.pagenavcounter {
	font-weight:bold;
}
/* ++++++++++++++  edit  ++++++++++++++ */
legend {
	padding: 5px 5px 5px 0 !important;
	color: #0099CC;
}
form#adminForm {
}
.edit form#adminForm fieldset {
	padding:20px 15px;
	margin:10px 0 15px 0;
}
.formelm {
	margin:5px 0
}
.formelm label {
	width:13em;
	display:inline-block;
	vertical-align:top;
}
form#adminForm .formelm-area {
	padding:5px 0
}
form#adminForm .formelm-area label {
	vertical-align:top;
	display:inline-block;
	width:7.9em
}
.formelm-buttons {
	text-align:right;
	margin-bottom:10px
}
.button2-left {
}
a.modal-button, .button2-left .blank a, .button2-left a, .button2-left div.readmore a {
	background:#eee;
	padding:4px !important;
	margin:0 !important;
	line-height:1.2em;
	border:solid 1px #ddd;
	font-weight:bold;
	text-decoration:none;
	margin-top:10px !important
}
/* ++++++++++++++  tooltip  ++++++++++++++ */
.tip {
	font-size:0.8em;
	text-align:left;
	padding:3px;
	max-width:400px;
	border:solid 1px #333;
	background:#ffffcc;
}
.tip-title {
	font-weight:bold;
}
/* #################### modules ############################ */
.right-wrapper .moduletable-new, .left-wrapper .moduletable-new {
	border-top: 1px solid #E0E9F2;
	clear: both;
	margin: 13px 0 0;
	padding: 14px 0 0;
}
.moduletable-new h3 {
	background: none repeat scroll 0 0 #D4145A;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 22px;
	margin: 0 0 7px;
	padding: 0 0 0 14px;
	text-align: left;
}
/* ++++++++++++++  newsflash  ++++++++++++++ */

/* newsflash horizontal */
.newsflash-horiz {
	overflow:hidden;
	list-style-type:none !important;
	margin:0 5px!important;
	padding:20px 10px !important
}
.newsflash-horiz li {
	float:left;
	width:30%;
	margin:0 1% !important;
	padding:10px 5px;
}
ul.newsflash-horiz li h4 {
	font-size:1.4em;
}
.newsflash-horiz li img {
	display:block;
	margin-bottom:10px
}
/* newsflash vertical */

.newsflash-vert {
	padding:0
}
/* ++++++++++++++  banner  ++++++++++++++ */

.banneritem {
	margin: 10px 0px 10px 0px;
	padding:0px;
}
.banneritem a {
	font-weight:bold
}
/* ++++++++++++++  latest, popular  ++++++++++++++ */

#nav .module_content ul.latestnews, #nav .module_content ul.mostread {
	margin:10px 0 0 0
}
ul.latestnews, ul.mostread {
	padding-left:10px;
	list-style-type:none !important;
}
ul.latestnews li a, ul.mostread li a {
	padding:2px 2px 2px 15px;
	display:block;
	text-decoration:none
}
/* ++++++++++++++  newsflash  ++++++++++++++ */
.newsflash {
	margin:0px;
}
/* ++++++++++++++  newsfeed  ++++++++++++++ */
.newsfeed {
	padding:0 5px
}
ul.newsfeed {
	padding:0 !important
}
.newsfeed-item {
	padding:5px 0 0 0;
	margin:0
}
.feed-item-description img {
	margin: 5px 10px 10px 0
}
.newsfeed-item h5 a {
	font-size:1.1em;
	font-weight:bold !important
}
dl.newsfeed-count dt, dl.newsfeed-count dd {
	display:inline
}
/* ++++++++++++++  weblinks  ++++++++++++++ */

dl.weblink-count dt, dl.weblink-count dd {
	display:inline;
}
/* ++++++++++++++  login  ++++++++++++++ */

#login-form, #login-form-toplink {
	padding-top:5px
}
#login-form fieldset {
	padding:0
}
#login-form .inputbox, #login-form-toplink .inputbox{
	padding:2px
}
#login-form fieldset.input, #login-form-toplink fieldset.input{
	padding:10px 0 0 0;
	margin:0px 0 10px 5px
}
#login-form label, #login-form-toplink label {
	margin-right:10px;
	width:8.4em;
	display:block;
	float:left;
}
#form-login-remember label {
	float:none;
	width:auto;
	display:inline;
}
.logout-button {
	overflow: hidden;
	margin-top:10px;
}
input.button, button.button, button.validate {
	cursor:pointer;
	padding:3px 7px;
	font-weight:bold;
	line-height:1.2em;
	font-family:arial;
}
#modlgn-username, #modlgn-passwd {
	width:9em
}
.module_content #form-login-username label, .module_content #form-login-password label {
	float:left;
	width:5.2em
}
div.login fieldset {
    float:none;
    margin-left:0;
}
div.login ul {
    margin-top:15px;
} 
.login-fields {
	margin:10px 0;
}
.login-fields label {
	float:left;
	width:9em
}
.login-description img, .logout-description img {
	float:left;
	margin-right:20px
}
.login-description, .logout-description {
	overflow:hidden;
	padding-left:5px;
	margin:20px 0 10px 0
}
.logout-description {
	margin-bottom:20px
}
/* ++++++++++++++  tabs/ slide  ++++++++++++++ */
.slide {
	height:auto !important;
}
ul.tabs {
	overflow:hidden;
	padding:0 !important;
	margin:0 !important
}
.tabopen ul.newsflash-horiz, .tabopen ul.newsflash-vert, .tabopen ul.latestnews {
	margin:0 !important;
	padding:0 !important;
}
.tabopen ul.newsflash-horiz li, .tabopen ul.newsflash-vert li {
	padding:0 6px !important;
}
ul.tabs li {
	list-style-type:none;
	float:left;
	width:auto;
	padding:0;
	display:block;
	margin:0;
	font-size:1em;
}
ul.tabs li a:link, ul.tabs li a:visited {
	text-decoration:none;
	padding:7px 5px;
	margin:0px;
	display:block;
	font-size:0.9em;
	font-weight:normal;
}
ul.tabs li a.linkopen:link, ul.tabs li a.linkopen:visited {
	font-weight:bold;
}
ul.tabs li a:hover, ul.tabs li a:active, ul.tabs li a:focus {
	text-decoration:underline;
}
.tabcontent {
	padding:15px 10px;
	margin-top:-1px;
}
.tabcontent:focus {
	outline:none
}
.tabopen {
	display:block;
	margin-bottom:20px;
	overflow:hidden
}
.tabclosed {
	display:none
}
.tabcontent ul {
	padding:0
}
.tabcontent ul li {
	list-style-type:none
}
.tabcontent .linkclosed {
}
a.linkopen {
}
.tabouter {
	margin-top:20px
}
/* ++++++++++++++  random  ++++++++++++++ */

#right .random-image, #nav .random-image {
	margin-top:10px;
	margin-left:10px
}
/* ++++++++++++++  content-module ++++++++++++++ */
.category-module li {
	padding:5px 0 5px 0
}
.category-module span {
	display:block;
	font-size:0.85em;
}
.category-module a span {
	display:inline
}
a.mod-articles-category-title {
	text-decoration:none;
	font-weight:bold
}
/* ###########  Categories list ############ */
.mid-wrapper .categories-listalphabet ul {
	padding:0;
	margin:20px 10px 10px 0;
	list-style-type:none;
	list-style-position:inside
}
.mid-wrapper .categories-listalphabet ul li {
	display :inline;
	padding:5px;
	border-right:solid 1px #ddd
}
.mid-wrapper .categories-list ul {
	list-style-type:none;
	margin:0
}
.mid-wrapper .categories-list dl dt, .mid-wrapper .categories-list dl dd {
	display:inline
}
.mid-wrapper .cat-children {
	padding-left:5px
}
.mid-wrapper .cat-children ul dl dt, .mid-wrapper .cat-children ul dl dd {
	display:inline
}
.mid-wrapper .cat-children ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.mid-wrapper .cat-children ul {
	margin:20px 20px 20px 0;
}
.mid-wrapper .cat-children ul ul {
	margin:20px
}
.mid-wrapper .cat-children ul li {
	margin:10px 0 10px 0
}
/* mod stats  */

.stats-module dl {
	margin:10px 0 10px 0
}
.stats-module dt {
	float:left;
	margin:0 10px 0 0;
	font-weight: bold;
}
.stats-module dt, .stats-module dd {
	padding:2px 0 2px 0
}
/* syndicate */

a.feed-link {
	margin-top:15px;
	display:block;
	text-decoration:none
}
.feed-link img {
	border:0
}
/* pagenav */
.mid-wrapper ul.pagenav {
	list-style-type:none !important;
	padding:0;
	overflow:hidden
}
ul.pagenav li {
	display:inline-block;
	padding:1px !important;
	margin:0;
	border:solid 0px #cc0000;
	position:relative;
	background:none !important;
}
.mid-wrapper ul.pagenav li {
	line-height:2em
}
ul.pagenav li a {
	border:solid 1px #ccc;
	display:inline;
	background:#eee;
	padding:2px;
	text-decoration:none;
}
ul.pagenav li.pagenav-prev {
	float:left
}
ul.pagenav li.pagenav-next {
	float:right
}
/* pagebreak */

#article-index {
	width:25%;
	float:right;
	border:solid 1px #eee;
	padding:10px;
	margin: 10px 0px 20px 30px;
	background:#f9faf9
}
#article-index h3 {
	margin:0;
	font-size:1em;
}
#article-index ul {
	list-style-type:disc;
	color:#666
}
/* mailto window */
#mailto-window {
	background:#f5f5f5;
	padding:15px;
	border:solid 1px #ddd;
	position:relative
}
#mailto-window label {
	width:10em
}
.mailto-close {
	position:absolute;
	right:0;
	top:5px;
	background:none;
}
.mailto-close a {
	/*background:#f5f5f5 url(../images/close.png) no-repeat !important;*/
	min-width:25px;
	display:block;
	min-height:25px;
	overflow:visible
}
.mailto-close a span {
	position:absolute;
	left:-3000px;
	top:-3000px;
	display:inline
}
#mailto-window .inputbox {
	/*background:url("../images/content_bg.gif") repeat-x scroll 0 0 #FFFFFF;*/
	border:1px solid #ccc;
	padding:3px;
}
#mailto-window p {
	margin-top:20px
}
#mailto-window button {
	margin:0 5px 0 0
}
.clr {
	clear:both;
}
/* for the spacer field*/
span.spacer > span.text label {
	white-space: nowrap;
	font-weight: bold;
	color: #666;
}
.red {
	font-weight: bold;
	color: #c00;
}
.star {
	color:#cc0000;
}
/* ++++++++++++++  news feeds direction ++++++++++++++ */

.redirect-ltr {
	direction: ltr;
	text-align: left;
}
.redirect-rtl {
	direction:rtl;
	text-align: right;
}
.mid-wrapper h3.title, .mid-wrapper2 h3.title, .mid-wrapper dl.tabs h3, .mid-wrapper2 dl.tabs h3 {
	margin:0
}
/* ++++++++++++++  feed display module ++++++++++++++ */

div.feed {
	display:block;
	padding: 5px 10px;
}
/*CSS: For IM_artikelpage*/

.col3-layout #col-main .item-page-fullwidth {
	width: 477px;
}
/* ##########################  general  ########################### */

a:link, a:visited {
	color:#009DDF;
	text-decoration: none;
}
a:active, a:focus {
	color:#009DDF;
	text-decoration: none;
}

a:hover {
color: #D4145A;	
text-decoration: none;
}

input:focus {
	border:solid 0px #009ddf;
}
.adminform {
	margin: 0;
}
.component-block ul {
	margin-left:16px;
	margin-bottom:15px;
}
.component-block ol {
	margin-left:26px;
	margin-bottom:15px;
}
h3 {
	color: #D4145A;
}
/* ##########################  logo  ########################### */
#logo span {
	color:#555 !important;
	margin-top:6px;
	font-size:0.4em !important;
	letter-spacing:1px
}
#header-image {
	min-height:20px;
	background:#eee
}
h1#logo {
	padding:0px;
	margin:0px;
	font-size:3em;
}
#line {
	text-align:right;
	margin-bottom:10px;
	padding-right:20px
}
#header #line form, #header #line #fontsize, #header #line form .search {
	display:inline !important;
}
/* ++++++++++++++  fontsize  ++++++++++++++ */


#fontsize p a:link, #fontsize p a:visited {
	color:#444
}
#fontsize p a:hover, #fontsize p a:active, #fontsize p a:focus {
	background:#555;
	color:#fff
}
/* ##########################  breadcrumbs  ########################### */

#breadcrumbs {
	color:#555;
}
#breadcrumbs span {
	color:#555;
}
#breadcrumbs span a:link, #breadcrumbs span a:visited {
	background:#fff;
	color:#7BA428;
}
#breadcrumbs span a:hover, #breadcrumbs span a:active, #breadcrumbs span a:focus {
	background:#7BA428;
	color:#fff;
}
/* ##########################  navigation column  ########################### */

#right .moduletable_js {
	border:0
}
h3.js_heading {
	border-bottom:solid 1px #fff !important;
	background:#eee;
	font-family: 'Titillium Maps', Arial;
}
h3.js_heading a img {
	border:0
}
h3.js_heading a.opencloselink:hover, h3.js_heading a.opencloselink:active, h3.js_heading a.opencloselink:focus {
	background:none
}
h3.js_heading a:link, h3.js_heading a:visited, h3.js_heading a:hover, h3.js_heading a:active, h3.js_heading a:focus {
}
#nav h3.js_heading a:focus {
}
#nav form {
	color:#000;
}
#nav form a:hover, #nav form a:active, #nav form a:focus {
	color:#fff;
	background:#669933;
}
/* ++++++++++++++  first level  ++++++++++++++ */
#nav .moduletable-example ul.menu {
	background:#fff;
	border:0;
}
.main-navigation-wrapper ul.menu {
	display: inline;
	float: right;
	width: auto;
	margin: 6px 12px 0 0;
	list-style: none;
}
.main-navigation-wrapper ul.menu li {
	margin:0px;
	padding:0 6px;
	float: left;
	/*background: url(../images/bg-sep.gif) no-repeat right 34px;*/
}
.main-navigation-wrapper ul.menu li:first-child {
	margin: 0;
}
.main-navigation-wrapper ul.menu li a {
	display: block;
	padding: 32px 0px 32px 0px;
	text-decoration: none;
	color: #fff;
}
.main-navigation-wrapper ul.menu li:hover a, .main-navigation-wrapper ul.menu li.active a {
	/*background: url(../images/bg-hover-icon.gif) no-repeat center bottom;*/
}
.main-navigation-wrapper ul.menu-right {
	float: right;
	width: auto;
	margin-top: 4px;
	list-style: none;
}
.main-navigation-wrapper ul.menu-right li {
	float: left;
	padding-left:0px;
}
.main-navigation-wrapper ul.menu-right li a {
	display: block;
	padding: 35px 10px 33px 0px;
	text-decoration: none;
	color: #fff;
}
.main-navigation-wrapper ul.menu-right li:hover, .main-navigation-wrapper ul.menu-right li.active {
	/*background: url(../images/bg-hover-icon.gif) no-repeat center bottom !important;*/
}
.main-navigation-wrapper ul.menu-right li:first-child {
	padding: 0;
	background: none;
}
.main-navigation-wrapper ul.menu-right li a.mail {
	width: 32px;
	text-indent: -999em;
	/*background: url(../images/bg-mail.gif) no-repeat left 32px;*/
}
.main-navigation-wrapper ul.menu-right li a.store {
	padding-left: 16px;
	/*background: url(../images/bg-store.gif) no-repeat left 36px;*/
}
ul.menu.submenu {
	margin-left:16px;
}
ul.menu.submenu li {
	background:none !important;
}
/* ++++++++++++++  partnerfinder ++++++++++++++ */

.partnerfinder-arrow {
}
.right-panel .partnerfinder {
}
.partner-wrapper {
	/*background: #009edf url(../images/globe.gif) no-repeat 0 0;*/
	text-align:right;
	padding:0px 15px;
}
.partnerfinder .pre-text {
	/*background: url(../images/partner-finder-dot.gif) repeat-x bottom left;*/
	padding-bottom:8px;
	line-height:23px;
	font-size:18px;
	color:#FFF;
	padding-top:10px;
}
.select-country {
	padding:11px 0px 15px;
}
.select-country .inputbox {
	width:100%;
}
/* ++++++++++++++  partners-list ++++++++++++++ */
.partners-list {
	padding:0px 10px;
}
.partners-list h2 {
	font-size:18px;
	font-weight:normal;
	padding-bottom:11px;
	margin-left:-10px;
	margin-right:-10px;
}
.partners-list .country-select {
	padding:11px 0px 55px 0px;
	float:right;
}
.partner-heading {
	width:auto;
	float:left;
}
.partner-heading h2, .fracture-list h2 {
	background:none;
	padding:0px;
	width:auto;
	font-weight:bold;
}
.fracture-list h2 {
	margin:0px;
}
.partner-heading h2 {
	padding:10px 0px 0px 0px;
}
.fracture-list {
	clear:both;
	position:relative;
}
.fracture-list-wrapper {
	/*background: url(../images/fracture-list-sep.gif) repeat-x bottom left;*/
	overflow:hidden;
	margin-right:10px;
	padding:10px 0px;
}
.fracture-list-wrapper.last {
	background:none;
}
.acc_trigger {
	float:left;
	overflow:hidden;
}
.acc_trigger a {
	font-size:12px;
	color:#000;
	text-decoration:none;
}
.acc_trigger.active a {
	font-size:12px;
	text-decoration:none;
	display:block;
}
.acc_container {
	overflow:hidden;
	padding:7px 0px 20px;
}
.visit-site {
	float:right;
}
.visit-site a {
	font-size:11px;
}
.acc_trigger {
	width:615px;
	overflow:hidden;
}
.partners-logo {
	float:left;
	width:37%;
	text-align:center;
}
.partners-info-wrapper {
	width:55%;
	float:left;
	padding:0px 0px 0px 9px;
}
.partner-name {
	color:#000;
	font-weight:bold;
	font-size:12px;
}
.partner-address {
	clear:both;
	display:block;
	padding:5px 0px 0px 0px;
}
.partner-phone {  
    clear: both;
    display: block;
}


.partner-fax{  
    clear: both;
    display: block;}
	
	
.website-url {
	clear:both;
	display:block;
	padding:15px 0px 0px 0px;
}
.website-url a {
	/*background: url(../images/website-url-underline.gif) repeat-x bottom left;*/
	text-decoration:none;
	color:#808080 !important;
}
.partners-info {
	font-size:12px;
	color:#808080;
}
.more-info {
	width:1%;
	position:absolute;
	right:0px;
	top:10px
}
.more-info a {
	display:block;
	width:5px;
	height:14px;
/*	background: url(../images/info-icon.gif) no-repeat top right;*/
	text-indent:-2000px;
}
/* ++++++++++++++ more info partner ++++++++++++++ */
.moduletable-partner-contact ul {
	margin-left:16px;
}
.moduletable-partner-contact ol {
	margin-left:20px;
}
.partner-info ul {
	margin-left:16px;
}
.partner-info ol {
	margin-left:25px;
}
.partner-back-link {
	/*background: url(../images/back-link-icon.gif) no-repeat left 10px;*/
	padding:10px 0px 0px 21px;
}
.partner-back-link a {
	font-size:12px;
	color:#000;
	/*background: url(../images/website-url-underline.gif) repeat-x bottom left;*/
	text-decoration:none;
}
.partner-info {
	padding:20px 0px 0px;
}
.partner-info h2 {
	color:#fff;
	font-size:15px;
	background:#009ddf;
	padding:4px 5px;
	margin:0px;
	width:99%
}
/* ++++++++++++++ partner contact module++++++++++++++ */
.moduletable-partner-contact {
	padding: 72px 8px 0px 8px;
	margin-bottom:20px;
}
.partner-contact {
	margin:0 -8px 0px 0px;
	padding:12px 10px 50px;
/*	background: url("../images/bg-bottom-arrow.gif") no-repeat scroll left bottom #009DDF;*/
}
.moduletable-partner-contact .pre-text {
	padding-bottom:10px;
	min-height:280px;
	height:280px;
	height:auto !important;
}
.partner-contact span {
	display:block;
	clear:both;
	color:#000000;
	font-size:15px;
}
.partner-contact .title {
	font-size:18px;
	color:#FFFFFF;
	padding-bottom:10px;
	font-weight:bold;
}
.partner-contact-url {
	padding-top:20px;
}
.partner-contact a {
	color: #FFF;
}
.partner-contact .phone {
	/*background: url(../images/tele-icon.gif) no-repeat left 3px;*/
	padding-left:14px;
}
.partner-contact .fax {
	/*background: url(../images/fax-icon.gif) no-repeat left 3px;*/
	padding-left:14px;
}
/* ++++++++++++++ partner contact us custom module ++++++++++++++ */
.right-panel .moduletable-bluetitle h3 {
	color: #009ddf;
	font-size: 15px;
	line-height: 22px;
	margin: 0 0 7px;
	padding: 0 0 0 14px;
	text-align: left;
}
.right-panel .custom-bluetitle {
	padding: 0 0 0 14px;
	font-size:13px;
}
.left-panel .moduletable-bluetitle h3 {
	color: #009ddf;
	font-size: 15px;
}
/* ++++++++++++++ blog banner custom HTML module ++++++++++++++ */
.moduletable-blogbanner {
	border-top: 1px solid #E0E9F2;
	clear: both;
	margin: 13px 0 0;
	padding: 14px 0 0;
}
.custom-blogbanner {
	text-align:center;
}
.custom-blogbanner p {
	margin:0px;
}
/* ++++++++++++++ default module ++++++++++++++ */

	
.moduletable-livetweets {
	border-top: 1px solid #E0E9F2;
	clear: both;
	margin: 13px 0 0px 0;
	padding: 14px 0 0px;
}
/*Module Title*/

.moduletable h3 {
	background:transparent;
	color: #D4145A;
	font-size: 17px;
	line-height: 22px;
	margin: 0 0 7px 0;
	text-align: left;
}
.moduletable-livetweets h3 {
	background:#transparent;
	color: #D4145A;
	font-size: 17px;
	line-height: 22px;
	margin: 0;
	text-align: left;
}
.component-block h3 {
	/*background: url("../images/row-sep.gif") no-repeat scroll 0 0 transparent;*/
	padding:18px 0 0 !important;
}
.noline {
	background:none;
	padding:0px;
}
/* magento store banner */
.moduletable-storebanner {
	padding: 0px 18px 20px;
}
.col2-left .mid-wrapper .moduletable-storebanner, .col2-right .mid-wrapper .moduletable-storebanner, .col2-rright .mid-wrapper .moduletable-storebanner, col2-left .mid-wrapper .moduletable-storebanner, .col2-lleft .mid-wrapper .moduletable-storebanner {
	padding: 0px 0px 20px !important;
}
/*h2 defaults for component */

.component-block h2 {
	margin:0px 0px 18px !important;
	font-size: 30px;
}
.moduletable-blogcat {
	border-top: 1px solid #E0E9F2;
	clear: both;
	margin: 13px 0 0;
	padding: 15px 0 0;
}
.moduletable-blogcat h3 {
	margin: 0;
	color: #D4145A;
	font-size: 17px;
	line-height: 22px;
	text-align: left;
}
/* Easy Blog */
.easy-blog h3 {
	margin: 0;
}
.custom {
	padding:0px 14px;
}
.twitter h3 {
	margin:0;
	text-align:center;
	padding:0;
}
.moduletable ul {
	margin-left:16px;
}
.moduletable ol {
	margin-left:20px;
}
/*CSS For breadcrumb-magento-menu-wrapper */
.breadcrumb-magento-menu-wrapper {
	width:950px;
	overflow:hidden;
	margin:0 auto;
	padding:0px 25px 12px;
	position:relative;
	/*background: url("../images/brd-img.jpg") no-repeat 100% -13px !important;*/
	min-height: 4px;
	height: 4px;
	height: auto !important;
}
.breadcrumb-magento-menu-wrapper .moduletable {
	margin:0;
	border:none;
	padding:0px;
}
.breadcrumbs {
	float: left;
	width:auto;
}
.breadcrumbs a {
	font-size: 11px;
	font-weight: normal;
	line-height:16px;
	/*border-bottom:1px solid #009DDF;*/
	text-decoration:none !important;
	display: inline-block;
}
.breadcrumbs span {
	font-size: 11px;
	line-height:16px;
}
.magento-topmenu {
	float: right;
	width:auto;
	padding-top:2px;
}
.magento-topmenu ul {
	list-style:none !important;
	float:right;
}
.magento-topmenu ul li {
	/*background: url("../images/m-menu-sep.gif") no-repeat scroll 0 3px !important;*/
	float: left;
	margin: 0 !important;
	padding: 0 6px !important;
}
.magento-topmenu ul li.first {
	background:none !important;
}
.magento-topmenu ul li.last {
	padding-right:0px !important;
	display:none;
}
.magento-topmenu ul li.last a {
	color: #D4145A;
}
.magento-topmenu ul li a {
	color:#000;
	text-decoration:none;
}
.magebridge-module div {
	width:auto !important;
}
.moduletable-m-loginout #login-form-toplink input.button {
	background: none !important;
	border: 0 none !important;
	color: #ff0000 !important;
	font-weight:normal !important;
	height:auto !important;
	width: auto !important;
	margin: -7px 0px 0px 0px !important;
	padding: 0px!important;
}
.moduletable-m-loginout {
/*	background:url("../images/m-menu-sep.gif") no-repeat scroll 0 3px transparent !important;*/
	padding-left:6px;
}
.magento-topmenu .moduletable {
	float:left !important;
	width:300px;
}
.magento-topmenu .moduletable-m-loginout {
	float:left !important;
}
.moduletable-m-loginout a.login-button {
	color:#ff0000 !important;
	text-decoration:none !important;
}
/*CSS: Home page */
.main-content-wrapper .item-page h2 a {
	font-size:21px;
	font-weight:normal;
	color:#009DDF;
}
.main-content-wrapper .item-page p span {
	font-size:14px;
	font-weight:normal;
	color:#000000;
}
.product-thumbnail {
	width:auto;
	padding:0;
	margin:0 0 15px 0;
	float:right;
	overflow:hidden;
}
.product-thumbnail .thumbnail {
	width:auto;
	padding:0;
	margin:0 0 10px 0;
	overflow:hidden;
	clear:both;
	text-align:center;
}
.product-thumbnail .button-wrapper {
	width:auto;
	padding:0;
	margin:0;
	overflow:hidden;
	clear:both;
	text-align:center;
}
.button-section {
	overflow:hidden;
	clear:both;
	width:165px;
	margin:0 auto 8px;
}
.button-wrapper a {
	font-weight:bold;
}
a.bluebtn {
	width:65px;
	height:23px;
	/*background:url(../images/buyme_btn.gif) no-repeat 0px 0px;*/
	display:inline-block;
	padding:9px 0 0 0;
	float:left;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}
a.greybtn {
	width:96px;
	height:23px;
	/*background:url(../images/grey_download_btn.gif) no-repeat 0px 0px;*/
	display:inline-block;
	padding:8px 0 0 0;
	float:left;
	color:#333333;
	font-size:13px;
	text-decoration:none;
	font-weight: normal;
}
/*CSS: Contact page*/
.contact h3 {
	font-size:20px;
	font-weight:bold;
}
.contact-form legend {
	font-size:13px;
	font-weight:normal;
	padding:10px 0;
	clear:both;
}
.contact-form fieldset {
	padding:0;
}
.contact-form dl {
	clear:both;
	overflow:hidden;
}
.contact-form dl dt {
	margin: 0 0 5px;
	padding-top: 6px;
	width: 80px;
	float: left !important;
}
.contact-form dl dt label {
	font-size:13px;
	font-weight:normal;
	color:#4d4d4d;
}
.contact-form dl dd {
	float: left !important;
	margin: 0 0 10px;
	width: 391px;
}
span.input-field {
	display:block;
}
span.input-field input {
	background: none repeat scroll 0 0 #D5ECFD;
	border: 1px solid #C4CFD8;
	color: #000 !important;
	font-size: 13px;
	font-weight: normal;
	padding: 5px !important;
	width: 97%;
}
span.textarea-field {
	display:block;
}
span.textarea-field textarea {
	padding: 5px !important;
	width: 97%;
	background:#d5ecfd;
	border:1px solid #c4cfd8;
	font-size:13px;
	font-weight:normal;
	color:#000 !important;
}
.button-block {
	margin:0px;
	overflow:hidden;
	float:left;
}
.contact button.button {
	width:139px;
	height:32px;
	/*background: url(../images/blue_button.gif) no-repeat 0px 0px;*/
	border:0px;
}
dd.send-check input {
	width:auto;
	float:left;
	padding:0;
}
dd.send-check label {
	width:auto;
	float:left;
	padding:0 0 0 5px;
}
span.input-field input.invalid, span.textarea-field textarea.invalid {
	border:1px solid #e1001a;
}
label.invalid {
	color:#FF0000 !important;
}
/*CSS: For IM_artikel page */

/*Submenu */
ul.menu-submenu {
	list-style:none;
}
ul.menu-submenu li {
	padding:0 0 0 14px !important;
	font-size:12px;
	margin:0 0 4px 0;
	background:none !important;
}
ul.menu-submenu li a {
	text-decoration:none;
	color:#1a1a1a;
}

ul.menu-submenu li a:hover {
color: #D4145A;	
}

ul.menu-submenu li ul {
	margin:3px 0 0 15px;
	list-style:none;
}
ul.menu-submenu li ul li {
	/*background: url(../images/grey_dot.gif) no-repeat 0 6px !important;*/
	padding:0 0 0 9px;
	margin:0 0 5px 0;
}
ul.menu-submenu li ul li {
	font-size:11px;
	font-weight:normal;
}
ul.menu-submenu li ul li a {
	color:#6e6d6d;
}
ul.menu-submenu li.active, ul.menu-submenu li.current  {
	font-weight:bold;
}
/*Footer*/

.moduletable-copyright {
	width: auto;
	float: left;
	margin-right: 10px;
}
.moduletable-footermenu {
	padding-top:2px;
}
.moduletable-footermenu ul.menu {
	list-style: none;
	text-align:center;
}
.moduletable-footermenu ul.menu li {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10px;
	/*background: url(../images/bg-footer-sep.gif) no-repeat left 2px;*/
	display:inline;
}
.moduletable-footermenu ul.menu li:first-child {
	background:none;
	padding-left:0px;
}
.moduletable-footermenu ul.menu li a {
	text-decoration: none;
}
/* Blog Content */
.subheading-category {
	color:#009ddf;
	margin:0 0 5px 0;
	font-size: 30px;
}
.blog .category-desc {
	margin:0 0 17px 0;
	padding:0;
}
.blog .items-row {
	padding:18px 0 0 0;
	/*background: url(../images/row-sep.gif) no-repeat 0 0;*/
}
.blog .items-row .item {
	padding:0 0 10px 0;
}
.blog .items-row .item h2 {
	padding:0;
	margin:0 0 5px 0;
	font-size:15px;
	color:#d4145a;
	margin:0 0 5px 0;
	text-decoration:none;
	padding:0;
}
.blog .items-row .item h2 a {
	font-size:14px;
	font-weight:normal;
	color:#d4145a;
	text-decoration:none;
	padding:0;
}
.blog .items-row .item p {
	font-weight:normal;
	margin:0 0 10px 0;
}
.blog .items-more h3 {
	padding:5px 0;
	color:#000;
}
.blog .items-more ol {
	margin: 0;
	padding:0px;
	list-style: none;
}
.blog .items-more ol li {
	padding-left: 12px;
	line-height: 22px;
	/*background:url(../images/bg-bullet.gif) no-repeat left 9px;*/
	margin:0px;
}
.blog .items-more ol li a {
	color: #4D4D4D;
	text-decoration: none;
}
/*Quick links*/
ul.menu-link {
	list-style: none;
	padding:5px 10px 0 0 !important;
}
ul.menu-link li {
	margin-bottom: 2px !important;
	padding-left: 17px !important;
	/*background: url(../images/blue_dot.gif) no-repeat left 8px;*/
}
ul.menu-link li a {
	font-size: 12px !important;
}
.item-page-fullwidth h2 {
	font-size:30px;
	/*line-height:20px;*/
	padding-bottom:0px;
}
/*CSS: for slider */
.flexslider .slides li .article-img {
	/*background: url(../images/bg-sliderimage.png) no-repeat left top;*/
	float: right;
	height: 288px;
	margin-top:0px;
	padding: 20px;
	width: 487px;
}
.slider-info-wrapper {
	float: left;
	height: 186px;
	overflow: hidden;
	padding: 30px 35px 10px 55px;
	text-align: left;
	width: 309px;
}
.slider-info {
	width: 333px;
	height:146px;
	overflow:hidden;
	clear:both;
	margin:0 0 10px 0;
}
.slider-info p {
	font-size:12px;
	margin:12px 0px;
}
.slider-button-wrapper {
	width: 333px;
	overflow:hidden;
	clear:both;
}
.grey-button {
	width:auto;
	padding:2px 0px 0px;
	margin:0px;
	float:left;
	height:34px;
}
.grey-button a {
	padding:0 0 0 11px;
	margin:0px;
	height:34px;
	display:block;
	/*background:url(../images/grey_leftbtm.gif) no-repeat left top;*/
	text-decoration:none;
}
.grey-button a span {
	/*background:url(../images/grey_rightbtm.gif) no-repeat right top;*/
	padding:7px 11px 0 0;
	margin:0px;
	display:block;
	height:27px;
	font-weight:normal;
	font-size:13px;
	color:#333333;
}
.blue-button {
	width:auto;
	padding:0;
	margin:0px;
	float:left;
	height:34px;
}
.blue-button a {
	padding:0 0 0 14px;
	margin:0px;
	height:34px;
	display:block;
	/*background:url(../images/blue_leftbtm.gif) no-repeat left top;*/
	text-decoration:none;
}
.blue-button a span {
	/*background:url(../images/blue_rightbtm.gif) no-repeat right top;*/
	padding:9px 16px 0 0;
	margin:0px;
	display:block;
	height:27px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
}
/*CSS For Event Category Page */
.events-wrapper {
	overflow:hidden;
	clear:both;
	padding-bottom: 20px;
}
.events-wrapper .category-block {
	overflow:hidden;
	clear:both;
}
.events-wrapper .category-block h2 {
	font-size:18px;
	font-weight:bold;
	color:#009ddf;
	margin:0 0 5px 0;
}
.events-wrapper .category-block .category-desc {
	margin:0 0 17px 0;
	padding:0;
}
.events-wrapper .category-block .events-row {
	overflow:hidden;
}
.events-wrapper .category-block .events-row h3 a, .col2-right-layout #col-main .events-row h3 a {
	color: #D4145A;
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 5px;
	padding: 0;
	text-decoration: none;
}
.events-wrapper .category-block .events-row a.readmore {
	padding-left:0 !important;
}
ul.event-info {
	list-style:none;
	margin:0 0 10px 0;
}
ul.event-info li {
	clear:both;
	font-size:13px;
	font-weight:normal;
}
.events-wrapper .month-block {
}
.events-wrapper .month-block h2 {
	font-size:12px;
	color:#ffffff;
	background:#666;
	padding:0 12px 0 16px;
	display:inline;
	line-height:18px;
	margin:0 0 10px 0;
	text-transform: uppercase;
}
.events-wrapper .month-block .event-block {
	padding:0 8px 11px 8px;
	margin:0 22px 12px 8px;
	overflow:hidden;
	border-bottom:1px dotted #808080;
	clear:both;
}
.events-wrapper .month-block .event-block strong {
	font-size:12px;
	/*color:#1a1a1a;*/
}
.events-wrapper .month-block .event-block span {
	font-size:12px;
	font-weight:normal;
	color:#4d4d4d;
}
.events-wrapper .month-block .event-block a {
	font-size:11px;
	font-weight:normal;
	color:#009ddf;
}


.events-wrapper .month-block .event-block a:hover {
	color:#D4145A;
}

.events-wrapper a.read-more {
	margin:0px 0 10px 16px;
	font-size:12px;
}
.event-details-wrapper h2 {
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
}
/*CSS: certificate page*/
.certification h3 {
	font-size:20px;
	font-weight:bold;
}
.certification legend {
	font-size:13px;
	font-weight:normal;
	padding:10px 0;
	clear:both;
}
.certification fieldset {
	padding:0;
}
.certification dl {
	clear:both;
	overflow:hidden;
}
.certification dl dt {
	width:110px;
	margin:0 0 5px 0;
}
.certification dl dt label {
	font-size:13px;
	font-weight:normal;
	color:#4d4d4d;
}
.certification dl dd {
	width: 363px;
	margin:0 0 5px 0;
}
.certification dt {
	clear: left;
	float: left;
	padding: 3px 0;
	width: 12em;
}
.certification dd {
	float: left;
	padding: 3px 0;
}
.certification-input-field input {
	background: none repeat scroll 0 0 #D5ECFD;
	border: 1px solid #C4CFD8;
	color: #000;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	padding: 0 10px;
	width: 341px;
}
.certification .date {
	float: left;
	width:45px;
}
.date-error {
	padding-left:45px;
	margin-top: -10px;
}
.certification .date-picker {
	height:23px;
	display: block;
	margin-bottom: 10px;
}
.certification .date-picker input {
	background:#D5ECFD;
	border: 1px solid #C4CFD8;
	color: #000;
	font-size: 13px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	width: 120px;
	float:left;
}
.certification .date-picker img {
	margin-left:9px;
	border:0px;
	float:left;
}
.certification dl dd.certification-info {
	width: 287px;
	margin-top: 7px;
}
.certification dl dd.certification-info span {
	font-size:12px;
	font-style:italic;
}
span.certification-info {
	font-size:12px;
	font-style:italic;
        display: block;
        margin: 5px 0 0 11em;
}
span.certification-hide {
	display:none;
}
.certification-error {
	color:#F00;
	font-size:11px;
	font-style:italic;
	clear:both;
	display:block;
}
.certification-select {
}
.certification dl dt.generate-certificate {
	width: 148px;
	float: left;
}
.generate-certificate input {
	/*background: url(../images/generate-certificate.jpg) no-repeat 0 0;*/
	border:none;
	width:138px;
	height:30px;
	color: #fff;
	font-size:11px;
	font-weight: bold;
	padding-bottom: 2px;
	cursor: pointer;
}
/* certification */
.certification-select {
	width:300px;
}
.certification-select .selector, .certification-select .selector span {
	/*background-image: url(../images/sprite-aristo-certificate.png);*/
	background-repeat: no-repeat;
}
.certification-select .selector {
	margin-left:-3px;
	width: 356px;
	height: 25px;
}
.certification-select .selector select {
	width: 97%;
}
.certification-select .selector span {
	width: 333px;
}
#student_key, #first_name, #last_name {
}
.group-one {
	margin-top: 45px;
}
.group-two {
	margin-top: 25px;
}
.group-three {
	margin-top: 28px;
}
.group-four dd {
	margin: 0;
	padding: 0;
}
.group-four dd p {
	margin: 0;
}
/*CSS: Login form, registration form ============================================*/

#login-form ul, .login-form-info ul, #login-form-toplink ul{
	list-style: none;
	margin-left: 2px;
}
.login .login-fields label, #user-registration label, #member-registration label, .profile-edit label {
	color: #4D4D4D;
	font-size: 13px;
	font-weight: normal;
}
.registration input, .profile-edit input {
	border: 1px solid #C4CFD8;
	color: #999999;
	font-size: 13px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	border-radius: 0;
	background:#D5ECFD !important;
}
.login .login-fields input {
	background:#D5ECFD;
	border: 1px solid #C4CFD8;
	color: #000 !important;
	font-size: 13px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	border-radius: 0;
	width: 150px;
}
#form-login-username .inputbox, #form-login-password .inputbox {
	background:#D5ECFD;
	border: 1px solid #C4CFD8;
	color: #000;
	font-size: 13px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	padding:0px 5px;
	border-radius: 0;
}
.login button, #user-registration button, #member-registration button, .logout button, .profile-edit button {
	width: 77px !important;
	height: 31px !important;
	padding: 0px 0 0px 0 !important;
	color: #fff !important;
	text-align: center !important;
	border: 0 !important;
	/*background: url(../images/submit-button.jpg) no-repeat 0 0 !important;*/
	line-height:31px !important;
}
#login-form input.button, #login-form-toplink input.button{
	margin:0px !important;
	width: 77px !important;
	height: 31px !important;
	padding: 0px 0 0px 0 !important;
	color: #fff !important;
	text-align: center !important;
	border: 0 !important;
	/*background: url(../images/submit-button.jpg) no-repeat 0 0 !important;*/
	line-height:31px !important;
}
.generate-certificate .button {
	height: 31px;
	padding: 0 5px !important;
	color: #fff;
	text-align: center;
	border: 0;
	/*background: url(../images/generate-certificate-left.jpg) no-repeat left top;*/
	white-space: nowrap;
}
.generate-certificate {
	height: 31px;
	padding: 0 !important;
	color: #fff;
	text-align: center;
	border: 0;
	width: auto !important;
	/*background: url(../images/generate-certificate-right.jpg) no-repeat right top;*/
}
.registration form#member-registration dl {
	padding: 0;
	margin: 0;
	clear: both;
}
#login-form #form-login-username label, #login-form #form-login-password label {
	width: 6.6em;
}
#form-login-remember {
	display:block;
	clear:both;
	overflow:hidden;
}
#form-login-remember label {
	float:left
}
#form-login-remember input.inputbox {
	height: auto;
	outline:none;
	float:left;
}
.edit-profile-buttons button {
	float: left;
}
.certification ul li {
	list-style: none;
	width:480px;
	clear:both;
	padding: 10px 0px;
	height:25px;
}
.certification .certification-left, .certification .certification-right {
	float:left;
}
.certification .certification-left {
	width:170px;
}
.certification ul li span.error {
	color:red;
}
span.hide {
	display:none;
}
.download-certificate-section {
	overflow:hidden;
}
.download-certificate-section h3 {
	font-size:20px;
}
ul.pdfcertificate-list {
	margin: 10px 0 0 0;
	padding: 0;
}
.pdfcertificate-title {
	padding:10px 0px;
}
ul.pdfcertificate-list li {
	width: 100%;
	height: auto;
	padding: 5px 0;
	margin: 0;
	line-height:25px;
}
ul.pdfcertificate-list li.pdfcertificate-head {
	font-weight: bold;
}
ul.pdfcertificate-list li.download-certificate {
	/*background: url(../images/pdf-certificate.gif) 0 3px no-repeat;*/
}
ul.pdfcertificate-list li.download-certificate a {
	font-size:12px;
	color:#333333;
	text-decoration:none;
}
ul.pdfcertificate-list li.download-certificate a:hover {
	text-decoration:underline;
}
.reqd-info {
	width: 415px;
	padding-bottom: 10px;
	text-align: right;
	color: #CC0000;
}
/*CSS : eventcrlist_detail form =====================================================*/
.custom-dropdown {
	padding:0px;
	margin:0px;
	height:24px;
	margin-left:-5px;
}
.admintable {
	padding:0px;
}
.admintable td {
	padding:0px 1px 0px 0px;
}
.admintable td label {
	font-size:13px;
	font-weight:normal;
	color:#4d4d4d;
	width:110px;
	display:block;
	line-height: 24px;
	white-space:nowrap;
	padding-right:10px;
	text-align:left;
	margin:5px 0px 5px 0px;
	vertical-align:top;
}
.admintable td input {
	background:#d5ecfd;
	height:22px !important;
	padding:0 10px;
	border:1px solid #c4cfd8;
	font-size:13px;
	font-weight:normal;
	line-height:20px;
	width:175px;
	margin:5px 0px 5px 0px;
}
#mainphoto {
	width:16px;
	height:16px;
	margin-left:30px;
}
.admintable span.hasTip {
	position: relative;
	top: 6px;
}
.event-browse-wrapper {
	height:30px;
	width:500px;
}
.event-browse-wrapper input {
	width:auto !important;
}
.event-browse-wrapper-img {
	float: left;
	margin-top: 28px;
}
.event-browse-wrapper input, .event-browse-wrapper-img input {
	float: left;
	margin-right: 10px;
	width: auto !important;
}
.event-browse-wrapper span, .event-browse-wrapper-img span {
	float: left;
	margin: 9px 4px;
}
.event-browse-wrapper #mainphoto, .event-browse-wrapper-img #mainphoto {
	float: left;
	background: none !important;
	border: 0 !important;
	padding: 4px 0;
}
#extra_table .modal {
	float: left;
	margin-right: 10px;
	width: auto;
}
#extra_table div {
}
a.modal img {
	width:50px !important;
	height:50px !important;
	border:1px solid #CCC;
	margin:10px 0px;
}
#extra_name {
	margin-top: -10px;
}
.comment-submit-blue-btn .button {
	white-space: nowrap !important;
}
.event-blue-btn {
	/*background: url("../images/generate-certificate-right.jpg") no-repeat scroll right top transparent;*/
	border: 0 none;
	color: #FFFFFF;
	height: 31px;
	padding: 0 !important;
	text-align: center;
	width: auto !important;
	float:left;
}
.refresh_cap_div {
	width:121px;
	height:60px;
}
.event-blue-btn .button {
	/*background: url("../images/generate-certificate-left.jpg") no-repeat scroll left top transparent;*/
	border: 0 none;
	color: #FFFFFF;
	height: 31px;
	padding: 0 12px !important;
	text-align: center;
	white-space: nowrap;
	font-weight:bold;
	margin:0 !important;
}
.event-gray-btn {
	/*background: url("../images/grey_leftbtm.gif") no-repeat scroll left top transparent;*/
	border: 0 none;
	color: #FFFFFF;
	height: 31px;
	padding: 0 !important;
	text-align: center;
	width: auto !important;
	float:left;
}
.event-gray-btn .button {
	/*background:url("../images/grey_rightbtm.gif") no-repeat scroll right top transparent;*/
	border: 0 none;
	color: #333333;
	height: 31px;
	padding: 0 12px !important;
	text-align: center;
	white-space: nowrap;
	font-weight:bold;
}
.adminform .calendar {
	margin-left:7px;
}
#colorpickerField1, #colorpickerField2 {
	width:175px !important;
}
.event-add-button {
	/*background:url("../images/event-add-button.png") no-repeat scroll 16px 3px transparent !important;*/
	padding:0px !important;
	margin:0px !important;
	border:0px !important;
	border:none !important;
	width:38px !important;
	height:16px;
	cursor:pointer;
}
.event-delete-button {
	/*background: url("../images/event-delete-button.gif") no-repeat scroll 3px 4px transparent !important;*/
	border: medium none !important;
	cursor: pointer !important;
	display: block;
	height: 16px !important;
	margin: 5px 0 0 10px !important;
	padding: 0 0 0 19px !important;
	width: 40px !important;
	color:#F00 !important;
}
/* Event List */
.event-list-wrapper {
}
.event-list {
}
ul.event-list {
}
ul.event-list li {
}
.event-content {
	padding-bottom: 10px;
}
.public-event-image {
	width: 76px;
	padding-right: 10px;
}
ul.event-details {
}
ul.event-details li {
}
/* icon sets */
.icon-archives h3, .icon-categories h3 {
	background:transparent;
}
div.icon-cart h4 {
	/*background: #D4145A url(../images/cart-icon.gif) no-repeat 12px 2px;*/
	background: transparent;
	font-size: 17px;
	color: #D4145A;
	line-height: 22px;
	margin: 0 0 7px;
	text-align: left;
}
.icon-faq h3 {
	background: transparent;
	color: #D4145A;
}
div.icon-products h4 {
	/*background: #D4145A url(../images/clip-icon.gif) no-repeat 12px 2px;*/
	color: #ffffff;
	font-size: 15px;
	line-height: 22px;
	margin: 0 0 7px;
	padding: 0 0 0 35px;
	text-align: left;
}
/*Jump menu module*/
.imi-jump-menu-list {
	border: 0 !important;
}
.imi-jump-menu-title {
	float: left !important;
	line-height: 25px !important;
	color: #1A1A1A !important;
	font-weight: bold !important;
	font-size: 12px !important;
}
.imi-jump-menu-list .selector {
	width:auto !important;
}
.imi-jump-menu-list .selector span {
	width: 74px !important;
}
.imi-jump-menu-list .selector select {
	width: 102px !important;
}

/*store-currency module*/

.store-currency {
	border: 0 !important;
}
.store-currency .currency-label {
	float: left !important;
	line-height: 20px !important;
	color: #1A1A1A !important;
	font-weight: bold !important;
	font-size: 12px !important;
}
.store-currency .selector {
}
.store-currency .selector span {
	width: 74px !important;
}
.store-currency .selector select {
	width: 102px !important;
}


.blog-normal-style #ezblog-latestpost .ezmts ul li {
	/*background: url(../images/blue_dot.gif) no-repeat 1px 7px !important;*/
    margin: 0 0 6px !important;
    padding: 0 0 0 10px !important;
	border: 0;
}

/*Fixing Chrome by hacking FF*/

@-moz-document url-prefix() {
                       .moduletable-m-loginout #login-form-toplink input.button{
                       margin: -1px 0px 0px 0px !important
                    }
                    }

@-moz-document url-prefix() {
.breadcrumb-magento-menu-wrapper {
	/*background: url("../images/brd-img.jpg") no-repeat 100% -11px !important;*/
}
}



/* Announcement*/

.custom-announcement { width:950px; padding:0 25px 12px; margin:0 auto;}
.custom-announcement p { padding:0px; margin:0px;}
.custom-announcement p a { border:0px;}
.custom-announcement img { width: 950px;}

.custom-popper p { padding:0px; margin:0px;}
.custom-popper p a { border:0px;}
.magento-topmenu .moduletable-j-loginout span{ float: left;}
.moduletable-j-loginout #login-form-toplink input.button {
	background: none !important;
	border: 0 none !important;
	color: #ff0000 !important;
	font-weight:normal !important;
	height:18px !important;
	width: auto !important;
	margin: -1px 0px 0px 4px !important;
	padding: 0px!important;
	line-height: 18px !important;
}
.moduletable-j-loginout #login-form-toplink{ padding: 0 !important;}
.moduletable-j-loginout #login-form-toplink .login-button {
	color: #D4145A !important;
	text-decoration: none;
}
.magento-topmenu #menumagento {margin: 0;}

div.impform fieldset {  
float: left;    
clear: both;    
width: 100%;    
margin: 0 0 20px 0;    
padding: 0;    
border: 1px solid #cccccc;
background:#eeeeee;
}  

div.impform fieldset.submit {  
float: none;    
width: auto;    
border-style: none;
padding-top:10px;
background: none;
}

div.impform fieldset.submit button {  
    background:#009edf;
    color: #ffffff;
    border: 1px solid #333333;
    padding: 3px 10px;
}

div.impform textarea {  
    padding:5px !important;
    width:195px;
}

div.impform input.input-text {  
    width:195px;
}

div.impform fieldset.submit span {
display:block;
float:left;
width:110px;
margin-right:20px;
padding-top:5px;
}

div.impform fieldset.submit input,fieldset.exam input {
background:#009edf;
color:#ffffff;
border:1px solid #333333;
padding:3px 10px;
}

div.impform fieldset.submit input.feedback {
margin-left:50px;
}

div.impform fieldset.submit input.send {
margin-left:90px;
}
div.impform legend {  
margin-left: 1em;   
background:#ffffff;
color:#009edf;
border:1px solid #cccccc;
padding:5px 10px !important;
font-weight:bold;
}  
div.impform fieldset ol {  
padding: 1em 1em 0 1em;  
list-style: none;  
}  
div.impform fieldset p {  
padding: 0em 1em 0 1em;  
} 
div.impform fieldset li {  
float: left;    
clear: left;    
width: 100%;    
margin: 0 0 1em 0;    
padding: 0;     
}  
div.impform label {    
display: block;  
float: left;    
width: 10em;    
margin-right: 1em;   
font-weight: normal;
}
#jform_training_company {
width: 207px;
}

.mod-preview-info {
display: none;	
}

.mod-preview-wrapper {
	background: transparent;
	border:none;
}