/* Global Declaration */

.selector, .selector span, .checker span, .radio span, .uploader, .uploader span.action {
	background-image: url(../images/sprite-aristo.png);
	background-repeat: no-repeat;
}
.selector, .radio, .checker, .uploader, .selector *, .radio *, .checker *, .uploader * {
	margin: 0;
	padding: 0;
}
/* SPRITES */

/* Select */

.selector {
	background-position: -483px -160px;
	line-height: 32px;
	height: 32px;
	overflow:hidden;
}
.selector span {
	background-position: right 0px;
	height: 32px;
	line-height: 24px;
	font-size:12px;
}
.selector select {
	/* change these to adjust positioning of select element */
  top: 0px;
	left: 0px;
}
.selector:active, .selector.active {
	background-position: -483px -192px;
}
.selector:active span, .selector.active span {
	background-position: right -32px;
}
.selector.focus, .selector.hover, .selector:hover {
	background-position: -483px -224px;
}
.selector.focus span, .selector.hover span, .selector:hover span {
	background-position: right -64px;
}
.selector.focus:active, .selector.focus.active, .selector:hover:active, .selector.active:hover {
	background-position: -483px -256px;
}
.selector.focus:active span, .selector:hover:active span, .selector.active:hover span, .selector.focus.active span {
	background-position: right -96px;
}
.selector.disabled, .selector.disabled:active, .selector.disabled.active {
	background-position: -483px -288px;
}
.selector.disabled span, .selector.disabled:active span, .selector.disabled.active span {
	background-position: right -128px;
}
/* PRESENTATION */

/* Select */
.selector {
	margin-bottom: 0px;
	width: 195px;
	font-weight: bold;
	color: #464545;
	font-size: 14px;
}
.selector select {
	width: 195px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	border: solid 1px #fff;
}
.selector span {
	padding: 0px 25px 0px 2px;
}
.selector span {
	color: #000;
	width: 170px;
	text-align:left;
}
.selector.disabled span {
	color: #bbb;
}
/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.selector select:focus, .radio input:focus, .checker input:focus, uploader input:focus {
	outline: 0;
}
/* Select */

 .selector {
	position: relative;
	padding-left: 10px;
}
.selector span {
	display: block;
	float: left;
}
.selector select {
	position: absolute;
	opacity: 0;
	top:4px;
	left:6px;
}
/* left-panel partner-wrapper */

.left-panel .partner-wrapper .selector, .left-lleft-panel .partner-wrapper .selector, .lleft-panel .partner-wrapper .selector {
	margin-left:-3px;
	width: 164px;
}
.left-panel .partner-wrapper .selector span, .left-lleft-panel .partner-wrapper .selector span, .lleft-panel .partner-wrapper .selector span {
	width: 140px;
}
/* right-panel partner-wrapper */

.right-panel .partner-wrapper .selector {
	margin-left:-3px;
	width: 197px;
}
.right-panel .partner-wrapper .selector span {
	width: 174px;
}
/* language module - custom drop */

.mod-languages .selector {
	margin-left:-3px;
	width: 100px;
	font-weight:normal !important;
}
.mod-languages .selector span {
	width: 80px;
}
.mod-languages .inputbox {
	font-size: 12px !important;
	padding: 3px;
	width: 100px !important;
}
.mod-languages .selector select {
	left: 6px;
	top: -2px !important;
}
.mod-languages .selector, .mod-languages .selector span {
	background-image: url("../images/sprite-aristo-language.png");
	background-repeat: no-repeat;
}
