/**
 * @package         NoNumber Framework
 * @version         16.4.304
 * 
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2016 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

div.nn_multiselect {
	margin-bottom: 0;
	ul.nn_multiselect-ul {
		margin:     0;
		padding:    0;
		margin-top: 8px;
		li {
			margin:     0;
			padding:    2px 10px 2px;
			list-style: none;
		}
		span.nn_multiselect-toggle {
			line-height: 18px;
		}
		label {
			font-size:   1em;
			margin-left: 8px;
			&.nav-header {
				padding: 0;
			}
		}
		input {
			margin: 2px 0 0 8px;
		}
		.nn_multiselect-menu {
			margin: 0 6px;
		}
		ul.dropdown-menu {
			margin: 0;
			li {
				padding: 0 5px;
				border:  none;
			}
		}
	}
}

