#fader ul {
    list-style-type: none !important;
    margin: 2px 0 0 !important;
    padding: 0 0 0 8px !important;
}
#testimonial ul li{
padding:0!important;
margin:0!important;
background:none!important;
list-style-type:none!important;
}
