<!--@subject {{var store.getFrontendName()}}: Your subscription renewal is coming up @-->
<!--@vars
{
"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()":"Store Name",
"var subscription":"The subscription"
}
@-->
<body>
<style type="text/css">
  body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
  <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
    <tr>
      <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="10" border="0" width="650"
               style="
                background-color: #009edf;
        ">
          <tr>
            <td valign="top" style="padding: 30px">
              <p><a href="{{store url=''}}"><img src="{{var logo_url}}" alt="IMI"  style="margin-bottom:10px;" border="0"/></a></p>
              <p style=" color: #ffffff; font-size: 24px; line-height: normal;">
                Your {{var product.getName()}} subscription
                {{if can_auto_renew}}
                will automatically renew on {{var subscription_end_date}}.
                {{else}}
                will expire on {{var subscription_end_date}}.
                {{/if}}</p>
            </td>
          </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="10" border="0" width="650">
          <tr>
            <td valign="top" style="padding: 30px">

              <p style="font-weight: 600;">
                Hello {{var firstname}},  {{if can_auto_renew}} you're all set!  <br>
              </p>
              <p>
                We will use your current payment method and your renewal charges will appear on your next bill.
                <br>
                <br>
                Thanks for subscribing, we hope to continue serving you.
                <br>
              </p>
                {{else}}
                <p>
                    <a href="{{var subscription_url}}" >Renew today to avoid any interruption to your product privileges.</a>

                </p>
                {{/if}}
              <p style="margin-left: 45px;font-weight: bold;">
                Subscription information:<br>
                Product name: <span style="font-weight: normal">{{var product.getName()}}</span>  <br>
                Order number: <span style="font-weight: normal">{{var ordernumber}}</span>  <br>
                Order date: <span style="font-weight: normal">{{var orderdate}}</span><br>
                Payment method: <span style="font-weight: normal">{{var primary_card_number}}</span><br>
                  {{if has_license_key}}
                License key:   <span style="font-weight: normal">{{var license_key}}</span><br>
                  {{/if}}

              </p>
            </td>
          </tr>
          <tr  style="background-color: #009edf;">
            <td style="padding: 30px">
              <p style="color: white; font-weight: bold;">Helpfull resources
                <br>
              </p>
              <p style="line-height: 1.1em">
                <a href="{{var my_account_url}}" style="color: white;">Manage your Account</a> <br>
                <a href="{{var all_subscriptions_url}}" style="color: white;">Manage your subscriptions</a> <br>
                <a href="{{var edit_card_url}}" style="color: white;">Update your credit card information</a> <br>
                <a href="http://support.informationmapping.com/hc/en-us" style="color: white;">Get help and support</a>
              </p>
            </td>
          </tr>
          <tr>
            <td style="padding: 30px">
              <p style="color: gray;font-size: 10px;">
                The Information Mapping Team<br/>
              </p>
              <p>
                <a href="mailto:info@informationmapping.com" style="text-decoration: none;color: gray;font-size: 10px;">Unsubscribe</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

</body>


