<!--@subject {{var store.getFrontendName()}}: Your subscription could not be renewed @-->
<!--@vars
{
"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()":"Store Name",
"var subscription":"The subscription"
}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body>
<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="IMI"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    
					<p>
                        We have tried to auto-renew your subscription for <strong>{{htmlescape var=$subscription.name}}</strong> using your primary credit card, but this was unsuccessful.
                    </p>
                    
                    <p>
                    	Please log in on our website and 
                    	<a href="{{store url="subscriptions/subscription/"}}" style="color:#1E7EC8;">
                    		renew your subscription with a different card.
                    	</a>
                   </p>

                    <p>Our apologies for the inconvenience.</p>

              
	<p>
	The Information Mapping Team<br/>
	</p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>

</body>