div.header.icon-48-mijosql {
	background-image: url(../images/icon-48-mijosql.png);
}

.icon-48-mijosql {
	background-image: url(../images/icon-48-mijosql.png);
}

.icon-32-run { background-image: url(../images/icon-32-run.png); }
.icon-32-add { background-image: url(../images/icon-32-add.png); }
.icon-32-savequery { background-image: url(../images/icon-32-savequery.png); }
.icon-32-csv { background-image: url(../images/icon-32-csv.png); }