
@media (min-width: 481px) {

body {
	line-height:1.7em;
}

#header {
	height:78px;
	padding-top:12px;
}

h1 {
	font-family: 'Tauri',sans-serif;
	font-weight: normal;
	color: #009ddf;
	margin: 20px 0 20px 0;
	font-size: 30px;
	border-bottom:1px solid #dddddd;
	padding-bottom:10px;
}

h2 {
	font-family: 'Tauri',sans-serif;
	font-weight: normal;
	color: #333333;
	margin: 18 0 20px 0;
	font-size: 20px;
}

h3 {
	font-family: 'Tauri',sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.span3 {
	text-align:center;
}


.well .product-info-box {
	border:1px solid #f5f5f5;
}
.extra {
     padding: 19px;
}

.product-info-box {
	border:1px solid #dddddd;
	border-radius:4px;
}

.input-imi {
	width:30px;
}

#image img {
	border:5px solid #ffffff;
	-webkit-box-shadow: 2px 0px 15px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 0px 15px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 0px 15px rgba(50, 50, 50, 0.75);
}

.startprice {
	font-size:12px;
    margin-top:10px;
}
.newprice {
        color:#D4145A;
        font-weight:bold;
        font-size:26px;
        margin-top:10px;
}
#mostpopular {
	padding-top:0px;
}

.popular {
	font-size:20px;
	color:#009edf;
	font-family: 'Tauri',sans-serif;
}
.radio {
       width: 50%;
       margin: 0px auto 0px auto
}



.btn-info {
	background:#009edf;
	text-shadow:none;
}

.btn-info:hover {
	background-color: #009edf;
}
	

#content {
	padding-bottom:30px;
}

#content li {
	line-height:1.7em;
}

form {
	margin-bottom:15px;
	margin-top:15px;
}

a {
	color:#009edf;
	text-decoration:none;
}

a:hover {
	color:#333333;
	text-decoration:none;
}

#footer {
	margin-top:30px;
	padding-top:20px;
	border-top:1px solid #dddddd;
	font-size:85%;
	color:#666666;
}

p.help {
	color:#666666;
	padding-top:10px;
	font-style:italic;
}

}

@media (max-width: 480px) {

body {
	line-height:1.7em;
}

#header {
	height:78px;
	padding-top:12px;
}

h1 {
	font-family: 'Tauri',sans-serif;
	font-weight: normal;
	color: #009ddf;
	margin: 20px 0 20px 0;
	font-size: 30px;
	border-bottom:1px solid #dddddd;
	padding-bottom:10px;
}

h2 {
	font-family: 'Tauri',sans-serif;
	font-weight: normal;
	color: #333333;
	margin: 18 0 20px 0;
	font-size: 20px;
}

h3 {
	font-family: 'Tauri',sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.span3 {
	text-align:center;
	margin-bottom:20px;
}

#mostpopular {
	padding-left:5px;
}

.well .product-info-box {
	border:none;
}

.product-info-box {
	border:1px solid #dddddd;
	border-radius:4px;
}

.input-imi {
	width:1px;
}

#image img {
	border:5px solid #ffffff;
	-webkit-box-shadow: 2px 0px 15px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 0px 15px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 0px 15px rgba(50, 50, 50, 0.75);
}

.newprice {
	color:#D4145A;
	font-weight:bold;
	font-size:26px;
	margin-top:30px;
}

#mostpopular {
	padding-top:0px;
}

.popular {
	font-size:20px;
	color:#009edf;
	font-family: 'Tauri',sans-serif;
}

.btn-info {
	background:#009edf;
	text-shadow:none;
}

.btn-info:hover {
	background-color: #009edf;
}
	

#content {
	padding-bottom:30px;
}

#content li {
	line-height:1.7em;
}

form {
	margin-bottom:15px;
	margin-top:15px;
}

a {
	color:#009edf;
	text-decoration:none;
}

a:hover {
	color:#333333;
	text-decoration:none;
}

#footer {
	margin-top:30px;
	padding-top:20px;
	border-top:1px solid #dddddd;
	font-size:85%;
	color:#666666;
}

p.help {
	color:#666666;
	padding-top:10px;
	font-style:italic;
}
	

}