<?php
$order = $this->getOrder();
?>
<?php if(Mage::helper('elearning')->orderContainsElearning($order)): ?>
<h3 style="border-bottom:2px solid #eee; font-size:17px; padding-bottom:1px;font-family: Arial, Verdana, sans-serif;">Get Access Now</h3>
<p>
    <a href="<?php echo Mage::helper('elearning')->getEnrollmentUrl($order) ?>">
        <?php echo $this->__('Specify who should get access to the e-learning course(s) or download(s)'); ?>
    </a> 
</p>
<?php endif; ?>
