<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
@-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Dear {{htmlescape var=$customer.name}}</strong>,
                                <br>
                                <br>
                                <br>
                                Welcome to {{var store.getFrontendName()}}. We have received your order and prepared an account for you.</p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
                                To log in to your account please proceed as follows:
                                <br>
                                <br/>1. <a href="{{var create_password_url }}">Choose a password</a> for {{var customer.email}}
                                <br>2. Go to <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">My Account</a>

                            </p>

                            <p>When you log in to your account, you will be able to do the following:</p>
                            <ul>
                                <li>Proceed through checkout faster when making a purchase</li>
                                <li>Manage your subscriptions</li>
                                <li>Manage your payment methods</li>
                                <li> Check the status of orders</li>
                                <li> Make changes to your account information</li>
                            </ul>

                            <p>If you have any questions about your account or any other matter, please feel free to contact us at <a href="mailto:help@informationmapping.com" style="color:#1E7EC8;">help@informationmapping.com</a> </p>
                            <p>Kind regards</p>
                            <p>The Information Mapping team</p>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>