<?php
if(Mage::getSingleton('customer/session')->isLoggedIn()) {
        
    $customer = Mage::getSingleton('customer/session')->getCustomer();
    
    if(Mage::getStoreConfig('storerestriction/restrict/active') == 1){
        $stores                 = explode(',', Mage::getStoreConfig('storerestriction/restrict/stores'));                      
        $current_store          = Mage::app()->getStore()->getGroupId(); 
        $customer_groups = explode(',', Mage::getStoreConfig('storerestriction/restrict/customers'));         
        if(!in_array($customer->getGroupId(), $customer_groups) && in_array($current_store, $stores)){
            Mage::getSingleton('customer/session')->logout();            
            Mage::getSingleton('core/session')->addError(Mage::getStoreConfig('storerestriction/restrict/message')); 			
            #Mage::app()->getResponse()->setRedirect(Mage::helper('adminhtml')->getUrl("customer/account/login"));   
            /*echo "<script type=\"text/javascript\">window.location='".Mage::getUrl("customer/account/login")."';</script>";   
            exit;*/   
            header("Status: 301");
            header('Location: ' . Mage::getUrl("customer/account/login")) ;  // send to the login page
            exit;         
        } 
    }    
    
    if($customer->getPartner() > 0){  
       #Mage::getSingleton('customer/session')->setBeforeAuthUrl($lastURL); 
       #echo "<script type=\"text/javascript\">window.location='".Mage::getUrl("customer/account/edit")."';</script>";
    }else{        
        Mage::getSingleton('core/session')->addError('In order to proceed, you must select your Information Mapping Partner.');            
        #Mage::app()->getResponse()->setRedirect(Mage::getUrl("customer/account/edit"));
        /*echo "<script type=\"text/javascript\">window.location='".Mage::getUrl("customer/account/edit")."';</script>";  
        exit;   */
        header("Status: 301");
        header('Location: ' . Mage::getUrl("customer/account/edit")) ;  // send to the login page
        exit;      
    }          
}else{    
    //if not logged in then redirect the customer to the login page
    //check for stores if that is of partner store than restrict the access for only logged in users
    if(Mage::getStoreConfig('storerestriction/restrict/active') == 1){       
        $stores                 = explode(',', Mage::getStoreConfig('storerestriction/restrict/stores'));                      
        $current_store          = Mage::app()->getStore()->getGroupId();   		
         
        if(in_array($current_store, $stores)){                        
			Mage::getSingleton('core/session')->addError(Mage::getStoreConfig('storerestriction/restrict/message'));             			
			#Mage::app()->getResponse()->setRedirect(Mage::helper('adminhtml')->getUrl("customer/account/login")); 			
            #echo "<script type=\"text/javascript\">window.location='".Mage::getUrl("customer/account/login")."';</script>";  
            
            ##Dirty Hack##
            $lastURL = $this->helper('core/url')->getCurrentUrl();
            if(strpos($lastURL, '/cms/index/noRoute/') === false){                
                if(strpos($lastURL, '/customer/account/logoutSuccess/') === false){
                    Mage::getSingleton('customer/session')->setBeforeAuthUrl($lastURL);
                }
            }	
			
            header("Status: 301");
            header('Location: ' . Mage::getUrl("customer/account/login")) ;  // send to the login page*/
            exit;       
        }  
    }
}
?>