<?php
/* @var $this Itoffshore_Licensemanager_Block_Adminhtml_License_Pool */
?>

<div class="content-header">
<table cellspacing="0">
    <tr>
        <td style="width:50%;"><h3 class="icon-head head-livechat"><?php echo Mage::helper('licensemanager')->__('License Keys') ?></h3></td>
        <td class="a-right">
            <?php echo $this->getAddNewButtonHtml() ?>

            <button onclick="setLocation('<?=$this->getUrl('*/*/new')?>');" class="scalable save" type="button" title="Add License Keys"><span><span><span><?=$this->escapeHtml($this->__('Add License Keys'))?></span></span></span></button>

        </td>
    </tr>
</table>
</div>
<div>
    <?php echo $this->getGridHtml(); ?>
</div>