<?php
/**checkout */
?>
<?php if ($this->isPossibleOnepageCheckout()):?>
<li>
<?php if ($this->isDisabled()):?>
	<img src="<?php echo $this->getSkinUrl('images/btn_proceed_to_checkout_dis.gif');?>" alt="<?php echo Mage::helper('checkout')->__('Proceed to Checkout');?>" />
<?php else: ?>
	<div class="checkoutcart">
		<!--banner-blue-button <span class="left"></span>
		<span class="btnlink"><a href="<?php /*echo $this->getCheckoutUrl()?>"><?php echo Mage::helper('checkout')->__('Proceed to Checkout'); */?></a></span>
		<span class="right"></span>-->
        <a class="btn btn-blue" href="<?php echo $this->getCheckoutUrl()?>" role="button"><?php echo Mage::helper('checkout')->__('Proceed to Checkout');?></a>
	</div>

<?php endif?>
</li>
<?php endif?>
