body { 
padding: 0px; 
margin:0px 0px 20px 0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10pt;
text-align:center;
color:#333333;
background:#ffffff;
}

/* general */

#wrapper {
margin:0px auto;
width:960px;
text-align:left;
position:relative;
}

a {
color:#009edf;
text-decoration:none;
}

a img {
border:none;
}

#header {
height:119px;
text-align:left;
position:relative;
}

#logo {
height:85px;
width:500px;
}

#welcome {
position:absolute;
top:10px;
right:10px;
text-align:right;
}

#nav {

height:34px;
background:url(images/bg_nav.jpg) top left no-repeat;
}

h1 {
color: #666666;
font-size:16pt;
font-variant:small-caps;
}

/* errors */

span.error {
	color:#ff0000;
	margin-left:150px;
	font-weight:bold;
}

input.error, select.error {
	border:1px solid #ff0000;
}

/* login */

#new {
width:400px;
margin-right:50px;
margin-left:50px;
float:left;
height:200px;
}

h2 {
color:#009edf;
font-size:16pt;
border-bottom:1px solid #cccccc;
}

#existing {
width:400px;
margin-right:50px;
float:left;
height:200px;
}

fieldset {  
float: left;    
clear: both;    
width: 100%;    
margin: 0 0 20px 0;    
padding: 0;    
border: 1px solid #cccccc;
background:#eeeeee;
}  

fieldset.submit {  
float: none;    
width: auto;    
border-style: none;    
padding-left: 410px;
padding-top:10px;
background:none;
}

fieldset.exam {  
float: none;    
width: auto;    
border-style: none;    
padding-left: 485px;
padding-top:0px;
background:none;
}

fieldset.submit span {
display:block;
float:left;
width:110px;
margin-right:20px;
padding-top:5px;
}

fieldset.submit input,fieldset.exam input {
background:#009edf;
color:#ffffff;
border:1px solid #333333;
padding:3px 10px;
}

fieldset.submit input.feedback {
margin-left:50px;
}

fieldset.submit input.send {
margin-left:90px;
}


legend {  
margin-left: 1em;   
background:#ffffff;
color:#009edf;
border:1px solid #cccccc;
padding:5px 10px;
font-weight:bold;
}  

legend a {  
color:#009edf;
}  

fieldset ol {  
padding: 1em 1em 0 1em;  
list-style: none;  
}  

fieldset p {  
padding: 0em 1em 0 1em;  
} 

fieldset li {  
float: left;    
clear: left;    
width: 100%;    
margin: 0 0 1em 0;    
padding: 0;     
}  

label {    
display: block;  
float: left;    
width: 10em;    
margin-right: 1em;   
}

p.error {
color:#cc0000;
font-weight:bold;
border:1px dotted #cc0000;
padding:10px 60px;
background:#FAEBE7 url(images/error.gif)center left no-repeat;
}

/* admin */

#adminok {
margin-top:15px;
background:#EFF5EA url(images/success.gif) center left no-repeat;
border:1px solid #95A486;
padding:10px 50px;
color:#3D6611;
text-align:left;
}

#adminok_detail {
margin-bottom:15px;
background:#EFF5EA url(images/success.gif) center left no-repeat;
border:1px solid #95A486;
padding:10px 50px;
color:#3D6611;
text-align:left;
}

#adminnok {
margin-top:15px;
margin-bottom:15px;
text-align:left;
color:#cc0000;
border:1px dotted #cc0000;
padding:10px 60px;
background:#FAEBE7 url(images/error.gif) center left no-repeat;
}

#admin {
text-align:left;
}

table.imcc {
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
	margin-bottom:15px;
}

table.imcc table {
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
}

table.imcc td, table.imcc th {
	padding:5px 5px;
	vertical-align:top;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
}

table.imcc th {
	background:#009EDF;
	color:#ffffff;
}

table.imcc th.detail {
	background:#DCEDF4;
	color:#666666;
}

td.small {
	color:#666666;
	font-size:9pt;
}



/* alternate table rows */
.odd{background: #eeeeee;}
table.report th.filter{background:#DCEDF4;}

/* nav */

#nav ul {
	margin:0px 0px 0px 20px;
	padding:0px;
	color:#7F868D;
}

#nav ul li {
	margin:0px;
	padding:0px;
	float:left;
	display:inline;
	list-style:none;
	padding-top:8px;
}

#nav ul li a {
	color:#7F868D;
	text-decoration:none;
}

#nav ul li a.currentnav {
	color:#0089C6;
	text-decoration:none;
}

#nav ul li a:hover {
	color:#0089C6;
}

/* buttons */

p.buttons {
text-align:right;
}

p.buttons a {
border:1px solid #5E8435;
border-top:1px solid #D5E4C9;
border-left:1px solid #D5E4C9;
padding:5px 10px 5px 30px;
color:#5E8435;
text-decoration:none;
}

p.buttons a.add {
background:#EFF5EA url(images/add.png) center left no-repeat;
}

p.buttons a.print {
background:#EFF5EA url(images/print.png) center left no-repeat;
}

p.buttons a.back {
background:#EFF5EA url(images/back.png) center left no-repeat;
}

/* Progress */

#content {
	margin-right:400px;
}

#progress {
	position:absolute;
	right:0px;
	top:158px;
	width:300px;
}

#progress table {
	border-top:1px solid #cccccc;
	border-left:1px solid #cccccc;
}

#progress table th {
	background:#009edf;
	color:#ffffff;
	padding:5px 10px;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	vertical-align:top;
	text-align:center;
}

#progress table td {
	padding:5px 10px;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	vertical-align:top;
}

/* feedback */

p.border {
	border:1px solid #cccccc;
	padding:20px;
}

p.add {
	text-align:right;
	font-weight:bold;
}

p.add a {
	padding-left:20px;
	background:url(images/plus.png) center left no-repeat;
	height:16px;
}