#CalendarControlIFrame {

  display: none;

  left: 0px;

  position: absolute;

  top: 0px;

  height: 250px;

  width: 250px;

  z-index: 99;

}



#CalendarControl {

  position:absolute;

  background-color:#FFF;

  margin:0;

  padding:0;

  display:none;

  z-index: 100;
  

}



#CalendarControl table {

  font-family: arial, verdana, helvetica, sans-serif;

  font-size: 8pt;

  border-left: 1px solid #336;

  border-right: 1px solid #336;

}



#CalendarControl th {

  font-weight: normal;

}



#CalendarControl th a {

  font-weight: normal;

  text-decoration: none;

  color: #FFF;

  padding: 1px;

}



#CalendarControl td {

  text-align: center;

}



#CalendarControl .header {

  background-color: #333;

}



#CalendarControl .weekday {

  background-color: #DDD;

  color: #000;

}



#CalendarControl .weekend {

  background-color: #DDD;

  color: red;



}



#CalendarControl .current {

  border: 1px solid #339;

  background-color: #333;

  color: #FFF;

}



#CalendarControl .weekday,

#CalendarControl .weekend,

#CalendarControl .current {

  display: block;

  text-decoration: none;

  border: 1px solid #FFF;

  width: 2em;

}



#CalendarControl .weekday:hover,

#CalendarControl .weekend:hover,

#CalendarControl .current:hover {

  color: #FFF;

  background-color: #333;

  border: 1px solid #999;

}



#CalendarControl .previous {

  text-align: left;

}



#CalendarControl .next {

  text-align: right;

}



#CalendarControl .previous,

#CalendarControl .next {

  padding: 1px 3px 1px 3px;

  font-size: 1.4em;

}



#CalendarControl .previous a,

#CalendarControl .next a {

  color: #FFF;

  text-decoration: none;

  font-weight: bold;

}



#CalendarControl .title {

  text-align: center;

  font-weight: bold;

  color: #FFF;

}

#CalendarControl .empty {

  background-color: #CCC;

  border: 1px solid #FFF;

}
div.ui-datepicker{
 font-size:10px;
}

.ui-state-default 
{
	font-size:8pt;
}
.ui-state-default   
{
	font-size:8pt;	 
}
 
a.ui-state-default:hover
{
	font-size:8pt;	 
}


