
body{ margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; color:#858585; font-size:14px; line-height:19px; background:#fff;}

/************************************************
* Grid related Class *
************************************************/
h1{ margin:0px; padding:0 0 0px 0; line-height:19px; font-weight:bold; font-size:26px; color:#fff;}
h2{color: #FFFFFF; font-size: 26px; font-weight: normal !important; line-height: 19px; margin: 0; padding: 0; height:58px; line-height:25px;}


img{ border:0 none; outline:none;}
input {border: #adabab 1px solid; padding:4px; border:#adabab solid 1px; background:#fff; font-family:Arial; font-size:13px; color:#777b82; outline:none;} /* default class for the textboxes for whole project */
textarea {border:#adabab solid 1px; padding:4px;  background:#fff; font-family:Arial; font-size:13px; color:#777b82; outline:none; } /* default class for the textarea for whole project */
select {border: #adabab 1px solid; padding:4px; font-size: 11px; background: #ffffff repeat-x; font-size:13px; color:#777b82;outline:none; } /* default class for the list menu/dropdown(like to select countries or state) for whole project */
.inputbutton {cursor: pointer; color: #fff; text-align:center; background: url(images/butbg.gif) repeat-x; border:1px solid #2a95bf; font-size:12px; font-weight:bold;  padding:2px;} /* to make custom type of inputbutton for whole project */

.mandatory{color:990000; font-weight:bold; font-size:11px;} /* to display mandatory things in the form, like "*"  */
.label{color:#999999; font-weight:bold; text-align:left;} /* to give the class for fields label  */
.dottedline{background:url(images/dotted.gif) repeat-x top; height:9px;  } /* for dotted lines */
.border{border:1px solid #97b7dc; padding:2px;} /* common class to use border in the whole project */
.nobg { background:none; border:none;} /* to give remove the background color or border of CHECKBOX and RADIO BUTTON */
.sfont{font-size:10px; color:#ccc; font-style:italic;} /* for small grey font like to write comments near textfield in the grid */
.altbg{background-color:#f1f7fe; font-size:11px; border-top:1px solid #b8d6f9; vertical-align:top;} /* for grid's alternate raw */
.nrlbg{background-color:#fff; font-size:11px; vertical-align:top; border-top:1px solid #b8d6f9;} /* for grid's normal raw */
.gridheaderbg{background:url(images/gridheaderbg.gif) repeat-x; height:28px; color:#fff; vertical-align:top; line-height:normal;} /* for the image or background color of grid's header */

.clear{ clear:both;}
.margin-right{ margin-right:0px!important;}
.border-none{ border-bottom:none !important;}
.background-none{ background:none !important;}

/*****************************************
 * Wrapper *
/****************************************/
.wrapper{ width:100%;}
.main{ margin:0 auto; padding:0px; width:100%;}

/*****************************************
 * Header *
/****************************************/
.otherhedr-colum{float:left; width:962px; height:136px;}
.title-contact{ margin:0px; padding:19px 0 0 0; line-height:19px; font-weight:normal !important; font-size:26px; color:#fff; float:left; line-height:26px;}
.main-header{ width:100%; background:url(../../images/header-img.png) repeat-x; min-width:1000px;}
.header_2{ margin:0 auto; width:962px; height:193px; padding:0 19px 0 19px; }
.header{ margin:0 auto; width:962px; height:146px; padding:0 19px 0 19px;}
.logo{ float:left; padding:19px 0 0 2px;}
.logo img{ border:0 none;}
.header-right{ float:right; padding-top:22px; width:693px;}
.header-right .social-colum{ float:right; height:27px;}
.header-right .social-colum img{ border:0 none; margin-right:7px; height:27px;}

.nav{ float:right; padding-top:29px; width:681px;}
.nav ul{ margin:0px; padding:0px; list-style:none; float: right;}
.nav li.sat-demo{float:left; margin-right:5px;}
.nav li.sat-demo a{ float:left; text-align:center; padding:8px 10px 10px 10px; text-decoration:none; font-family:Arial; font-size:14px; color:#fff;  float:left; background:url(../../images/border-btm.jpg) repeat-x bottom; border:#0f99d7 solid 1px; outline:none;}
.nav li.sat-demo a:hover{border:#28b0ed solid 1px;}
.nav li.sat-demo a.active{border:#28b0ed solid 1px;}

.nav li.info-wht{float:left; margin-right:5px;}
.nav li.info-wht a{  float:left; text-align:center; padding:8px 10px 10px 10px; text-decoration:none; font-family:Arial; font-size:14px; color:#fff;  float:left; background:url(../../images/info-borderbtm.jpg) repeat-x bottom; border:#0f99d7 solid 1px; outline:none;}
.nav li.info-wht a:hover{border:#28b0ed solid 1px;}
.nav li.info-wht a.active{border:#28b0ed solid 1px;}

.nav li.did-you{float:left; margin-right:5px;}
.nav li.did-you a{ float:left; text-align:center; padding:8px 10px 10px 10px; text-decoration:none; font-family:Arial; font-size:14px; color:#fff; float:left; background:url(../../images/did-borderbtm.jpg) repeat-x bottom; border:#0f99d7 solid 1px; outline:none;}
.nav li.did-you a:hover{border:#28b0ed solid 1px;}
.nav li.did-you a.active{border:#28b0ed solid 1px;}

.nav li.find-us{float:left; margin-right:5px;}
.nav li.find-us a{  float:left; text-align:center; padding:8px 10px 10px 10px; text-decoration:none; font-family:Arial; font-size:14px; color:#fff; float:left; background:url(../../images/find-us.jpg) repeat-x bottom; border:#0f99d7 solid 1px; outline:none;}
.nav li.find-us a:hover{border:#28b0ed solid 1px;}
.nav li.find-us a.active{border:#28b0ed solid 1px;}

.nav li.contact{float:left;}
.nav li.contact a{ float:left; text-align:center; padding:8px 10px 10px 10px; text-decoration:none; font-family:Arial; font-size:14px; color:#fff;  float:left; background:url(../../images/contact-borderbtm.jpg) repeat-x bottom; border:#0f99d7 solid 1px; outline:none;}
.nav li.contact a:hover{border:#28b0ed solid 1px;}
.nav li.contact a.active{border:#28b0ed solid 1px;}

/*****************************************
 *Homepage Containt *
/****************************************/
.containt{width:100%; background:url(../../images/ftr-bg.png) repeat-x #fff center 440px; min-width:1000px;}
.containt-iner{ margin:0 auto;  width:962px; padding:0 19px 0 19px; background:url(../../images/home-containtbg.jpg) no-repeat center top; height:594px;}
.containt-row{ margin:0 auto; width:565px; padding-top:105px;}
.containt-row h1{ margin:0px; padding:0 0 14px 0; line-height:19px; font-weight:bold; font-size:24px; color:#00abea; background:url(../../images/title-borderbtm.png) repeat-x bottom;}
.containt-row p{ margin:0px; padding: 13px 0 0 0; font-size:16px; color:#858585; font-family:Arial;}

.choose-document{ float:left; width:565px; padding-top:117px;}
.choose-document h2{ margin:0px; padding:0 0 25px 0; font-size:24px; color:#00aeef;}
.document-file{ float:left; width:565px;}
.document-file img{ border:none; margin-right:6px;}

/*****************************************
 *Inner page Containt * Did you
/****************************************/

.innerpage-containt{ width:100%; background:#fff;}
.innerpage-containt .innerpage-inner2{ margin:0 auto; padding-left:9px; padding-top:10px; width:991px; background:url(../../images/containt-bg.png) no-repeat 1025px 152px; height:594px; background-attachment:fixed; overflow-y:scroll; overflow-x:hidden;}
.didu-colum{ float:left; padding-top:25px; padding-bottom:34px; width:976px; background:url(../../images/did-btmborder.png) repeat-x bottom;}
.left-colum{ float:left; width:288px; font-weight:bold; color:#9f242a; font-size:20px; font-family:Arial;}
.right-colum{ float:left; width:688px; font-size:17px; color:#858585; font-family:Arial; line-height:20px;}

/*****************************************
 *Inner page Containt * Information what?
/****************************************/
.info-colum{ float:left; padding-top:25px; padding-bottom:34px; width:976px; background:url(../../images/did-btmborder.png) repeat-x bottom;}
.left-info{ float:left; width:288px; font-weight:bold; color:#7b9541; font-size:20px; font-family:Arial;}
.right-info{ float:left; width:688px; font-size:17px; color:#858585; font-family:Arial; line-height:20px;}
.right-info ul{ margin:0px; padding:21px 0 0 0; list-style:none;}
.right-info li{ background:url(../../images/grn-piint.png) no-repeat left 6px; padding-left:20px; margin-left:1px; padding-bottom:4px;  font-size:17px; color:#858585; font-family:Arial;}
.right-info li a{ text-decoration:none; font-size:17px; color:#858585; font-family:Arial;}
.right-info li a:hover{ color:#7b9541;}
.right-info li ul{ margin:0px; padding:15px 0 0 0; list-style:none;}
.right-info li ul li{background:url(../../images/gry-point.png) no-repeat left 6px; padding-left:20px; margin-left:1px; padding-bottom:4px;  font-size:17px; color:#858585; font-family:Arial;}
.right-info li ul li a{ text-decoration:none; font-size:17px; color:#858585; font-family:Arial;}
.right-info li ul li a:hover{ color:#7b9541;}

/*****************************************
 *Inner page Containt * contact us
/****************************************/
.contact-mainheader{ background:url(../../images/header-img2.png) repeat-x #fff!important; height:193px; min-width:1000px;}
.contact-containt{ margin:0 auto; width:991px; padding:9px 0 0 9px; position:relative; height:594px; overflow-y:auto; overflow-x:hidden;}
.contact-containt h2{ margin:0px; padding:0 0 0 9px; font-weight:normal !important; color:#878787; font-size:20px; font-family:Arial;}
.contact-colum{ margin:0 auto; padding:95px 0 0 0; width:734px;}
.contact-lef{ float:left; width:398px; float:left;}
.contact-row{ float:left; width:398px; padding-bottom:16px;}
.contact-txt{ color:#777b82; font-size:14px; font-family:Arial; padding-right:22px; width:75px; float:left; padding-top:4px; text-align:right;}
.contact-input{ float:right; width:301px;}
.contact-input input{ width:297px; border:#adabab solid 1px; background:#fff; font-family:Arial; font-size:13px; color:#777b82; padding:4px; width:291px; outline:none;}
.contact-input select {border: #adabab 1px solid; padding:4px; font-size: 11px; background: #ffffff repeat-x; font-size:13px; color:#777b82; width:301px; outline:none;}
.contact-input p{ margin:0px; padding:0px; font-size:14px; color:#535353;}
.chkbox{ float:left; width:87px; padding-right:10px; text-align:right; padding-top:3px;}
.input-btn{ float:left; padding-top:15px;}
.input-btn input{ border:0 none; background:url(../../images/submit-btn.png) no-repeat center top; width:122px; height:27px; cursor:pointer; outline:none;}

.contact-right{ float:right; width:249px;}
.contact-right h3{ margin:0px; padding:0 0 3px 0; font-size:16px; color:#25aeea; font-weight:normal; border-bottom:#4ab8e9 solid 1px;}
.contact-right p{ margin:0px; padding:6px 0 16px 0; font-size:14px; font-family:Arial; color:#585858;}
.contact-right p a{ text-decoration:none; color:#585858; font-size:14px; font-family:Arial;}
.contact-right p a:hover{ text-decoration:underline; color:#25aeea;}

/*****************************************
 *Inner page Containt * Find Us
/****************************************/
.find-header{ width:100%; background:url(../../images/map-header.png) repeat-x!important; min-width:1000px; height:193px;}
.mapping-containt{ margin:0 auto; width:1000px; position:relative; padding:9px 0 0 0; height:594px; overflow-y:auto; overflow-x:hidden;}
.mapping-containt .title-contact{ margin:0px; padding:0 0 0px 0; line-height:19px; font-weight:normal !important; font-size:26px; color:#fff; position:absolute; top:-37px; left:18px;}
.mapping-containt h2{ margin:0px; padding:0 0 0 18px; font-weight:normal !important; color:#878787; font-size:20px; font-family:Arial;}
.mapping-containt .map-colum{ float:left; width:1000px; padding-top:25px;}
.mapping-containt .map-colum{ border:0 none;}

/*****************************************
 *Inner page Containt * Other page
/****************************************/
.saving-header{ width:100%; background:url(../../images/saving-header.png) repeat-x!important; min-width:1000px; height:193px;}
.saving-containt{ margin:0 auto; padding:30px 20px 0 20px; width:960px; position:relative; height:564px; overflow-y:auto; overflow-x:hidden;}
.saving-containt .title-contact{ margin:0px; padding:0 0 0px 0; line-height:19px; font-weight:normal !important; font-size:26px; color:#fff; position:absolute; top:-37px; left:18px; }
.saving-colum{ float:left; width:960px;}
.first-tab{width:940px; background:#ed008c; padding:10px 0 11px 20px; background:#ed008c; font-family:Arial; font-size:26px; color:#fff; position:relative;}
.first-tab .note-icon{ float:right; position:absolute; width:28px; height:28px; right:10px; top:6px;}
.first-tab .note-colum{ float:right; width:356px; position:absolute; right:10px; top:6px;}
.first-tab .note-colum .note-topcur{ float:left; width:314px; height:27px; padding:8px 40px 0 0; background:url(../../images/note-topcur.png) no-repeat center top; font-size:17px; color:#ed008c; font-family:Arial; position:relative; text-align:right;}
.first-tab .note-colum .note-topcur img{ float:right; right:5px; top:3px; border:0 none; position:absolute;}
.first-tab .note-colum .note-midlecur{ float:left; width:338px;  background:url(../../images/note-midlecur.png) repeat-y; padding:10px 10px 0px 10px;}
.first-tab .note-colum .note-midlecur p{ margin:0px; padding:0px; font-family:Arial; font-size:13px; color:#858585;}
.first-tab .note-colum .note-bottomcur{ float:left; width:364px; margin-left:-6px; height:19px; background:url(../../images/note-bottomcur.png) no-repeat center bottom;}



.first-tab .note-icon img{ border:0 none;}
.firsttab-containt{ float:left; width:940px; min-height:138px; padding:19px 0 0 20px; color:#878787; font-size:16px;}
.firsttab-containt p{ margin:0px; padding-bottom:10px; color:#878787; font-size:20px; font-family:Arial;}
.firsttab-containt span{ font-size:24px; color:#ed008c;}

.recalculate-colum{ margin:0 auto; padding:19px 0 0 0; width:670px;}
.calculate-row{ float:left; width:670px; padding-bottom:15px;}
.calculate-left{ float:left; width:540px;}
.calculate-left p{ margin:0px; padding:0 0 4px 0; color:#858585; font-size:18px; font-family:Arial;}
.calculate-left img{ border:0 none;}
.calculate-right{ float:right; width:77px; height:21px; background:url(../../images/calculate-input.png) no-repeat center top; margin-top:23px;}
.calculate-right input{ border:0 none; background:none; margin-top:1px; margin-left:1px; width:65px; padding:0 5px 0 6px; color:#000000; font-size:14px; font-family:Arial;}
.find-btn{ float:right; width:810px; padding-top:50px;}
.find-btn .demo-btn{ float:left; width:252px; height:30px; background:url(../../images/find-btn.jpg) repeat-x; margin-right:27px;}
.find-btn .demo-btn input{ border:0 none; background:none; width:252px; text-align:center; padding:4px 0 3px 0!important; font-size:16px; color:#26ace2; text-shadow:1px -1px #000; font-family:Arial; cursor:pointer; outline:none;}
.find-btn .learn-btn{ float:left; width:252px; height:30px; background:url(../../../images/lern-more.jpg) repeat-x; margin-right:20px;}
.find-btn .learn-btn input{ border:0 none; background:none; width:252px; text-align:center; padding:4px 0 3px 0 !important; font-size:16px; color:#fff; text-shadow:1px -1px #87a1ab; font-family:Arial; cursor:pointer; outline:none;}






