body{ padding:0px; margin:0px; background:#f3f8fc;color: #414141; }

div{ font-size: 12px;  font-family:Arial, Helvetica, sans-serif;}
table{font-size: 12px;  font-family:Arial, Helvetica, sans-serif; text-align:left; line-height:1.6em;}

.clear{ padding:0px; margin:0px; clear:both;}

h1{ padding:5px 0px 5px 0px; margin:0px 0px 15px 0px; color:#393939; font-size:20px; border-bottom:#dfdfdf solid 1px;}
/************************************************
* Header - for header section*
************************************************/

.header { padding:20px 15px 0px 15px; background:#f3f8fc; border-bottom:#d3e2ee solid 5px; height:70px;} 
.htitle{ border-left:#c3d7e7 solid 1px; padding:0px 0px 0px 15px; color:#5d85a5; font-size:20px;}
.logo{ padding:3px 15px 3px 0px;}

.userlogin{ color:#4e4e4e; font-size:13px; text-align:right; float:right; margin-top:35px;}
.userlogin span{ color:#878787; font-size:12px;}

.userlogin a{ color:#016bbf; font-size:13px; text-decoration:none;}
.userlogin a:hover{ color:#016bbf; font-size:13px; text-decoration:underline;}

.ipad{ padding:0px 7px 0px 0px;}

.headleft{ float:left;}

.link_title{color:#016BBF;font-size:13px;text-decoration:none;}


/************************************************
* Header Navigation *
************************************************/


/************************************************
* Left Sidebar *
************************************************/

.leftside{ padding:0px; border:#b5d1e7 solid 1px; background:#0390c6; width:228px;}


.arrowlistmenu{
width: 100%; /*width of accordion menu*/
text-align:left;
}

.arrowlistmenu .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/
color:#FFF; font-size:13px; font-weight:bold;
cursor: hand; padding:0px 0px 6px 0px; margin:0px 0px 0px 0px;
cursor: pointer; border-bottom:#FFF solid 1px;
background-image:url(../../images/right.png);
background-repeat:no-repeat;
background-position:97% 50%;
}
.arrowlistmenu .menuheader2{ /*CSS class for menu headers in general (expanding or not!)*/
color:#FFF; font-size:13px; font-weight:bold;
cursor: hand; padding:0px 0px 6px 0px; margin:0px 0px 0px 0px;
cursor: pointer; border-bottom:#FFF solid 1px;
}

.textpad{padding-left:8px; padding-top:5px;}

.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/
color:#FFF; font-size:13px; font-weight:bold; padding:0px 0px 6px 0px; margin:0px 0px 0px 0px;
background-image:url(../../images/down.png);
background-repeat:no-repeat;
background-position:97% 50%;

}
.greenlabel{
color:#009900;
text-align:center;
font-weight:bold;
}

.testsite_header{width: 230px;height: 25px;padding: 5px 0 0 8px; border-bottom:1px solid #FFFFFF;}
.testsite_header .test_link{width: 230px;height: 25px;font-weight: bold;  color: #FFFFFF;cursor: pointer;text-decoration: none;}


.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin:0px;
padding:0px 0px 0px 0px;
}

.arrowlistmenu li{

padding:7px 0px 7px 12px; margin:0px 12px 0px 12px; border-bottom:#d1e2ef solid 1px;
background:url(../../images/bul.gif) no-repeat 0px 14px;

/*bottom spacing between menu items*/
}

.arrowlistmenu  li a{
text-decoration: none;
font-weight: bold; color:#292929; font-size:12px;

}

.arrowlistmenu li a:visited{
color: #0390c6;  text-decoration:none;
}

.arrowlistmenu  li a:hover{ /*hover state CSS*/
color: #0390c6;text-decoration:none;
}
.accordbg {padding:0px 0px 0px 0px; background:#FFF;}

/************************************************
* Right Sidebar *
************************************************/

.rightside{ padding:0px 18px 0px 18px;}

/************************************************
* Content *
************************************************/
.middlearea{ padding:8px 0px 10px 0px; margin:0px; background:#FFF; }
/************************************************
* Footer*
************************************************/

.footer {background:#f3f8fc; padding:5px 10px 0px 10px; height:55px; border-top:#d9eaf4 solid 5px;  color:#646464; font-size:12px;}

/************************************************
* Form area*
************************************************/
/************************************************
* Grid related Class *
************************************************/
.nobg{background:transparent none repeat scroll 0 0;border:medium none;}

.input{ width:300px;}
input {border: #d3dce5 1px solid; padding:5px; color: #333333; background: url(../../admin/textboxbg.gif) #ffffff repeat-x; color: #333333; font-size:12px;} /* default class for the textboxes for whole project */

textarea {border: #d3dce5 1px solid; padding:5px; font-size: 12px; background: url(../../admin/textboxbg.gif) #ffffff repeat-x; color: #333333; font-family:Arial, Helvetica, sans-serif; } /* default class for the textarea for whole project */

select {border: #d3dce5 1px solid; padding:5px; font-size: 12px; background: url(../../admin/textboxbg.gif) #ffffff repeat-x; color: #333333; } /* default class for the list menu/dropdown(like to select countries or state) for whole project */

.inputbutton {cursor: pointer; color: #fff; text-align:center; background: #007fb2; border:1px solid #2a95bf; font-size:13px; font-weight:bold;  padding: 0px 0px 0px 0px; border:1px solid #08749b;} /* to make custom type of inputbutton for whole project */
.mandatory{color:990000; font-weight:bold; font-size:11px;} /* to display mandatory things in the form, like "*"  */

.gridheaderbg{background:url(../../admin/gridheaderbg.gif) repeat-x; height:28px; color:#fff; vertical-align:top; line-height:normal;} /* for the image or background color of grid's header */

.subbut{ padding:4px 6px 4px 6px; margin:0px; overflow:visible; color:#FFF; background:#0993c7; font-size:13px; font-weight:bold; border:none;cursor: pointer; color: #fff; text-align:center;}
/*.label{ text-align:right; padding:0px 5px 0px 0px; width:90px;}*/
.label{ text-align:left; padding:0px 5px 0px 0px;}
.boldlabel{ text-align:left; padding:0px 5px 0px 0px;font-weight:bold;color:#414141;}
.boldlabel1{ padding:0px 5px 0px 0px;font-weight:bold;color:#414141;}
.redlabel{ text-align:left; padding:0px 5px 0px 0px;color:red;font-weight:bold;}
.redlabel1{ text-align:center;padding:0px 5px 0px 0px;color:red;font-weight:bold;}
/*.bluelabel{ text-align:left; padding:0px 5px 0px 0px;color:#000099;font-weight:bold;}*/
.bluelabel{ text-align:left; padding:0px 5px 0px 0px;color:#5D85A5;font-weight:bold;}
.subhead{color:#000099;font-family:Verdana,Helvetica,Arial,sans-serif;font-size:12px;font-weight:bold;}


.textarea1{ width:300px; height:45px;}
/*.sbut{ text-align:right; padding:8px 4px 8px 0px;}*/
.sbut{ text-align:left; padding:8px 4px 8px 0px;}

 .tab_block {
border:1px solid #D3DCE5;
/*padding:15px;*/
}


.gridarea{ padding:0px; margin:0px; border:#e3e5e6 solid 1px; border-bottom:none; border-right:none;}
/*.gridarea tr th{ background:#0993c7; text-align:left; padding:6px 0px 6px 10px; border-bottom:#eaebec solid 1px;  font-weight:bold;color:#ffffff; border-right:#e3e5e6 solid 1px;}*/
.gridarea tr.title th{ background:#0993c7; text-align:left; padding:6px 5px 6px 5px; border-bottom:#eaebec solid 1px;  font-weight:bold;color:#ffffff; border-right:#0993c7 solid 1px;}
.gridarea tr th{ background:#666666; text-align:left; padding:6px 5px 6px 5px; border-bottom:#eaebec solid 1px;  font-weight:bold;color:#ffffff; border-right:#e3e5e6 solid 1px;}
.gridarea tr.altbg td{ background:#FFF;  padding:4px 5px 3px 5px; border-bottom:#e3e5e6 solid 1px; border-right:#e3e5e6 solid 1px;}
.gridarea tr.nrlbg td{ background:#f1f1f1; padding:4px 5px 3px 5px; border-bottom:#e3e5e6 solid 1px; border-right:#e3e5e6 solid 1px;}


.gridarea tr.altbg td a{ color:#242424; text-decoration:none; font-weight:normal;}
.gridarea tr.altbg td a:hover{ color:#000000; text-decoration:underline;}

.gridarea tr.nrlbg td a{ color:#242424; text-decoration:none; font-weight:normal;}
.gridarea tr.nrlbg td a:hover{ color:#000000; text-decoration:underline;}

.gridarea tr.gridheader-bl{ background:#0993c7; height:23px; color:#ffffff; font-weight:bold; padding:0px 0px 0px 0x;}

.tablebgcolor{
    background:#F3F8FC;
}
.hrbgcolor{
    color:#C3D7E7;
}

/* 23-02-11 */
.tdcolor2{
	font-size: 12px; padding: 2px 5px 2px 4px;
	background: #F3F8FC;
}
.tdcolor{
	 font-size: 12px;
    padding: 2px 5px 2px 4px;
		background: #F3F8FC;
}
/************************************************
* paging *
************************************************/
.manu {padding:12px 15px 12px 15px;font-weight: bold; }
.manu A {
	BORDER-RIGHT: #d5d5d5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #d5d5d5 1px solid; COLOR: #5c5c5c; PADDING-TOP: 2px; BORDER-BOTTOM: #d5d5d5 1px solid; TEXT-DECORATION: none
}
.manu A:hover {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
.manu A:active {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
.manu .current {
	BORDER-RIGHT: #5c5c5c 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #5c5c5c 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #5c5c5c 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #5c5c5c 1px solid; BACKGROUND-COLOR: #5c5c5c
}
.manu .disabled {
	BORDER-RIGHT: #d5d5d5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #d5d5d5 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #d5d5d5 1px solid
}
.manu input{border:1px solid #D5D5D5;color:#5C5C5C;margin:2px;padding:2px 5px;display: inline;}


.manu u{padding: 0px; margin: 0px; list-style-type: none;background-color:##000000; }
.manu ul li{margin: 5px;}
.manu td {vertical-align: top;}
 

/* for sorting link */
th a
{
	color: #FFFFFF;
	text-decoration: none;
}
th a:hover
{
	color: #FFFFFF;
	text-decoration: none;
}

/* for resume_agents */
.resume_search
{
	text-decoration: underline;
	color: #000000;
}
.resume_search:hover
{
	text-decoration: none;
	color: #4169E1;
}
.cursor{
	cursor: pointer;
}
.dropwidth {
    width: 200px;
}
