
body{ margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; color:#858585; font-size:14px; line-height:19px; background:#ffffff;}

@font-face {
    font-family: 'DS-Digital-Bold';
    src: url('../../font/ds-digib.eot');
    src: url('../../font/ds-digib.eot?#iefix') format('embedded-opentype'),
         url('../../font/ds-digib.woff') format('woff'),
         url('../../font/ds-digib.ttf') format('truetype'),
         url('../font/ds-digib.svg#daxbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*****************************************
 * General *
/****************************************/
img{ border:0 none; outline:none;}
.clear{ clear:both; padding:0px; margin:0px;}
a {outline:none;}

h1{ margin:0px; padding:0 0 0px 0; line-height:19px; font-weight:bold; font-size:26px; color:#fff;}
h2{color: #FFFFFF; font-size: 26px; font-weight: normal !important; line-height: 19px; margin: 0; padding: 0;  line-height:25px;}

/*****************************************
 * Wrapper *
/****************************************/
.wrapper{ width:100%;}
.main{ margin:0 auto; padding:0px; width:100%;}

/*****************************************
 * Header *
/****************************************/
.otherhedr-colum{float:left; width:962px; height:136px;}
.title-contact{ margin:0px; padding:19px 0 0 0; line-height:19px; font-weight:normal !important; font-size:26px; color:#fff; float:left; line-height:26px; width:962px;}
.main-header{ width:100%; background:url(../../images/header-img.png) repeat-x; min-width:1000px;}
.header_2{ margin:0 auto; width:962px; height:193px; padding:0 19px 0 19px; }
.header{ margin:0 auto; width:962px; height:146px; padding:0 19px 0 19px;}
.logo{ float:left; padding:19px 0 0 2px;}
.logo img{ border:0 none;}
.header-right{ float:right; padding-top:22px; width:693px;}
.header-right .social-colum{ float:right; height:27px;}
.header-right .social-colum img{ border:0 none; margin-right:7px; height:27px;}

.nav{ float:right; padding-top:29px; width:681px;}
.nav ul{ margin:0px; padding:0px; list-style:none; float: right;}
.nav li.sat-demo{float:left; margin-right:5px;}
.nav li.sat-demo a{ float:left; text-align:center; padding:8px 27px 10px 27px; text-decoration:none; font-family:Arial; font-size:14px; color:#fff;  float:left; background:url(../../images/border-btm.jpg) repeat-x bottom; border:#0f99d7 solid 1px; outline:none;}
.nav li.sat-demo a:hover{border:#28b0ed solid 1px;}
.nav li.sat-demo a.active{border:#28b0ed solid 1px;}

.nav li.info-wht{float:left; margin-right:5px;}
.nav li.info-wht a{  float:left; text-align:center; padding:8px 3px 10px 3px; text-decoration:none; font-family:Arial; font-size:14px; color:#fff;  float:left; background:url(../../images/info-borderbtm.jpg) repeat-x bottom; border:#0f99d7 solid 1px; outline:none;}
.nav li.info-wht a:hover{border:#28b0ed solid 1px;}
.nav li.info-wht a.active{border:#28b0ed solid 1px;}

.nav li.did-you{float:left; margin-right:5px;}
.nav li.did-you a{ float:left; text-align:center; padding:8px 3px 10px 3px; text-decoration:none; font-family:Arial; font-size:14px; color:#fff;  float:left; background:url(../../images/did-borderbtm.jpg) repeat-x bottom; border:#0f99d7 solid 1px; outline:none;}
.nav li.did-you a:hover{border:#28b0ed solid 1px;}
.nav li.did-you a.active{border:#28b0ed solid 1px;}

.nav li.find-us{float:left; margin-right:5px;}
.nav li.find-us a{  float:left; text-align:center; padding:8px 3px 10px 3px; text-decoration:none; font-family:Arial; font-size:14px; color:#fff;  float:left; background:url(../../images/find-us.jpg) repeat-x bottom; border:#0f99d7 solid 1px; outline:none;}
.nav li.find-us a:hover{border:#28b0ed solid 1px;}
.nav li.find-us a.active{border:#28b0ed solid 1px;}

.nav li.contact{float:left;}
.nav li.contact a{ float:left; text-align:center; padding:8px 3px 10px 3px; text-decoration:none; font-family:Arial; font-size:14px; color:#fff;  float:left; background:url(../../images/contact-borderbtm.jpg) repeat-x bottom; border:#0f99d7 solid 1px; outline:none;}
.nav li.contact a:hover{border:#28b0ed solid 1px;}
.nav li.contact a.active{border:#28b0ed solid 1px;}

/*****************************************
 *Homepage Containt *
/****************************************/
.containt{width:100%; background:url(../../images/ftr-bg.png) repeat-x #fff center 440px; min-width:1000px;}
.containt-iner{ margin:0 auto;  width:962px; padding:0 19px 0 19px; background:url(../../images/home-containtbg.jpg) no-repeat center top; height:594px;}
.containt-row{ margin:0 auto; width:565px; padding-top:105px;}
.containt-row h1{ margin:0px; padding:0 0 14px 0; line-height:19px; font-weight:bold; font-size:24px; color:#00abea; background:url(../../images/title-borderbtm.png) repeat-x bottom;}
.containt-row p{ margin:0px; padding: 13px 0 0 0; font-size:16px; color:#858585; font-family:Arial;}

.choose-document{ float:left; width:565px; padding-top:85px;}
.choose-document h2{ margin:0px; padding:0 0 25px 0; font-size:24px; color:#00aeef;}
.document-file{ float:left; width:565px;}
.document-file img{ border:none; margin-right:6px;}

/*****************************************
 *Inner page Containt * Did you
/****************************************/

.innerpage-containt{ width:100%; background:#fff;}
.innerpage-containt .innerpage-inner2{ margin:0 auto; padding-left:9px; padding-top:10px; width:991px; background:url(../../images/containt-bg.png) no-repeat 1025px 152px; height:594px; background-attachment:fixed; overflow-y:scroll; overflow-x:hidden;}
.didu-colum{ float:left; padding-top:25px; padding-bottom:34px; width:976px; background:url(../../images/did-btmborder.png) repeat-x bottom;}
.left-colum{ float:left; width:288px; font-weight:bold; color:#9f242a; font-size:20px; font-family:Arial;}
.right-colum{ float:left; width:688px; font-size:17px; color:#858585; font-family:Arial; line-height:20px;}

/*****************************************
 *Inner page Containt * Information what?
/****************************************/
.info-colum{ float:left; padding-top:25px; padding-bottom:34px; width:976px; background:url(../../images/did-btmborder.png) repeat-x bottom;}
.left-info{ float:left; width:288px; font-weight:bold; color:#7b9541; font-size:20px; font-family:Arial;}
.right-info{ float:left; width:688px; font-size:17px; color:#858585; font-family:Arial; line-height:20px;}
.right-info ul{ margin:0px; padding:21px 0 0 0; list-style:none;}
.right-info li{ background:url(../../images/grn-piint.png) no-repeat left 6px; padding-left:20px; margin-left:1px; padding-bottom:4px;  font-size:17px; color:#858585; font-family:Arial;}
.right-info li a{ text-decoration:none; font-size:17px; color:#858585; font-family:Arial;}
.right-info li a:hover{ color:#7b9541;}
.right-info li ul{ margin:0px; padding:15px 0 0 0; list-style:none;}
.right-info li ul li{background:url(../../images/gry-point.png) no-repeat left 6px; padding-left:20px; margin-left:1px; padding-bottom:4px;  font-size:17px; color:#858585; font-family:Arial;}
.right-info li ul li a{ text-decoration:none; font-size:17px; color:#858585; font-family:Arial;}
.right-info li ul li a:hover{ color:#7b9541;}

/*****************************************
 *Inner page Containt * contact us
/****************************************/
.contact-mainheader{ background:url(../../images/header-img2.png) repeat-x #fff!important; height:193px; min-width:1000px;}
.contact-containt{ margin:0 auto; width:991px; padding:9px 0 0 9px; position:relative; height:594px; overflow-y:auto; overflow-x:hidden;}
.contact-containt h2{ margin:0px; padding:0 0 0 9px; font-weight:normal !important; color:#878787; font-size:20px; font-family:Arial;}
.contact-colum{ margin:0 auto; padding:95px 0 0 0; width:734px;}
.contact-lef{ float:left; width:398px; float:left;}
.contact-row{ float:left; width:398px; padding-bottom:16px;}
.contact-txt{ color:#777b82; font-size:14px; font-family:Arial; padding-right:22px; width:75px; float:left; padding-top:4px; text-align:right;}
.contact-input{ float:right; width:301px;}
.contact-input input{ width:297px; border:#adabab solid 1px; background:#fff; font-family:Arial; font-size:13px; color:#777b82; padding:4px; width:291px; outline:none;}
.contact-input select {border: #adabab 1px solid; padding:4px; font-size: 11px; background: #ffffff repeat-x; font-size:13px; color:#777b82; width:301px; outline:none;}
.contact-input p{ margin:0px; padding:0px; font-size:14px; color:#535353;}
.chkbox{ float:left; width:87px; padding-right:10px; text-align:right; padding-top:3px;}
.input-btn{ float:left; padding-top:15px;}
.input-btn input{ border:0 none; background:url(../../images/submit-btn.png) no-repeat center top; width:122px; height:27px; cursor:pointer; outline:none;}

.contact-right{ float:right; width:249px;}
.contact-right h3{ margin:0px; padding:0 0 3px 0; font-size:16px; color:#25aeea; font-weight:normal; border-bottom:#4ab8e9 solid 1px;}
.contact-right p{ margin:0px; padding:6px 0 16px 0; font-size:14px; font-family:Arial; color:#585858;}
.contact-right p a{ text-decoration:none; color:#585858; font-size:14px; font-family:Arial;}
.contact-right p a:hover{ text-decoration:underline; color:#25aeea;}

/*****************************************
 *Inner page Containt * Find Us
/****************************************/
.find-header{ width:100%; background:url(../../images/map-header.png) repeat-x!important; min-width:1000px; height:193px;}
.mapping-containt{ margin:0 auto; width:1000px; position:relative; padding:9px 0 0 0; height:594px; overflow-y:auto; overflow-x:hidden;}
.mapping-containt h2{ margin:0px; padding:0 0 0 18px; font-weight:normal !important; color:#878787; font-size:20px; font-family:Arial; height:25px;}
.mapping-containt .map-colum{ float:left; width:1000px; padding-top:25px;}
.mapping-containt .map-colum{ border:0 none;}

/*****************************************
 *Inner page Containt * Other page
/****************************************/
.yellow-header{ width:100%; background:url(../../images/header-yellow.png) repeat-x!important; min-width:1000px; height:193px;}
.green-header{ width:100%; background:url(../../images/green-heade.png) repeat-x!important; min-width:1000px; height:193px;}
.saving-header{ width:100%; background:url(../../images/saving-header.png) repeat-x!important; min-width:1000px; height:193px;}
.saving-containt{ margin:0 auto; padding:30px 20px 0 20px; width:960px; position:relative; height:564px; overflow-y:auto; overflow-x:hidden;}

.saving-colum{ float:left; width:960px;}
.first-tab{width:940px; background:#ed008c; padding:10px 0 11px 20px; background:#ed008c; font-family:Arial; font-size:26px; color:#fff; position:relative;}
.first-tab .note-icon{ float:right; position:absolute; width:28px; height:28px; right:10px; top:6px;}
.first-tab .note-colum{ float:right; width:356px; position:absolute; right:5px; top:6px;}
.first-tab .note-colum .note-topcur{ float:left; width:314px; height:27px; padding:8px 40px 0 0; background:url(../../images/note-topcur.png) no-repeat center top; font-size:17px; color:#ed008c; font-family:Arial; position:relative; text-align:right;}
.first-tab .note-colum .note-topcur img{ float:right; right:5px; top:3px; border:0 none; position:absolute;}
.first-tab .note-colum .note-midlecur{ float:left; width:338px;  background:url(../../images/note-midlecur.png) repeat-y; padding:10px 10px 0px 10px;}
.first-tab .note-colum .note-midlecur p{ margin:0px; padding:0px; font-family:Arial; font-size:13px; color:#858585;}
.first-tab .note-colum .note-bottomcur{ float:left; width:364px; margin-left:-6px; height:19px; background:url(../../images/note-bottomcur.png) no-repeat center bottom;}

.first-tab .note-icon img{ border:0 none;}
.firsttab-containt{ float:left; width:940px; min-height:138px; padding:19px 0 0 20px; color:#878787; font-size:16px;}
.firsttab-containt p{ margin:0px; padding-bottom:10px; color:#878787; font-size:20px; font-family:Arial;}
.firsttab-containt span{ font-size:24px; color:#ed008c;}

.firsttab-containt-grn{ float:left; width:940px; min-height:138px; padding:19px 0 0 20px; color:#878787; font-size:16px;}
.firsttab-containt-grn p{ margin:0px; padding-bottom:10px; color:#878787; font-size:20px; font-family:Arial;}
.firsttab-containt-grn span{ font-size:24px; color:#447645;}

.firsttab-containt-yellow{ float:left; width:940px; min-height:138px; padding:19px 0 0 20px; color:#878787; font-size:16px;}
.firsttab-containt-yellow p{ margin:0px; padding-bottom:10px; color:#878787; font-size:20px; font-family:Arial;}
.firsttab-containt-yellow span{ font-size:24px; color:#ffb504;}

.recalculate-colum{ margin:0 auto; padding:19px 0 0 0; width:670px;}
.calculate-row{ float:left; width:670px; padding-bottom:15px;}
.calculate-left{ float:left; width:540px;}
.calculate-left p{ margin:0px; padding:0 0 4px 0; color:#858585; font-size:18px; font-family:Arial;}
.calculate-left img{ border:0 none;}
.calculate-right{ float:right; width:77px; height:21px; background:url(../../images/calculate-input.png) no-repeat center top; margin-top:23px;}
.calculate-right input{ border:0 none; background:none; margin-top:1px; margin-left:1px; width:65px; padding:0px 5px 1px 6px; color:#000000; font-size:14px; font-family:Arial; line-height:20px;} 
.find-btn{ float:right; width:810px; padding-top:50px;}
.find-btn .demo-btn{ float:left; width:252px; height:30px; background:url(../../images/find-btn.jpg) repeat-x; margin-right:27px;}
.find-btn .demo-btn input{ border:0 none; background:none; width:252px; text-align:center; padding:4px 0 3px 0!important; font-size:16px; color:#26ace2; text-shadow:1px -1px #000; font-family:Arial; cursor:pointer; outline:none;}
.find-btn .learn-btn{ float:left; width:252px; height:30px; background:url(../../images/lern-more.jpg) repeat-x; margin-right:20px;}
.find-btn .learn-btn input{ border:0 none; background:none; width:252px; text-align:center; padding:4px 0 3px 0 !important; font-size:16px; color:#fff; text-shadow:1px -1px #87a1ab; font-family:Arial; cursor:pointer; outline:none;}

/*****************************************
 *Inner page IM-exercise* Other page
/****************************************/
.cost_green{ background:#447645 !important;}
.note-txt{ color:#447645 !important;}
.cost_yellow{ background:#ffb504 !important;}
.note-yellowtxt{ color:#ffb504!important;}

.rating-colum{ float:right; margin-top:-6px;}
.rating-colum .rate-diaply{ float:right;  background:#000; font-size:34px; color:#fff; font-family: 'DS-Digital-Bold', Arial; height:36px; line-height:36px; width:126px; text-align:center; vertical-align:middle;}
.rating-colum .rate-diaply span{font-size:23px; color:#fff; font-family: 'DS-Digital-Bold', Arial; vertical-align:middle;}
.rating-colum .stop-btn{ float:right; width:88px; margin-right:8px; margin-top:-1px;}
.rating-colum .stop-btn input{ border:0 none; background:url(../../images/stop-btn.png) no-repeat center top; width:88px; height:37px; cursor:pointer; outline: none;}

.exercise-containt{ margin:0 auto; width:1000px; position:relative; padding:9px 0 0 0; height:594px; overflow-y:auto; overflow-x:hidden;}
.exercise-containt h2{ margin:0px; padding:0 0 0 18px; font-weight:normal !important; color:#878787; font-size:20px; font-family:Arial;}
.exercise-colum{ float:left; width:992px; padding:30px 4px 0 4px;}
.exercise-colum h1{ margin:0px; padding:0px; font-weight:bold; color:#00aeef; font-size:26px; font-family:Arial; text-align:center;}
.exercise-colum p{ margin:0px; padding:19px 20px 0 16px; font-size:14px !important; color:#000; font-family:Arial !important;}

/*****************************************
 *Inner page IM-exercise* Poup box
/****************************************/
.poup-colum{ margin:0 auto; padding:0px; width:100%; }
.poup-start{background:url(../../images/poup-box.png) no-repeat center; width:230px; height:125px; margin:0 auto; padding:24px 14px 15px 15px;}
.poup-start p{ margin:0px; padding:0px; font-size:18px; color:#fff; text-align:center;}
.start-btn{ margin:0 auto; padding:21px 0 0 0; width:100px;}
.start-btn input{ border:0 none!important; width:120px; padding:0px!important; height:42px; background:url(../../images/start-btn.png) no-repeat center top; color:#ed008c; font-size:18px; font-weight:bold; font-family:Arial; cursor:pointer; outline:none;}

.poup-colum2{ margin:0 auto; padding:0px; width:100%;}
.poup-start2{background:url(../../images/poup-box.png) no-repeat center; width:230px; height:125px; margin:0 auto; padding:24px 14px 15px 15px;}
.poup-start2 h4{ margin:0px; padding:0 0 3px 0; font-size:24px; color:#ed008c!important; font-family:Arial; text-align:center; height:25px!important;}
.poup-start2 p{ margin:0px; padding:0px; font-size:18px; color:#fff; text-align:center;}
.start-btn2{margin:0 auto; padding:13px 0 0 0; width:100px;}
.start-btn2 input{ border:0 none!important; width:120px; padding:0px!important; height:42px; background:url(../../images/next_btn.png) no-repeat center top; color:#ed008c; font-size:18px; font-weight:bold; font-family:Arial; cursor:pointer; outline:none;}

.start-btny{ margin:0 auto; padding:21px 0 0 0; width:100px;}
.start-btny input{ border:0 none!important; width:120px; padding:0px!important; height:42px; background:url(../../images/y-start.png) no-repeat center top; color:#ed008c; font-size:18px; font-weight:bold; font-family:Arial; cursor:pointer; outline:none;}
.start-btny2{margin:0 auto; padding:13px 0 0 0; width:100px;}
.start-btny2 input{ border:0 none!important; width:120px; padding:0px!important; height:42px; background:url(../../images/y-nextbtn.png) no-repeat center top; color:#ed008c; font-size:18px; font-weight:bold; font-family:Arial; cursor:pointer; outline:none;}

.start-btngren{ margin:0 auto; padding:21px 0 0 0; width:100px;}
.start-btngren input{ border:0 none!important; width:120px; padding:0px!important; height:42px; background:url(../../images/grn-startbtn.png) no-repeat center top; color:#ed008c; font-size:18px; font-weight:bold; font-family:Arial; cursor:pointer; outline:none;}
.start-btngren2{margin:0 auto; padding:13px 0 0 0; width:100px;}
.start-btngren2 input{ border:0 none!important; width:120px; padding:0px!important; height:42px; background:url(../../images/gren-nextbtn.png) no-repeat center top; color:#ed008c; font-size:18px; font-weight:bold; font-family:Arial; cursor:pointer; outline:none;}

/*****************************************
 *Inner page IM-exercise* Result
/****************************************/
.result-containt{ margin:0 auto; padding:10px 20px 0 20px; width:960px; position:relative; height:564px; overflow-y:auto; overflow-x:hidden;}
.result-containt h2{ margin:0px; padding:0 0 9px 0; font-size:18px; color:#878787; height:22px!important;}
.result-containt h3{ margin:0px; padding:0 0 22px 0; font-size:24px; color:#ed008c;}
.result-colum{ float:left; width:725px; padding-bottom:77px; padding-left:235px;}
.result-memofirst{ margin:0 auto; padding:5px; width:190px; height:244px; background:url(../../images/memo-bg.jpg) no-repeat center top; position:relative; float:left; margin-right:56px;}
.result-memofirst .memofirst-colum{ float:left; width:190px; height:227px; overflow-y:scroll; overflow-x:hidden;}
.result-memofirst .memofirst-colum h1{ margin:0px; padding:0px; color:#4fbae7; font-size:12px; text-align:center; font-family:Arial;}
.result-memofirst .memofirst-colum p{ color:#000; font-size:10px; line-height:10px;}
.before-time{ width:151px; height:69px; float:left; background:url(../../images/before.png) no-repeat center top; position:absolute; bottom:-46px; right:26px;}
.before-time .timeing-before{ float:left; width:130px; margin-top:28px; margin-left:11px;  color:#f9f1f1; font-size:37px; font-family: 'DS-Digital-Bold', Arial;  padding-top:6px; padding-bottom:3px; text-align:center;}
.before-time .timeing-before span{color:#f9f1f1; font-size:23px; font-family: 'DS-Digital-Bold', Arial; }
.result-memosecond{ margin:0 auto; padding:5px; width:190px; height:244px; background:url(../../images/memo-bg.jpg) no-repeat center top; position:relative; float:left;}
.result-memosecond .memosecond-colum{ float:left; width:190px; height:227px; overflow-y:scroll; overflow-x:scroll; font-size:10px; color:#000;}
.result-memosecond .memosecond-colum h1{ margin:0px; padding:0px; color:#4fbae7; font-size:12px; text-align:center; font-family:Arial;}
.result-memosecond .memosecond-colum p{ color:#000; font-size:10px; line-height:10px;}
.after-timepink{ width:151px; height:69px; float:left; background:url(../../images/after.png) no-repeat center top; position:absolute; bottom:-46px; right:26px;}
.after-timepink .timeing-afterpink{ float:left; width:130px; margin-top:28px; margin-left:11px;  color:#f9f1f1; font-size:37px; font-family: 'DS-Digital-Bold', Arial; padding-top:6px; padding-bottom:3px; text-align:center;}
.after-timepink .timeing-afterpink span{color:#f9f1f1; font-size:23px; font-family: 'DS-Digital-Bold', Arial;}

.before-timeyellow{ width:151px; height:69px; float:left; background:url(../../images/bafore-yellow.png) no-repeat center top; position:absolute; bottom:-46px; right:26px;}
.before-timeyellow .timeing-beforeylow{ float:left; width:130px; margin-top:28px; margin-left:11px;  color:#f9f1f1; font-size:37px; font-family: 'DS-Digital-Bold', Arial;  padding-top:6px; padding-bottom:3px; text-align:center;}
.before-timeyellow .timeing-beforeylow span{color:#f9f1f1; font-size:23px; font-family: 'DS-Digital-Bold', Arial; }
.after-timeyellow{ width:151px; height:69px; float:left; background:url(../../images/after-yellow.png) no-repeat center top; position:absolute; bottom:-46px; right:26px;}
.after-timeyellow .timeing-afteryelow{ float:left; width:130px; margin-top:28px; margin-left:11px;  color:#f9f1f1; font-size:37px; font-family: 'DS-Digital-Bold', Arial; padding-top:6px; padding-bottom:3px; text-align:center;}
.after-timeyellow .timeing-afteryelow span{color:#f9f1f1; font-size:23px; font-family: 'DS-Digital-Bold', Arial;}

.before-timegren{ width:151px; height:69px; float:left; background:url(../../images/before-green.png) no-repeat center top; position:absolute; bottom:-46px; right:26px;}
.before-timegren .timeing-beforegren{ float:left; width:130px; margin-top:28px; margin-left:11px;  color:#f9f1f1; font-size:37px; font-family: 'DS-Digital-Bold', Arial;  padding-top:6px; padding-bottom:3px; text-align:center;}
.before-timegren .timeing-beforegren span{color:#f9f1f1; font-size:23px; font-family: 'DS-Digital-Bold', Arial; }
.after-timegren{ width:151px; height:69px; float:left; background:url(../../images/after-green.png) no-repeat center top; position:absolute; bottom:-46px; right:26px;}
.after-timegren .timeing-beforegren{ float:left; width:130px; margin-top:28px; margin-left:11px;  color:#f9f1f1; font-size:37px; font-family: 'DS-Digital-Bold', Arial; padding-top:6px; padding-bottom:3px; text-align:center;}
.after-timegren .timeing-beforegren span{color:#f9f1f1; font-size:23px; font-family: 'DS-Digital-Bold', Arial;}

.headers{color: #000000; font-size: 10px; line-height: 10px;}
table.move td{border-bottom: 1px solid #000000; border-right: 1px solid #000000;  padding: 5px 10px; vertical-align: top;}

/************************************************
* Grid related Class *
************************************************/
input {border: #adabab 1px solid; padding:4px; border:#adabab solid 1px; background:#fff; font-family:Arial; font-size:13px; color:#777b82; outline:none;} /* default class for the textboxes for whole project */
textarea {border:#adabab solid 1px; padding:4px;  background:#fff; font-family:Arial; font-size:13px; color:#777b82; outline:none; } /* default class for the textarea for whole project */
select {border: #adabab 1px solid; padding:4px; font-size: 11px; background: #ffffff repeat-x; font-size:13px; color:#777b82;outline:none; } /* default class for the list menu/dropdown(like to select countries or state) for whole project */
.inputbutton {cursor: pointer; color: #fff; text-align:center; background: url(images/butbg.gif) repeat-x; border:1px solid #2a95bf; font-size:12px; font-weight:bold;  padding:2px;} /* to make custom type of inputbutton for whole project */

.mandatory{color:990000; font-weight:bold; font-size:11px;} /* to display mandatory things in the form, like "*"  */
.label{color:#999999; font-weight:bold; text-align:left;} /* to give the class for fields label  */
.dottedline{background:url(images/dotted.gif) repeat-x top; height:9px;  } /* for dotted lines */
.border{border:1px solid #97b7dc; padding:2px;} /* common class to use border in the whole project */
.nobg { background:none; border:none;} /* to give remove the background color or border of CHECKBOX and RADIO BUTTON */
.sfont{font-size:10px; color:#ccc; font-style:italic;} /* for small grey font like to write comments near textfield in the grid */
.altbg{background-color:#f1f7fe; font-size:11px; border-top:1px solid #b8d6f9; vertical-align:top;} /* for grid's alternate raw */
.nrlbg{background-color:#fff; font-size:11px; vertical-align:top; border-top:1px solid #b8d6f9;} /* for grid's normal raw */
.gridheaderbg{background:url(images/gridheaderbg.gif) repeat-x; height:28px; color:#fff; vertical-align:top; line-height:normal;} /* for the image or background color of grid's header */

.margin-right{ margin-right:0px!important;}
.border-none{ border-bottom:none !important;}
.background-none{ background:none !important;}

.rating-colum .rate-diaply input{ border:0 none !important;  background:#000; font-size:34px; color:#fff; font-family: 'DS-Digital-Bold', Arial; height:36px; line-height:36px; width:126px; text-align:center; vertical-align:middle; padding:0px !important}


/**********************************************
* Deutsch *
**********************************************/
.newsleader-colum{float:right;/* position:absolute; left:19px; *top:2px; top:48px;*/  width:128px; height:27px; background:url(../../images/nederland-img.png) no-repeat center; position:relative; z-index:999 !important; *top:-29px;}
.meta {Z-INDEX: 3000; HEIGHT: 21px; TOP: 50px; LEFT: -9px; position:absolute; }
.meta ul {PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px;}
.meta ul li { TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: left; COLOR: #666666; PADDING-TOP: 0px;  COLOR: #808A84 ;}
.meta ul li a {	POSITION: relative; DISPLAY: block; WEIGHT: 140px;  font-weight:bold; FONT-FAMILY:Arial;  COLOR: #fff; font-size:12px; TEXT-DECORATION: none !important;}
.meta ul li a span{ float:left; position:absolute; width:114px!important; top:2px; left:1px; padding-left:10px; cursor:pointer; background:#04a5e8; font-size:12px; font-family:Arial; }
.meta ul li a span:hover{ background:#079de2; color:#fff;}
.meta ul li a STRONG {FONT-WEIGHT: normal; TEXT-DECORATION: none !important}
.meta ul li a:hover {COLOR: #0676a7; TEXT-DECORATION: none;}
.meta ul li a:focus {COLOR: #000000; TEXT-DECORATION: none}
.meta ul li a I {POSITION: relative; MARGIN: 0px 0px 0px 0px; WIDTH: 15px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 11px; OVERFLOW: hidden;}
.meta ul li a I {DISPLAY: none !important; VISIBILITY: hidden !important;}
.meta ul li.language {POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; margin-top:-48px; PADDING-RIGHT: 0px; TOP: 0px; PADDING-TOP: 0px;}
.meta ul li.language a {WIDTH:140px; -moz-background-clip: border; -moz-background-inline-policy: continuous;}
.meta ul li.language .sub {PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; PADDING-TOP: 0px; -moz-background-clip: border; -moz-background-inline-policy: continuous; -moz-background-origin: padding}
.meta ul li.language:hover .sub {DISPLAY: block;}
.meta ul li.language:focus .sub {DISPLAY: block;}
.meta ul li.language ul li {PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: none; TOP: 0px; PADDING-TOP: 0px;}
.meta ul li.language ul li a {PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #ffffff 0px 0px; PADDING-TOP: 1px; -moz-background-clip: border; -moz-background-inline-policy: continuous; -moz-background-origin: padding;}
.lang_container {POSITION: relative; PADDING-LEFT: 10px; MARGIN-RIGHT: 100px;}
.lang_image {BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none;}
.lang_image IMG {PADDING-LEFT: 50px; PADDING-TOP: 17px; margin-bottom:0px!important;}
