/* CSS Document */
body{ margin:0; padding:0; background:#009fe3; font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#2c2e30;}

@font-face {
 font-family: 'ZurichCnBTRegular';
 src: url('../font/zurchc_2-webfont.eot');
 src: local('?'), url('../font/zurchc_2-webfont.woff') format('woff'), url('../font/zurchc_2-webfont.ttf') format('truetype'), url('../font/zurchc_2-webfont.svg#webfontTPCobFQd') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
	font-family: 'ZurichBold';
	src: url('../font/tt0300m_2-webfont.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ZurichBold';
	src: url(//:) format('no404'), url('../font/tt0300m_2-webfont.woff') format('woff'), url('../font/tt0300m_2-webfont.ttf') format('truetype'), url('../font/tt0300m_2-webfont.svg#webfont1vWyLwtn') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* * * * * *  links  * * * * * */
a{ color:#0e5c93; text-decoration:none; outline:none;}
a:hover{ color:#0e5c93; text-decoration:underline;}


/* * * * * *  General  * * * * * */
img{ border: none;}
h1, h2, h3, h4, h5, h6, ul, li, p{ margin:0; padding:0;}
.clear{ clear:both; padding:0; margin:0; height:0;}
h1.title{font-family: 'ZurichBold'; font-weight:normal; color:#FFF; font-size:24px; text-transform:uppercase;}
h1.sub_title{font-family: 'ZurichBold'; font-weight:normal; color:#FFF; font-size:22px; text-transform:uppercase;}
h2.title{font-family: 'ZurichBold'; font-weight:normal; color:#db3921; font-size:28px; padding-bottom:20px;}
h2.sub_title{font-family: 'ZurichBold'; font-weight:normal; color:#db3921; font-size:28px; padding:10px 0 20px 0; text-align:center;}
h3{font-family: 'ZurichBold'; font-weight:normal; color:#2c2e30; font-size:17px; padding-bottom:10px;}



/********* Button **************/

BUTTON.button { border:0px; padding:1px; background-color:transparent; margin:0; outline-style:none; height:33px; vertical-align:top; overflow:visible; cursor:pointer;}
BUTTON.button .button-right { padding:0 10px 0 0; display:block; height:31px;}
BUTTON.button .button-left { padding:0 5px 0 15px; line-height:31px; margin:0; display:block; white-space:nowrap; height:32px; color:#161616; font-family: 'ZurichCnBTRegular'; font-size:16px; vertical-align:middle; font-weight:normal; }
BUTTON.button { HEIGHT:36px; }
BUTTON.button .button-right { padding:0 10px 0 0; background: url(../../images/button_yl_right.png) no-repeat right top; height:35px;  }
BUTTON.button .button-left { padding:0 5px 0 15px; line-height:34px; background: url(../../images/button_yl_left.png) no-repeat left top; height:35px; font-family: 'ZurichCnBTRegular'; font-size:16px;}



/* * * * * *  Main wrapper  * * * * * */
#wrapper{ width:1000px; margin: 0 auto; background:url(../../images/bg.png) top right no-repeat; min-height:676px;}



/* * * * * *  Header  * * * * * */
#header{ height:100px; padding:0 25px; position:relative;}
#logo{ position:absolute; left:25px; top:10px; }
#nav{ position:absolute; width:695px; height:50px; right:25px; top:25px;}
.nav_mid{ background:url(../../images/nav_mid.png) top repeat-x;}
#nav ul{ list-style:none;}
#nav ul li{ list-style-type:none; float:left; display:block; text-align:center; margin:0 1px 0 0;}
#nav ul li a{ font-family: 'ZurichCnBTRegular'; font-size:14px; color:#0175a2; text-decoration:none; display:block; height:22px; padding:28px 0 0 0;}
#nav ul li a:hover{ color:#FFF; text-decoration:none;}

#nav ul li.language{ width:100px;}
#nav ul li.language a{ background:url(../../images/nav_language.png) center top no-repeat;}
#nav ul li.language a:hover, #nav ul li.language a.active{ background:url(../../images/nav_language.png) center -50px no-repeat; color:#FFF;}

#nav ul li.doc{ width:120px;}
#nav ul li.doc a{ background:url(../../images/nav_doc.png) center top no-repeat;}
#nav ul li.doc a:hover, #nav ul li.doc a.active{ background:url(../../images/nav_doc.png) center -50px no-repeat; color:#FFF;}

#nav ul li.demo{ width:120px;}
#nav ul li.demo a{ background:url(../../images/nav_demo.png) center top no-repeat;}
#nav ul li.demo a:hover, #nav ul li.demo a.active{ background:url(../../images/nav_demo.png) center -50px no-repeat; color:#FFF;}

#nav ul li.partner{ width:90px;}
#nav ul li.partner a{ background:url(../../images/nav_partner.png) center top no-repeat;}
#nav ul li.partner a:hover, #nav ul li.partner a.active{ background:url(../../images/nav_partner.png) center -50px no-repeat; color:#FFF;}

#nav ul li.info{ width:123px;}
#nav ul li.info a{ background:url(../../images/nav_info.png) center top no-repeat;}
#nav ul li.info a:hover, #nav ul li.info a.active{ background:url(../../images/nav_info.png) center -50px no-repeat; color:#FFF;}

#nav ul li.contact{ width:130px;}
#nav ul li.contact a{ background:url(../../images/nav_contact.png) center top no-repeat;}
#nav ul li.contact a:hover, #nav ul li.contact a.active{ background:url(../../images/nav_contact.png) center -50px no-repeat; color:#FFF;}
.timesavearrow {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../../images/arrow.png");
    background-origin: padding-box;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #111111;
    font-family: 'ZurichCnBTRegular';
    font-size: 11px;
    font-weight: bold;
    height: 80px;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 0;
    padding-top: 32px;
    width: 188px;
}

/* * * * * *  Content  * * * * * */
#content{ padding:0 25px;}
#maincontent{padding:25px 0px 0px 0px; width:100%}
#maincontent1{padding:0px 25px 0px 25px; width:100%}
#btmcontent{padding:18px 25px 0px 0px; float:right; width:475px;} 
#leftside{ width:230px; float:left;}
#rightside{ width:695px; float:right;}
#main{width:950px;}
.language_box{ padding-top:75px;}
.y_tm{ background:url(../../images/y_tm.png) top repeat-x;}
.y_tm h2{font-family: 'ZurichCnBTRegular'; font-size:17px; color:#161616; font-weight:normal; padding-left:5px;}
.b_tm{ background:url(../../images/b_tm.png) top repeat-x;}
.b_tm h2{font-family: 'ZurichCnBTRegular'; font-size:17px; color:#FFF; font-weight:normal; padding-left:5px;}
.bm{ background:url(../../images/bm.png) top repeat-x;}
.whbg{ background:#f0f4f7;}
.box_midbg{ background:#f0f4f7; padding:15px 10px 5px 10px;}
.box_midbg{ background:#f0f4f7; padding:15px 10px 5px 10px;}
.box_midbg p{padding:0px 0px 10px 0px; font-size:10px; color:#2c2e30; line-height:10px;}
.box_midbg1{ background:#f0f4f7; padding:15px 10px 5px 10px;}
.box_midbg1 p{padding:0px 0px 10px 0px; font-size:7px; color:#2c2e30; line-height:10px;}
.conblue p{padding:0px 0px 10px 0px; font-size:7px; color:#076084; line-height:10px;}
.bdrrw{border-bottom:2px solid #cccccc; padding:0px; margin:0px;}
.timebg{background:url(../../images/timeimg.png) no-repeat top; width:340px; height:46px; padding:30px 21px;}
.gtimebg{background:url(../../images/buttongrn.png) no-repeat top; width:294px; height:93px; padding:0px 0px 5px 0px;}
.cntpad{padding:15px 0px 10px 0px;}
.lang_text{font-family: 'ZurichCnBTRegular'; font-size:16px; color:#34393e; }
.documents_info{ padding-top:75px;}
.doc_type{ padding-left:109px;}
.txt_normal{ line-height:22px;}
.timetxt{color:#000000; font-size:12px; line-height:15px; padding:0px 0px 4px 0px; text-align:center;}
.txtbg{background:url(../../images/textbox.png) no-repeat top; text-align:center; width:169px; height:32px; color:#000000; padding:3px; font-size:16px; font-family: 'ZurichCnBTRegular'; font-weight:bold;}
.gtxtbg{background:url(../../images/grntxt.png) no-repeat top; text-align:center; width:211px; height:60px; color:#000000; padding:4px 5px 5px 5px; font-size:26px; font-family: 'ZurichCnBTRegular'; font-weight:bold;}
.doc_type .main_heading{ text-align:center; padding:20px 0 26px 0;}
.doc_type .main_heading2{ text-align:center; padding:0;}
.clock{ padding:20px 0; text-align:center;}
.time{ padding-bottom:20px; font-size:22px; background-color:#009fe3; border:0px; text-align:center;}
.finish_button{ text-align:center; padding-bottom:50px;}
.main_blockbg{ background:url(../../images/main_midbg.png) top repeat-x; padding:10px 4px;}
.read_doc{ background:#FFF; height:535px; overflow:auto;width:auto;overflow-x:hidden; padding:10px;}
.read_doc h1 {
	text-align:center;
	color:#009edf;
}
.read_doc p {
	margin-top:10px;
	margin-bottom:10px;
}

.read_doc  span.headers {
	float:left;
	width:80px;
}

.read_doc a{ color:#2C2E30; text-decoration:none; outline:none; cursor: pointer;}
.read_doc a:hover{ text-decoration:none;}

#after span.headers {
	margin-left:10px;
}

.read_doc th {
	vertical-align:top;
	text-align:left;
	padding:5px 10px;
}

.read_doc  td {
	padding:5px 10px;
}

.read_doc hr {
	margin-left:170px;
	color:#000000;
	margin-top:15px;
	margin-bottom:25px;
}

.read_doc table.move {
	border-left:1px solid #000000;
	border-top:1px solid #000000;
	margin-top:15px;
}

.read_doc  table.move th, table.move td {
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	padding:5px 10px;
	vertical-align:top;
}


.read_doc1{ background:#FFF; height:535px; overflow:auto;width:800px;overflow-x:hidden; padding:10px;}
.read_doc1 h1 {
	text-align:center;
	color:#009edf;
}
.read_doc1 p {
	margin-top:10px;
	margin-bottom:10px;
}

.read_doc1  span.headers {
	float:left;
	width:80px;
}

#change_content {

    color: #5B6268;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.7em;
}

#after span.headers {
	margin-left:10px;
}

.read_doc1 th {
	vertical-align:top;
	text-align:left;
	padding:5px 10px;
}

.read_doc1  td {
	padding:5px 10px;
}

.read_doc1 hr {
	margin-left:170px;
	color:#000000;
	margin-top:15px;
	margin-bottom:25px;
}

.read_doc1 table.move {
	border-left:1px solid #000000;
	border-top:1px solid #000000;
	margin-top:15px;
}

.read_doc1  table.move th, table.move td {
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	padding:5px 10px;
	vertical-align:top;
}

.button1.icon {
      background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../../images/sprite.png");
    background-origin: padding-box;
    background-position: 8px -315px;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 30px;
	
}


.button1 {
    
    
    background-color: transparent;
    background-image: url("../../images/sprite_buttons.png");
    
    background-position: 100% -564px;
    background-repeat: no-repeat;
    
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    color: #5B6268 !important;
    font-size: 0.857em;
    height: 30px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 5px;
    padding-top: 0;
	   float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 1em;
	  text-decoration: none;
	   font-family: Arial,Helvetica,sans-serif;
	   font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.429em;
}
 .button1 span {
      background-attachment: scroll;
    
    background-color: transparent;
    background-image: url("../../images/sprite_buttons.png");
   
    background-position: 0 -534px;
    background-repeat: no-repeat;
    
    float: left;
    height: 30px;
    line-height: 30px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
}
.col-2 .rte {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 160px;
    padding-right: 40px;
    padding-top: 0;
    width: 400px;
}
.col-2 .widget {
    border-bottom-color: #E4E9EA;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.clearfix {
    display: block;
}

.widget {
    position: relative;
}
.become_partner{
	color: #5B6268;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.7em;
}

.getinfo{
	color: #5B6268;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.7em;
	margin-bottom:10px;
}


.found_time{font-family: 'ZurichCnBTRegular'; font-size:19px; color:#000; text-align:center; padding-bottom:10px;}
.found_time span{ font-weight:bold; font-size:30px; color:#FFF;}
.result{ text-align:center;}
.result p{ padding:10px 0; font-size:13px; font-weight:bold;}
.reason{ color:#006085; line-height:30px; font-weight:bold;}
.result_block{ padding:0 15px;}
.address{ line-height:22px;}
.parter_info{position:absolute; left:35px; top:-26px; z-index:100;}
.parter_info .field {
    border: 1px solid #BECBCE;
    color: #5B6268;
    font-size: 1em;
    padding: 3px 3px;
	width:240px;
}

/******************************************************************/
.main_heading{ text-align:center; padding:20px 0 26px 0;}
.main_bottom_line{ background:url(../../images/bottom_linebg.png) no-repeat; width:695px; height:245px;}
.recalc{ background:url(../../images/btn_recalc.png) no-repeat; border:none; width:192px; height:55px; cursor:pointer; font-family: 'ZurichBold'; color:#161616; font-size:22px; font-weight:normal;}
.wh_text1{ color:#FFF; line-height:20px;}
.wh_text1 a{ color:#023044;}
.wh_text2{ color:#FFF; line-height:20px; padding-top:10px;}
.btn_demo{ padding:15px 0 15px 0;}
.learn_now{ background:url(../../images/btn_learn_now.png) no-repeat; width:190px; height:53px; text-align:center; padding-top:11px;}
.learn_now a{ font-family: 'ZurichBold'; color:#FFF; font-size:21px; font-weight:normal; text-decoration:none; }
.bottom_text{ padding-top:40px;}
.calc_box td{ height:61px;}
.time_block{font-family: 'ZurichCnBTRegular'; color:#161616; font-size:18px; font-weight:normal;}
.textbox{ background:url(../../images/input_bg.png) no-repeat; width:50px; padding:0 5px; height:22px; border:none; font:normal 13px Arial; color:#666;}
.logborder {border:1px solid #c6c6c6;}
