body{margin:0px auto; padding:0px; background:#009FE3;}

/************************************************
* General *
************************************************/

table {font-size: 12px; color:#2c2c2c; font-family:Arial, Helvetica, sans-serif; text-align:left; line-height:1.6em;}

/*h1{margin:25px 0px 0px 0px; padding:0px 0px 20px 0px; font-size:21px; font-weight:bold; color:#202020; background:url(../images/doted-line.gif) repeat-x bottom;}*/

h1{ margin:0px; margin-bottom:5px; padding:7px 0px 5px 10px; font-size:16px; font-weight:bold; color:#0175A2; background:url("../../images/nav_mid.png") repeat-x;  height:20px;}
h2{ 
background-image: url('../../images/y_tm.png');padding: 5px;margin-bottom: 0px;
}
.popupheading{margin:10px 0px 0px 0px; padding:0px 0px 0px 10px; font-size:16px; font-weight:bold; line-height:40px; height:46px;}

td a:link { color:#2c2c2c; text-decoration:none; font-size:13px; font-weight:bold;}
td a:active { color:#2c2c2c; text-decoration:none; font-size:13px; font-weight:bold;}
td a:visited { color:#2c2c2c; text-decoration:none; font-size:13px; font-weight:bold;}
td a:hover { color:#2c2c2c; text-decoration: underline; font-size:13px; font-weight:bold;}
 
td div h3 a:link { color:#FFFFFF; text-decoration:none; font-size:12px; font-weight:bold;}
td div h3 a:active { color:#FFFFFF; text-decoration:none; font-size:12px; font-weight:bold;}
td div h3 a:visited { color:#FFFFFF; text-decoration:none; font-size:12px; font-weight:bold;}
td div h3 a:hover { color:#FFFFFF; text-decoration: none; font-size:12px; font-weight:bold;} 
.greenlabel {
    color: #009900;
    font-weight: bold;
    text-align: center;
}

/************************************************
* Container - This class is for main table(if needed)*
************************************************/
.container{padding-top:20px; padding-bottom:20px;}
.contentpad{padding:20px 0px 0px 0px;}

/************************************************
* admin *
************************************************/
.rtpadd {padding-right:16px;}
.logout {color:#000; font-size:12px; text-decoration:none; line-height:30px; }
.welcometext {color:black; font-size:12px; text-decoration:none; font-weight:bold;}
a.logout {color:#000; font-size:13px; text-decoration:none; font-weight:bold;}
a.logout:hover {color:#000; font-size:13px; text-decoration:underline; font-weight:bold;}
.admheader {background:url(../images/admin-glow.jpg) no-repeat bottom center;} 
.admtitlebg {background:#dfdfdf; color:#222222; background-image:url("../../images/y_tm.png");  height:33px; padding:0px 6px 0px 6px; font-weight:bold; font-size:14px;}
.admtitle{font-weight:bold; font-size:14px;}
a.homelink {color:#0066CC; font-size:13px; text-decoration:none; font-weight:bold;}
a.homelink:hover {color:#000; font-size:13px; text-decoration:underline; font-weight:bold;}
.homeimg 
{
    height: 60px;
    width: 60px;
    margin-left: 10px;
    
}
.hometable
{
   background: #FFFFFF;   
   height: 300px;
}


a.admtitlelink:link { color:#102e48; text-decoration:none; font-size:13px; font-weight:bold;}
a.admtitlelink:active { color:#102e48; text-decoration:none; font-size:13px; font-weight:bold;}
a.admtitlelink:visited { color:#102e48; text-decoration:none; font-size:13px; font-weight:bold;}
a.admtitlelink:hover { color:#2c2c2c; text-decoration: underline; font-size:13px; font-weight:bold;}

a.gridlink:link { color:#0a5493; text-decoration:none; font-size:12px; font-weight:bold;}
a.gridlink:active { color:#0a5493; text-decoration:none; font-size:12px; font-weight:bold;}
a.gridlink:visited { color:#0a5493; text-decoration:none; font-size:12px; font-weight:bold;}
a.gridlink:hover { color:#2c2c2c; text-decoration: underline; font-size:12px; font-weight:bold;}

a.gridlink1:link { color:#0a5493; text-decoration:none; font-size:15px; font-weight:bold;}
a.gridlink1:active { color:#0a5493; text-decoration:none; font-size:15px; font-weight:bold;}
a.gridlink1:visited { color:#0a5493; text-decoration:none; font-size:15px; font-weight:bold;}
a.gridlink1:hover { color:#2c2c2c; text-decoration: underline; font-size:15px; font-weight:bold;}

.cancel_link{color:#FFFFFF;padding-left:3px;padding-right:3px;background:#080809  url(../../images/login-btn-bg.gif) repeat-x scroll center top;border:medium none;
color:#FFFFFF;cursor:pointer;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;padding-bottom:4px;
padding-top:4px;text-align:center;}

.domainbg{background-color:#d9d9d9; width:250px; height:100px;  display:block; font-size:17px; font-weight:bold;}
.domainbg a {background-color:#d9d9d9; width:250px; height:100px; display:block; text-decoration:none; font-size:17px; font-weight:bold; padding-top:70px;}
.domainbg a:hover{background-color:#000; width:250px; height:100px; color:#fff;  display:block; text-decoration:none;  font-size:17px; font-weight:bold; padding-top:70px;}


.admpadd {padding:14px 10px 0px 10px;}
.admcontentpadd {padding:14px 0px 20px 0px;}
.error {background:#ffcece; border:1px solid #df8f8f; padding:8px; color:#665252; font-size:12px;margin: 0px 3px 0px 3px;}
.success {background:#d5ffcf; border:1px solid #89c674; padding:8px; color:#556654; font-size:12px;margin: 0px 3px 0px 3px;}
.page_name{margin: 0px;padding: 5px; }
.txtwidth {width:205px; width:184px\9; }
.txtwidth2 {width:180px; width:163px\9;}
.txtwidth3 {width:124px; width:117px\9; }
.txtarea {width:198px; width:179px\9; }
.username {color:white; font-size:13px;}
.star{color: #FF0033; }



/************************************************
* paging *
************************************************/

.manu {padding:12px 15px 12px 15px;}
.manu A {
	BORDER-RIGHT: #d5d5d5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #d5d5d5 1px solid; COLOR: #5c5c5c; PADDING-TOP: 2px; BORDER-BOTTOM: #d5d5d5 1px solid; TEXT-DECORATION: none
}
.manu A:hover {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
.manu A:active {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
.manu .current {
	BORDER-RIGHT: #5c5c5c 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #5c5c5c 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #5c5c5c 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #5c5c5c 1px solid; BACKGROUND-COLOR: #5c5c5c
}
.manu .disabled {
	BORDER-RIGHT: #d5d5d5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #d5d5d5 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #d5d5d5 1px solid
}
.manu input{border:1px solid #D5D5D5;color:#5C5C5C;margin:2px;padding:2px 5px;display: inline;}


.manu u{padding: 0px; margin: 0px; list-style-type: none;background-color:##000000; }
.manu ul li{margin: 5px;}
.manu td {vertical-align: top;}

/*************************************************
 Paging fpr light box 
 *************************************************/
 
#manu {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; padding-top:18px;
}
#manu A {
	BORDER-RIGHT: #d5d5d5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #d5d5d5 1px solid; COLOR: #5c5c5c; PADDING-TOP: 2px; BORDER-BOTTOM: #d5d5d5 1px solid; TEXT-DECORATION: none
}
#manu A:hover {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
#manu A:active {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
#manu .current {
	BORDER-RIGHT: #5c5c5c 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #5c5c5c 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #5c5c5c 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #5c5c5c 1px solid; BACKGROUND-COLOR: #5c5c5c
}
#manu .disabled {
	BORDER-RIGHT: #d5d5d5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #d5d5d5 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #d5d5d5 1px solid
}
#manu input{border:1px solid #D5D5D5;color:#5C5C5C;margin:2px;padding:2px 5px;display: inline;}


#manu u{padding: 0px; margin: 0px; list-style-type: none;background-color:##000000; }
#manu ul li{margin: 5px;}
#manu td {vertical-align: top;}

/************************************************
* Header *
************************************************/
.logo {margin: 20px 0px 20px 0px; }


.logo-pad{ padding-right:85px;}
.logo-pad-1{ padding:0px;}
.hdr-right{ padding:0px 10px 10px 0px;}
.hdr-right span{ color:#068fce; padding:0px 7px;}
.lable-1{ padding-right:7px;  color:#666666;}
.input_index{background:url(../images/input_white.png) no-repeat top left; width:126px; height:26px; color:#568014; font-size:14px; border:0px; cursor:pointer;padding-top:10px;}
a.gotolink:link {color: #775830; text-decoration:none; font-size:14px;}
a.gotolink:visited {color: #775830; text-decoration:none; font-size:12px;}
a.l_link:link {color: #775830; text-decoration: underline; font-size:12px;}
a.l_link:active {color: #775830; text-decoration:underline; font-size:12px;}
a.l_link:visited {color: #775830; text-decoration:underline; font-size:12px;}
a.l_link:hover {color: #775830; text-decoration:none; font-size:12px;}

/************************************************
* login *
************************************************/
.loginbg {background:url(../images/login-bg.jpg) no-repeat center 108px;}
.logcontainer{padding-top:80px; padding-bottom:20px;}
.logborder {border:1px solid #c6c6c6;}
.logtitle { repeat-x; line-height:36px; color:#fff; font-size:15px; background-image: url(../../images/y_tm.png);}
.logcontentbg {background:url(../images/login-content-bg.gif) repeat-x top #fff; padding:10px;}
.logtext {color:#14222b; font-size:13px;}
.forgotleft {background:url(../images/forgor-btn-left.gif) no-repeat; width:10px;}
.forgotright {background:url(../images/forgor-btn-right.gif) no-repeat; width:10px;}
.forgotmid {background:url(../images/forgor-btn.gif) repeat-x; height:26px; color:#393939; font-weight:bold; font-size:11px; line-height:22px;}
.forgotmid a {color:#393939; font-weight:bold; font-size:11px; text-decoration:none;}
.forgotmid a:hover {color:#393939; font-weight:bold; font-size:11px; text-decoration:underline;}
.catlable {color:#0A5493;}

/************************************************
* footer *
************************************************/
.footer {background:#EAEAEA; border-top:1px solid #d6d6d6; padding:6px 10px 6px 10px; color:#474747; font-size:11px;}


/************************************************
* Grid related Class *
************************************************/
input {border: #b8b8b8 1px solid; color: #14222b; padding:3px; background: url(../../images/input-bg.gif) #ffffff repeat-x; font-size:12px; font-family:Arial, Helvetica, sans-serif;} /* default class for the textboxes for whole project */
textarea {border: #b8b8b8 1px solid; padding:3px; font-size: 12px; background: url(../../images/input-bg.gif) #ffffff repeat-x; color: #000000; font-family:Arial, Helvetica, sans-serif; } /* default class for the textarea for whole project */
select {border: #b8b8b8 1px solid; padding:3px; font-size: 12px; background: url(../../images/input-bg.gif) #ffffff repeat-x;  color: #000000; font-family:Arial, Helvetica, sans-serif; } /* default class for the list menu/dropdown(like to select countries or state) for whole project */
.mandatory{color:#990000; font-weight:bold; font-size:12px;} /* to display mandatory things in the form, like "*"  */
.label{color:#333; font-weight:bold; } /* to give the class for fields label  */

.dottedline{background:url(../images/dotedline.gif) repeat-x bottom; height:8px;} /* for dotted lines */
.border{border:1px solid #dbdbdb; padding:1px;} /* common class to use border in the whole project */
.tablebgcolor{border:1px solid #dbdbdb; font-weight: bold;  padding:1px; background-color:white;} /* common class to use border in the whole project */
.nobg { background:none; border:none;} /* to give remove the background color or border of CHECKBOX and RADIO BUTTON */
.sfont{font-size:10px; color:#888888; font-style:italic;} /* for small grey font like to write comments near textfield in the grid */
.altbg td{background-color:#f0f0f0;   } /* for grid's alternate raw */
.nrlbg td{background-color:#fff; } /* for grid's normal raw */
.gridheaderbg td{background:#366186; color:#fff; border-bottom:1px solid #214463;  line-height:normal; padding:6px 0px 6px 5px;} /* for the image or background color of grid's header */
.img_border
{
  border: 0px;
}


.product-review-description{
	
}


/************************************************
* Light box *
************************************************/
.admcontentpadd_prod_add {padding:12px;background-color: #FFFFFF; }

/*************************************************
*Menu *
*************************************************/
.arrowlistmenu{
width: 100%; /*width of accordion menu*/
text-align:left;
}

.arrowlistmenu .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/
color:#FFF; font-size:12px; font-weight:bold;
background-color: #262626;
cursor: hand; padding:0px 0px 6px 0px; margin:0px 0px 0px 0px;
cursor: pointer; border-bottom:#565656 solid 1px;
background-image:url(../../images/right.gif);
background-repeat:no-repeat;
background-position:185px 12px;
}
.arrowlistmenu .menuheader2{ /*CSS class for menu headers in general (expanding or not!)*/
color:black; font-size:12px; font-weight:bold;
background-image:url("../../images/b_tm.png");
cursor: hand; padding:0px 0px 6px 0px; margin:0px 0px 0px 0px;
cursor: pointer; border-bottom:#565656 solid 1px;
}

.textpad{padding-left:10px; padding-top:8px;}

.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/
background-color:#366186; color:#FFF; font-size:12px; font-weight:bold; padding:0px 0px 6px 0px; margin:0px 0px 0px 0px;
background-image:url(../../images/down.gif);
background-repeat:no-repeat;
background-position:182px 12px;
border-bottom:#666 solid 1px;

}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin:0px;
padding:0px 0px 0px 0px;
}

.arrowlistmenu li{

padding:7px 0px 7px 0px; margin:0px 10px 0px 10px; border-bottom:#d9d9d9 solid 1px;

/*bottom spacing between menu items*/
}

.arrowlistmenu  li a{
text-decoration: none;
font-weight: bold; color:#292929; font-size:12px;

}

.arrowlistmenu li a:visited{
color: #000;  text-decoration:none;
}

.arrowlistmenu  li a:hover{ /*hover state CSS*/
color: #595b5d;text-decoration:none;
}
.accordbg {border-left:1px solid #d9d9d9;border-right:1px solid #d9d9d9; padding:0px 0px 0px 0px;}
.label {
	font-weight: bold;
	width: 100px;
}
.gridheaderbg th{
    background-attachment: scroll;
    background-clip: border-box;
   
    background-image: url("../../images/b_tm.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #214463;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: white;
    line-height: normal;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 6px;
}

.text_area
{
    height: 90px;
    width: 203px;
}
.inputbutton {
    
    background-attachment: scroll;
    background-image: url("../../images/y_tm.png");
    background-position: 0 0;
    background-repeat: repeat;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center;
}
.subbut {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #1E2559;
    background-image: url("../../images/y_tm.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center;
}
.redlabel1 {
    color: red;
    font-weight: bold;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 5px;
    padding-top: 0;
    text-align: center;
	 background-color: white;
}
.redlabel {
    color: red;
    font-weight: bold;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 5px;
    padding-top: 0;
    text-align: left;
}