.wallfactory-button { padding: 1px 0px 1px 20px; background-repeat: no-repeat; }
.wallfactory-icon { padding: 1px 1px 1px 16px; background-repeat: no-repeat; }

.wallfactory-go              { background-image: url(../images/bullet_go.png); }
.wallfactory-comments        { background-image: url(../images/comments.png); }
.wallfactory-loader          { background-image: url(../images/ajax-loader.gif); }
.wallfactory-add_wallroll    { background-image: url(../images/folder_add.png); }
.wallfactory-cross           { background-image: url(../images/cross.png); }
.wallfactory-folder_page     { background-image: url(../images/folder_page.png); }
.wallfactory-bullet_green    { background-image: url(../images/bullet_green.png); }
.wallfactory-bullet_red      { background-image: url(../images/bullet_red.png); }
.wallfactory-zoom            { background-image: url(../images/zoom.png); }
.wallfactory-images          { background-image: url(../images/images.png); }
.wallfactory-folder_add      { background-image: url(../images/folder_add.png); }
.wallfactory-folder_delete   { background-image: url(../images/folder_delete.png); }
.wallfactory-add             { background-image: url(../images/add.png); }
.wallfactory-delete          { background-image: url(../images/delete.png); }
.wallfactory-page_edit       { background-image: url(../images/page_edit_opt2.png); }
.wallfactory-page_delete     { background-image: url(../images/delete_opt.png); }
.wallfactory-user            { background-image: url(../images/user.png); }
.wallfactory-date            { background-image: url(../images/date.png); }
.wallfactory-comment_add     { background-image: url(../images/comment_add_opt.png); }
.wallfactory-bullet_add      { background-image: url(../images/bullet_add.png); }
.wallfactory-feed            { background-image: url(../images/feed.png); }
.wallfactory-page_white_text { background-image: url(../images/page_white_text.png); }

.wallfactory-exclamation 	{ background-image: url(../images/exclamation.png); }
.wallfactory-comment_delete { background-image: url(../images/comment_delete.png);  } 
.wallfactory-share 			{ background-image: url(../images/group_go_opt.png); font-size: 10px; color: #135CAE; }
.wallfactory-mp3 			{ background-image: url(../images/sound.png); }
.wallfactory-file 			{ background-image: url(../images/directory.png); }
.wallfactory-report 		{ background-image: url(../images/flag_red_opt.png); }
.wallfactory-reported 		{ background-image: url(../images/exclamation_opt.png); margin-right: 5px; float: right; }