.table { width: 100%; border: 1px solid #dddddd; border-collapse: collapse; }
.table td, .table th { padding: 5px 5px; }
.table td { vertical-align: top; border-bottom: 1px dotted #dddddd; }
.table tr.even td { background-color: #f3f3f3; }

.table th.checkbox { width: 2px; text-align: center; }
.table th.author { width: 100px; }
.table th.post { width: 150px; }

.table tr.no-border td { border: 0px; }

.table tfoot, table thead { height: 30px; }
.table tr.unapproved td { background-color: #ffffff !important; }
.table tr.reported td { background-color: #ffcccc !important; }
a { outline: none; }

.actions { margin: 10px; }
.error { background-color:#fcc !important; color:#510 !important; }

#loading-bar { position: fixed; top: 0px; left: 50%; padding: 5px 10px; background-color: #FFF1A8; font-weight: bold; }
#action-message { text-transform: lowercase; text-align: center !important; padding: 5px 10px; background-color: #FFF1A8; font-weight: bold; margin: 0px auto; margin-top: 5px; margin-bottom: 5px; }
.action-error { background-color: #cc0000 !important; color: #ffffff; }
tr.unapproved td { background-color: #ffffdd !important; }

.wallfactory-wrapper { background-color: #fff;  border: 1px solid #dddddd; width: 100%; float: left; }
.wallfactory-banned { color: #ff0000 !important; text-align: center !important; }

.wallfactory-maxwidth { width: 100%; }
.wallfactory-clear { clear: both; }
.wallfactory-left { float: left; }
.wallfactory-right { float: right; }
.wallfactory-none { display: none; }
.wallfactory-action { padding: 5px 5px 4px; }
.media_width { width: 100px; }
.right-icon { margin-right: 5px; float: right; }
.guest-avatar { width: 70px; height: 70px; border: 0 none; }
.user-avatar { border: 0 none; }
.alias-margin { margin-right: 2px; } 
.alias-font { font-size: 12px; cursor: pointer; }

.video-description { padding: 2px 1px; }
.align-top { vertical-align: top; }
.wallfactory-margin { margin-top: 10px; }

div.action-bar { padding-bottom: 3px; }
.wallfactory-action-header { padding-top: 2px; border-bottom: 1px dotted #999999; padding: 3px 0px 2px; }

.cancel-comment-wrapper { vertical-align: top; border-bottom: 1px solid #DFDFDF; overflow: hidden; padding-bottom: 2px; }
.wallfactory-comments-latest { color: #999999; padding-top: 2px;  } /*border: 1px solid #e5eaf1;*/
.wallfactory-comment-content { padding: 5px 5px 4px 10px; }
.comment-column { border-color: #BDC7D8; border-style: solid; border-width: 1px 0 1px 1px; padding: 3px 3px 0; width: 200px;  font-size: 11px; }
.comment-textarea { background: none repeat scroll 0 0 #FFFFFF; width: 500px; height:30px; overflow:hidden; }
.submit-comment { border: 1px solid #dddddd; background-color: #C2C0C0; padding: 2px 3px; color: #135CAE; margin-top: 5px; }

.comment-alias { font-weight: bold; font-size: 13px; cursor: pointer; float: left; }