.wallfactory-title { width: 98%; border: 1px solid #999999; padding: 3px 5px; font-size: 20px !important; font-weight: bold; }
.wallfactory-error { border: 1px solid #ff0000; }
.error { color: #ff0000; }
.posts { width: 620px; }
#post label { font-weight: bold; }
#post input, #post select, #post textarea { border: 1px solid #999999; padding: 3px; }
#post input:focus, #post select:focus { background-color: #ffffdd; }
.save-button { border: 1px solid #dddddd; background-color: #ffffff; padding: 5px 10px; color: #135CAE; }

.post-button { margin: 8px; float: right; }

.wallfactory-comment { background-color: #ffffff; }
.wallfactory-comment-form { display: none; padding: 5px; }
.wallfactory-comment-report { padding: 2px; margin-right: 5px; float: right; }
.wallfactory-comment-added { margin: 5px; font-weight: bold; display: none; }
.comments_list { padding: 2px; }

.wallfactory-media-container { width:99%; position:relative; float: left; }
.wallfactory-post-content { width:100%; position:relative; float: left; }
.wallfactory-media-bookmark { display: none; padding: 5px; }
.managefollowed { padding: 2px 2px; color:black; background-color:#898787; border:1px solid #898787; }

.media_description { padding: 5px 5px 4px 7px; }

.media_title {
	color: #000000 !important;
	font-weight: bold;
	font-size: 13px;
	vertical-align: top;
	padding: 2px;
	font-family:Arial,Helvetica,sans-serif;
	white-space:normal;
}

.image-name { border: 1px solid ; background-color: #fff; vertical-align: top; }
.image_container { color: green; font-size: 12px; }

.media_share { padding: 1px; float: right; }
.media_thumbnail { width: 100px; float: left; padding: 1px; vertical-align: top; }
.media_file { width: 210px; float: left; padding: 1px; vertical-align: bottom; }

.highlight { border: solid 1px red; }

a.cancel-comment {
	background-image: url(../images/cancel_blue.png);
	background-repeat: no-repeat;
	float: right;
	color: #3B5998;
	cursor: pointer;
	text-decoration: none;
	padding-right: 14px;
}

div.comment-title {
	background-image: url(../images/comment_edit.png);
	background-repeat: no-repeat;
	color: #666666;
	font-weight: bold;
	padding-left: 18px;
}

div.wallfactory-text {
  margin: 2px;
}

img.wallfactory-icon {
  vertical-align: middle;
  margin-right: 3px;
}

#video-sources ul a {
color:#9293a0 !important;
display:block;
padding-left:2px;
padding-right:2px;
text-decoration:none;
float: left;
font-size: 11px;
}

#video-sources ul li img {
color:#9293a0 !important;
display:block;
padding-left:2px;
padding-right:2px;
text-decoration:none;
float: left;
}

.round {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background-color:#ededed;
border:1px solid #CCCCCC;
color:black;
overflow:hidden !important;
padding:2px;
position:relative;
width:98%;
}

div.main_message {
	clear: left;
	display: block;
	position: relative !important;
	border:1px solid #898787;
	width:98%;
	margin: 2px;
	padding: 3px;
	background-color: #e8e8e8;
}

.avatar {
	text-align: center;
	padding: 1px;
	float: left;
	width: 102px;
	border-right: 1px dotted #898787;
}
.round_follow {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
float: right;
background-color:#fff;
border:1px solid #c2c0c0;
color:black;
position:relative !important;
width: 50%;
padding: 3px 2px;
	
}

.round_post {
position:relative !important;
padding: 3px 2px;
float: right;
width: 82%;
background-color:#e8e8e8;
border:0px solid #898787;
color:black;
}

.round_comments {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
position:relative !important;
padding: 1px 2px;
width:100%;
background-color: #fff;
border:1px solid #898787;
color: #999999;
float: left;
}

.round_media {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
position:relative !important;
padding: 1px 2px;
width: 100%;
background-color:#dbdbdb ;
border:1px solid #898787;
color:black;
font-size: 13px !important; 
float:left;
}

.post_message {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
position:relative !important;
padding: 1px;
margin: 0;
width: 99%;
background-color:#dbdbdb;
border:1px solid #898787;
color:black;
font-size: 13px !important; 
float:left;
overflow: hidden;
}

.video_content { float:left; padding: 3px 0; }

.upload_separator {
border-bottom:1px solid #AFE14C;
color:black;
position:relative;
width:80%;
line-height: 110%;
}

div.wallfactory_fieldset {
border:1px solid #AFE14C;
margin:8px 0;
padding:10px 10px;
}

div.wallfactory_fieldset span.legend {
-x-system-font:none;
background-color:#FFFFFF;
color:#73B304;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:700;
line-height:normal;
padding:3px;
position:relative;
top:-17px;
}