@charset "utf-8";
/* CSS Document */
body {
	background-color:#fff;
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
}

#header {
	padding-bottom: 15px;
}

#footer {
	border-top: 1px solid #DDDDDD;
    color: #666666;
    font-size: 85%;
    margin-top: 30px;
    padding-top: 20px;
}

h1 {
    border-bottom: 1px solid #DDDDDD;
    color: #009DDF;
    font-family: 'Tauri',sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0;
    padding-bottom: 10px;
}

h2 {
    color: #009edf;
    font-family: 'Tauri',sans-serif;
    font-size: 20px;
    font-weight: normal;	
}

h3 {
font-family: 'Tauri',sans-serif;
margin-bottom: 20px;
font-size: 18px;
}

#form {
    /*background: none repeat scroll 0 0 #EEEEEE;*/
	/*border-left: 1px solid #ddd;*/
	padding-bottom: 10px;
	/*min-height: 400px;*/
}

#promo {
/*border: 1px solid #999;
background-color: #009edf;	
color: #fff;*/
border-left: 1px solid #ddd;
/*-moz-border-radius: 4px;
 border-radius: 4px;
 background-color: #ddd;*/
 padding-bottom: 20px;
}

#form h2, #form p, #form #db, button {
margin-left: 20px;	
margin-right: 20px;
}

#promo h2, #promo p, #promo #db, button {
margin-left: 20px;	
margin-right: 20px;
}

.form-horizontal {
margin-right: 20px;	
}

.form-group {
margin-left: 5px !important;	
}

a {
color: #009edf;	
}

a:hover {
text-decoration: none;
color: #D4145A;	
}

a.btn-primary {
margin-top: 20px;
font-family: 'Tauri', sans-serif;
background-color: #d4145a;
border-color: #d4145a;	
color: #fff;	
}

.nomargin {
margin-top: 0px !important;
}

a.btn-primary:hover {
font-family: 'Tauri', sans-serif;
background-color: #009edf;
color: #fff;
border-color: #009edf;	
}

.btn-danger {
font-family: 'Tauri', sans-serif;
background-color: #d4145a;
border-color: #d4145a;	
color: #fff;	
}

.btn-danger:hover {
font-family: 'Tauri', sans-serif;
background-color: #009edf;
color: #fff;
border-color: #009edf;	
}

.btn-danger:open {
font-family: 'Tauri', sans-serif;
background-color: #009edf;
color: #fff;
border-color: #009edf;	
}



a.btn-info {
font-family: 'Tauri', sans-serif;
background-color: #009edf;
border-color: #009edf;	
color: #fff;	
}

a.btn-info:hover{
background-color: #d4145a;
border-color: #d4145a;	
color: #fff;	
}

#buy {
font-family: 'Tauri', sans-serif; 
background-color: #009edf; 
color:#fff;font-size: 17px; 
padding-top: 5px;
padding-bottom: 5px;
padding-right: 17px;
padding-left: 15px;
}

button.btn-default:hover {
border-color: #009edf;
color: #009edf !important;	
background-color: #fff !important;
}

.btn-sm:hover {
	color: #fff !important;
	background-color: #fff !important;
}

.blue-table {
  border-left:1px solid #009edf;
  border-top:1px solid #009edf;
  margin-bottom:15px;
  margin-top:15px;
}

.blue-table th {
  background-color:#009edf;
  color:#ffffff;
  border-right:1px solid #009edf;
  border-bottom:1px solid #009edf;
  padding:5px 15px;
  text-align:center;
  font-size:13px;
  font-weight:bold;
  vertical-align:top;
}

.blue-table th p, .blue-table td p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.blue-table td .warning p, .blue-table td .tip p {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}

.blue-table td {
  border-right:1px solid #009edf;
  border-bottom:1px solid #009edf;
  vertical-align:top;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

td, th {
  border-color: #eeeeee;
  border-style: solid;
  padding: 12px;
}

th {
  border-width: 1px 0;
  color: #bebebe;
  font-size: 11px;
  font-weight: normal;
  white-space: nowrap;
}

td {
  border-width: 0 0 1px 0;
}

media="screen"
.controls .btn {
background-color: #d4145a;
color: #fff;
margin-top: 15px;
font-family: 'Tauri',sans-serif;
}


.jumbotron h1 {
    border-bottom: 0px solid #DDDDDD;
	color: #009DDF;
    font-family: 'Tauri',sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 40px;
	margin: 20px 0;
    padding-bottom: 10px;
}

@media (min-width: 769px) {




}

@media (max-width: 700px) {
	
#questions {
	padding-top: 30px;
	margin-top: 30px;
	color: red;
}

	
}

@media (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {



}

@media (max-width: 768px) { /* target iPad portrait */

  
}