<?php
$_order = Mage::getModel('sales/order')->loadByIncrementId($this->getOrderId());
$order_id = $_order->getId();

/* @var $licenseHelper Itoffshore_Licensemanager_Helper_Data */
$licenseHelper = Mage::helper('licensemanager');

// Get license keys
$serial_numbers = $licenseHelper->getSerialNumbersFromOrder($_order);


$license="<ul class='support'>";
$license_raw="";
foreach($serial_numbers as $serial_number) {
    $license .= "<li>". $serial_number."</li>";
    $license_raw .= $serial_number." / ";
    $count += 1;
}
$license .= "</ul>";

// Get Product ID's (ex. 509)
$product_ids = "";
$product_name = "";
foreach($_order->getAllItems() as $_item)
{
    $_product = Mage::getModel('catalog/product')->load($_item->getProductId());
    if(!in_array($_product->getTypeId(), array("bundle", "configurable")))
        $product_ids .= $_item->getProductId()."-";
        $product_name .= $_item->getName()."-";
}
$product_ids = rtrim($product_ids, "-");
$product_name = rtrim($product_name, "-");

$renewal = false;
if (strpos($product_name,'Renewal') !== false) {
    $renewal = true;
}

//Get required customer information
$billing_address = $_order->getBillingAddress();
$cust_fname = $billing_address->getFirstname() ;
$cust_lname = $billing_address->getLastname();
$cust_email = $billing_address->getEmail();
$cust_company = $billing_address->getCompany();
$cust_Phone = $billing_address->getTelephone();
$city = $billing_address->getCity();
$state = $billing_address->getRegion();
$country = $billing_address->getCountryId();

//Get Store code
$store_code = Mage::getModel('core/store')->load($_order->getStoreId())->getCode();


// Send order success to pardot
$url = 'http://www2.informationmapping.com/l/8622/2015-09-21/zbpgy';
$body = 'firstname=' . $cust_fname . '&lastname=' . $cust_lname . '&email=' . $cust_email . '&company=' . $cust_company . '&country=' . $country.'&phone='.$cust_Phone.'&city='.$city.'&state='.$state;
$c = curl_init($url);
curl_setopt($c, CURLOPT_POST, true);
curl_setopt($c, CURLOPT_POSTFIELDS, $body);
curl_setopt($c, CURLOPT_RETURNTRANSFER, true);
$page = curl_exec($c);
curl_close($c);


?>
<div>
    <h1><?php echo $this->__('Your order has been received') ?></h1><hr>
    <h3>Order with Id: <?php echo $this->getOrderId(); ?></h3>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<p><strong><?php echo $this->__('Thank you for your purchase!') ?></strong></p>
<p>
 <?php if ($this->canPrint()) :?>
  <?php echo $this->__('Your order # is: <a href="%s">%s</a>', $this->getViewOrderUrl(), $this->getOrderId()) ?>.<br/>
  <?php  else :?>
  <?php echo $this->__('Your order # is: %s', $this->getOrderId()) ?>.<br/>
  <?php endif;?>

    <?php echo $this->__('You will receive an order confirmation email with details of your order and a link to track its progress.') ?><br/>
    <?php if ($this->canPrint()) :?>
    <?php echo $this->__('Click <a href="%s" onclick="this.target=\'_blank\'">here to print</a> a copy of your order confirmation.', $this->getPrintUrl()) ?>
    <?php endif;?>
    <?php echo $this->getChildHtml() ?>
</p>
    <script type="text/javascript">
        swal({
                title: "Thank you for your purchase!",
                text: "<div class='row'><div class='col-md-offset-1 col-md-10'><ol><?php if(!empty($license) && !$renewal): ?><li><strong>Download FS Pro</strong></li><p><a class='btn btn-blue' href='http://www.informationmapping.com/downloads/FSPro2013.zip' target='_blank'>Download FS Pro 2013</a></p><?php endif;?><?php if($renewal): ?><li><strong>How to renew your subscription</strong></li><p><small>If your FS Pro 2013 subscription has</small></p><ul class='support'><li><small>not expired yet, then on the FS Pro 2013 ribbon within Word, click on the <strong>Help</strong> menu dropdown arrow and select <strong>Renew Subscription</strong>. You can enter your key into the dialog box.</small></li><li><small>already expired, then start FS Pro 2013, enter your key in the popup window that appears, and click <strong>Apply Key</strong>.</small></li></ul><?php endif;?><li><strong>Activate FS Pro</strong></li><p>You can activate FS Pro with your license key(s):</p><?php if(!empty($license) && $count<=5 ): ?><strong><?php echo $license; ?></strong><?php elseif($count>5): ?><p><a href='data:application/octet-stream;charset=utf-8;base64,<?php echo base64_encode($license_raw); ?>' download='/License.txt' class='btn btn-pink'>Download your License Keys</a></p><?php else: ?><p>You can find your license key</p><ul><li>on the invoice e-mail, and</li><li>by <a href='https://www.informationmapping.com/en/shop/customer/account/' target='_blank'>logging into your account</a>. Then click My orders, View Order and Invoices.</li></ul><?php endif;?><?php if(Mage::helper('elearning')->orderContainsElearning($_order)): ?><li><strong>Access your eLearning courses</strong></li><p>Specify who should get access: <a class='btn btn-blue' href='<?php echo Mage::helper('elearning')->getEnrollmentUrl($_order) ?>' target='_blank' >Enroll Now</a></p><?php endif; ?></ol></div></div>",
                type: "success",
                customClass: 'checkout',
                html: true,
                confirmButtonText: 'Okay',
                allowOutsideClick: true,
                allowEscapeKey: true,
                showCancelButton: true,
                cancelButtonText: "Get Support",
                closeOnCancel: false
            },
            function(isConfirm){
                if (!isConfirm) {
                    swal({
                        title: "Find Support",
                        text: "<div class='row'><div class='col-md-offset-1 col-md-10'><ul><li>FS Pro 2013 <strong>Tutorial</strong>: <p>Consists of videos that will show you how to get the most out of the FS Pro software. It can be found <a href='https://www.informationmapping.com/fspro2013-tutorial/' target='_blank'>here</a>.</p></li><li>FS Pro <strong>Knowledge Base</strong>:  <p>Contains installation and activation procedures, tips and tricks and additional support information on FS Pro: <a href='http://support.informationmapping.com' target='_blank'>Knowledge Base</a>.</p></li><li>Information Mapping Method: <p>If you are interested in learning more about the <strong>information mapping method</strong> check out our <a href='https://www.informationmapping.com/imessentials/' target='_blank'>Essentials course</a>.</p></li></ul></div></div>",
                        type: "info",
                        customClass: 'checkout',
                        html: true,
                        confirmButtonText: 'Okay',
                        allowOutsideClick: true,
                        allowEscapeKey: true
                        });
                }
            });
    </script>
<div class="button-set">
    <button type="button" class="btn btn-blue" onclick="window.location='<?php echo $this->getUrl() ?>'"><?php echo $this->__('Continue Shopping') ?></button>
    <button type="button" class="btn btn-grey" onclick="window.location='http://support.informationmapping.com'"><?php echo $this->__('Get Support') ?></button>
</div>
