/* Floatbox v3.21 */

/* November 03, 2008 */

#fbOverlay{position:fixed; top:0; left:0; width:100%; height:100%; border-width:0; margin:0; padding:0}

div.fbOverlay_black{background-color:#000}

div.fbOverlay_white{background-color:#000}

div.fbOverlay_blue{background-color:#0b183b}

div.fbOverlay_yellow{background-color:#752}

div.fbOverlay_red{background-color:#280000}

div.fbOverlay_custom{background-color:#1b2642}

#fbBox{position:absolute; border-style:solid; border-width:0; margin:0; padding:0}

div.fbBox_black{border-color:#888;  background-color:#000}

div.fbBox_white{border-color:#888; background-color:#fff}

div.fbBox_blue{border-color:#4060a8; background-color:#0b183b}

div.fbBox_yellow{border-color:#680c0c; background-color:#ed9}

div.fbBox_red{border-color:#945848; background-color:#580808}

div.fbBox_custom{border-color:#da7b4d; background-color:#eed39e}

#fbBox div, #fbBox a, #fbBox img, #fbBox iframe{border-width:0; margin:0; padding:0; outline:none; -moz-outline:none}

#fbBox a{background:url(graphics/blank.gif)}

#fbZoomDiv, a.fbPopup img, #fbBox #fbIndexLinks img{position:absolute; left:-9999px; top:0; border-style:solid; border-color:black; margin:0; padding:0}

#fbBox #fbLoader{position:absolute; top:0; left:0; min-width:100%; min-height:100%; width:100%; height:100%; background-position:center; background-repeat:no-repeat}

#fbBox .fbLoader_black{background-image:url(graphics/loading_black.gif)}

#fbBox .fbLoader_white{background-image:url(graphics/loading_white.gif)}

#fbBox .fbLoader_blue{background-image:url(graphics/loading_black.gif)}

#fbBox .fbLoader_yellow{background-image:url(graphics/loading_white.gif)}

#fbBox .fbLoader_red{background-image:url(graphics/loading_black_small.gif)}

#fbBox .fbLoader_custom{background-image:url(graphics/loading_black_small.gif)}

#fbBox #fbShadowRight, #fbBox #fbShadowBottom, #fbBox #fbShadowCorner{position:absolute; left:0; top:0; width:100%; height:100%; background-repeat:no-repeat}

#fbBox #fbShadowRight{background-image:url(graphics/shadowRight.png); background-position:top right}

#fbBox #fbShadowBottom{background-image:url(graphics/shadowBottom.png); background-position:bottom left}

#fbBox #fbShadowCorner{background-image:url(graphics/shadowCorner.png); background-position:bottom right}

#fbBox #fbCanvas{position:relative;  left:0; top:0; width:100%; height:100%}

#fbBox #fbMainDiv, #fbBox #fbInfoPanel, #fbBox #fbControlPanel{position:absolute; border-style:solid; overflow:hidden}

#fbBox #fbMainDiv{background-color:#fff}

#fbBox .fbMainDiv_black{border-color:#ccc}

#fbBox .fbMainDiv_white{border-color:#000}

#fbBox .fbMainDiv_blue{border-color:#aaa8be}

#fbBox .fbMainDiv_yellow{border-color:#700}

#fbBox .fbMainDiv_red{border-color:#b64}

#fbBox .fbMainDiv_custom{border-color:#b64}

#fbBox #fbResizer{position:absolute; width:25px;  height:25px}

#fbBox .fbResizer_black{background-image:url(graphics/resize_black.gif)}

#fbBox .fbResizer_white{background-image:url(graphics/resize_white.gif)}

#fbBox .fbResizer_blue{background-image:url(graphics/resize_blue.gif)}

#fbBox .fbResizer_yellow{background-image:url(graphics/resize_yellow.gif)}

#fbBox .fbResizer_red{background-image:url(graphics/resize_red.gif)}

#fbBox .fbResizer_custom{background-image:url(graphics/resize_red.gif)}

#fbBox #fbLeftNav, #fbBox #fbRightNav{position:absolute; height:100%}

#fbBox #fbLeftNav, #fbBox #fbOverlayPrev{left:0}

#fbBox #fbRightNav, #fbBox #fbOverlayNext{right:0}

#fbBox #fbOverlayPrev, #fbBox #fbOverlayNext{position:absolute; width:49px;  height:23px; background-repeat:no-repeat}

#fbBox .fbOverlayPrev_black{background-image:url(graphics/prev_upr_black.gif)}

#fbBox .fbOverlayPrev_white{background-image:url(graphics/prev_upr_white.gif)}

#fbBox .fbOverlayPrev_blue{background-image:url(graphics/prev_upr_blue.gif)}

#fbBox .fbOverlayPrev_yellow{background-image:url(graphics/prev_upr_yellow.gif)}

#fbBox .fbOverlayPrev_red{background-image:url(graphics/prev_upr_red.gif)}

#fbBox .fbOverlayPrev_custom{background-image:url(graphics/prev_upr_blue.gif)}

#fbBox .fbOverlayNext_black{background-image:url(graphics/next_upr_black.gif)}

#fbBox .fbOverlayNext_white{background-image:url(graphics/next_upr_white.gif)}

#fbBox .fbOverlayNext_blue{background-image:url(graphics/next_upr_blue.gif)}

#fbBox .fbOverlayNext_yellow{background-image:url(graphics/next_upr_yellow.gif)}

#fbBox .fbOverlayNext_red{background-image:url(graphics/next_upr_red.gif)}

#fbBox .fbOverlayNext_custom{background-image:url(graphics/next_upr_blue.gif)}

#fbBox #fbInfoPanel{line-height:1.25em;  font-family:Verdana,Helvetica,sans-serif; font-size:12px}

#fbBox #fbCaption{cursor:default}

#fbBox #fbInfoLink, #fbBox #fbPrintLink{padding-bottom:.1em}

#fbBox #fbItemNumber{font-size:10px;  white-space:nowrap; cursor:default}

#fbBox .fbItemNumber_black, #fbBox #fbIndexLinks.fbIndexLinks_black, #fbBox #fbIndexLinks.fbIndexLinks_black a:link, #fbBox #fbIndexLinks.fbIndexLinks_black a:visited{color:#aaa}

#fbBox .fbItemNumber_white, #fbBox #fbIndexLinks.fbIndexLinks_white, #fbBox #fbIndexLinks.fbIndexLinks_white a:link, #fbBox #fbIndexLinks.fbIndexLinks_white a:visited{color:#666}

#fbBox .fbItemNumber_blue, #fbBox #fbIndexLinks.fbIndexLinks_blue, #fbBox #fbIndexLinks.fbIndexLinks_blue a:link, #fbBox #fbIndexLinks.fbIndexLinks_blue a:visited{color:#aaa8be}

#fbBox .fbItemNumber_yellow, #fbBox #fbIndexLinks.fbIndexLinks_yellow, #fbBox #fbIndexLinks.fbIndexLinks_yellow a:link, #fbBox #fbIndexLinks.fbIndexLinks_yellow a:visited{color:#700}

#fbBox .fbItemNumber_red, #fbBox #fbIndexLinks.fbIndexLinks_red, #fbBox #fbIndexLinks.fbIndexLinks_red a:link, #fbBox #fbIndexLinks.fbIndexLinks_red a:visited{color:#ca8}

#fbBox .fbItemNumber_custom, #fbBox #fbIndexLinks.fbIndexLinks_custom, #fbBox #fbIndexLinks.fbIndexLinks_custom a:link, #fbBox #fbIndexLinks.fbIndexLinks_custom a:visited{color:#965f74}

#fbBox .fbInfoPanel_black, #fbBox .fbInfoPanel_black a:link, #fbBox .fbInfoPanel_black a:visited, #fbBox #fbIndexLinks.fbIndexLinks_black a:hover{color:#d7d7d7}

#fbBox .fbInfoPanel_white, #fbBox .fbInfoPanel_white a:link, #fbBox .fbInfoPanel_white a:visited, #fbBox #fbIndexLinks.fbIndexLinks_white a:hover{color:#000}

#fbBox .fbInfoPanel_blue, #fbBox .fbInfoPanel_blue a:link, #fbBox .fbInfoPanel_blue a:visited, #fbBox #fbIndexLinks.fbIndexLinks_blue a:hover{color:#aaa8be}

#fbBox .fbInfoPanel_yellow, #fbBox .fbInfoPanel_yellow a:link, #fbBox .fbInfoPanel_yellow a:visited, #fbBox #fbIndexLinks.fbIndexLinks_yellow a:hover{color:#700}

#fbBox .fbInfoPanel_red, #fbBox .fbInfoPanel_red a:link, #fbBox .fbInfoPanel_red a:visited, #fbBox #fbIndexLinks.fbIndexLinks_red a:hover{color:#ec9}

#fbBox .fbInfoPanel_custom, #fbBox .fbInfoPanel_custom a:link, #fbBox .fbInfoPanel_custom a:visited, #fbBox #fbIndexLinks.fbIndexLinks_custom a:hover{color:#735}

#fbBox #fbControls{height:14px;  font-size:1px}

#fbBox #fbNavControls{width:88px;  height:14px}

#fbBox #fbPrev{float:left; width:44px;  height:14px; background-repeat:no-repeat}

#fbBox .fbPrev_black{background-image:url(graphics/prev_lwr_black.gif)}

#fbBox .fbPrev_white{background-image:url(graphics/prev_lwr_white.gif)}

#fbBox .fbPrev_blue{background-image:url(graphics/prev_lwr_blue.gif)}

#fbBox .fbPrev_yellow{background-image:url(graphics/prev_lwr_yellow.gif)}

#fbBox .fbPrev_red{background-image:url(graphics/prev_lwr_red.gif)}

#fbBox .fbPrev_custom{background-image:url(graphics/prev_lwr_yellow.gif)}

#fbBox .fbPrev_black_off{background-image:url(graphics/prev_lwr_off_black.gif)}

#fbBox .fbPrev_white_off{background-image:url(graphics/prev_lwr_off_white.gif)}

#fbBox .fbPrev_blue_off{background-image:url(graphics/prev_lwr_off_blue.gif)}

#fbBox .fbPrev_yellow_off{background-image:url(graphics/prev_lwr_off_yellow.gif)}

#fbBox .fbPrev_red_off{background-image:url(graphics/prev_lwr_off_red.gif)}

#fbBox .fbPrev_custom_off{background-image:url(graphics/prev_lwr_off_yellow.gif)}

#fbBox #fbNext{float:right; width:44px;  height:14px; background-repeat:no-repeat}

#fbBox .fbNext_black{background-image:url(graphics/next_lwr_black.gif)}

#fbBox .fbNext_white{background-image:url(graphics/next_lwr_white.gif)}

#fbBox .fbNext_blue{background-image:url(graphics/next_lwr_blue.gif)}

#fbBox .fbNext_yellow{background-image:url(graphics/next_lwr_yellow.gif)}

#fbBox .fbNext_red{background-image:url(graphics/next_lwr_red.gif)}

#fbBox .fbNext_custom{background-image:url(graphics/next_lwr_yellow.gif)}

#fbBox .fbNext_black_off{background-image:url(graphics/next_lwr_off_black.gif)}

#fbBox .fbNext_white_off{background-image:url(graphics/next_lwr_off_white.gif)}

#fbBox .fbNext_blue_off{background-image:url(graphics/next_lwr_off_blue.gif)}

#fbBox .fbNext_yellow_off{background-image:url(graphics/next_lwr_off_yellow.gif)}

#fbBox .fbNext_red_off{background-image:url(graphics/next_lwr_off_red.gif)}

#fbBox .fbNext_custom_off{background-image:url(graphics/next_lwr_off_yellow.gif)}

#fbBox #fbPlay, #fbBox #fbPause{position:absolute; background-repeat:no-repeat}

#fbBox #fbPlayPause, #fbBox #fbPlay, #fbBox #fbPause{width:46px;  height:14px; text-align:left}

#fbBox .fbPlay_black{background-image:url(graphics/play_black.gif)}

#fbBox .fbPlay_white{background-image:url(graphics/play_white.gif)}

#fbBox .fbPlay_blue{background-image:url(graphics/play_blue.gif)}

#fbBox .fbPlay_yellow{background-image:url(graphics/play_yellow.gif)}

#fbBox .fbPlay_red{background-image:url(graphics/play_red.gif)}

#fbBox .fbPlay_custom{background-image:url(graphics/play_yellow.gif)}

#fbBox .fbPause_black{background-image:url(graphics/pause_black.gif)}

#fbBox .fbPause_white{background-image:url(graphics/pause_white.gif)}

#fbBox .fbPause_blue{background-image:url(graphics/pause_blue.gif)}

#fbBox .fbPause_yellow{background-image:url(graphics/pause_yellow.gif)}

#fbBox .fbPause_red{background-image:url(graphics/pause_red.gif)}

#fbBox .fbPause_custom{background-image:url(graphics/pause_yellow.gif)}

#fbBox #fbClose{width:46px;  height:14px; background-repeat:no-repeat}

#fbBox .fbClose_black{background-image:url(graphics/close_black.gif)}

#fbBox .fbClose_white{background-image:url(graphics/close_white.gif)}

#fbBox .fbClose_blue{background-image:url(graphics/close_blue.gif)}

#fbBox .fbClose_yellow{background-image:url(graphics/close_yellow.gif)}

#fbBox .fbClose_red{background-image:url(graphics/close_red.gif)}

#fbBox .fbClose_custom{background-image:url(graphics/close_yellow.gif)}

#fbBox #fbIndexLinks{clear:both; font-size:11px; cursor:default}

#fbBox #fbIndexLinks a:hover{font-weight:bold}

#fbInfoPanel.posCenter, #fbInfoDiv.posCenter, #fbIndexLinks.posCenter{margin:0 auto}

#fbInfoPanel.posRight, #fbInfoDiv.posRight, #fbIndexLinks.posRight{float:right}

#fbInfoPanel.posLeft, #fbInfoDiv.posLeft, #fbIndexLinks.posLeft{float:left}

#fbControlPanel.posRight, #fbControls.posRight, #fbClose.posRight, #fbSubControls.posRight, #fbNavControls.posLeft, #fbPlayPause.posLeft{float:right}

#fbControlPanel.posLeft, #fbControls.posLeft, #fbClose.posLeft, #fbSubControls.posLeft, #fbNavControls.posRight, #fbPlayPause.posRight{float:left}

#fbSubControls, #fbClose, #fbIndexLinks, #fbPlayPause, #fbNavControls{float:left}