body {

	background-image: url("/images/763-h-gradient.gif");

}

#header{

	background: #763  url("/images/head_bg_tools.jpg");

	color: #fc3;

}

#header a:link, #header a:visited, #header a:hover, #header a:active {

	color: #fc3;

}

#header .hr {

	background-color: yellow;

}

#nav .vr {

	height: 28em;

	background-color: #000;

}

#menulist li a {

	background-color: #9bb;

}

#content legend {

	font-size: 1.3em;

	color: #763;

}

#content p {

	text-align: left;

}

#content a img {

	border: 1px solid black;

}

#content .blockcode {

	display: block;

	font-family: monospace;

	color: #070;

	background-color: #ffffda;

}

#content .code {

	font-family: monospace;

	color: #070;

	background-color: #ffffda;

}

#content li {

	margin-top: .3em;

}

#content ul, #content ol { 

	margin-top: .7em;

}

