

body {

	font-family: sans-serif;

	margin: 0;

	padding: 0;

	border: 0;

	background-repeat: repeat-y;

	background-color: white;

	background-image: url("/images/49a-h-gradient.gif");

}



.accessaid {

	position: absolute;

	left: -9999px;

}



form {

	font-size: .9em;

	padding: 1em;

	border: 2px solid #000;

	background: #ddd;

}

form label {

	display: block;

	padding-top: .8em;

}

form img {

	position: relative;

	float: right;

	width: 35%;

	border: 1px solid #000;

	margin-left: 1em;

	margin-bottom: 1em;

}

form button {

	color: #fff;

	background-color: #555;

	margin-left: 8em;

}



#page {

	margin: 0 10px;

	font-size: .95em;

	min-height: 100%;

}



#header {

	height: 7em;

	background: #cef url("/images/head_bg_main.jpg");

	color: #046;

	position: relative;  /* need relative to make nowrap work */

	white-space: nowrap;

	overflow: hidden;

}

#header a:link, #header a:visited, #header a:hover, #header a:active {

	color: #b40;

}

#header h1 {

	position: relative;

	margin: 0;

	top: .6em;

	left: 45px;

	font-size: 2em;

	font-weight: bold;

}

#header .crumb {

	position: absolute;

	top: 5em;

	left: 45px;

	font-size: .9em;

}

#header .hr {

	position: absolute;

	top: 6em;

	left: 45px;

	width: 100%;

	margin-right: auto;

	margin-left: auto;

	height: 2px;

	background-color: #16b;

}



#nav {

	float: left;

	width: 175px;

	height: 25em;

/* 	background-color: #49a */

}

#nav .menu {

	margin-top: 2.5em;

	margin-left: 10px;

	font-size: .9em;

}

#nav .vr {

	float: right;

	margin-top: -.6em;  /* relative to nav.menu margin-top */

	width: 1px;

	height: 18em;

	background-color: #000;

}

#nav .submenu {

	font-size: .92em;

	margin-right: 20px;

}

#nav .submenu ul {

	padding-left: 0;

	margin-left: 1.2em;

	list-style-type: disc;

}

#nav .submenu ul li {

	padding-bottom: .5em;

}

#nav .submenu img {

	border: none;

}



#content {

	margin-top: 2em;

	margin-left: 200px;  /* match or exceed #nav width to keep from wrapping */

	margin-right: 25px;

}

#content h2 {

	font-size: 1.3em;

	margin-bottom: 1.3em;

	color: #495;

}

#content h3 {

	font-size: 1.15em;

 	margin-top: 2em;

 	margin-bottom: -.5em;

	font-style: italic;

	color: #046;

}

#content h4 {

	font-size: 1em;

 	margin-top: 1.5em;

 	margin-bottom: -.5em;

}

#content h5 {

	font-size: .9em;

	text-indent: 2.5em;

 	margin-top: 1.8em;

 	margin-bottom: -.7em;

	color: #046;

}

#content p {

	text-align: justify;

	line-height: 1.2em;

}

#content .smallnav {

	font-size: 0.85em;

}

#content .smallnav img {

	border: none;

	padding-left: .5em;

}

#content .prevnext {

	font-size: .9em;

	text-indent: 0em;

	text-align: center;

}

#content .toc {

	margin-left: 4em;

	margin-top: 2em;

	margin-bottom: 2em;

}

#content .decoration {

	border: none;

}

#content .code {

	font-family: monospace;

	color: #070;

}

#content .hr {

	width: 80%;

	height: 1px;

	font-size: 1px;

	margin: 24px 0;

	border-color: #000;

	border-style: solid;

	border-width: 1px 0;

}



#footer {

	clear: both;

	text-align: right;

	width: 85%;

	min-height: 4em;

	margin-right: 25px;

	margin-left: auto;

	margin-top: 2em;

}

#footer p {

	font-size: .7em;

	margin: 0;

}



#footer .hr {

	margin-right: auto;

	margin-left: auto;

	height: 2px;

	font-size: 1px;

	clear: both;

	background-color: #16b;

}



.validator {

	float: right;

}

.validator img { border: none; }



/***

sample for browser-specific styles

see agentInfo.php for allowed agentName list

***/

.msie3 br {

	background: white;

}

