/* htmldog.com menu, modified */



#menulist, #menulist ul { /* all lists */

	position: absolute;

	float: left;

	width: 125px;

	padding: 0;

	margin: 0;

	list-style: none;

	z-index: 100;  /* above parents and other links */

}



#menulist li { /* all list items */

	margin-bottom: 8px;

	border: 1px solid black;

	float: left;  /* without this, ie forgets to hover */

}



#menulist li ul { /* second-level+ lists */

	left: -9999px;

	margin-left: 90%;

	margin-top: -1.7em;

	border-bottom: 1px solid black;

}



#menulist li ul li { /* second-level+ items */

 	margin-bottom: auto;

 	border-bottom: 0;

}



#menulist li a {

	display: block;  /* fill the containing li frame */

	font-size: .9em;

	text-decoration: none;

	color: black;

	background-color: tan;

	padding: .4em 0 .4em 5px;

	width: 120px;  /* rqrd if "li float:left" above (ul width - padding) */

}



#menulist li a:hover {

	color: white;

	background-color: black;

}



#menulist :focus {

	outline: 0;

}



/* hide lists beyond the level immediately under hovered item */

#menulist li:hover ul ul, #menulist li:hover ul ul ul, #menulist li.iehover ul ul, #menulist li.iehover ul ul ul {

	left: -9999px;

}



/* show list immediately under hovered item */

/* must be below styles for the levels beyond to override 'em */

#menulist li:hover ul, #menulist li li:hover ul, #menulist li li li:hover ul, #menulist li li li li:hover ul, #menulist li.iehover ul, #menulist li li.iehover ul, #menulist li li li.iehover ul, #menulist li li li li.iehover ul {

	left: auto;

}

