<!--@subject Your access to {{var product.name}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<body style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
    <div style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding: 20px 0 20px 0">
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top">
                                <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
                            </td>
                        </tr>
                        <tr>
                          <td valign="top">
<p>
Dear {{var customer.firstname}},
</p>
<p>
You now have access to the Information Mapping Academy. You have been subscribed to: {{var product.name}}.
To access your course/materials, proceed as follows:
</p>
<p>1. Go to http://www.informationmapping.com/en/im-academy</p>
<p>2. Log in with your existing account: </p>
<p>E-mail Address: {{var customer.email}}</p>
<p>Password: your own password</p>
<p><br />Result: You will see the courses or materials to which you have access.</p>
<p>Kind regards</p>
<p>The Information Mapping team</p></td>
                        </tr>
                        
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>