<!--@subject Customer registration: {{var firstname}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        Customer registration successful
                    </p>
                    
                </td>
            </tr>
            <tr>
                <td>FirstName: {{var firstname}}</td>
            </tr>
            <tr>
                <td>
                    LastName: {{var lastname}}
                </td>
            </tr>
            <tr>
                <td>
                    Email: {{var email}}
                </td>
            </tr>
            <tr>
                <td>
                    Information Mapping Partner: {{var partnername}}
                </td>
            </tr>
            <tr>
                <td>
                    {{var isemployee}}
                </td>
            </tr>
            <tr>
                <td>
                    TaxVat: {{var taxvat}}
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>