@charset "utf-8";
/* CSS Document */
body {
	background-color:#fff;
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
}

.row {
	margin-left:0px;
	margin-right:0px;
}

#footer {
    color: #999999;
    font-size: 85%;
    margin-top: 20px;
}

#footertext {
	border-top:1px solid #009edf;
	padding-top:15px;
}

#footertext a {
	color:#999999;
}

h1 {
    border-bottom: 1px solid #DDDDDD;
    color: #009DDF;
    font-family: 'Tauri',sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0;
    padding-bottom: 10px;
}

h2 {
    color: #D4145A;
    font-family: 'Tauri',sans-serif;
    font-size: 20px;
    font-weight: normal;	
	padding-top:20px;
	margin-top:35px;
}

.tab-pane {
	border-left:1px solid #009edf;
	border-right:1px solid #009edf;
	border-bottom:1px solid #009edf;
	padding:20px;
	background:#f5f5f5;
}

.nav-tabs {
	margin-top:40px;
	border-bottom: 1px solid #009edf;
}

ul.nav-tabs li a {
	color: #009edf;
    font-family: 'Tauri',sans-serif;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
background-color: #f5f5f5;
outline: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border: 1px solid #009edf;
	border-bottom-color: transparent;
	color: #009edf;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #009edf;
}

.tab-content,.nav-tabs {
	margin-right:35px;
}

.text {
	margin-right:35px;	
}

#form {
    background: none repeat scroll 0 0 #d5ecfd;
	border:1px solid #009edf;
	border-top:10px solid #009edf;
	margin-top: 0px;
	padding:15px;
}

#form h2 {
	color:#D4145A;
	margin-top:0px;
}

#form h2, #form p, #form #db {
	margin-left: 20px;	
	margin-right: 20px;
	padding-top: 10px;
}

.form-group {
	padding-left:20px;
	padding-right:20px;
}

.form-control {
border: 1px solid #009edf;
-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea#body:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
border-color: rgba(0, 158, 223, 0.8);
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(207, 204, 194, 0.6);
outline: 0 none;}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
border-color: #009edf;
}

.alert {
padding: 5px;	
margin-bottom: 5px;
}

a {
color: #009edf;	
}

a:hover {
text-decoration: none;
color: #D4145A;	
}

td, th {
border-top: 0 !important;	
}

.table {
	margin-bottom: 0;
	border-color:#009edf;
}

.table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
border: 1px solid #009edf;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
border: 1px solid #009edf;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th {
background-color: #e2f3fa;
color:#009edf;
}

.table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	background:#ffffff;
}

#details td, #details th {
padding: 5px;
}

/* overview page */

time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 10em;
  height: 10em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #dddddd, 0 2px 0 #fff, 0 3px 0 #dddddd, 0 4px 0 #fff, 0 5px 0 #dddddd, 0 0 0 1px #dddddd;
  overflow: hidden;
  float:left;
  margin-right:2em;
  margin-left:2em;
  margin-bottom:4em;
    -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
  font-family: 'Tauri',sans-serif;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #009edf;
  border-bottom: 1px dashed #009edf;
  box-shadow: 0 2px 0 #009edf;
  text-transform:uppercase;
}

time.icon em
{
  position: absolute;
  bottom: 0.6em;
  color:#999999;
  text-transform:capitalize;
  font-weight:normal;
  text-transform:uppercase;
  font-size:12px;
}

time.icon em em
{
  bottom:1.2em;
  color: #009edf;
  text-transform:uppercase;
  font-family: 'Tauri',sans-serif;
  font-size:14px;
}

time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #555555;
}

time.icon:hover, time.icon:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}

.calendar {
	padding-top:60px;
}

#header {
	background:#ffffff;

	border-top:10px solid #009edf;
}

#overview {
	background:#f5f5f5;
	padding-bottom:30px;
	border-bottom:1px solid #dddddd;
}

#footertext-overview {
	text-align:center;
}

.country {
	padding-left:25px;
}

.country h2 {
	margin-bottom:25px;
}

.radio {
	margin-bottom:10px;
}

.country form {
	background:#ffffff;
	border:1px solid #dddddd;
	border-radius:6px;
	margin-right:50px;
	padding:10px 20px;
}

#overviewheader h1 {
    color: #009DDF;
    font-family: 'Tauri',sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin: 40px 0 0px 0;
    padding-bottom: 10px;
	border-bottom:none;
	margin-left:1em;
}

#overviewheader h1 span {
text-transform:uppercase;
font-weight:bold;
}

#tagline {
	border-bottom:1px solid #dddddd;
}

#tagline p {
	font-size: 20px;
	color:#999999;
	font-family: 'Tauri',sans-serif;
	padding:30px 0px 25px 0px;
	/*margin-left:1.5em;*/
}

/*#header {
background-image: url('../blue_bg.png'); background-repeat:repeat-x; background-position:bottom;	
}*/

#bluebar {
background-color: #009edf; height: 71px;	
border-bottom:1px solid #dddddd;
}

@media (min-width: 769px) {




}

@media (max-width: 768px) {
	
/*#header {
background-image: none;	
}*/

#bluebar {
background-color: transparent;	
vertical-align: middle;
}

	
}

@media (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {



}

@media (max-width: 768px) { /* target iPad portrait */

  
}