@charset "utf-8";
/* CSS Document */
body {
	background-color:#fff;
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
}

#footer {
	    border-top: 1px solid #DDDDDD;
    color: #666666;
    font-size: 85%;
    margin-top: 30px;
    padding-top: 20px;
}

h1 {
    border-bottom: 1px solid #DDDDDD;
    color: #009DDF;
    font-family: 'Tauri',sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0;
    padding-bottom: 10px;
}

h2 {
    color: #D4145A;
    font-family: 'Tauri',sans-serif;
    font-size: 20px;
    font-weight: normal;	
}

#form {
    background: none repeat scroll 0 0 #EEEEEE;
}

#form h2, #form p, #form #db {
margin-left: 20px;	
}

.form-group {
margin-left: 5px !important;	
}

/*label, .btn {
	margin-top:15px;
}*/

#db {
	color:#666;
	margin-top:20px;
}

.alert {
padding: 5px;	
}

a:hover {
text-decoration: none;
color: #D4145A;	
}

/*.form-control {
background-color: #6ec8ed;
border: 1px solid #6ec8ed;
border-bottom:1px solid #ffffff;
border-radius: 8px;
}*/

/*.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
color: #009edf;
background-color: #ffffff;
border-color: #009edf;
font-weight:bold;
-webkit-box-shadow: 1px 1px 2px 1px #404040;
box-shadow: 1px 1px 2px 1px #404040;
font-size:150%;
}*/

@media (min-width: 769px) {




}

@media (max-width: 768px) {
	


	
}

@media (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {



}

@media (max-width: 768px) { /* target iPad portrait */

  
}

/*body { overflow-x: hidden;}*/ /* added to avoid horizontal scrollbar */