<div class="page-title">
    <h1><?php echo $this->__('Create an Account') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getUrl('onestepcheckout/ajax/register') ?>" method="post" id="form-validate" class="register-form register-form-success-page">
    <div class="fieldset login-box">
        <h4><?php echo $this->__('Enter your password') ?></h4>
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="password"><?php echo $this->__('Password') ?> <span class="required">*</span></label>
                    <div class="input-box">
                        <input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="required-entry validate-password input-text" />
                    </div>
                </div>
                   <div class="field">
                    <label for="confirmation"><?php echo $this->__('Confirm Password') ?> <span class="required">*</span></label>
                    <div class="input-box">
                        <input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>" id="confirmation" class="required-entry validate-cpassword input-text" />
                    </div>
                </div>
            </li>
        </ul>
        <h4><?php echo $this->__('Choose your language') ?></h4>
        <ul class="form-list">
            <li>
            <div class="input-box">
                <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','moodlelanguage');
                ?>
                <label for="moodlelanguage"><?php echo $this->__('Language') ?> <?php if($attribute->getIsRequired() == true){?><span class="required">*</span><?php } ?></label><br />
                <select name="moodlelanguage" id="moodlelanguage" class="<?php if($attribute->getIsRequired() == true){?>required-entry<?php } ?> validate-select">
                    <?php
                        $options = $attribute->getSource()->getAllOptions();
                        foreach($options as $option){
                    ?>
                        <option value='<?php echo $option['value']?>' <?php if($this->getCustomer()->getMoodlelanguage() == $option['value']){ echo 'selected="selected"';}?>><?php echo $this->__($option['label'])?></option>
                    <?php } ?>
                </select>
            </div>
        </li>
        </ul>
    </div>
    <div class="button-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <button id="create-account-button" class="form-button" type="submit"><span><?php echo $this->__('Create an Account') ?></span></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    //var dataForm = new VarienForm('form-validate', true);
    <?php if($this->getShowAddressFields()): ?>
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>);
    <?php endif; ?>

    $('create-account-button').observe('click', function(e)    {

        Event.stop(e);

        var url = '<?php echo $this->getUrl('onestepcheckout/ajax/register', array('_secure'=>true)); ?>';
        var parameters = $$('form.register-form').first().serialize(true);

        new Ajax.Request(url, {
                method: 'post',
                parameters: parameters,
                onComplete: function(response)  {
                    if(response.status == 200)  {
                         var result = response.responseText.evalJSON();

                         if(result.success && result.message == 'customer_logged_in')   {
                             window.location='<?php echo $this->getUrl('customer/account', array('_secure'=>true)); ?>';
                         }
                         else   {
                            alert('Error occured: ' + result.error);
                         }
                    }
                }
        });
    });
//]]>
</script>
