#calendar td {	
	font-size: 12px;
	/*color:#fff;*/
	padding: 3px;
}
#calendar{

}
#calback {
	margin: 0px;
	padding:0px;
	
}

#calendar {
	width: 100%;
	height: 100%;
}

.cal {
	background: #0099FF;
	width: 100%; 
}

.calhead {
	width: 100%;
	font-weight: bold;
	/*color: #FFF;*/
	font-size: 20px;      
}

.calhead img {
	border: none;
}

.dayhead {
	height: 25px;
	background: #EEE;
}

.dayhead td {
	text-align: center;
	/*color: #000;*/
}

.dayrow {
	background: #FFF;
	height: 40px;
}

.dayrow td {
	width: 100px;
	height:100px;
	/*color: #000;*/
	font-size: .7em;
}

.day {
	float: right;
}



.dayout {
	background: #FFF;
}