/*===============================
 time:1416904831
================================================================================*/
#jux_logo106 .logo_showcase_slider
.jux_logo_item{background-color:#fff;border-width:1px;border-style:none;border-color:#103873;margin:15px
15px 15px 15px;padding:10px
10px 10px 10px;border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;-o-border-radius:5px 5px 5px 5px;-webkit-border-radius:5px 5px 5px 5px;-ms-border-radius:5px 5px 5px 5px;box-shadow:0px 0px 1px 0px rgba(78,108,153,1.00);-moz-box-shadow:0px 0px 1px 0px rgba(78,108,153,1.00);-webkit-box-shadow:0px 0px 1px 0px rgba(78,108,153,1.00);-o-box-shadow:0px 0px 1px 0px rgba(78,108,153,1.00);-ms-box-shadow:0px 0px 1px 0px rgba(78,108,153,1.00) }#jux_logo106 .logo_showcase_slider .jux_logo_item
.logo_item_image{opacity:1}#jux_logo106 div.logo_showcase_slider .jux_logo_item:hover{background-color:#f5f9ff;border-style:solid;border-color:#457fd6;box-shadow:0.5px 0.5px 1px 0.5px rgba(162,184,232,1.00) inset;-moz-box-shadow:0.5px 0.5px 1px 0.5px rgba(162,184,232,1.00) inset;-webkit-box-shadow:0.5px 0.5px 1px 0.5px rgba(162,184,232,1.00) inset;-o-box-shadow:0.5px 0.5px 1px 0.5px rgba(162,184,232,1.00) inset;-ms-box-shadow:0.5px 0.5px 1px 0.5px rgba(162,184,232,1.00) inset}#jux_logo106 div.logo_showcase_slider
.jux_logo_item{border:1px
solid transparent}#jux_logo106 .logo_showcase_slider .jux_logo_item .logo_item_image:hover{opacity:0.3}#jux_logo106 .jux_logo_item a
span{width:100px;height:auto;line-height:20px;padding:10px;left:10px;font-family:'Alegreya SC',Georgia,serif;font-weight:400;font-style:italic;font-size:14px;color:#fff;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);text-align:center;border:2px
solid rgba(0, 0, 0, 0.2);background:rgba(0, 0, 0, 0.4);text-indent:0px;border-radius:5px;position:absolute;pointer-events:none;bottom:100px;opacity:0;box-shadow:1px 1px 2px rgba(0,0,0,0.1);-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}#jux_logo106 div.jux_logo_item a span:before, #jux_logo106 div.jux_logo_item a span:after{content:'';position:absolute;bottom:-10px;left:50%;margin-left:-9px;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid rgba(0,0,0,0.1)}#jux_logo106 div.jux_logo_item a span:after{bottom:-10px;margin-left:-10px;border-top:10px solid rgba(0, 0, 0, 0.3)}#jux_logo106 div.jux_logo_item a:hover
span{opacity:0.9;bottom:110px}#jux_logo106
.logo_showcase_slider{margin-top:-120px;margin-bottom:-10px}#jux_logo106 .logo_showcase_slider
.jux_logo_item{float:left}#jux_logo106 .logo_showcase_slider .owl-wrapper-outer{padding-top:120px;padding-bottom:10px}#jux_logo106 div.jux_logo_item a:hover
span{bottom:146px;left:55px}