/*===============================
 time:1423800651
================================================================================*/
#jux_logo114 .logo_showcase_grid
.jux_logo_item{background-color:transparent;border-width:1px;border-style:none;border-color:;box-shadow:rgba(171,171,171,1.00);-moz-box-shadow:rgba(171,171,171,1.00);-webkit-box-shadow:rgba(171,171,171,1.00);-o-box-shadow:rgba(171,171,171,1.00);-ms-box-shadow:rgba(171,171,171,1.00) }#jux_logo114 .logo_showcase_grid .jux_logo_item
.logo_item_image{opacity:1}#jux_logo114 div.logo_showcase_grid .jux_logo_item:hover{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;background-color:transparent;border-style:solid;border-color:#14b33b;box-shadow:rgba(150,225,255,1.00) inset;-moz-box-shadow:rgba(150,225,255,1.00) inset;-webkit-box-shadow:rgba(150,225,255,1.00) inset;-o-box-shadow:rgba(150,225,255,1.00) inset;-ms-box-shadow:rgba(150,225,255,1.00) inset}#jux_logo114 div.logo_showcase_grid
.jux_logo_item{border:1px
solid transparent}#jux_logo114 .logo_showcase_grid .jux_logo_item .logo_item_image:hover{opacity:1}#jux_logo114 .jux_logo_item a
span{width:auto;height:auto;line-height:20px;padding:8px
15px;font-family:'Alegreya SC',Georgia,serif;font-weight:400;font-style:italic;font-size:14px;color:#fff;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);text-align:center;background:rgba(0, 0, 0, 0.5);text-indent:0px;border-radius:5px;position:absolute;pointer-events:none;bottom:100px;opacity:0;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;left:50%;transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);-moz-transform:translate(-50%, 0);-o-transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0)}#jux_logo114 div.jux_logo_item a span:before, #jux_logo114 div.jux_logo_item a span:after{content:'';position:absolute;bottom:-10px;left:50%;margin-left:-9px;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid rgba(0,0,0,0.1)}#jux_logo114 div.jux_logo_item a span:after{bottom:-10px;margin-left:-10px;border-top:10px solid rgba(0, 0, 0, 0.5)}#jux_logo114 div.jux_logo_item a:hover
span{opacity:0.6;bottom:110px}#jux_logo114
.logo_showcase_slider{margin-top:-120px;margin-bottom:-10px}#jux_logo114 .logo_showcase_slider
.jux_logo_item{float:left}#jux_logo114 .logo_showcase_slider .owl-wrapper-outer{padding-top:120px;padding-bottom:10px}#jux_logo114 div.jux_logo_item a:hover
span{bottom:130px;width:185px}