/*===============================
 time:1416904358
================================================================================*/
#jux_logo101 .logo_showcase_slider
.jux_logo_item{background-color:#fff;border-width:1px;border-style:solid;border-color:#c7c7c7;margin:15px
15px 15px 15px;padding:10px
10px 10px 10px;border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;-o-border-radius:5px 5px 5px 5px;-webkit-border-radius:5px 5px 5px 5px;-ms-border-radius:5px 5px 5px 5px;box-shadow:rgba(210,240,189,1.00) inset;-moz-box-shadow:rgba(210,240,189,1.00) inset;-webkit-box-shadow:rgba(210,240,189,1.00) inset;-o-box-shadow:rgba(210,240,189,1.00) inset;-ms-box-shadow:rgba(210,240,189,1.00) inset}#jux_logo101 .logo_showcase_slider .jux_logo_item
.logo_item_image{opacity:0.6}#jux_logo101 div.logo_showcase_slider .jux_logo_item:hover{background-color:transparent;border-style:none;border-color:#b5b5b5;box-shadow:0.5px 0.5px 2px 2px rgba(168,171,168,1.00);-moz-box-shadow:0.5px 0.5px 2px 2px rgba(168,171,168,1.00);-webkit-box-shadow:0.5px 0.5px 2px 2px rgba(168,171,168,1.00);-o-box-shadow:0.5px 0.5px 2px 2px rgba(168,171,168,1.00);-ms-box-shadow:0.5px 0.5px 2px 2px rgba(168,171,168,1.00) }#jux_logo101 .logo_showcase_slider .jux_logo_item .logo_item_image:hover{opacity:1}#jux_logo101 .logo_showcase_slider .jux_logo_item .logo_item_image:hover{-webkit-filter:grayscale(0%);-webkit-transition: .5s ease-in-out;-moz-filter:grayscale(0%);-moz-transition: .5s ease-in-out;-o-filter:grayscale(0%);-o-transition: .5s ease-in-out}#jux_logo101 .logo_showcase_slider .jux_logo_item
.logo_item_image{-webkit-filter:grayscale(0%);-webkit-filter:grayscale(100%);-webkit-transition: .5s ease-in-out;-moz-filter:grayscale(100%);-moz-transition: .5s ease-in-out;-o-filter:grayscale(100%);-o-transition: .5s ease-in-out}#jux_logo101 div.jux_logo_item a
span{width:auto;height:auto;padding:8px
15px;font-family:'Alegreya SC',Georgia,serif;font-weight:400;font-style:italic;font-size:14px;color:#fff;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);text-align:center;background:rgba(0, 0, 0, 0.4);text-indent:0px;position:absolute;pointer-events:none;bottom:0px;opacity:0;box-shadow:0px 1px 2px rgba(0,0,0,0.1);-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;-webkit-transform:rotate(0deg) scale(0);-moz-transform:rotate(0deg) scale(0);-o-transform:rotate(0deg) scale(0);-ms-transform:rotate(0deg) scale(0);transform:rotate(0deg) scale(0);left:50%;transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);-moz-transform:translate(-50%, 0);-o-transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0)}#jux_logo101 div.jux_logo_item a:hover
span{opacity:0.9;bottom:110px}#jux_logo101
.logo_showcase_slider{margin-top:-120px;margin-bottom:-10px}#jux_logo101 .logo_showcase_slider
.jux_logo_item{float:left}#jux_logo101 .logo_showcase_slider .owl-wrapper-outer{padding-top:120px;padding-bottom:10px}#jux_logo101 div.jux_logo_item a:hover
span{bottom:134px;left:37px}