/*===============================
 time:1417515103
================================================================================*/
#jux_logo112 .logo_showcase_grid
.jux_logo_item{background-color:#dcf0f5;border-width:1px;border-style:dotted;border-color:#3dafcc;margin:10px
10px;border-radius:10px 10px 10px 10px;-moz-border-radius:10px 10px 10px 10px;-o-border-radius:10px 10px 10px 10px;-webkit-border-radius:10px 10px 10px 10px;-ms-border-radius:10px 10px 10px 10px;box-shadow:;-moz-box-shadow:;-webkit-box-shadow:;-o-box-shadow:;-ms-box-shadow: }#jux_logo112 .logo_showcase_grid .jux_logo_item
.logo_item_image{opacity:0.8}#jux_logo112 div.logo_showcase_grid .jux_logo_item:hover{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;background-color:#fff;border-style:solid;border-color:;box-shadow:0px 0px 10px rgba(214,248,255,1.00) inset;-moz-box-shadow:0px 0px 10px rgba(214,248,255,1.00) inset;-webkit-box-shadow:0px 0px 10px rgba(214,248,255,1.00) inset;-o-box-shadow:0px 0px 10px rgba(214,248,255,1.00) inset;-ms-box-shadow:0px 0px 10px rgba(214,248,255,1.00) inset}#jux_logo112 .logo_showcase_grid .jux_logo_item .logo_item_image:hover{opacity:1}#jux_logo112 .jux_logo_item a
span{width:auto;height:auto;line-height:20px;padding:8px
15px;font-family:'Alegreya SC',Georgia,serif;font-weight:400;font-style:italic;font-size:14px;color:#fff;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);text-align:center;background:rgba(0, 0, 0, 0.4);text-indent:0px;border-radius:5px;position:absolute;bottom:110px;opacity:0;visibility:visible;pointer-events:none;box-shadow:1px 1px 2px rgba(0,0,0,0.1);-webkit-transform:translate(35px) rotate(25deg) scale(1.5);-moz-transform:translate(35px) rotate(25deg) scale(1.5);-o-transform:translate(35px) rotate(25deg) scale(1.5);-ms-transform:translate(35px) rotate(25deg) scale(1.5);transform:translate(35px) rotate(25deg) scale(1.5);-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;left:50%}#jux_logo112 div.jux_logo_item a span:before, #jux_logo112 div.jux_logo_item a span:after{content:'';position:absolute;bottom:-10px;left:50%;margin-left:-9px;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid rgba(0,0,0,0.1)}#jux_logo112 div.jux_logo_item a span:after{bottom:-10px;margin-left:-10px;border-top:10px solid rgba(0, 0, 0, 0.3)}#jux_logo112 div.jux_logo_item a:hover
span{visibility:visible;opacity:0.9;-webkit-transform:translate(0px) rotate(0deg) scale(1);-moz-transform:translate(0px) rotate(0deg) scale(1);-o-transform:translate(0px) rotate(0deg) scale(1);-ms-transform:translate(0px) rotate(0deg) scale(1);transform:translate(0px) rotate(0deg) scale(1);left:50%;transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);-moz-transform:translate(-50%, 0);-o-transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0)}#jux_logo112
.logo_showcase_slider{margin-top:-120px;margin-bottom:-10px}#jux_logo112 .logo_showcase_slider
.jux_logo_item{float:left}#jux_logo112 .logo_showcase_slider .owl-wrapper-outer{padding-top:120px;padding-bottom:10px}#jux_logo112 div.jux_logo_item a:hover
span{bottom:125px}