/*===============================
 time:1421310697
================================================================================*/
#jux_logo207 .logo_showcase_grid
.jux_logo_item{background-color:transparent;border-width:1px;border-style:solid;border-color:#e3dbad;margin:10px
10px;border-radius:10px 10px 10px 10px;-moz-border-radius:10px 10px 10px 10px;-o-border-radius:10px 10px 10px 10px;-webkit-border-radius:10px 10px 10px 10px;-ms-border-radius:10px 10px 10px 10px;box-shadow:;-moz-box-shadow:;-webkit-box-shadow:;-o-box-shadow:;-ms-box-shadow: }#jux_logo207 .logo_showcase_grid .jux_logo_item
.logo_item_image{opacity:0.8}#jux_logo207 div.logo_showcase_grid .jux_logo_item:hover{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;background-color:#fefff0;border-style:solid;border-color:;box-shadow:0px 0px 10px rgba(232,231,169,1.00);-moz-box-shadow:0px 0px 10px rgba(232,231,169,1.00);-webkit-box-shadow:0px 0px 10px rgba(232,231,169,1.00);-o-box-shadow:0px 0px 10px rgba(232,231,169,1.00);-ms-box-shadow:0px 0px 10px rgba(232,231,169,1.00) }#jux_logo207 .logo_showcase_grid .jux_logo_item .logo_item_image:hover{opacity:1}#jux_logo207 div.jux_logo_item a
span{width:auto;height:auto;padding:8px
15px;font-family:'Alegreya SC',Georgia,serif;font-weight:400;font-style:italic;font-size:14px;color:#fff;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);text-align:center;background:rgba(0, 0, 0, 0.4);text-indent:0px;position:absolute;pointer-events:none;bottom:0px;opacity:0;box-shadow:0px 1px 2px rgba(0,0,0,0.1);-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;-webkit-transform:rotate(0deg) scale(0);-moz-transform:rotate(0deg) scale(0);-o-transform:rotate(0deg) scale(0);-ms-transform:rotate(0deg) scale(0);transform:rotate(0deg) scale(0);left:50%;transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);-moz-transform:translate(-50%, 0);-o-transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0)}#jux_logo207 div.jux_logo_item a:hover
span{opacity:0.9;bottom:110px}#jux_logo207
.logo_showcase_slider{margin-top:-120px;margin-bottom:-10px}#jux_logo207 .logo_showcase_slider
.jux_logo_item{float:left}#jux_logo207 .logo_showcase_slider .owl-wrapper-outer{padding-top:120px;padding-bottom:10px}