/*===============================
 time:1446629879
================================================================================*/
#jux_logo441 .logo_showcase_slider
.jux_logo_item{background-color:transparent;border-width:0;border-style:none;border-color:#ccc;margin:0px
0px 0px 0px;padding:30px
0px 10px 0px;border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;-o-border-radius:0 0 0 0;-webkit-border-radius:0 0 0 0;-ms-border-radius:0 0 0 0;box-shadow:rgba(0,0,0,1.00) inset;-moz-box-shadow:rgba(0,0,0,1.00) inset;-webkit-box-shadow:rgba(0,0,0,1.00) inset;-o-box-shadow:rgba(0,0,0,1.00) inset;-ms-box-shadow:rgba(0,0,0,1.00) inset}#jux_logo441 .logo_showcase_slider .jux_logo_item
.logo_item_image{opacity:0.6}#jux_logo441 div.logo_showcase_slider .jux_logo_item:hover{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;background-color:transparent;margin:0px
0px 0px 0px;padding:20px
0px 0px 0px;border-style:none;border-color:;box-shadow:;-moz-box-shadow:;-webkit-box-shadow:;-o-box-shadow:;-ms-box-shadow: }#jux_logo441 div.logo_showcase_slider
.jux_logo_item{border:0
solid transparent}#jux_logo441 .logo_showcase_slider .jux_logo_item .logo_item_image:hover{opacity:2}#jux_logo441 .logo_showcase_slider .jux_logo_item .logo_item_image:hover{-webkit-filter:grayscale(0%);-webkit-transition: .5s ease-in-out;-moz-filter:grayscale(0%);-moz-transition: .5s ease-in-out;-o-filter:grayscale(0%);-o-transition: .5s ease-in-out}#jux_logo441 .logo_showcase_slider .jux_logo_item
.logo_item_image{-webkit-filter:grayscale(0%);-webkit-filter:grayscale(100%);-webkit-transition: .5s ease-in-out;-moz-filter:grayscale(100%);-moz-transition: .5s ease-in-out;-o-filter:grayscale(100%);-o-transition: .5s ease-in-out}#jux_logo441
.logo_showcase_slider{margin-top:-120px;margin-bottom:-10px}#jux_logo441 .logo_showcase_slider
.jux_logo_item{float:left}#jux_logo441 .logo_showcase_slider .owl-wrapper-outer{padding-top:120px;padding-bottom:10px}margin-top: 25px;