/**
 * BoxBridge for Joomla by 2Value - Sander Potjer
 * Copyright (c) 2010 2Value. All rights reserved.
 * Released under the GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
 * More info at http://www.boxbridge.net
 */

div.files {
	border-top:1px solid;
	overflow:auto;
	margin: 5px 0;
}

div.files div.boxitem {
	border-bottom:1px solid;
	float:left;
	font-size:12px;
	padding-bottom:8px;
	padding-top:8px;
	position:relative;
	width:100%;
}

div.files div.boxitem div.item_data {
	margin-left: 8px;
}

div.files div.boxitem div.thumbsmall {
	background-position:center 5px;
	background-repeat:no-repeat;
	float:left;
	height:45px;
	margin-left:5px;
	margin-right:5px;
	width:40px;
}

div.files div.boxitem div.thumblarge {
	background-position:center 5px;
	background-repeat:no-repeat;
	float:left;
	height:65px;
	margin-left:8px;
	margin-right:8px;
	width:60px;
}

div.files div.boxitem div.filename {
	color:#111111;
	font-size:13px;
	font-weight:bold;
	overflow:hidden;
	text-align:left;
	width:420px;
}

div.files div.boxitem div.additional_info {
	color:#777777;
}

div.files div.boxitem div.additional_info span.description {
	color:#AAAAAA;
	font-style:italic;
	display:block;
	padding-bottom:3px;
}

div.files div.boxitem div.additional_info span.separator {
	padding:5px;
}

div.files div.left_icons {
	left:-24px;
	position:absolute;
	top:0;
	width:46px;
}

div.tool-tip {
	width: 94px;
	height: 94px;
	background-color: #fff;
	border: solid 1px;
	z-index: 20000;
	padding: 5px;
}

div.files .label {
	font-weight: normal;
}