
.btn-blue {
    background-color: hsl(195, 100%, 43%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a4db", endColorstr="#00a4db");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#00a4db), to(#00a4db));
    background-image: -moz-linear-gradient(top, #00a4db, #00a4db);
    background-image: -ms-linear-gradient(top, #00a4db, #00a4db);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a4db), color-stop(100%, #00a4db));
    background-image: -webkit-linear-gradient(top, #00a4db, #00a4db);
    background-image: -o-linear-gradient(top, #00a4db, #00a4db);
    background-image: linear-gradient(#00a4db, #00a4db);
    border-color: #00a4db #00a4db hsl(195, 100%, 43%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
    -webkit-font-smoothing: antialiased;
}

.btn-pink {
    background-color: hsl(338, 82%, 46%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5155b", endColorstr="#d5155b");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#d5155b), to(#d5155b));
    background-image: -moz-linear-gradient(top, #d5155b, #d5155b);
    background-image: -ms-linear-gradient(top, #d5155b, #d5155b);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5155b), color-stop(100%, #d5155b));
    background-image: -webkit-linear-gradient(top, #d5155b, #d5155b);
    background-image: -o-linear-gradient(top, #d5155b, #d5155b);
    background-image: linear-gradient(#d5155b, #d5155b);
    border-color: #d5155b #d5155b hsl(338, 82%, 46%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
    -webkit-font-smoothing: antialiased;
}

.btn-grey {
    background-color: hsl(0, 0%, 92%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaeaea", endColorstr="#eaeaea");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#eaeaea), to(#eaeaea));
    background-image: -moz-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -ms-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -o-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: linear-gradient(#eaeaea, #eaeaea);
    border-color: #eaeaea #eaeaea hsl(0, 0%, 92%);
    color: #009edf !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
    -webkit-font-smoothing: antialiased;
}


.imi-footer {
    font-size: 14px;
    color: #878787;
    display: inline-block;
    margin-right: 1em;
}
footer {
    border-top: 1px solid #DDDDDD;
    color: transparent;
    font-size: 85%;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
}

p.thanks {
    text-align: center;
    font-size: 18px;
}

a:focus, a:hover {
    color: #878787;
    text-decoration: none;
}
a {
    color: #878787;
    text-decoration: none;
}